
#-
#- *** FILE: arch/Kconfig ***
#-
OPROFILE alpha=m

#-
#- *** FILE: arch/alpha/Kconfig ***
#-
ALPHA alpha=y
64BIT alpha=y
MMU alpha=y
RWSEM_XCHGADD_ALGORITHM alpha=y
ARCH_HAS_ILOG2_U32 alpha=n
ARCH_HAS_ILOG2_U64 alpha=n
GENERIC_FIND_NEXT_BIT alpha=y
GENERIC_CALIBRATE_DELAY alpha=y
ZONE_DMA alpha=y
GENERIC_ISA_DMA alpha=y
GENERIC_IOMAP alpha=n
GENERIC_HARDIRQS alpha=y
GENERIC_IRQ_PROBE alpha=y
AUTO_IRQ_AFFINITY alpha=y
#- file init/Kconfig goes here
ALPHA_GENERIC alpha=y
ALPHA_ALCOR alpha=n
ALPHA_XL alpha=n
ALPHA_BOOK1 alpha=n
ALPHA_AVANTI_CH alpha=n
ALPHA_CABRIOLET alpha=n
ALPHA_DP264 alpha=n
ALPHA_EB164 alpha=n
ALPHA_EB64P_CH alpha=n
ALPHA_EB66 alpha=n
ALPHA_EB66P alpha=n
ALPHA_EIGER alpha=n
ALPHA_JENSEN alpha=n
ALPHA_LX164 alpha=n
ALPHA_LYNX alpha=n
ALPHA_MARVEL alpha=n
ALPHA_MIATA alpha=n
ALPHA_MIKASA alpha=n
ALPHA_NAUTILUS alpha=n
ALPHA_NONAME_CH alpha=n
ALPHA_NORITAKE alpha=n
ALPHA_PC164 alpha=n
ALPHA_P2K alpha=n
ALPHA_RAWHIDE alpha=n
ALPHA_RUFFIAN alpha=n
ALPHA_RX164 alpha=n
ALPHA_SX164 alpha=n
ALPHA_SABLE alpha=n
ALPHA_SHARK alpha=n
ALPHA_TAKARA alpha=n
ALPHA_TITAN alpha=n
ALPHA_WILDFIRE alpha=n
ISA alpha=y
ISA_DMA_API alpha=y
PCI_DOMAINS alpha=y
ALPHA_CORE_AGP alpha=y
GENERIC_HWEIGHT alpha=y
ALPHA_BROKEN_IRQ_MASK alpha=y
EISA alpha=y
ARCH_MAY_HAVE_PC_FDC alpha=y
SMP alpha=y
HAVE_DEC_LOCK alpha=y
NR_CPUS alpha=32
ARCH_DISCONTIGMEM_ENABLE alpha=n
#- file mm/Kconfig goes here
VERBOSE_MCHECK alpha=n
#- file drivers/pci/Kconfig goes here
#- file drivers/eisa/Kconfig goes here
#- file drivers/pcmcia/Kconfig goes here
SRM_ENV alpha=m
#- file fs/Kconfig.binfmt goes here
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/alpha/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file lib/Kconfig goes here

#-
#- *** FILE: arch/alpha/Kconfig.debug ***
#-
#- file lib/Kconfig.debug goes here
EARLY_PRINTK alpha=y
ALPHA_LEGACY_START_ADDRESS alpha=y
MATHEMU alpha=y
