
#-
#- *** FILE: arch/Kconfig ***
#-
OPROFILE x86=m
OPROFILE_IBS x86=n
KPROBES x86=y

#-
#- *** FILE: arch/x86/Kconfig ***
#-
64BIT i386=n x86_64=y
#- file init/Kconfig goes here
#- file kernel/Kconfig.freezer goes here
#- file kernel/time/Kconfig goes here
SMP x86=y
SPARSE_IRQ i386=y x86_64=y
NUMA_MIGRATE_IRQ_DESC i386=y x86_64=y
X86_MPPARSE i386=y x86_64=n
X86_PC x86=y
X86_ELAN i386=n
X86_VOYAGER i386=n
X86_GENERICARCH i386=n
X86_NUMAQ i386=n
X86_SUMMIT i386=n
X86_ES7000 i386=n
X86_BIGSMP i386=n
X86_VSMP x86_64=n
X86_VISWS i386=n
X86_RDC321X i386=n
SCHED_OMIT_FRAME_POINTER i386=y x86_64=y
PARAVIRT_GUEST x86=n
#- file arch/x86/xen/Kconfig goes here
VMI i386=y
#- file arch/x86/lguest/Kconfig goes here
PARAVIRT i386=y
MEMTEST x86=n
#- file arch/x86/Kconfig.cpu goes here
HPET_TIMER x86=y
CALGARY_IOMMU x86_64=y
CALGARY_IOMMU_ENABLED_BY_DEFAULT x86_64=y
AMD_IOMMU x86_64=y
AMD_IOMMU_STATS x86_64=n
MAXSMP i386=n x86_64=n
NR_CPUS x86=32
SCHED_SMT x86=y
SCHED_MC x86=y
#- file kernel/Kconfig.preempt goes here
X86_UP_APIC i386=y
X86_UP_IOAPIC i386=y
X86_REROUTE_FOR_BROKEN_BOOT_IRQS i386=y x86_64=y
X86_MCE x86=y
X86_MCE_INTEL x86_64=y
X86_MCE_AMD x86_64=y
X86_MCE_NONFATAL i386=m
X86_MCE_P4THERMAL i386=y
VM86 i386=y
TOSHIBA i386=m
I8K x86=m
X86_REBOOTFIXUPS i386=y
MICROCODE x86=m
MICROCODE_INTEL x86=y
MICROCODE_AMD x86=y
X86_MSR x86=m
X86_CPUID x86=m
NOHIGHMEM i386=n
HIGHMEM4G i386=y
HIGHMEM64G i386=n
PAGE_OFFSET i386=0xC0000000
DIRECT_GBPAGES x86=n
NUMA x86_64=y
#- NUMA (Summit) requires SMP, 64GB highmem support, ACPI
K8_NUMA x86_64=n
X86_64_ACPI_NUMA x86_64=y
NUMA_EMU x86_64=n
NODES_SHIFT x86_64=6
#- file mm/Kconfig goes here
HIGHPTE i386=n
X86_CHECK_BIOS_CORRUPTION x86=y
X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK x86=y
MATH_EMULATION i386=y i686=n pentium3=n pentium4=n athlon=n
MTRR x86=y
MTRR_SANITIZER x86=y
MTRR_SANITIZER_ENABLE_DEFAULT x86=0
MTRR_SANITIZER_SPARE_REG_NR_DEFAULT x86=1
X86_PAT x86=y
EFI x86=y
SECCOMP x86=y
#- file kernel/Kconfig.hz goes here
KEXEC x86=y
CRASH_DUMP x86=n
KEXEC_JUMP x86=n
RELOCATABLE i386=y x86_64=n
PHYSICAL_ALIGN i386=0x100000
HOTPLUG_CPU x86=y
COMPAT_VDSO x86=n
#- file kernel/power/Kconfig goes here
#- file drivers/acpi/Kconfig goes here
APM i386=m
APM_IGNORE_USER_SUSPEND i386=n
APM_DO_ENABLE i386=n
APM_CPU_IDLE i386=y
APM_DISPLAY_BLANK i386=n
APM_ALLOW_INTS i386=n
#- file arch/x86/kernel/cpu/cpufreq/Kconfig goes here
#- file drivers/cpuidle/Kconfig goes here
#- file drivers/idle/Kconfig goes here
PCI_GOBIOS i386=n
PCI_GOMMCONFIG i386=n
PCI_GODIRECT i386=n
PCI_GOANY i386=y
PCI_MMCONFIG x86=y
DMAR x86=n
INTR_REMAP x86_64=n
#- file drivers/pci/pcie/Kconfig goes here
#- file drivers/pci/Kconfig goes here
ISA i386=y
EISA i386=y
#- file drivers/eisa/Kconfig goes here
MCA i386=y
#- file drivers/mca/Kconfig goes here
SCx200 i386=m
SCx200HR_TIMER i386=m
OLPC i386=n
#- file drivers/pcmcia/Kconfig goes here
#- file drivers/pci/hotplug/Kconfig goes here
#- file fs/Kconfig.binfmt goes here
IA32_EMULATION x86_64=y
IA32_AOUT x86_64=y
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file drivers/firmware/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/x86/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file arch/x86/kvm/Kconfig goes here
#- file lib/Kconfig goes here

#-
#- *** FILE: arch/x86/Kconfig.cpu ***
#-
M386 i386=y i486=n i586=n i686=n pentium3=n pentium4=n athlon=n
M486 i386=n i486=y
M586 i386=n i586=y
M586TSC i386=n
M586MMX i386=n
M686 i386=n i686=y
MPENTIUMII i386=n
MPENTIUMIII i386=n pentium3=y
MPENTIUMM i386=n
MPENTIUM4 i386=n pentium4=y
MK6 i386=n
MK7 i386=n athlon=y
MK8 i386=n x86_64=n amd64=y
MCRUSOE i386=n
MEFFICEON i386=n
MWINCHIPC6 i386=n
MWINCHIP3D i386=n
MGEODEGX1 i386=n
MGEODE_LX i386=n
MCYRIXIII i386=n
MVIAC3_2 i386=n
MVIAC7 i386=n
MPSC x86_64=n
MCORE2 x86=n
GENERIC_CPU x86_64=y amd64=n
X86_GENERIC i386=y i586=n i686=n pentium3=n pentium4=n athlon=n
#* do we care ?
X86_PPRO_FENCE i386=y pentium3= pentium4= athlon=
X86_PTRACE_BTS i386=y x86_64=y

#-
#- *** FILE: arch/x86/Kconfig.debug ***
#-
#- file lib/Kconfig.debug goes here
STRICT_DEVMEM x86=y
X86_VERBOSE_BOOTUP x86=n
EARLY_PRINTK x86=y
DEBUG_STACKOVERFLOW x86=n
DEBUG_STACK_USAGE x86=n
DEBUG_PAGEALLOC x86=n
DEBUG_PER_CPU_MAPS x86=n
X86_PTDUMP x86=n
DEBUG_RODATA x86=n
DEBUG_NX_TEST x86=m
4KSTACKS i386=n
IOMMU_DEBUG x86_64=n
IO_DELAY_0X80 x86=y
IO_DELAY_0XED x86=n
IO_DELAY_UDELAY x86=n
IO_DELAY_NONE x86=n
CPA_DEBUG x86=n
OPTIMIZE_INLINING x86=n

#-
#- *** FILE: arch/x86/kernel/cpu/cpufreq/Kconfig ***
#-
#- file drivers/cpufreq/Kconfig goes here
#- CPUFreq processor drivers
X86_ACPI_CPUFREQ x86=m
X86_POWERNOW_K6 i386=m
X86_POWERNOW_K7 i386=m
X86_POWERNOW_K8 x86=m
X86_POWERNOW_K8_ACPI x86=y
X86_GX_SUSPMOD i386=m
X86_SPEEDSTEP_CENTRINO x86=m
X86_SPEEDSTEP_CENTRINO_TABLE i386=y
X86_SPEEDSTEP_ICH i386=m
X86_SPEEDSTEP_SMI i386=m
X86_P4_CLOCKMOD x86=m
X86_CPUFREQ_NFORCE2 i386=m
X86_LONGRUN i386=m
X86_LONGHAUL i386=m
X86_E_POWERSAVER i386=m
#- shared options
X86_SPEEDSTEP_RELAXED_CAP_CHECK i386=y

#-
#- *** FILE: arch/x86/kvm/Kconfig ***
#-
VIRTUALIZATION x86=y
KVM x86=m
KVM_INTEL x86=m
KVM_AMD x86=m
#- file drivers/lguest/Kconfig goes here
#- file drivers/virtio/Kconfig goes here

#-
#- *** FILE: arch/x86/xen/Kconfig ***
#-
XEN i386=n

#-
#- *** FILE: drivers/platform/x86/Kconfig ***
#-
X86_PLATFORM_DEVICES i386=y x86_64=y

#-
#- *** FILE: kernel/trace/Kconfig ***
#-
MMIOTRACE x86=n

#-
#- *** PROBABLY REMOVED OPTIONS ***
#-
APM_REAL_MODE_POWER_OFF i386=y
IRQBALANCE i386=n
MWINCHIP2 i386=n
SCHED_NO_NO_OMIT_FRAME_POINTER i386=y
X86_ACPI_CPUFREQ_PROC_INTF i386=y x86_64=n
