
#-
#- *** FILE: arch/Kconfig ***
#-
OPROFILE x86=m
OPROFILE_EVENT_MULTIPLEX x86=y
KPROBES x86=y
JUMP_LABEL x86=y
OPTPROBES x86=y
#- file kernel/gcov/Kconfig goes here

#-
#- *** FILE: arch/x86/Kconfig ***
#-
64BIT i386=n x86_64=y
#- file init/Kconfig goes here
#- file kernel/Kconfig.freezer goes here
SMP x86=y
X86_X2APIC all=y
X86_MPPARSE x86=y
X86_BIGSMP i386=y
X86_EXTENDED_PLATFORM i386=y x86_64=y
X86_NUMACHIP all=n
X86_VSMP x86_64=n
X86_UV i386=n x86_64=n
X86_GOLDFISH all=n
X86_INTEL_MID all=n
X86_INTEL_QUARK i386=y
X86_INTEL_LPSS all=y
X86_RDC321X i386=n
X86_32_NON_STANDARD i386=y
STA2X11 all=y
X86_32_IRIS i486=y i586=y i686=y
SCHED_OMIT_FRAME_POINTER i386=y x86_64=y
HYPERVISOR_GUEST all=y
PARAVIRT x86=y
PARAVIRT_DEBUG x86=n
PARAVIRT_SPINLOCKS x86=n
#- file arch/x86/xen/Kconfig goes here
KVM_GUEST x86=y
PARAVIRT_TIME_ACCOUNTING x86=y
NO_BOOTMEM x86=y
#- file arch/x86/Kconfig.cpu goes here
HPET_TIMER x86=y
DMI x86=y
GART_IOMMU x86_64=y
CALGARY_IOMMU x86_64=y
CALGARY_IOMMU_ENABLED_BY_DEFAULT x86_64=y
MAXSMP i386=n x86_64=n
NR_CPUS i386=32 x86_64=512
SCHED_SMT x86=y
SCHED_MC x86=y
#- file kernel/Kconfig.preempt goes here
X86_UP_APIC i386=y
X86_UP_IOAPIC i386=y
X86_REROUTE_FOR_BROKEN_BOOT_IRQS i386=y x86_64=y
X86_MCE x86=y
X86_MCE_INTEL all=y
X86_MCE_AMD all=y
X86_ANCIENT_MCE all=y
X86_MCE_INJECT x86=m
#- file arch/x86/events/Kconfig goes here
X86_LEGACY_VM86 i386=n
VM86 i386=y
X86_VSYSCALL_EMULATION x86=y
TOSHIBA i386=m
I8K x86=m
X86_REBOOTFIXUPS i386=y
MICROCODE all=y
MICROCODE_INTEL x86=y
MICROCODE_AMD x86=y
X86_MSR x86=m
X86_CPUID x86=m
NOHIGHMEM i386=n
HIGHMEM4G i386=y
HIGHMEM64G i386=n
PAGE_OFFSET i386=0xC0000000
X86_5LEVEL x86=n
AMD_MEM_ENCRYPT x86=y
AMD_MEM_ENCRYPT_ACTIVE_BY_DEFAULT x86=y
NUMA x86_64=y
AMD_NUMA x86=n
X86_64_ACPI_NUMA x86_64=y
NUMA_EMU x86_64=n
NODES_SHIFT x86_64=6
#- file mm/Kconfig goes here
X86_PMEM_LEGACY x86=y
HIGHPTE i386=n
X86_CHECK_BIOS_CORRUPTION x86=y
X86_BOOTPARAM_MEMORY_CORRUPTION_CHECK x86=y
X86_RESERVE_LOW x86=64
MATH_EMULATION i386=y i686=n pentium3=n pentium4=n athlon=n
MTRR x86=y
MTRR_SANITIZER x86=y
MTRR_SANITIZER_ENABLE_DEFAULT x86=0
MTRR_SANITIZER_SPARE_REG_NR_DEFAULT x86=1
X86_PAT x86=y
X86_INTEL_MPX x86=y
X86_INTEL_MEMORY_PROTECTION_KEYS all=y
EFI x86=y
EFI_STUB all=y
SECCOMP x86=y
#- file kernel/Kconfig.hz goes here
KEXEC x86=y
CRASH_DUMP x86=n
KEXEC_JUMP x86=y
PHYSICAL_START x86=0x1000000
RELOCATABLE i386=y x86_64=y
RANDOMIZE_BASE i386=y x86_64=y
PHYSICAL_ALIGN x86=0x1000000
HOTPLUG_CPU x86=y
BOOTPARAM_HOTPLUG_CPU0 all=n
DEBUG_HOTPLUG_CPU0 all=n
COMPAT_VDSO x86=n
LEGACY_VSYSCALL_NATIVE all=n
LEGACY_VSYSCALL_EMULATE all=y
LEGACY_VSYSCALL_NONE all=n
CMDLINE_BOOL x86=n
#- file kernel/livepatch/Kconfig goes here
#- file kernel/power/Kconfig goes here
#- file drivers/acpi/Kconfig goes here
#- file drivers/sfi/Kconfig goes here
APM i386=m
APM_IGNORE_USER_SUSPEND i386=n
APM_DO_ENABLE i386=n
APM_CPU_IDLE i386=y
APM_DISPLAY_BLANK i386=n
APM_ALLOW_INTS i386=n
#- file drivers/cpufreq/Kconfig goes here
#- file drivers/cpuidle/Kconfig goes here
#- file drivers/idle/Kconfig goes here
PCI_GOBIOS i386=n
PCI_GOMMCONFIG i386=n
PCI_GODIRECT i386=n
PCI_GOANY i386=y
PCI_MMCONFIG x86=y
#- file drivers/pci/Kconfig goes here
ISA i386=y
EISA i386=y
#- file drivers/eisa/Kconfig goes here
SCx200 i386=m
SCx200HR_TIMER i386=m
OLPC i386=n
ALIX i486=y i586=y i686=y
NET5501 i486=y i586=y i686=y
GEOS i486=y i586=y i686=y
#- file drivers/pcmcia/Kconfig goes here
RAPIDIO all=y
#- file drivers/rapidio/Kconfig goes here
#- file fs/Kconfig.binfmt goes here
IA32_EMULATION x86_64=y
IA32_AOUT x86_64=y
X86_X32 x86_64=y
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file drivers/firmware/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/x86/Kconfig.debug goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file arch/x86/kvm/Kconfig goes here
#- file lib/Kconfig goes here

#-
#- *** FILE: arch/x86/Kconfig.cpu ***
#-
M486 i386=n i486=y
M586 i386=n i586=y
M586TSC i386=n
M586MMX i386=n
M686 i386=n i686=y
MPENTIUMII i386=n
MPENTIUMIII i386=n pentium3=y
MPENTIUMM i386=n
MPENTIUM4 i386=n pentium4=y
MK6 i386=n
MK7 i386=n athlon=y
MK8 i386=n x86_64=n amd64=y
MCRUSOE i386=n
MEFFICEON i386=n
MWINCHIPC6 i386=n
MWINCHIP3D i386=n
MELAN i386=n
MGEODEGX1 i386=n
MGEODE_LX i386=n
MCYRIXIII i386=n
MVIAC3_2 i386=n
MVIAC7 i386=n
MPSC x86_64=n
MCORE2 x86=n
MATOM x86=n
GENERIC_CPU x86_64=y amd64=n
X86_GENERIC i386=y i586=n i686=n pentium3=n pentium4=n athlon=n
#* do we care ?
X86_PPRO_FENCE i386=y pentium3= pentium4= athlon=
PROCESSOR_SELECT x86=y
CPU_SUP_INTEL x86=y
CPU_SUP_AMD x86=y
CPU_SUP_CENTAUR x86=y

#-
#- *** FILE: arch/x86/Kconfig.debug ***
#-
#- file lib/Kconfig.debug goes here
X86_VERBOSE_BOOTUP x86=n
EARLY_PRINTK x86=y
EARLY_PRINTK_DBGP x86=n
X86_PTDUMP x86=n
DEBUG_TLBFLUSH all=n
IOMMU_DEBUG x86_64=n
IOMMU_STRESS x86=n
X86_DECODER_SELFTEST x86=n
IO_DELAY_0X80 x86=y
IO_DELAY_0XED x86=n
IO_DELAY_UDELAY x86=n
IO_DELAY_NONE x86=n
DEBUG_BOOT_PARAMS x86=n
CPA_DEBUG x86=n
OPTIMIZE_INLINING x86=n
DEBUG_NMI_SELFTEST all=y

#-
#- *** FILE: arch/x86/kvm/Kconfig ***
#-
#- file virt/kvm/Kconfig goes here
VIRTUALIZATION x86=y
KVM x86=m
KVM_INTEL x86=m
KVM_AMD x86=m
KVM_MMU_AUDIT x86=y
#- file drivers/vhost/Kconfig goes here

#-
#- *** FILE: arch/x86/xen/Kconfig ***
#-
XEN x86=y
XEN_DEBUG_FS x86=n

#-
#- *** FILE: crypto/Kconfig ***
#-
#- file crypto/async_tx/Kconfig goes here
#- Crypto core or helper
#- Authenticated Encryption with Associated Data
#- Block modes
#- Hash modes
#- Digest
#- Ciphers
CRYPTO_SERPENT_SSE2_586 all=m
#- Compression
#- Random Number Generation
#- file drivers/crypto/Kconfig goes here
#- file crypto/asymmetric_keys/Kconfig goes here
#- file certs/Kconfig goes here

#-
#- *** FILE: drivers/cpufreq/Kconfig.x86 ***
#-
X86_PCC_CPUFREQ x86=m x86_64=m
X86_ACPI_CPUFREQ x86=m
X86_ACPI_CPUFREQ_CPB all=y
X86_POWERNOW_K6 i386=m
X86_POWERNOW_K7 i386=m
X86_POWERNOW_K8 x86=m
X86_GX_SUSPMOD i386=m
X86_SPEEDSTEP_CENTRINO x86=m
X86_SPEEDSTEP_CENTRINO_TABLE i386=y
X86_SPEEDSTEP_ICH i386=m
X86_SPEEDSTEP_SMI i386=m
X86_P4_CLOCKMOD x86=m
X86_CPUFREQ_NFORCE2 i386=m
X86_LONGRUN i386=m
X86_LONGHAUL i386=m
X86_E_POWERSAVER i386=m
#- shared options
X86_SPEEDSTEP_RELAXED_CAP_CHECK i386=y

#-
#- *** FILE: drivers/iommu/Kconfig ***
#-
AMD_IOMMU x86_64=y

#-
#- *** FILE: drivers/media/pci/ivtv/Kconfig ***
#-
VIDEO_IVTV_DEPRECATED_IOCTLS all=n

#-
#- *** FILE: drivers/media/pci/sta2x11/Kconfig ***
#-
STA2X11_VIP all=m

#-
#- *** FILE: drivers/media/radio/Kconfig ***
#-
#- file drivers/media/radio/si470x/Kconfig goes here
#- file drivers/media/radio/si4713/Kconfig goes here
#- file drivers/media/radio/wl128x/Kconfig goes here
V4L_RADIO_ISA_DRIVERS all=y

#-
#- *** FILE: drivers/net/ethernet/cirrus/Kconfig ***
#-
NET_VENDOR_CIRRUS all=y
CS89x0_PLATFORM all=y

#-
#- *** FILE: drivers/pci/host/Kconfig ***
#-
VMD all=m

#-
#- *** FILE: drivers/pci/pcie/Kconfig ***
#-
#- file drivers/pci/pcie/aer/Kconfig goes here
PCIEASPM_DEFAULT all=y
PCIEASPM_POWERSAVE all=n
PCIEASPM_POWER_SUPERSAVE all=n
PCIEASPM_PERFORMANCE all=n

#-
#- *** FILE: drivers/platform/x86/Kconfig ***
#-
INTEL_TURBO_MAX_3 all=y

#-
#- *** FILE: drivers/staging/comedi/Kconfig ***
#-
COMEDI_ISA_DRIVERS all=y
COMEDI_AMPLC_DIO200_ISA all=m
COMEDI_AMPLC_PC236_ISA all=m
COMEDI_AMPLC_PC263_ISA all=m
COMEDI_DAS08_ISA all=m

#-
#- *** FILE: init/Kconfig ***
#-
#- file kernel/irq/Kconfig goes here
#- file kernel/time/Kconfig goes here
IRQ_TIME_ACCOUNTING x86=n
#- file kernel/rcu/Kconfig goes here
#- file usr/Kconfig goes here
PC104 all=y
#- file arch/Kconfig goes here
#- Do not forget to sign required modules with scripts/sign-file
#- file block/Kconfig goes here
#- file kernel/Kconfig.locks goes here

#-
#- *** FILE: kernel/gcov/Kconfig ***
#-
ARCH_HAS_GCOV_PROFILE_ALL x86=y

#-
#- *** FILE: kernel/irq/Kconfig ***
#-
SPARSE_IRQ i386=y x86_64=y

#-
#- *** FILE: lib/Kconfig.debug ***
#-
#- file mm/Kconfig.debug goes here
DEBUG_STACK_USAGE x86=n
DEBUG_PER_CPU_MAPS x86=n
DEBUG_STACKOVERFLOW x86=n
#- file lib/Kconfig.kmemcheck goes here
#- file lib/Kconfig.kasan goes here
KCOV all=n
WW_MUTEX_SELFTEST all=m
#- file kernel/rcu/Kconfig.debug goes here
#- file kernel/trace/Kconfig goes here
MEMTEST x86=n
#- file samples/Kconfig goes here
#- file lib/Kconfig.kgdb goes here
#- file lib/Kconfig.ubsan goes here
STRICT_DEVMEM x86=y
IO_STRICT_DEVMEM x86=y

#-
#- *** FILE: mm/Kconfig ***
#-
ARCH_USES_HIGH_VMA_FLAGS all=y
ARCH_HAS_PKEYS all=y

#-
#- *** FILE: sound/x86/Kconfig ***
#-
SND_X86 all=y
HDMI_LPE_AUDIO all=m

#-
#- *** PROBABLY REMOVED OPTIONS ***
#-
LGUEST_GUEST all=y
