#
# Hollywood Plus / DXR3
#
CONFIG_DXR3=m
CONFIG_EM8300=m
CONFIG_EM8300_LOOPBACK=y
CONFIG_EM8300_UCODETIMEOUT=y
CONFIG_EM8300_DICOMFIX=y
CONFIG_EM8300_DICOMCTRL=y
CONFIG_EM8300_DICOMPAL=y
CONFIG_ADV717X=m
CONFIG_ADV717X_SWAP=y
CONFIG_ADV717X_PIXELPORT16BIT=y
CONFIG_ADV717X_PIXELPORTPAL=y
CONFIG_BT865=m
CONFIG_VIDEO_TUNER=m
CONFIG_VIDEO_BUF=m
CONFIG_VIDEO_BTCX=m
CONFIG_VIDEO_IR=m
