#
# Netfilter IPv4
# from patch-o-matic-ng modules: base
#
CONFIG_IP_NF_TARGET_IPV4OPTSSTRIP=m
CONFIG_IP_NF_TARGET_NETLINK=m
CONFIG_IP_NF_MATCH_DSTLIMIT=m
CONFIG_IP_NF_MATCH_FUZZY=m
CONFIG_IP_NF_MATCH_IPV4OPTIONS=m
CONFIG_IP_NF_MATCH_OSF=m
CONFIG_IP_POOL_STATISTICS=y
CONFIG_IP_NF_POOL=m
CONFIG_IP_NF_MATCH_PSD=m
CONFIG_IP_NF_MATCH_QUOTA=m
CONFIG_IP_NF_MATCH_RANDOM=m
CONFIG_IP_NF_MATCH_REALM=m
CONFIG_IP_NF_MATCH_TIME=m
CONFIG_IP_NF_MATCH_U32=m

#
# Netfilter IPv4
# from patch-o-matic-ng modules: pending
#

#
# Netfilter IPv4
# from patch-o-matic-ng modules: extra
#

#
# Netfilter IPv6
# from patch-o-matic-ng modules: base
#
CONFIG_IP6_NF_TARGET_HL=m
CONFIG_IP6_NF_MATCH_FUZZY=m
CONFIG_IP6_NF_MATCH_RANDOM=m

#
# Netfilter IPv6
# from patch-o-matic-ng modules: pending
#

#
# Netfilter IPv6
# from patch-o-matic-ng modules: extra
#
