WLAN_VERSION=0
WLAN_PATCHLEVEL=1
WLAN_SUBLEVEL=12
WLAN_EXTRAVERSION=-pre1
PRISM2_PCMCIA=y
PRISM2_PLX=y
PRISM2_PCI=y
PRISM2_USB=y
LINUX_SRC=
PCMCIA_SRC=
WLAN_KERN_PCMCIA=y
PCMCIA_DIR=/etc/pcmcia
TARGET_PCMCIA_DIR=/etc/pcmcia
CONFIG_NETLINK=y
TARGET_ROOT_ON_HOST=
MODDIR=
TARGET_MODDIR=
INST_EXEDIR=/sbin
TARGET_INST_EXEDIR=/sbin
RC_DIR=/etc/rc.d
SYSV_INIT=y
INSTALL_DEPMOD=y
WLAN_TARGET_ARCH=
HOST_COMPILE=
HOST_AS=$(HOST_COMPILE)as
HOST_LD=$(HOST_COMPILE)ld
HOST_CC=$(HOST_COMPILE)gcc
HOST_CPP=$(HOST_CC) -E
HOST_AR=$(HOST_COMPILE)ar
HOST_NM=$(HOST_COMPILE)nm
HOST_STRIP=$(HOST_COMPILE)strip
HOST_OBJCOPY=$(HOST_COMPILE)objcopy
HOST_OBJDUMP=$(HOST_COMPILE)objdump
HOST_RANLIB=$(HOST_COMPILE)ranlib
HOST_MAKE=make
# CROSS_COMPILE_ENABLED is not defined
CROSS_COMPILE=
CROSS_AS=$(CROSS_COMPILE)as
CROSS_LD=$(CROSS_COMPILE)ld
CROSS_CC=$(CROSS_COMPILE)egcs
CROSS_CPP=$(CROSS_CC) -E
CROSS_AR=$(CROSS_COMPILE)ar
CROSS_NM=$(CROSS_COMPILE)nm
CROSS_STRIP=$(CROSS_COMPILE)strip
CROSS_OBJCOPY=$(CROSS_COMPILE)objcopy
CROSS_OBJDUMP=$(CROSS_COMPILE)objdump
CROSS_RANLIB=$(CROSS_COMPILE)ranlib
CROSS_MAKE=make
# WLAN_DEBUG is not defined
