#
# Binary emulation of other systems
#
CONFIG_ABI=m
CONFIG_ABI_SVR4=m
# CONFIG_ABI_IBCS_SCO is not set
# CONFIG_ABI_IBCS_ISC is not set
# CONFIG_ABI_IBCS_WYSE is not set
# CONFIG_ABI_XENIX is not set
CONFIG_ABI_UW7=m
CONFIG_ABI_SOLARIS=m
CONFIG_ABI_IBCS=m
CONFIG_ABI_ISC=m
CONFIG_ABI_SCO=m
CONFIG_ABI_WYSE=m

#
# Support for foreign binary formats
#
# CONFIG_BINFMT_XOUT is not set
CONFIG_BINFMT_COFF=m

#
# Linux-ABI debugging settings
#
# CONFIG_ABI_VERBOSE_ERRORS is not set
CONFIG_ABI_SPX=y
CONFIG_ABI_XTI=y
CONFIG_ABI_TLI_OPTMGMT=y
# CONFIG_ABI_XTI_OPTMGMT is not set
