
#-
#- *** FILE: arch/arm/Kconfig ***
#-
ARM_DMA_IOMMU_ALIGNMENT arm=8
MMU arm=y
ARCH_MULTIPLATFORM arm=y
ARCH_EP93XX arm=n
ARCH_FOOTBRIDGE arm=n
ARCH_IOP32X arm=n
ARCH_IXP4XX arm=n
ARCH_DOVE arm=n
ARCH_PXA arm=n
ARCH_RPC arm=n
ARCH_SA1100 arm=n
ARCH_S3C24XX arm=n
ARCH_OMAP1 arm=n
#- CPU Core family selection
ARCH_MULTI_V6 arm=y
ARCH_MULTI_V7 arm=y
ARCH_VIRT arm=n
#- file arch/arm/mach-actions/Kconfig goes here
#- file arch/arm/mach-alpine/Kconfig goes here
#- file arch/arm/mach-artpec/Kconfig goes here
#- file arch/arm/mach-asm9260/Kconfig goes here
#- file arch/arm/mach-aspeed/Kconfig goes here
#- file arch/arm/mach-at91/Kconfig goes here
#- file arch/arm/mach-axxia/Kconfig goes here
#- file arch/arm/mach-bcm/Kconfig goes here
#- file arch/arm/mach-berlin/Kconfig goes here
#- file arch/arm/mach-clps711x/Kconfig goes here
#- file arch/arm/mach-cns3xxx/Kconfig goes here
#- file arch/arm/mach-davinci/Kconfig goes here
#- file arch/arm/mach-digicolor/Kconfig goes here
#- file arch/arm/mach-dove/Kconfig goes here
#- file arch/arm/mach-ep93xx/Kconfig goes here
#- file arch/arm/mach-exynos/Kconfig goes here
#- file arch/arm/mach-footbridge/Kconfig goes here
#- file arch/arm/mach-gemini/Kconfig goes here
#- file arch/arm/mach-highbank/Kconfig goes here
#- file arch/arm/mach-hisi/Kconfig goes here
#- file arch/arm/mach-imx/Kconfig goes here
#- file arch/arm/mach-integrator/Kconfig goes here
#- file arch/arm/mach-iop32x/Kconfig goes here
#- file arch/arm/mach-ixp4xx/Kconfig goes here
#- file arch/arm/mach-keystone/Kconfig goes here
#- file arch/arm/mach-lpc32xx/Kconfig goes here
#- file arch/arm/mach-mediatek/Kconfig goes here
#- file arch/arm/mach-meson/Kconfig goes here
#- file arch/arm/mach-milbeaut/Kconfig goes here
#- file arch/arm/mach-mmp/Kconfig goes here
#- file arch/arm/mach-moxart/Kconfig goes here
#- file arch/arm/mach-mstar/Kconfig goes here
#- file arch/arm/mach-mv78xx0/Kconfig goes here
#- file arch/arm/mach-mvebu/Kconfig goes here
#- file arch/arm/mach-mxs/Kconfig goes here
#- file arch/arm/mach-nomadik/Kconfig goes here
#- file arch/arm/mach-npcm/Kconfig goes here
#- file arch/arm/mach-nspire/Kconfig goes here
#- file arch/arm/plat-omap/Kconfig goes here
#- file arch/arm/mach-omap1/Kconfig goes here
#- file arch/arm/mach-omap2/Kconfig goes here
#- file arch/arm/mach-orion5x/Kconfig goes here
#- file arch/arm/mach-oxnas/Kconfig goes here
#- file arch/arm/mach-pxa/Kconfig goes here
#- file arch/arm/plat-pxa/Kconfig goes here
#- file arch/arm/mach-qcom/Kconfig goes here
#- file arch/arm/mach-rda/Kconfig goes here
#- file arch/arm/mach-realtek/Kconfig goes here
#- file arch/arm/mach-realview/Kconfig goes here
#- file arch/arm/mach-rockchip/Kconfig goes here
#- file arch/arm/mach-s3c/Kconfig goes here
#- file arch/arm/mach-s5pv210/Kconfig goes here
#- file arch/arm/mach-sa1100/Kconfig goes here
#- file arch/arm/mach-shmobile/Kconfig goes here
#- file arch/arm/mach-socfpga/Kconfig goes here
#- file arch/arm/mach-spear/Kconfig goes here
#- file arch/arm/mach-sti/Kconfig goes here
#- file arch/arm/mach-stm32/Kconfig goes here
#- file arch/arm/mach-sunxi/Kconfig goes here
#- file arch/arm/mach-tegra/Kconfig goes here
#- file arch/arm/mach-uniphier/Kconfig goes here
#- file arch/arm/mach-ux500/Kconfig goes here
#- file arch/arm/mach-versatile/Kconfig goes here
#- file arch/arm/mach-vexpress/Kconfig goes here
#- file arch/arm/mach-vt8500/Kconfig goes here
#- file arch/arm/mach-zynq/Kconfig goes here
#- file arch/arm/mm/Kconfig goes here
#- file arch/arm/Kconfig-nommu goes here
ARM_ERRATA_411920 arm=y
ARM_ERRATA_430973 arm=n
ARM_ERRATA_643719 arm=y
ARM_ERRATA_720789 arm=n
ARM_ERRATA_754322 arm=n
ARM_ERRATA_754327 arm=n
ARM_ERRATA_764369 arm=n
ARM_ERRATA_775420 arm=n
ARM_ERRATA_798181 arm=n
ARM_ERRATA_773022 arm=n
ARM_ERRATA_818325_852422 arm=n
ARM_ERRATA_821420 arm=n
ARM_ERRATA_825619 arm=n
ARM_ERRATA_857271 arm=n
ARM_ERRATA_852421 arm=n
ARM_ERRATA_852423 arm=n
ARM_ERRATA_857272 arm=n
#- file arch/arm/common/Kconfig goes here
ARM_ERRATA_814220 arm=n
SMP arm=y
SMP_ON_UP arm=y
ARM_CPU_TOPOLOGY arm=y
SCHED_MC arm=y
SCHED_SMT arm=y
HAVE_ARM_ARCH_TIMER arm=y
MCPM arm=n
BIG_LITTLE arm=n
VMSPLIT_3G arm=n
VMSPLIT_3G_OPT arm=n
VMSPLIT_2G arm=y
VMSPLIT_1G arm=n
NR_CPUS arm=32
HOTPLUG_CPU arm=y
ARM_PSCI arm=n
HZ_200 arm=n
HZ_500 arm=n
THUMB2_KERNEL arm=n
ARM_PATCH_IDIV arm=y
OABI_COMPAT arm=n
HIGHMEM arm=y
HIGHPTE arm=y
CPU_SW_DOMAIN_PAN arm=y
ARM_MODULE_PLTS arm=y
FORCE_MAX_ZONEORDER arm=11
UACCESS_WITH_MEMCPY arm=y
PARAVIRT arm=y
PARAVIRT_TIME_ACCOUNTING arm=y
XEN arm=y
STACKPROTECTOR_PER_TASK arm=y
USE_OF arm=y
ATAGS arm=y
DEPRECATED_PARAM_STRUCT arm=n
ZBOOT_ROM_TEXT arm=0x0
ZBOOT_ROM_BSS arm=0x0
ARM_APPENDED_DTB arm=n
CMDLINE arm=""
KEXEC arm=y
ATAGS_PROC arm=y
CRASH_DUMP arm=n
AUTO_ZRELADDR arm=y
EFI arm=n
#- file drivers/cpufreq/Kconfig goes here
#- file drivers/cpuidle/Kconfig goes here
#- At least one emulation must be selected
VFP arm=y
NEON arm=y
KERNEL_MODE_NEON arm=y
#- file kernel/power/Kconfig goes here
#- file drivers/firmware/Kconfig goes here
#- file arch/arm/crypto/Kconfig goes here
#- file arch/arm/Kconfig.assembler goes here

#-
#- *** FILE: arch/arm/crypto/Kconfig ***
#-
ARM_CRYPTO arm=y
CRYPTO_SHA1_ARM arm=m
CRYPTO_SHA1_ARM_NEON arm=m
CRYPTO_SHA1_ARM_CE arm=m
CRYPTO_SHA2_ARM_CE arm=m
CRYPTO_SHA256_ARM arm=m
CRYPTO_SHA512_ARM arm=m
CRYPTO_BLAKE2S_ARM arm=m
CRYPTO_BLAKE2B_NEON arm=m
CRYPTO_AES_ARM arm=m
CRYPTO_AES_ARM_BS arm=m
CRYPTO_AES_ARM_CE arm=m
CRYPTO_GHASH_ARM_CE arm=m
CRYPTO_CRCT10DIF_ARM_CE arm=m
CRYPTO_CRC32_ARM_CE arm=m
CRYPTO_CHACHA20_NEON arm=m
CRYPTO_POLY1305_ARM arm=m
CRYPTO_NHPOLY1305_NEON arm=m
CRYPTO_CURVE25519_NEON arm=m

#-
#- *** FILE: arch/arm/mach-actions/Kconfig ***
#-
ARCH_ACTIONS arm=n

#-
#- *** FILE: arch/arm/mach-alpine/Kconfig ***
#-
ARCH_ALPINE arm=n

#-
#- *** FILE: arch/arm/mach-artpec/Kconfig ***
#-
ARCH_ARTPEC arm=n

#-
#- *** FILE: arch/arm/mach-aspeed/Kconfig ***
#-
ARCH_ASPEED arm=n

#-
#- *** FILE: arch/arm/mach-at91/Kconfig ***
#-
ARCH_AT91 arm=n
#- Clocksource driver selection

#-
#- *** FILE: arch/arm/mach-bcm/Kconfig ***
#-
ARCH_BCM arm=y
#- IPROC architected SoCs
ARCH_BCM_CYGNUS arm=n
ARCH_BCM_HR2 arm=n
ARCH_BCM_NSP arm=n
ARCH_BCM_5301X arm=n
#- KONA architected SoCs
ARCH_BCM_281XX arm=n
ARCH_BCM_21664 arm=n
ARCH_BCM_23550 arm=n
#- Other Architectures
ARCH_BCM2835 arm=y
ARCH_BCM_53573 arm=n
ARCH_BCM_63XX arm=n
ARCH_BRCMSTB arm=n

#-
#- *** FILE: arch/arm/mach-berlin/Kconfig ***
#-
ARCH_BERLIN arm=n

#-
#- *** FILE: arch/arm/mach-cns3xxx/Kconfig ***
#-
ARCH_CNS3XXX arm=n

#-
#- *** FILE: arch/arm/mach-digicolor/Kconfig ***
#-
ARCH_DIGICOLOR arm=n

#-
#- *** FILE: arch/arm/mach-exynos/Kconfig ***
#-
ARCH_EXYNOS arm=n
#- Exynos SoCs

#-
#- *** FILE: arch/arm/mach-highbank/Kconfig ***
#-
ARCH_HIGHBANK arm=n

#-
#- *** FILE: arch/arm/mach-hisi/Kconfig ***
#-
ARCH_HISI arm=n

#-
#- *** FILE: arch/arm/mach-imx/Kconfig ***
#-
ARCH_MXC arm=n
#- ARM1136 platforms
#- Cortex-A platforms
#- Cortex-A/Cortex-M asymmetric multiprocessing platforms

#-
#- *** FILE: arch/arm/mach-integrator/Kconfig ***
#-
ARCH_INTEGRATOR arm=n

#-
#- *** FILE: arch/arm/mach-keystone/Kconfig ***
#-
ARCH_KEYSTONE arm=n

#-
#- *** FILE: arch/arm/mach-mediatek/Kconfig ***
#-
ARCH_MEDIATEK arm=n

#-
#- *** FILE: arch/arm/mach-meson/Kconfig ***
#-
ARCH_MESON arm=n

#-
#- *** FILE: arch/arm/mach-milbeaut/Kconfig ***
#-
ARCH_MILBEAUT arm=n

#-
#- *** FILE: arch/arm/mach-mmp/Kconfig ***
#-
ARCH_MMP arm=n

#-
#- *** FILE: arch/arm/mach-mstar/Kconfig ***
#-
ARCH_MSTARV7 arm=n

#-
#- *** FILE: arch/arm/mach-mvebu/Kconfig ***
#-
ARCH_MVEBU arm=n

#-
#- *** FILE: arch/arm/mach-npcm/Kconfig ***
#-
ARCH_NPCM arm=n

#-
#- *** FILE: arch/arm/mach-omap2/Kconfig ***
#-
ARCH_OMAP2 arm=n
ARCH_OMAP3 arm=n
ARCH_OMAP4 arm=n
SOC_OMAP5 arm=n
SOC_AM33XX arm=n
SOC_AM43XX arm=n
SOC_DRA7XX arm=n
#- OMAP Core Type
#- OMAP Legacy Platform Data Board Type

#-
#- *** FILE: arch/arm/mach-oxnas/Kconfig ***
#-
ARCH_OXNAS arm=n

#-
#- *** FILE: arch/arm/mach-qcom/Kconfig ***
#-
ARCH_QCOM arm=n

#-
#- *** FILE: arch/arm/mach-rda/Kconfig ***
#-
ARCH_RDA arm=n

#-
#- *** FILE: arch/arm/mach-realtek/Kconfig ***
#-
ARCH_REALTEK arm=n

#-
#- *** FILE: arch/arm/mach-realview/Kconfig ***
#-
ARCH_REALVIEW arm=n

#-
#- *** FILE: arch/arm/mach-rockchip/Kconfig ***
#-
ARCH_ROCKCHIP arm=n

#-
#- *** FILE: arch/arm/mach-s3c/Kconfig.s3c64xx ***
#-
ARCH_S3C64XX arm=n

#-
#- *** FILE: arch/arm/mach-s5pv210/Kconfig ***
#-
ARCH_S5PV210 arm=n

#-
#- *** FILE: arch/arm/mach-shmobile/Kconfig ***
#-
ARCH_RENESAS arm=n

#-
#- *** FILE: arch/arm/mach-socfpga/Kconfig ***
#-
ARCH_INTEL_SOCFPGA arm=n

#-
#- *** FILE: arch/arm/mach-spear/Kconfig ***
#-
PLAT_SPEAR arm=n

#-
#- *** FILE: arch/arm/mach-sti/Kconfig ***
#-
ARCH_STI arm=n

#-
#- *** FILE: arch/arm/mach-stm32/Kconfig ***
#-
ARCH_STM32 arm=n

#-
#- *** FILE: arch/arm/mach-sunxi/Kconfig ***
#-
ARCH_SUNXI arm=n

#-
#- *** FILE: arch/arm/mach-tegra/Kconfig ***
#-
ARCH_TEGRA arm=n

#-
#- *** FILE: arch/arm/mach-uniphier/Kconfig ***
#-
ARCH_UNIPHIER arm=n

#-
#- *** FILE: arch/arm/mach-ux500/Kconfig ***
#-
ARCH_U8500 arm=n

#-
#- *** FILE: arch/arm/mach-vexpress/Kconfig ***
#-
ARCH_VEXPRESS arm=n

#-
#- *** FILE: arch/arm/mach-vt8500/Kconfig ***
#-
ARCH_WM8750 arm=n
ARCH_WM8850 arm=n

#-
#- *** FILE: arch/arm/mach-zynq/Kconfig ***
#-
ARCH_ZYNQ arm=n

#-
#- *** FILE: arch/arm/mm/Kconfig ***
#-
#- Processor Type
#- Processor Features
ARM_LPAE arm=n
ARM_THUMBEE arm=n
SWP_EMULATE arm=n
CPU_ICACHE_DISABLE arm=n
CPU_ICACHE_MISMATCH_WORKAROUND arm=y
CPU_DCACHE_DISABLE arm=n
CPU_BPREDICT_DISABLE arm=n
KUSER_HELPERS arm=y
VDSO arm=y
DMA_CACHE_RWFO arm=y
CACHE_L2X0 arm=y
CACHE_L2X0_PMU arm=n
PL310_ERRATA_588369 arm=n
PL310_ERRATA_727915 arm=n
PL310_ERRATA_753970 arm=n
PL310_ERRATA_769419 arm=n
DEBUG_ALIGN_RODATA arm=y

#-
#- *** FILE: drivers/cpufreq/Kconfig ***
#-
CPU_FREQ_GOV_PERFORMANCE arm=y
#- CPU frequency scaling drivers
CPUFREQ_DT arm=m
#- file drivers/cpufreq/Kconfig.x86 goes here
#- file drivers/cpufreq/Kconfig.arm goes here
#- file drivers/cpufreq/Kconfig.powerpc goes here

#-
#- *** FILE: drivers/cpufreq/Kconfig.arm ***
#-
ARM_SCPI_CPUFREQ arm=m
ARM_RASPBERRYPI_CPUFREQ arm=m

#-
#- *** FILE: drivers/cpuidle/Kconfig.arm ***
#-
ARM_CPUIDLE arm=y
ARM_PSCI_CPUIDLE arm=n
ARM_HIGHBANK_CPUIDLE arm=n

#-
#- *** FILE: drivers/firmware/Kconfig ***
#-
ARM_SCMI_PROTOCOL arm=n
RASPBERRYPI_FIRMWARE arm=y
TRUSTED_FOUNDATIONS arm=n
#- file drivers/firmware/broadcom/Kconfig goes here
#- file drivers/firmware/google/Kconfig goes here
#- file drivers/firmware/efi/Kconfig goes here
#- file drivers/firmware/imx/Kconfig goes here
#- file drivers/firmware/meson/Kconfig goes here
#- file drivers/firmware/psci/Kconfig goes here
#- file drivers/firmware/smccc/Kconfig goes here
#- file drivers/firmware/tegra/Kconfig goes here
#- file drivers/firmware/xilinx/Kconfig goes here

#-
#- *** FILE: drivers/firmware/psci/Kconfig ***
#-
ARM_PSCI_CHECKER arm=n

#-
#- *** FILE: drivers/firmware/smccc/Kconfig ***
#-
ARM_SMCCC_SOC_ID arm=y

#-
#- *** PROBABLY REMOVED OPTIONS ***
#-
ADI_AXI_ADC arm=m
AHCI_CEVA arm=m
AHCI_QORIQ arm=m
AK8974 arm=m
ALTERA_PR_IP_CORE_PLAT arm=m
AL_FIC arm=n
AMBA_PL08X arm=n
ARCH_EBSA110 arm=n
ARCH_PICOXCELL arm=n
ARCH_SIRF arm=n
ARCH_SOCFPGA arm=n
ARCH_TANGO arm=n
ARCH_ZX arm=n
ARCX_ANYBUS_CONTROLLER arm=m
ARM_ARCH_TIMER_EVTSTREAM arm=y
ARM_CCI400_PMU arm=y
ARM_CCI5xx_PMU arm=y
ARM_CCI_PMU arm=m
ARM_CCN arm=m
ARM_KPROBES_TEST arm=m
ARM_MHU arm=m
ARM_MHU_V2 arm=m
ARM_PL172_MPMC arm=m
ARM_PMU arm=y
ARM_PTDUMP_DEBUGFS arm=n
ARM_SMC_WATCHDOG arm=m
ARM_SMMU arm=m
ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT arm=y
ARM_SP805_WATCHDOG arm=m
ATH10K_AHB arm=n
ATH5K_PCI arm=y
AX88796 arm=m
AX88796_93CX6 arm=n
BACKLIGHT_LED arm=m
BATTERY_ACT8945A arm=m
BATTERY_CPCAP arm=m
BATTERY_LEGO_EV3 arm=m
BCM2711_THERMAL arm=m
BCM2835_MBOX arm=y
BCM2835_POWER arm=y
BCM2835_THERMAL arm=m
BCM2835_VCHIQ arm=m
BCM2835_VCHIQ_MMAL arm=m
BCM2835_WDT arm=m
BCM_VIDEOCORE arm=m
BINFMT_ELF_FDPIC arm=n
BINFMT_FLAT arm=n
BRCMSTB_GISB_ARB arm=n
CAN_FLEXCAN arm=m
CAN_GRCAN arm=m
CAN_RCAR arm=m
CAN_RCAR_CANFD arm=m
CAN_TI_HECC arm=m
CHARGER_DETECTOR_MAX14656 arm=m
CHARGER_MAX77650 arm=m
CHARGER_UCS1002 arm=m
CLK_BCM2711_DVP arm=m
CLK_BCM2835 arm=y
CLK_HSDK arm=n
CLK_QORIQ arm=n
CLK_RASPBERRYPI arm=m
CM3605 arm=m
COMEDI_ISA_DRIVERS arm=n
COMMON_CLK arm=y
COMMON_CLK_AXI_CLKGEN arm=m
COMMON_CLK_CDCE925 arm=m
COMMON_CLK_FIXED_MMIO arm=n
COMMON_CLK_MAX77686 arm=m
COMMON_CLK_RK808 arm=m
COMMON_CLK_SI514 arm=m
COMMON_CLK_SI570 arm=m
COMMON_CLK_VC5 arm=m
CORESIGHT arm=n
CPCAP_ADC arm=m
CPU_FREQ_THERMAL arm=y
CPU_IDLE_THERMAL arm=n
CROS_EC_RPMSG arm=m
CROS_EC_VBC arm=m
CRYPTO_AEGIS128_SIMD arm=y
CRYPTO_DEV_CCREE arm=m
CS89x0_PLATFORM arm=n
DA9062_THERMAL arm=m
DAX arm=m
DEBUG_LL arm=n
DEBUG_PER_CPU_MAPS arm=n
DEBUG_STACK_USAGE arm=n
DEBUG_USER arm=n
DM9000 arm=m
DM9000_FORCE_SIMPLE_PHY_POLL arm=n
DMARD06 arm=m
DMA_BCM2835 arm=m
DPOT_DAC arm=m
DRM_ANALOGIX_ANX6345 arm=m
DRM_ANALOGIX_ANX7625 arm=m
DRM_ARCPGU arm=m
DRM_ARMADA arm=m
DRM_ATMEL_HLCDC arm=m
DRM_CDNS_DSI arm=m
DRM_CDNS_MHDP8546 arm=m
DRM_CHIPONE_ICN6211 arm=m
DRM_CHRONTEL_CH7033 arm=m
DRM_DISPLAY_CONNECTOR arm=m
DRM_DW_HDMI_AHB_AUDIO arm=m
DRM_DW_HDMI_CEC arm=m
DRM_DW_HDMI_I2S_AUDIO arm=m
DRM_EXYNOS arm=m
DRM_EXYNOS5433_DECON arm=n
DRM_EXYNOS7_DECON arm=n
DRM_EXYNOS_FIMC arm=n
DRM_EXYNOS_FIMD arm=n
DRM_EXYNOS_G2D arm=n
DRM_EXYNOS_GSC arm=n
DRM_EXYNOS_MIXER arm=n
DRM_EXYNOS_ROTATOR arm=n
DRM_EXYNOS_SCALER arm=n
DRM_EXYNOS_VIDI arm=n
DRM_FSL_DCU arm=m
DRM_HDLCD arm=m
DRM_HDLCD_SHOW_UNDERRUN arm=n
DRM_I2C_ADV7511_AUDIO arm=n
DRM_I2C_ADV7511_CEC arm=y
DRM_IMX arm=m
DRM_IMX_HDMI arm=m
DRM_IMX_LDB arm=m
DRM_IMX_PARALLEL_DISPLAY arm=m
DRM_IMX_TVE arm=m
DRM_KOMEDA arm=m
DRM_LIMA arm=m
DRM_LONTIUM_LT8912B arm=m
DRM_LONTIUM_LT9611 arm=m
DRM_LONTIUM_LT9611UXC arm=m
DRM_LVDS_CODEC arm=m
DRM_MALI_DISPLAY arm=m
DRM_MCDE arm=m
DRM_MEGACHIPS_STDPXXXX_GE_B850V3_FW arm=m
DRM_MXSFB arm=m
DRM_NWL_MIPI_DSI arm=m
DRM_NXP_PTN3460 arm=m
DRM_OMAP arm=m
DRM_OMAP_PANEL_DSI_CM arm=m
DRM_PANEL_ABT_Y030XX067A arm=m
DRM_PANEL_ARM_VERSATILE arm=m
DRM_PANEL_ASUS_Z00T_TM5P5_NT35596 arm=m
DRM_PANEL_BOE_HIMAX8279D arm=m
DRM_PANEL_BOE_TV101WUM_NL6 arm=m
DRM_PANEL_DSI_CM arm=m
DRM_PANEL_ELIDA_KD35T133 arm=m
DRM_PANEL_FEIXIN_K101_IM2BA02 arm=m
DRM_PANEL_FEIYANG_FY07024DI26A30D arm=m
DRM_PANEL_ILITEK_IL9322 arm=m
DRM_PANEL_ILITEK_ILI9881C arm=m
DRM_PANEL_INNOLUX_P079ZCA arm=m
DRM_PANEL_JDI_LT070ME05000 arm=m
DRM_PANEL_KHADAS_TS050 arm=m
DRM_PANEL_KINGDISPLAY_KD097D04 arm=m
DRM_PANEL_LEADTEK_LTK050H3146W arm=m
DRM_PANEL_LEADTEK_LTK500HD1829 arm=m
DRM_PANEL_LG_LB035Q02 arm=m
DRM_PANEL_LG_LG4573 arm=m
DRM_PANEL_LVDS arm=m
DRM_PANEL_MANTIX_MLAF057WE51 arm=m
DRM_PANEL_NEC_NL8048HL11 arm=m
DRM_PANEL_NOVATEK_NT35510 arm=m
DRM_PANEL_NOVATEK_NT36672A arm=m
DRM_PANEL_NOVATEK_NT39016 arm=m
DRM_PANEL_OLIMEX_LCD_OLINUXINO arm=m
DRM_PANEL_ORISETECH_OTM8009A arm=m
DRM_PANEL_OSD_OSD101T2587_53TS arm=m
DRM_PANEL_PANASONIC_VVX10F034N00 arm=m
DRM_PANEL_RAYDIUM_RM67191 arm=m
DRM_PANEL_RAYDIUM_RM68200 arm=m
DRM_PANEL_RONBO_RB070D30 arm=m
DRM_PANEL_SAMSUNG_LD9040 arm=m
DRM_PANEL_SAMSUNG_S6D16D0 arm=m
DRM_PANEL_SAMSUNG_S6E3HA2 arm=m
DRM_PANEL_SAMSUNG_S6E63J0X03 arm=m
DRM_PANEL_SAMSUNG_S6E63M0 arm=m
DRM_PANEL_SAMSUNG_S6E63M0_DSI arm=m
DRM_PANEL_SAMSUNG_S6E63M0_SPI arm=m
DRM_PANEL_SAMSUNG_S6E88A0_AMS452EF01 arm=m
DRM_PANEL_SAMSUNG_S6E8AA0 arm=m
DRM_PANEL_SAMSUNG_SOFEF00 arm=m
DRM_PANEL_SEIKO_43WVF1G arm=m
DRM_PANEL_SHARP_LQ101R1SX01 arm=m
DRM_PANEL_SHARP_LS037V7DW01 arm=m
DRM_PANEL_SHARP_LS043T1LE01 arm=m
DRM_PANEL_SIMPLE arm=m
DRM_PANEL_SITRONIX_ST7701 arm=m
DRM_PANEL_SITRONIX_ST7703 arm=m
DRM_PANEL_SITRONIX_ST7789V arm=m
DRM_PANEL_SONY_ACX424AKP arm=m
DRM_PANEL_SONY_ACX565AKM arm=m
DRM_PANEL_TDO_TL070WSH30 arm=m
DRM_PANEL_TPO_TD028TTEC1 arm=m
DRM_PANEL_TPO_TD043MTEA1 arm=m
DRM_PANEL_TPO_TPG110 arm=m
DRM_PANEL_TRULY_NT35597_WQXGA arm=m
DRM_PANEL_VISIONOX_RM69299 arm=m
DRM_PANEL_XINPENG_XPP055C272 arm=m
DRM_PANFROST arm=m
DRM_PARADE_PS8622 arm=m
DRM_PARADE_PS8640 arm=m
DRM_PL111 arm=m
DRM_RCAR_DW_HDMI arm=m
DRM_RCAR_LVDS arm=m
DRM_SII902X arm=m
DRM_SII9234 arm=m
DRM_SIL_SII8620 arm=m
DRM_SIMPLE_BRIDGE arm=m
DRM_STI arm=m
DRM_STM arm=m
DRM_STM_DSI arm=m
DRM_THINE_THC63LVD1024 arm=m
DRM_TIDSS arm=m
DRM_TILCDC arm=m
DRM_TI_SN65DSI86 arm=m
DRM_TI_TFP410 arm=m
DRM_TI_TPD12S015 arm=m
DRM_TOSHIBA_TC358762 arm=m
DRM_TOSHIBA_TC358764 arm=m
DRM_TOSHIBA_TC358767 arm=m
DRM_TOSHIBA_TC358768 arm=m
DRM_TOSHIBA_TC358775 arm=m
DRM_TVE200 arm=m
DRM_V3D arm=m
DRM_VC4 arm=m
DRM_VC4_HDMI_CEC arm=y
DVB_C8SECTPFE arm=m
DW_AXI_DMAC arm=m
ENVELOPE_DETECTOR arm=m
ETHERNET arm=y
EZCHIP_NPS_MANAGEMENT_ENET arm=m
FB_ARMCLCD arm=m
FB_SSD1307 arm=m
FONT_6x10 arm=n
FONT_6x8 arm=n
FONT_TER16x32 arm=n
FPGA_MGR_ICE40_SPI arm=m
FSI_MASTER_ASPEED arm=m
FSI_NEW_DEV_NODE arm=n
FSI_OCC arm=m
FSI_SBEFIFO arm=m
FSL_EDMA arm=m
FSL_QDMA arm=m
FSL_RCPM arm=n
FTGMAC100 arm=m
FTMAC100 arm=m
FTM_QUADDEC arm=m
FTWDT010_WATCHDOG arm=m
GEMINI_ETHERNET arm=m
GPIO_74XX_MMIO arm=m
GPIO_ADNP arm=m
GPIO_ALTERA arm=m
GPIO_CADENCE arm=m
GPIO_FTGPIO010 arm=n
GPIO_GRGPIO arm=m
GPIO_GW_PLD arm=m
GPIO_HLWD arm=m
GPIO_LOGICVC arm=m
GPIO_LP87565 arm=m
GPIO_MAX77650 arm=m
GPIO_MOXTET arm=m
GPIO_MPC8XXX arm=n
GPIO_PL061 arm=m
GPIO_RASPBERRYPI_EXP arm=m
GPIO_SAMA5D2_PIOBU arm=m
GPIO_SIFIVE arm=n
GPIO_SYSCON arm=m
GPIO_WATCHDOG arm=m
GPIO_WCD934X arm=m
GPIO_ZEVIO arm=n
HI13X1_GMAC arm=n
HIP04_ETH arm=m
HISI_FEMAC arm=m
HISI_HIKEY_USB arm=m
HIX5HD2_GMAC arm=m
HMS_ANYBUSS_BUS arm=m
HMS_PROFINET arm=m
HNS3 arm=m
HNS3_DCB arm=n
HNS3_HCLGE arm=m
HNS3_HCLGEVF arm=m
HNS_DSAF arm=m
HNS_ENET arm=m
HT16K33 arm=m
HTC_EGPIO arm=n
HVC_DCC arm=n
HW_RANDOM_BCM2835 arm=m
HW_RANDOM_CCTRNG arm=m
HW_RANDOM_IPROC_RNG200 arm=m
HW_RANDOM_OPTEE arm=m
I2C_ARB_GPIO_CHALLENGE arm=m
I2C_BCM2835 arm=m
I2C_BRCMSTB arm=m
I2C_DEMUX_PINCTRL arm=m
I2C_FSI arm=m
I2C_HID_OF arm=m
I2C_HID_OF_GOODIX arm=m
I2C_MUX_GPMUX arm=m
I2C_NOMADIK arm=m
I2C_RK3X arm=m
IIO_MUX arm=m
IIO_RESCALE arm=m
IMX_IPUV3_CORE arm=m
INPUT_ATMEL_CAPTOUCH arm=m
INPUT_CPCAP_PWRBUTTON arm=m
INPUT_MAX77650_ONKEY arm=m
INPUT_PM8XXX_VIBRATOR arm=m
INPUT_PMIC8XXX_PWRKEY arm=m
INPUT_RK805_PWRKEY arm=m
IOMMU_IO_PGTABLE_ARMV7S arm=y
IOMMU_IO_PGTABLE_ARMV7S_SELFTEST arm=n
IOMMU_IO_PGTABLE_LPAE arm=y
IOMMU_IO_PGTABLE_LPAE_SELFTEST arm=n
IO_STRICT_DEVMEM arm=y
IRQ_POLL arm=y
IRQ_TIME_ACCOUNTING arm=y
ISCSI_BOOT_SYSFS arm=m
JUMP_LABEL arm=y
KEYBOARD_BCM arm=m
KEYBOARD_CAP11XX arm=m
KEYBOARD_PMIC8XXX arm=m
KPROBES arm=y
LCD_ILI9320 arm=m
LEDS_AAT1290 arm=m
LEDS_AN30259A arm=m
LEDS_AW2013 arm=m
LEDS_BCM6328 arm=m
LEDS_BCM6358 arm=m
LEDS_BLINK_LGM arm=m
LEDS_CPCAP arm=m
LEDS_CR0014114 arm=m
LEDS_EL15203000 arm=m
LEDS_IS31FL319X arm=m
LEDS_IS31FL32XX arm=m
LEDS_KTD2692 arm=m
LEDS_LM3692X arm=m
LEDS_LM3697 arm=m
LEDS_LP55XX_COMMON arm=m
LEDS_MAX77650 arm=m
LEDS_MAX77693 arm=m
LEDS_PM8058 arm=m
LEDS_RT4505 arm=m
LEDS_SPI_BYTE arm=m
LEDS_SYSCON arm=y
LITEX_SOC_CONTROLLER arm=m
LITEX_SUBREG_SIZE arm=4
MAILBOX_TEST arm=m
MAX5821 arm=m
MDIO_BUS_MUX_GPIO arm=m
MDIO_BUS_MUX_MMIOREG arm=m
MDIO_BUS_MUX_MULTIPLEXER arm=m
MDIO_DEVICE arm=y
MDIO_HISI_FEMAC arm=m
MDIO_IPQ4019 arm=m
MDIO_IPQ8064 arm=m
MEMTEST arm=n
MFD_ACT8945A arm=m
MFD_ASIC3 arm=n
MFD_ATMEL_FLEXCOM arm=m
MFD_ATMEL_HLCDC arm=m
MFD_CPCAP arm=m
MFD_GATEWORKS_GSC arm=m
MFD_HI6421_PMIC arm=m
MFD_HI6421_SPMI arm=m
MFD_MAX77650 arm=m
MFD_MAX77686 arm=m
MFD_NTXEC arm=m
MFD_PM8XXX arm=m
MFD_RK808 arm=m
MFD_STMFX arm=m
MFD_T7L66XB arm=n
MFD_TC6387XB arm=n
MFD_TC6393XB arm=n
MFD_TI_LP87565 arm=m
MFD_VEXPRESS_SYSREG arm=m
MICROCHIP_PIT64B arm=n
MICROCHIP_TCB_CAPTURE arm=m
MMC_ARMMMCI arm=m
MMC_BCM2835 arm=m
MMC_CQHCI arm=m
MMC_DW arm=m
MMC_DW_BLUEFIELD arm=m
MMC_DW_EXYNOS arm=m
MMC_DW_HI3798CV200 arm=m
MMC_DW_K3 arm=m
MMC_DW_PCI arm=m
MMC_DW_PLTFM arm=m
MMC_SDHCI_AM654 arm=m
MMC_SDHCI_CADENCE arm=m
MMC_SDHCI_IPROC arm=m
MMC_SDHCI_MILBEAUT arm=m
MMC_SDHCI_OF_ARASAN arm=m
MMC_SDHCI_OF_ASPEED arm=m
MMC_SDHCI_OF_AT91 arm=m
MMC_SDHCI_OF_DWCMSHC arm=m
MMC_SDHCI_OMAP arm=m
MMC_STM32_SDMMC arm=y
MOXTET arm=m
MTD_AFS_PARTS arm=m
MTD_BCM47XXSFLASH arm=m
MTD_IMPA7 arm=m
MTD_LPDDR2_NVM arm=m
MTD_NAND_BRCMNAND arm=m
MTD_NAND_CADENCE arm=m
MTD_NAND_INTEL_LGM arm=m
MTD_PHYSMAP_GEMINI arm=n
MTD_PHYSMAP_IXP4XX arm=n
MTD_PHYSMAP_VERSATILE arm=n
MTD_QINFO_PROBE arm=m
MUX_MMIO arm=m
NBPFAXI_DMA arm=m
NET_VENDOR_BROADCOM arm=y
NET_VENDOR_CHELSIO arm=y
NET_VENDOR_CIRRUS arm=y
NET_VENDOR_FARADAY arm=y
NET_VENDOR_HISILICON arm=y
NET_VENDOR_MELLANOX arm=y
NVMEM_REBOOT_MODE arm=m
OF_FPGA_REGION arm=m
OF_OVERLAY arm=y
OF_RECONFIG_NOTIFIER_ERROR_INJECT arm=m
OF_UNITTEST arm=n
OMAP2_DSS arm=m
OMAP2_DSS_DEBUG arm=n
OMAP2_DSS_DEBUGFS arm=n
OMAP2_DSS_DPI arm=y
OMAP2_DSS_DSI arm=n
OMAP2_DSS_MIN_FCK_PER_PCK arm=0
OMAP2_DSS_SDI arm=n
OMAP2_DSS_SLEEP_AFTER_VENC_RESET arm=y
OMAP2_DSS_VENC arm=y
OMAP4_DSS_HDMI arm=y
OMAP4_DSS_HDMI_CEC arm=y
OMAP5_DSS_HDMI arm=n
OPROFILE arm=m
OPTEE arm=m
OPTEE_SHM_NUM_PRIV_PAGES arm=1
PACKING arm=y
PCIE_ALTERA arm=m
PCIE_ALTERA_MSI arm=m
PCIE_BRCMSTB arm=m
PCIE_CADENCE_PLAT_EP arm=n
PCIE_CADENCE_PLAT_HOST arm=n
PCIE_MICROCHIP_HOST arm=n
PCIE_XILINX arm=n
PCI_FTPCI100 arm=n
PCI_HOST_GENERIC arm=m
PCI_J721E_EP arm=n
PCI_J721E_HOST arm=n
PCI_LAYERSCAPE arm=n
PCI_LAYERSCAPE_EP arm=n
PCI_V3_SEMI arm=n
PHY_CADENCE_DPHY arm=m
PHY_CADENCE_SALVO arm=m
PHY_CADENCE_SIERRA arm=m
PHY_CADENCE_TORRENT arm=m
PHY_FSL_IMX8MQ_USB arm=m
PHY_MAPPHONE_MDM6600 arm=m
PHY_MIXEL_MIPI_DPHY arm=m
PHY_OCELOT_SERDES arm=m
PID_IN_CONTEXTIDR arm=n
PINCTRL arm=y
PINCTRL_AXP209 arm=m
PINCTRL_BCM2835 arm=y
PINCTRL_MICROCHIP_SGPIO arm=n
PINCTRL_OCELOT arm=n
PINCTRL_RK805 arm=m
PINCTRL_SINGLE arm=m
PINCTRL_STMFX arm=m
PL320_MBOX arm=n
PL330_DMA arm=m
PL353_SMC arm=m
PLATFORM_MHU arm=m
POWER_RESET_BRCMKONA arm=n
POWER_RESET_BRCMSTB arm=n
POWER_RESET_GPIO arm=y
POWER_RESET_GPIO_RESTART arm=y
POWER_RESET_LTC2952 arm=n
POWER_RESET_REGULATOR arm=n
POWER_RESET_SYSCON arm=y
POWER_RESET_SYSCON_POWEROFF arm=y
POWER_RESET_VERSATILE arm=n
PWM_ATMEL_HLCDC_PWM arm=m
PWM_ATMEL_TCB arm=m
PWM_BCM2835 arm=m
PWM_FSL_FTM arm=m
PWM_NTXEC arm=m
PWM_RASPBERRYPI_POE arm=m
PWM_STMPE arm=n
PWRSEQ_EMMC arm=m
PWRSEQ_SD8787 arm=m
PWRSEQ_SIMPLE arm=m
QCA7000_SPI arm=m
QCA7000_UART arm=m
QCOM_PM8XXX_XOADC arm=m
QUICC_ENGINE arm=n
RAPIDIO arm=m
RASPBERRYPI_POWER arm=y
REGULATOR_ACT8945A arm=m
REGULATOR_CPCAP arm=m
REGULATOR_CROS_EC arm=m
REGULATOR_DA9121 arm=m
REGULATOR_FAN53880 arm=m
REGULATOR_HI6421 arm=m
REGULATOR_HI6421V530 arm=m
REGULATOR_HI6421V600 arm=m
REGULATOR_LP873X arm=m
REGULATOR_LP87565 arm=m
REGULATOR_MAX77650 arm=m
REGULATOR_MAX77686 arm=m
REGULATOR_MAX77802 arm=m
REGULATOR_MCP16502 arm=m
REGULATOR_MP5416 arm=m
REGULATOR_MP886X arm=m
REGULATOR_MPQ7920 arm=m
REGULATOR_PF8X00 arm=m
REGULATOR_RK808 arm=m
REGULATOR_SY8106A arm=m
REGULATOR_SY8824X arm=m
REGULATOR_SY8827N arm=m
REGULATOR_TPS65218 arm=m
REGULATOR_VCTRL arm=m
REGULATOR_VEXPRESS arm=m
RESET_INTEL_GW arm=n
RESET_RASPBERRYPI arm=m
RN5T618_ADC arm=m
RN5T618_POWER arm=m
RTC_DRV_CADENCE arm=m
RTC_DRV_CPCAP arm=m
RTC_DRV_GOLDFISH arm=m
RTC_DRV_HYM8563 arm=m
RTC_DRV_ISL12026 arm=m
RTC_DRV_MAX77686 arm=m
RTC_DRV_NTXEC arm=m
RTC_DRV_PL030 arm=m
RTC_DRV_PL031 arm=m
RTC_DRV_PM8XXX arm=m
RTC_DRV_R7301 arm=m
RTC_DRV_RC5T619 arm=m
RTC_DRV_RK808 arm=m
RTC_DRV_ZYNQMP arm=m
SD_ADC_MODULATOR arm=m
SECCOMP arm=y
SENSORS_GSC arm=m
SENSORS_OCC_P9_SBE arm=m
SENSORS_PWM_FAN arm=m
SENSORS_RASPBERRYPI_HWMON arm=m
SENSORS_VEXPRESS arm=m
SERIAL_8250_ASPEED_VUART arm=m
SERIAL_8250_BCM2835AUX arm=y
SERIAL_8250_EM arm=m
SERIAL_AMBA_PL010 arm=m
SERIAL_AMBA_PL011 arm=y
SERIAL_AMBA_PL011_CONSOLE arm=y
SERIAL_BCM63XX arm=m
SERIAL_CONEXANT_DIGICOLOR arm=m
SERIAL_EARLYCON_ARM_SEMIHOST arm=y
SERIAL_LITEUART arm=m
SERIAL_LITEUART_MAX_PORTS arm=1
SERIAL_SIFIVE arm=m
SERIO_AMBAKMI arm=m
SERIO_APBPS2 arm=m
SIMPLE_PM_BUS arm=m
SMC911X arm=m
SMC91X arm=m
SND_ARM arm=y
SND_ARMAACI arm=m
SND_AUDIO_GRAPH_CARD arm=m
SND_BCM2835 arm=m
SND_BCM2835_SOC_I2S arm=m
SND_RPI_WM8804_SOUNDCARD arm=m
SND_SOC_CPCAP arm=m
SND_SOC_CX2072X arm=m
SND_SOC_DA7213 arm=m
SND_SOC_DMIC arm=m
SND_SOC_ES8316 arm=m
SND_SOC_MAX98357A arm=m
SND_SOC_MAX98373_I2C arm=m
SND_SOC_MIKROE_PROTO arm=m
SND_SOC_RT1316_SDW arm=m
SND_SOC_RT711_SDCA_SDW arm=m
SND_SOC_RT715_SDCA_SDW arm=m
SND_SOC_SOF_OF arm=m
SOC_BRCMSTB arm=n
SPI_BCM2835 arm=m
SPI_BCM2835AUX arm=m
SPI_BCM_QSPI arm=m
SPI_CADENCE_QUADSPI arm=m
SPI_FSI arm=m
SPI_FSL_SPI arm=m
SPI_MEM arm=y
SPI_PL022 arm=m
STACKTRACE arm=y
STAGING_BOARD arm=n
STMPE_ADC arm=m
STRICT_DEVMEM arm=y
STRICT_KERNEL_RWX arm=y
STRICT_MODULE_RWX arm=y
SYSCON_REBOOT_MODE arm=m
TCG_FTPM_TEE arm=m
THERMAL_GOV_STEP_WISE arm=y
THERMAL_MMIO arm=m
THERMAL_OF arm=y
TI_ADS124S08 arm=m
TI_ADS8344 arm=m
TI_ADS8688 arm=m
TOUCHSCREEN_AR1021_I2C arm=m
TOUCHSCREEN_CHIPONE_ICN8318 arm=m
TOUCHSCREEN_COLIBRI_VF50 arm=m
TOUCHSCREEN_IMX6UL_TSC arm=m
TOUCHSCREEN_RASPBERRYPI_FW arm=m
USB_DWC2_DUAL_ROLE arm=y
USB_DWC2_HOST arm=n
USB_DWC2_PCI arm=m
USB_DWC2_PERIPHERAL arm=n
USB_DWC3_OF_SIMPLE arm=m
USB_EHCI_HCD_PLATFORM arm=m
USB_GADGET_XILINX arm=m
USB_HCD_SSB arm=m
USB_SNP_UDC_PLAT arm=m
USB_ULPI arm=y
USB_XHCI_PLATFORM arm=m
VEXPRESS_CONFIG arm=m
VF610_ADC arm=m
VF610_DAC arm=m
VFIO_AMBA arm=m
VFIO_PLATFORM arm=m
VFIO_PLATFORM_AMDXGBE_RESET arm=m
VFIO_PLATFORM_CALXEDAXGMAC_RESET arm=m
VIDEO_BCM2835 arm=m
VIDEO_IMX334 arm=m
VIDEO_MT9V011 arm=m
VIDEO_MUX arm=m
VIDEO_OV5640 arm=m
VIDEO_OV5645 arm=m
VIDEO_OV7640 arm=m
VIDEO_XILINX arm=m
VIDEO_XILINX_CSI2RXSS arm=m
VIDEO_XILINX_TPG arm=m
VIDEO_XILINX_VTC arm=m
WLCORE arm=m
XILLYBUS_OF arm=m
XZ_DEC arm=y
