
#-
#- *** FILE: arch/powerpc/Kconfig ***
#-
#- file arch/powerpc/platforms/Kconfig.cputype goes here
CONFIG_64BIT=y
CONFIG_PPC_MERGE=y
CONFIG_GENERIC_HARDIRQS=y
CONFIG_IRQ_PER_CPU=y
CONFIG_RWSEM_XCHGADD_ALGORITHM=y
CONFIG_ARCH_HAS_ILOG2_U32=y
CONFIG_ARCH_HAS_ILOG2_U64=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_GENERIC_FIND_NEXT_BIT=y
CONFIG_PPC=y
CONFIG_COMPAT=y
CONFIG_SYSVIPC_COMPAT=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_PPC_OF=y
CONFIG_PPC_UDBG_16550=y
CONFIG_GENERIC_TBSYNC=y
CONFIG_AUDIT_ARCH=y
CONFIG_GENERIC_BUG=y
# CONFIG_DEFAULT_UIMAGE is not set
# CONFIG_PPC_DCR_NATIVE is not set
CONFIG_PPC_DCR_MMIO=y
CONFIG_PPC_DCR=y
CONFIG_PPC_OF_PLATFORM_PCI=y
#- file init/Kconfig goes here
#- file arch/powerpc/sysdev/Kconfig goes here
#- file arch/powerpc/platforms/Kconfig goes here
#- file kernel/time/Kconfig goes here
#- file kernel/Kconfig.hz goes here
#- file kernel/Kconfig.preempt goes here
#- file fs/Kconfig.binfmt goes here
# CONFIG_IOMMU_VMERGE is not set
CONFIG_HOTPLUG_CPU=y
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_KEXEC=y
# CONFIG_CRASH_DUMP is not set
# CONFIG_PHYP_DUMP is not set
CONFIG_IRQ_ALL_CPUS=y
CONFIG_NUMA=y
CONFIG_NODES_SHIFT=4
CONFIG_ARCH_SELECT_MEMORY_MODEL=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_ARCH_SPARSEMEM_DEFAULT=y
CONFIG_ARCH_POPULATES_NODE_MAP=y
#- file mm/Kconfig goes here
CONFIG_ARCH_MEMORY_PROBE=y
CONFIG_NODES_SPAN_OTHER_NODES=y
# CONFIG_PPC_64K_PAGES is not set
CONFIG_FORCE_MAX_ZONEORDER=13
# CONFIG_SCHED_SMT is not set
CONFIG_PROC_DEVICETREE=y
# CONFIG_CMDLINE_BOOL is not set
#- file kernel/power/Kconfig goes here
CONFIG_SECCOMP=y
CONFIG_ISA_DMA_API=y
CONFIG_ZONE_DMA=y
CONFIG_GENERIC_ISA_DMA=y
# CONFIG_PPC_INDIRECT_PCI is not set
CONFIG_PCI_DOMAINS=y
#- file drivers/pci/pcie/Kconfig goes here
#- file drivers/pci/Kconfig goes here
#- file drivers/pcmcia/Kconfig goes here
#- file drivers/pci/hotplug/Kconfig goes here
#- file drivers/rapidio/Kconfig goes here
#- Default settings for advanced configuration options are used
CONFIG_KERNEL_START=0xc000000000000000
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/powerpc/sysdev/qe_lib/Kconfig goes here
#- file lib/Kconfig goes here
#- file arch/powerpc/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file arch/powerpc/kvm/Kconfig goes here

#-
#- *** FILE: arch/powerpc/Kconfig.debug ***
#-
#- file lib/Kconfig.debug goes here
# CONFIG_DEBUG_STACKOVERFLOW is not set
# CONFIG_DEBUG_STACK_USAGE is not set
CONFIG_DEBUGGER=y
CONFIG_XMON=y
# CONFIG_XMON_DEFAULT is not set
CONFIG_XMON_DISASSEMBLY=y
CONFIG_BOOTX_TEXT=y
# CONFIG_PPC_EARLY_DEBUG is not set

#-
#- *** FILE: arch/powerpc/kvm/Kconfig ***
#-
CONFIG_VIRTUALIZATION=y
#- file drivers/virtio/Kconfig goes here

#-
#- *** FILE: arch/powerpc/platforms/Kconfig ***
#-
CONFIG_PPC_MULTIPLATFORM=y
#- file arch/powerpc/platforms/pseries/Kconfig goes here
#- file arch/powerpc/platforms/iseries/Kconfig goes here
#- file arch/powerpc/platforms/chrp/Kconfig goes here
#- file arch/powerpc/platforms/512x/Kconfig goes here
#- file arch/powerpc/platforms/52xx/Kconfig goes here
#- file arch/powerpc/platforms/powermac/Kconfig goes here
#- file arch/powerpc/platforms/prep/Kconfig goes here
#- file arch/powerpc/platforms/maple/Kconfig goes here
#- file arch/powerpc/platforms/pasemi/Kconfig goes here
#- file arch/powerpc/platforms/ps3/Kconfig goes here
#- file arch/powerpc/platforms/cell/Kconfig goes here
#- file arch/powerpc/platforms/8xx/Kconfig goes here
#- file arch/powerpc/platforms/82xx/Kconfig goes here
#- file arch/powerpc/platforms/83xx/Kconfig goes here
#- file arch/powerpc/platforms/85xx/Kconfig goes here
#- file arch/powerpc/platforms/86xx/Kconfig goes here
#- file arch/powerpc/platforms/embedded6xx/Kconfig goes here
#- file arch/powerpc/platforms/44x/Kconfig goes here
#- file arch/powerpc/platforms/40x/Kconfig goes here
CONFIG_PPC_NATIVE=y
CONFIG_UDBG_RTAS_CONSOLE=y
CONFIG_PPC_UDBG_BEAT=y
CONFIG_XICS=y
CONFIG_MPIC=y
# CONFIG_MPIC_WEIRD is not set
CONFIG_PPC_I8259=y
CONFIG_U3_DART=y
CONFIG_PPC_RTAS=y
CONFIG_RTAS_ERROR_LOGGING=y
CONFIG_RTAS_PROC=y
CONFIG_RTAS_FLASH=m
CONFIG_PPC_PMI=m
CONFIG_MMIO_NVRAM=y
CONFIG_IBMVIO=y
# CONFIG_IBMEBUS is not set
# CONFIG_PPC_MPC106 is not set
CONFIG_PPC_970_NAP=y
CONFIG_PPC_INDIRECT_IO=y
CONFIG_GENERIC_IOMAP=y
#- file drivers/cpufreq/Kconfig goes here
CONFIG_CPU_FREQ_PMAC64=y
CONFIG_PPC_PASEMI_CPUFREQ=y
CONFIG_AXON_RAM=m
#- file arch/powerpc/sysdev/bestcomm/Kconfig goes here

#-
#- *** FILE: arch/powerpc/platforms/Kconfig.cputype ***
#-
CONFIG_PPC64=y
# CONFIG_POWER4_ONLY is not set
CONFIG_POWER3=y
CONFIG_POWER4=y
# CONFIG_TUNE_CELL is not set
CONFIG_PPC_FPU=y
CONFIG_ALTIVEC=y
CONFIG_PPC_STD_MMU=y
CONFIG_VIRT_CPU_ACCOUNTING=y
CONFIG_NR_CPUS=32

#-
#- *** FILE: arch/powerpc/platforms/cell/Kconfig ***
#-
CONFIG_PPC_CELL=y
CONFIG_PPC_CELL_NATIVE=y
CONFIG_PPC_IBM_CELL_BLADE=y
CONFIG_PPC_CELLEB=y
CONFIG_SPU_FS=m
CONFIG_SPU_FS_64K_LS=y
CONFIG_SPU_BASE=y
CONFIG_CBE_RAS=y
CONFIG_CBE_THERM=m
CONFIG_CBE_CPUFREQ=m
CONFIG_CBE_CPUFREQ_PMI=m

#-
#- *** FILE: arch/powerpc/platforms/iseries/Kconfig ***
#-
CONFIG_PPC_ISERIES=y
# CONFIG_VIOCONS is not set
# CONFIG_VIODASD is not set
# CONFIG_VIOCD is not set
# CONFIG_VIOTAPE is not set

#-
#- *** FILE: arch/powerpc/platforms/maple/Kconfig ***
#-
CONFIG_PPC_MAPLE=y

#-
#- *** FILE: arch/powerpc/platforms/pasemi/Kconfig ***
#-
CONFIG_PPC_PASEMI=y
# CONFIG_PPC_PASEMI_IOMMU is not set
CONFIG_PPC_PASEMI_MDIO=m

#-
#- *** FILE: arch/powerpc/platforms/powermac/Kconfig ***
#-
CONFIG_PPC_PMAC=y
CONFIG_PPC_PMAC64=y

#-
#- *** FILE: arch/powerpc/platforms/ps3/Kconfig ***
#-
CONFIG_PPC_PS3=y
# CONFIG_PS3_ADVANCED is not set
CONFIG_PS3_HTAB_SIZE=20
# CONFIG_PS3_DYNAMIC_DMA is not set
CONFIG_PS3_VUART=y
CONFIG_PS3_PS3AV=y
CONFIG_PS3_SYS_MANAGER=y
CONFIG_PS3_DISK=m
CONFIG_PS3_ROM=m
CONFIG_PS3_FLASH=m
CONFIG_PS3_LPM=m

#-
#- *** FILE: arch/powerpc/platforms/pseries/Kconfig ***
#-
CONFIG_PPC_PSERIES=y
# CONFIG_PPC_SPLPAR is not set
CONFIG_EEH=y
# CONFIG_SCANLOG is not set
# CONFIG_LPARCFG is not set
