
#-
#- *** FILE: arch/arm/Kconfig ***
#-
ARM_DMA_IOMMU_ALIGNMENT arm=8
MMU arm=y
ARCH_MULTIPLATFORM arm=y
#- file arch/arm/Kconfig.platforms goes here
#- file arch/arm/mach-actions/Kconfig goes here
#- file arch/arm/mach-alpine/Kconfig goes here
#- file arch/arm/mach-artpec/Kconfig goes here
#- file arch/arm/mach-aspeed/Kconfig goes here
#- file arch/arm/mach-at91/Kconfig goes here
#- file arch/arm/mach-axxia/Kconfig goes here
#- file arch/arm/mach-bcm/Kconfig goes here
#- file arch/arm/mach-berlin/Kconfig goes here
#- file arch/arm/mach-clps711x/Kconfig goes here
#- file arch/arm/mach-davinci/Kconfig goes here
#- file arch/arm/mach-digicolor/Kconfig goes here
#- file arch/arm/mach-dove/Kconfig goes here
#- file arch/arm/mach-ep93xx/Kconfig goes here
#- file arch/arm/mach-exynos/Kconfig goes here
#- file arch/arm/mach-footbridge/Kconfig goes here
#- file arch/arm/mach-gemini/Kconfig goes here
#- file arch/arm/mach-highbank/Kconfig goes here
#- file arch/arm/mach-hisi/Kconfig goes here
#- file arch/arm/mach-imx/Kconfig goes here
#- file arch/arm/mach-ixp4xx/Kconfig goes here
#- file arch/arm/mach-keystone/Kconfig goes here
#- file arch/arm/mach-lpc32xx/Kconfig goes here
#- file arch/arm/mach-mediatek/Kconfig goes here
#- file arch/arm/mach-meson/Kconfig goes here
#- file arch/arm/mach-milbeaut/Kconfig goes here
#- file arch/arm/mach-mmp/Kconfig goes here
#- file arch/arm/mach-mstar/Kconfig goes here
#- file arch/arm/mach-mv78xx0/Kconfig goes here
#- file arch/arm/mach-mvebu/Kconfig goes here
#- file arch/arm/mach-mxs/Kconfig goes here
#- file arch/arm/mach-nomadik/Kconfig goes here
#- file arch/arm/mach-npcm/Kconfig goes here
#- file arch/arm/mach-omap1/Kconfig goes here
#- file arch/arm/mach-omap2/Kconfig goes here
#- file arch/arm/mach-orion5x/Kconfig goes here
#- file arch/arm/mach-pxa/Kconfig goes here
#- file arch/arm/mach-qcom/Kconfig goes here
#- file arch/arm/mach-realtek/Kconfig goes here
#- file arch/arm/mach-rpc/Kconfig goes here
#- file arch/arm/mach-rockchip/Kconfig goes here
#- file arch/arm/mach-s3c/Kconfig goes here
#- file arch/arm/mach-s5pv210/Kconfig goes here
#- file arch/arm/mach-sa1100/Kconfig goes here
#- file arch/arm/mach-shmobile/Kconfig goes here
#- file arch/arm/mach-socfpga/Kconfig goes here
#- file arch/arm/mach-spear/Kconfig goes here
#- file arch/arm/mach-sti/Kconfig goes here
#- file arch/arm/mach-stm32/Kconfig goes here
#- file arch/arm/mach-sunxi/Kconfig goes here
#- file arch/arm/mach-tegra/Kconfig goes here
#- file arch/arm/mach-ux500/Kconfig goes here
#- file arch/arm/mach-versatile/Kconfig goes here
#- file arch/arm/mach-vt8500/Kconfig goes here
#- file arch/arm/mach-zynq/Kconfig goes here
#- file arch/arm/mm/Kconfig goes here
#- file arch/arm/Kconfig-nommu goes here
ARM_ERRATA_411920 arm=y
ARM_ERRATA_430973 arm=y
ARM_ERRATA_643719 arm=y
ARM_ERRATA_720789 arm=y
ARM_ERRATA_754322 arm=y
ARM_ERRATA_754327 arm=y
ARM_ERRATA_764369 arm=y
ARM_ERRATA_764319 arm=n
ARM_ERRATA_775420 arm=y
ARM_ERRATA_798181 arm=y
ARM_ERRATA_773022 arm=y
ARM_ERRATA_818325_852422 arm=y
ARM_ERRATA_821420 arm=y
ARM_ERRATA_825619 arm=y
ARM_ERRATA_857271 arm=y
ARM_ERRATA_852421 arm=y
ARM_ERRATA_852423 arm=y
ARM_ERRATA_857272 arm=y
#- file arch/arm/common/Kconfig goes here
ARM_ERRATA_814220 arm=y
SMP arm=y
SMP_ON_UP arm=y
ARM_CPU_TOPOLOGY arm=y
HAVE_ARM_ARCH_TIMER arm=y
MCPM arm=n
BIG_LITTLE arm=n
VMSPLIT_3G arm=n
VMSPLIT_3G_OPT arm=n
VMSPLIT_2G arm=y
VMSPLIT_1G arm=n
NR_CPUS arm=32
HOTPLUG_CPU arm=y
ARM_PSCI arm=y
HZ_200 arm=n
HZ_500 arm=n
THUMB2_KERNEL arm=n
ARM_PATCH_IDIV arm=y
OABI_COMPAT arm=n
HIGHMEM arm=y
HIGHPTE arm=y
ARM_PAN arm=y
CPU_SW_DOMAIN_PAN arm=y
ARM_MODULE_PLTS arm=y
ARCH_FORCE_MAX_ORDER arm=10
UACCESS_WITH_MEMCPY arm=y
PARAVIRT arm=y
PARAVIRT_TIME_ACCOUNTING arm=y
XEN arm=y
STACKPROTECTOR_PER_TASK arm=y
USE_OF arm=y
ATAGS arm=y
DEPRECATED_PARAM_STRUCT arm=n
ZBOOT_ROM_TEXT arm=0x0
ZBOOT_ROM_BSS arm=0x0
ARM_APPENDED_DTB arm=n
CMDLINE arm=""
ATAGS_PROC arm=y
AUTO_ZRELADDR arm=y
EFI arm=n
#- file drivers/cpufreq/Kconfig goes here
#- file drivers/cpuidle/Kconfig goes here
#- At least one emulation must be selected
VFP arm=y
NEON arm=y
KERNEL_MODE_NEON arm=y
#- file kernel/power/Kconfig goes here

#-
#- *** FILE: arch/arm/Kconfig.platforms ***
#-
#- CPU Core family selection
ARCH_MULTI_V6 armv6l=y armv6hl=y armv7l=n armv7hl=n armv7hnl=n
ARCH_MULTI_V7 armv6l=y armv6hl=y armv7l=y armv7hl=y armv7hnl=y
ARCH_VIRT arm=n
ARCH_AIROHA arm=n
ARCH_HPE arm=n
ARCH_RDA arm=n
ARCH_SUNPLUS arm=n
ARCH_UNIPHIER arm=n

#-
#- *** FILE: arch/arm/mach-actions/Kconfig ***
#-
ARCH_ACTIONS arm=n

#-
#- *** FILE: arch/arm/mach-alpine/Kconfig ***
#-
ARCH_ALPINE arm=n

#-
#- *** FILE: arch/arm/mach-artpec/Kconfig ***
#-
ARCH_ARTPEC arm=n

#-
#- *** FILE: arch/arm/mach-aspeed/Kconfig ***
#-
ARCH_ASPEED arm=n

#-
#- *** FILE: arch/arm/mach-at91/Kconfig ***
#-
ARCH_AT91 arm=n
#- Clocksource driver selection

#-
#- *** FILE: arch/arm/mach-bcm/Kconfig ***
#-
ARCH_BCM arm=y
#- IPROC architected SoCs
ARCH_BCM_CYGNUS arm=n
ARCH_BCM_HR2 arm=n
ARCH_BCM_NSP arm=n
ARCH_BCM_5301X arm=n
#- KONA architected SoCs
ARCH_BCM_281XX arm=n
ARCH_BCM_21664 arm=n
ARCH_BCM_23550 arm=n
#- Other Architectures
ARCH_BCM2835 arm=y
ARCH_BCM_53573 arm=n
ARCH_BRCMSTB arm=n
ARCH_BCMBCA arm=n
#- BCMBCA sub platforms

#-
#- *** FILE: arch/arm/mach-berlin/Kconfig ***
#-
ARCH_BERLIN arm=n

#-
#- *** FILE: arch/arm/mach-digicolor/Kconfig ***
#-
ARCH_DIGICOLOR arm=n

#-
#- *** FILE: arch/arm/mach-dove/Kconfig ***
#-
ARCH_DOVE arm=n

#-
#- *** FILE: arch/arm/mach-ep93xx/Kconfig ***
#-
ARCH_EP93XX arm=n

#-
#- *** FILE: arch/arm/mach-exynos/Kconfig ***
#-
ARCH_EXYNOS arm=n
#- Exynos SoCs

#-
#- *** FILE: arch/arm/mach-footbridge/Kconfig ***
#-
ARCH_FOOTBRIDGE arm=n

#-
#- *** FILE: arch/arm/mach-highbank/Kconfig ***
#-
ARCH_HIGHBANK arm=n

#-
#- *** FILE: arch/arm/mach-hisi/Kconfig ***
#-
ARCH_HISI arm=n

#-
#- *** FILE: arch/arm/mach-imx/Kconfig ***
#-
ARCH_MXC arm=n
#- ARM1136 platforms
#- Cortex-A platforms
#- Cortex-A/Cortex-M asymmetric multiprocessing platforms

#-
#- *** FILE: arch/arm/mach-ixp4xx/Kconfig ***
#-
ARCH_IXP4XX arm=n

#-
#- *** FILE: arch/arm/mach-keystone/Kconfig ***
#-
ARCH_KEYSTONE arm=n

#-
#- *** FILE: arch/arm/mach-mediatek/Kconfig ***
#-
ARCH_MEDIATEK arm=n

#-
#- *** FILE: arch/arm/mach-meson/Kconfig ***
#-
ARCH_MESON arm=n

#-
#- *** FILE: arch/arm/mach-milbeaut/Kconfig ***
#-
ARCH_MILBEAUT arm=n

#-
#- *** FILE: arch/arm/mach-mmp/Kconfig ***
#-
ARCH_MMP arm=n

#-
#- *** FILE: arch/arm/mach-mstar/Kconfig ***
#-
ARCH_MSTARV7 arm=n

#-
#- *** FILE: arch/arm/mach-mvebu/Kconfig ***
#-
ARCH_MVEBU arm=y
MACH_ARMADA_370 arm=n
MACH_ARMADA_375 arm=n
MACH_ARMADA_38X arm=y
MACH_ARMADA_39X arm=n
MACH_ARMADA_XP arm=n
MACH_DOVE arm=n

#-
#- *** FILE: arch/arm/mach-npcm/Kconfig ***
#-
ARCH_NPCM arm=n

#-
#- *** FILE: arch/arm/mach-omap1/Kconfig ***
#-
ARCH_OMAP1 arm=n
#- OMAP Core Type
#- OMAP Feature Selections
#- OMAP Board Type

#-
#- *** FILE: arch/arm/mach-omap2/Kconfig ***
#-
ARCH_OMAP2 arm=n
ARCH_OMAP3 arm=n
ARCH_OMAP4 arm=n
SOC_OMAP5 arm=n
SOC_AM33XX arm=n
SOC_AM43XX arm=n
SOC_DRA7XX arm=n
#- OMAP Core Type
#- OMAP Legacy Platform Data Board Type

#-
#- *** FILE: arch/arm/mach-pxa/Kconfig ***
#-
ARCH_PXA arm=n
#- Legacy board files

#-
#- *** FILE: arch/arm/mach-qcom/Kconfig ***
#-
ARCH_QCOM arm=n

#-
#- *** FILE: arch/arm/mach-realtek/Kconfig ***
#-
ARCH_REALTEK arm=n

#-
#- *** FILE: arch/arm/mach-rockchip/Kconfig ***
#-
ARCH_ROCKCHIP arm=n

#-
#- *** FILE: arch/arm/mach-rpc/Kconfig ***
#-
ARCH_RPC arm=n

#-
#- *** FILE: arch/arm/mach-s3c/Kconfig.s3c64xx ***
#-
ARCH_S3C64XX arm=n

#-
#- *** FILE: arch/arm/mach-s5pv210/Kconfig ***
#-
ARCH_S5PV210 arm=n

#-
#- *** FILE: arch/arm/mach-sa1100/Kconfig ***
#-
ARCH_SA1100 arm=n

#-
#- *** FILE: arch/arm/mach-shmobile/Kconfig ***
#-
ARCH_RENESAS arm=n

#-
#- *** FILE: arch/arm/mach-socfpga/Kconfig ***
#-
ARCH_INTEL_SOCFPGA arm=n

#-
#- *** FILE: arch/arm/mach-spear/Kconfig ***
#-
PLAT_SPEAR arm=n

#-
#- *** FILE: arch/arm/mach-sti/Kconfig ***
#-
ARCH_STI arm=n

#-
#- *** FILE: arch/arm/mach-stm32/Kconfig ***
#-
ARCH_STM32 arm=n

#-
#- *** FILE: arch/arm/mach-sunxi/Kconfig ***
#-
ARCH_SUNXI arm=n

#-
#- *** FILE: arch/arm/mach-tegra/Kconfig ***
#-
ARCH_TEGRA arm=n

#-
#- *** FILE: arch/arm/mach-ux500/Kconfig ***
#-
ARCH_U8500 arm=n

#-
#- *** FILE: arch/arm/mach-versatile/Kconfig ***
#-
ARCH_INTEGRATOR arm=n
ARCH_REALVIEW arm=n
ARCH_VEXPRESS arm=n

#-
#- *** FILE: arch/arm/mach-vt8500/Kconfig ***
#-
ARCH_WM8750 arm=n
ARCH_WM8850 arm=n

#-
#- *** FILE: arch/arm/mach-zynq/Kconfig ***
#-
ARCH_ZYNQ arm=n

#-
#- *** FILE: arch/arm/mm/Kconfig ***
#-
#- Processor Type
#- Processor Features
ARM_LPAE arm=n
ARM_THUMBEE arm=n
SWP_EMULATE arm=y
CPU_LITTLE_ENDIAN arm=y
CPU_BIG_ENDIAN arm=n
CPU_ICACHE_DISABLE arm=n
CPU_ICACHE_MISMATCH_WORKAROUND arm=y
CPU_DCACHE_DISABLE arm=n
CPU_BPREDICT_DISABLE arm=n
KUSER_HELPERS arm=y
VDSO arm=y
CACHE_FEROCEON_L2 arm=y
CACHE_FEROCEON_L2_WRITETHROUGH arm=n
CACHE_L2X0 arm=y
CACHE_L2X0_PMU arm=n
PL310_ERRATA_588369 arm=y
PL310_ERRATA_727915 arm=y
PL310_ERRATA_753970 arm=y
PL310_ERRATA_769419 arm=y
DEBUG_ALIGN_RODATA arm=y

#-
#- *** FILE: drivers/cpufreq/Kconfig ***
#-
CPU_FREQ_GOV_PERFORMANCE arm=y
#- CPU frequency scaling drivers
#- file drivers/cpufreq/Kconfig.x86 goes here
#- file drivers/cpufreq/Kconfig.arm goes here
#- file drivers/cpufreq/Kconfig.powerpc goes here

#-
#- *** FILE: drivers/cpufreq/Kconfig.arm ***
#-
ARM_ARMADA_37XX_CPUFREQ arm=m
ARM_ARMADA_8K_CPUFREQ arm=m
ARM_SCPI_CPUFREQ arm=m
ARM_RASPBERRYPI_CPUFREQ arm=m

#-
#- *** FILE: drivers/cpuidle/Kconfig.arm ***
#-
ARM_CPUIDLE arm=y
ARM_PSCI_CPUIDLE arm=n
ARM_HIGHBANK_CPUIDLE arm=n
ARM_MVEBU_V7_CPUIDLE arm=y

#-
#- *** PROBABLY REMOVED OPTIONS ***
#-
ATH_USER_REGD arm=y
TYPEC_EXTCON arm=n
