
#-
#- *** FILE: arch/sparc/Kconfig ***
#-
HIGHMEM sparc=y
ZONE_DMA sparc=y
GENERIC_ISA_DMA sparc=y
#- file init/Kconfig goes here
NR_CPUS sparc=32
SPARC sparc=y
SPARC32 sparc=y
SBUS sparc=y
SBUSCHAR sparc=y
SERIAL_CONSOLE sparc=y
SUN_AUXIO sparc=y
SUN_IO sparc=y
RWSEM_GENERIC_SPINLOCK sparc=y
GENERIC_FIND_NEXT_BIT sparc=y
GENERIC_HWEIGHT sparc=y
ARCH_MAY_HAVE_PC_FDC sparc=y
ARCH_HAS_ILOG2_U32 sparc=n
ARCH_HAS_ILOG2_U64 sparc=n
EMULATED_CMPXCHG sparc=y
SUN_PM sparc=y
#- file drivers/pci/Kconfig goes here
SUN_OPENPROMFS sparc=m
SPARC_LED sparc=m
#- file fs/Kconfig.binfmt goes here
#- file mm/Kconfig goes here
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file drivers/sbus/char/Kconfig goes here
UNIX98_PTY_COUNT sparc=256
#- file fs/Kconfig goes here
#- file arch/sparc/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file lib/Kconfig goes here

#-
#- *** FILE: arch/sparc/Kconfig.debug ***
#-
TRACE_IRQFLAGS_SUPPORT sparc=y
#- file lib/Kconfig.debug goes here
DEBUG_STACK_USAGE sparc=n
