
#-
#- *** FILE: arch/x86/Kconfig ***
#-
CONFIG_64BIT=y
# CONFIG_X86_32 is not set
CONFIG_X86_64=y
CONFIG_X86=y
CONFIG_GENERIC_TIME=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_ZONE_DMA=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_GENERIC_IOMAP=y
CONFIG_GENERIC_BUG=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_RWSEM_GENERIC_SPINLOCK=y
# CONFIG_ARCH_HAS_ILOG2_U32 is not set
# CONFIG_ARCH_HAS_ILOG2_U64 is not set
CONFIG_GENERIC_TIME_VSYSCALL=y
CONFIG_ZONE_DMA32=y
CONFIG_ARCH_POPULATES_NODE_MAP=y
CONFIG_AUDIT_ARCH=y
CONFIG_GENERIC_HARDIRQS=y
CONFIG_GENERIC_IRQ_PROBE=y
CONFIG_GENERIC_PENDING_IRQ=y
CONFIG_X86_HT=y
#- file init/Kconfig goes here
#- file kernel/time/Kconfig goes here
CONFIG_X86_PC=y
# CONFIG_X86_VSMP is not set
#- file arch/x86/xen/Kconfig goes here
#- file arch/x86/lguest/Kconfig goes here
#- file arch/x86/Kconfig.cpu goes here
CONFIG_HPET_TIMER=y
CONFIG_HPET_EMULATE_RTC=y
CONFIG_DMI=y
CONFIG_CALGARY_IOMMU=y
CONFIG_CALGARY_IOMMU_ENABLED_BY_DEFAULT=y
CONFIG_SWIOTLB=y
CONFIG_NR_CPUS=16
CONFIG_SCHED_SMT=y
CONFIG_SCHED_MC=y
#- file kernel/Kconfig.preempt goes here
CONFIG_X86_LOCAL_APIC=y
CONFIG_X86_IO_APIC=y
CONFIG_X86_MCE=y
CONFIG_X86_MCE_INTEL=y
CONFIG_X86_MCE_AMD=y
CONFIG_I8K=m
CONFIG_MICROCODE=m
CONFIG_MICROCODE_OLD_INTERFACE=y
CONFIG_X86_MSR=m
CONFIG_X86_CPUID=m
CONFIG_NUMA=y
#- NUMA (Summit) requires SMP, 64GB highmem support, ACPI
# CONFIG_K8_NUMA is not set
CONFIG_X86_64_ACPI_NUMA=y
# CONFIG_NUMA_EMU is not set
CONFIG_NODES_SHIFT=6
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_ARCH_MEMORY_PROBE=y
#- file mm/Kconfig goes here
CONFIG_MTRR=y
CONFIG_EFI=y
CONFIG_SECCOMP=y
#- file kernel/Kconfig.hz goes here
CONFIG_KEXEC=y
# CONFIG_CRASH_DUMP is not set
CONFIG_PHYSICAL_START=0x200000
# CONFIG_RELOCATABLE is not set
CONFIG_HOTPLUG_CPU=y
# CONFIG_COMPAT_VDSO is not set
CONFIG_ARCH_ENABLE_MEMORY_HOTPLUG=y
CONFIG_HAVE_ARCH_EARLY_PFN_TO_NID=y
#- file kernel/power/Kconfig goes here
#- file drivers/acpi/Kconfig goes here
#- file arch/x86/kernel/cpu/cpufreq/Kconfig goes here
#- file drivers/cpuidle/Kconfig goes here
CONFIG_PCI_DIRECT=y
CONFIG_PCI_MMCONFIG=y
#- file drivers/pci/pcie/Kconfig goes here
#- file drivers/pci/Kconfig goes here
CONFIG_ISA_DMA_API=y
#- file drivers/eisa/Kconfig goes here
#- file drivers/mca/Kconfig goes here
CONFIG_K8_NB=y
#- file drivers/pcmcia/Kconfig goes here
#- file drivers/pci/hotplug/Kconfig goes here
#- file fs/Kconfig.binfmt goes here
CONFIG_IA32_EMULATION=y
CONFIG_IA32_AOUT=y
CONFIG_COMPAT=y
CONFIG_SYSVIPC_COMPAT=y
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file drivers/firmware/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/x86/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file arch/x86/kvm/Kconfig goes here
#- file lib/Kconfig goes here

#-
#- *** FILE: arch/x86/Kconfig.cpu ***
#-
# CONFIG_MK8 is not set
# CONFIG_MPSC is not set
# CONFIG_MCORE2 is not set
CONFIG_GENERIC_CPU=y
CONFIG_X86_L1_CACHE_BYTES=128
CONFIG_X86_INTERNODE_CACHE_BYTES=128
CONFIG_X86_CMPXCHG=y
CONFIG_X86_L1_CACHE_SHIFT=7
CONFIG_X86_GOOD_APIC=y
CONFIG_X86_TSC=y

#-
#- *** FILE: arch/x86/Kconfig.debug ***
#-
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
#- file lib/Kconfig.debug goes here
# CONFIG_DEBUG_STACKOVERFLOW is not set
# CONFIG_DEBUG_STACK_USAGE is not set
# CONFIG_DEBUG_RODATA is not set
# CONFIG_IOMMU_DEBUG is not set

#-
#- *** FILE: arch/x86/kernel/cpu/cpufreq/Kconfig ***
#-
#- file drivers/cpufreq/Kconfig goes here
#- CPUFreq processor drivers
CONFIG_X86_ACPI_CPUFREQ=m
CONFIG_X86_POWERNOW_K8=m
CONFIG_X86_POWERNOW_K8_ACPI=y
CONFIG_X86_SPEEDSTEP_CENTRINO=m
#- shared options
# CONFIG_X86_ACPI_CPUFREQ_PROC_INTF is not set
CONFIG_X86_SPEEDSTEP_LIB=m
