#
# Power management options (ACPI, APM)
#
CONFIG_SUSPEND2_CORE=y

#
# Image Storage (you need at least one allocator)
#
CONFIG_SUSPEND2_FILE=y
CONFIG_SUSPEND2_SWAP=y

#
# General Options
#
CONFIG_SUSPEND2_CRYPTO=y
CONFIG_SUSPEND2_USERUI=y
CONFIG_SUSPEND2_DEFAULT_RESUME2=""
# CONFIG_SUSPEND2_KEEP_IMAGE is not set
# CONFIG_SUSPEND2_REPLACE_SWSUSP is not set
# CONFIG_SUSPEND2_CHECKSUM is not set
CONFIG_SUSPEND2=y

# CONFIG_PRINTK_NOSAVE is not set
