# extra options, that came if we use rhel kernel patches
CONFIG_UTRACE=y
CONFIG_VZ_FAIRSCHED=y
CONFIG_BLK_CGROUP=m
# CONFIG_DEBUG_BLK_CGROUP is not set
CONFIG_SCHED_AUTOGROUP=y
CONFIG_SYSFS_DEPRECATED_DYN=y
# CONFIG_OPTPROBES is not set
CONFIG_HAVE_OPTPROBES=y
CONFIG_MODULE_VERIFY_ELF=y
CONFIG_MODULE_SIG=y
# CONFIG_MODULE_SIG_FORCE is not set
CONFIG_CFQ_GROUP_IOSCHED=y
# CONFIG_TRACK_DIRTY_PAGES is not set
# CONFIG_COMPACTION is not set
# CONFIG_KEXEC_AUTO_RESERVE is not set
CONFIG_ACPI_HOTPLUG_MEMORY_AUTO_ONLINE=y
CONFIG_ACPI_HED=m
CONFIG_ACPI_APEI=y
CONFIG_ACPI_APEI_GHES=m
CONFIG_ACPI_APEI_EINJ=m
CONFIG_ACPI_APEI_ERST_DEBUG=m
CONFIG_X86_PCC_CPUFREQ=m
CONFIG_INTEL_IDLE=y
CONFIG_PCI_MSI_DEFAULT_ON=y
CONFIG_VZ_CHECKPOINT_ITER=y
CONFIG_VZ_EVENT=m
CONFIG_NF_CONNTRACK_SNMP=m
CONFIG_NETFILTER_XT_TARGET_AUDIT=m
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=m
# CONFIG_BRIDGE_IGMP_SNOOPING is not set
CONFIG_BLK_DEV_DRBD=m
CONFIG_DRBD_TRACE=m
CONFIG_VMWARE_BALLOON=m
CONFIG_SCSI_CXGB4_ISCSI=m
CONFIG_SCSI_BNX2X_FCOE=m
CONFIG_SCSI_HPSA=m
CONFIG_SCSI_3W_SAS=m
CONFIG_VMWARE_PVSCSI=m
CONFIG_SCSI_ISCI=m
CONFIG_DM_REPLICATOR=m
CONFIG_DM_RAID45=m
CONFIG_MACVTAP=m
CONFIG_CHELSIO_T4_DEPENDS=y
CONFIG_CHELSIO_T4=m
CONFIG_IXGBEVF=m
CONFIG_QLCNIC=m
CONFIG_BNA=m
# CONFIG_IWLWIFI_DEBUG_EXPERIMENTAL_UCODE is not set
CONFIG_CRASH=m
CONFIG_SENSORS_K10TEMP=m
CONFIG_SENSORS_PKGTEMP=m
CONFIG_SENSORS_VIA_CPUTEMP=m
CONFIG_HPWDT_NMI_DECODING=y
CONFIG_RC_CORE=m
CONFIG_RC_MAP=m
CONFIG_IR_NEC_DECODER=m
CONFIG_IR_RC5_DECODER=m
CONFIG_IR_RC6_DECODER=m
CONFIG_IR_JVC_DECODER=m
CONFIG_IR_SONY_DECODER=m
CONFIG_IR_RC5_SZ_DECODER=m
CONFIG_IR_LIRC_CODEC=m
CONFIG_IR_ENE=m
CONFIG_IR_IMON=m
CONFIG_IR_MCEUSB=m
CONFIG_IR_NUVOTON=m
CONFIG_IR_STREAMZAP=m
CONFIG_IR_WINBOND_CIR=m
CONFIG_RC_LOOPBACK=m
CONFIG_VIDEO_SAA7134_RC=y
CONFIG_VIDEO_CX18_ALSA=m
CONFIG_USB_GSPCA_BENQ=m
CONFIG_USB_GSPCA_CPIA1=m
CONFIG_USB_GSPCA_KONICA=m
CONFIG_USB_GSPCA_OV534_9=m
CONFIG_USB_GSPCA_PAC7302=m
CONFIG_USB_GSPCA_SN9C2028=m
CONFIG_USB_GSPCA_SPCA1528=m
CONFIG_USB_GSPCA_SQ930X=m
CONFIG_USB_GSPCA_STV0680=m
CONFIG_USB_GSPCA_XIRLINK_CIT=m
CONFIG_VIDEO_TLG2300=m
CONFIG_VIDEO_CX231XX_RC=y
CONFIG_DVB_USB_EC168=m
CONFIG_DVB_USB_AZ6027=m
CONFIG_DVB_USB_LME2510=m
CONFIG_DVB_NGENE=m
CONFIG_VGA_ARB_MAX_GPUS=64
CONFIG_VGA_SWITCHEROO=y
CONFIG_SND_HDA_INPUT_BEEP_MODE=1
CONFIG_SND_HDA_CODEC_HDMI=y
CONFIG_INFINIBAND_CXGB4=m
CONFIG_EDAC_I7CORE=m
CONFIG_EDAC_I7300=m
CONFIG_DRM_NOUVEAU=m
CONFIG_DRM_NOUVEAU_BACKLIGHT=y
# CONFIG_DRM_NOUVEAU_DEBUG is not set
CONFIG_DRM_I2C_CH7006=m
CONFIG_DRM_I2C_SIL164=m
CONFIG_ZRAM=m
# CONFIG_ZRAM_DEBUG is not set
CONFIG_INTEL_IPS=m
# CONFIG_QUOTA_DEBUG is not set
CONFIG_NFS_USE_LEGACY_DNS=y
CONFIG_NFS_USE_NEW_IDMAPPER=y
# CONFIG_NFSD_DEPRECATED is not set
CONFIG_CIFS_FSCACHE=y
# CONFIG_DEBUG_SECTION_MISMATCH is not set
# CONFIG_SYSRQ_DEBUG is not set
# CONFIG_LOCKUP_DETECTOR is not set
CONFIG_DEBUG_NMI_TIMEOUT=30
CONFIG_X86_DECODER_SELFTEST=y
CONFIG_SECURITY_DMESG_RESTRICT=y
# CONFIG_CRYPTO_MPILIB is not set
# CONFIG_CRYPTO_SIGNATURE_DSA is not set
CONFIG_VHOST_NET=m
CONFIG_PBG_HBA_A2=y
CONFIG_INFINIBAND_QIB=m
CONFIG_CRYPTO_GHASH_CLMUL_NI_INTEL=m

# bc must be on
#
# User resources
#
CONFIG_BEANCOUNTERS=y
CONFIG_BC_RSS_ACCOUNTING=y
CONFIG_BC_IO_ACCOUNTING=y
CONFIG_BC_IO_PRIORITY=y
CONFIG_BC_SWAP_ACCOUNTING=y
CONFIG_BC_PROC=y
CONFIG_BC_DEBUG=y
# CONFIG_BC_DEBUG_KMEM is not set
# CONFIG_BC_KEEP_UNUSED is not set
# CONFIG_BC_DEBUG_ITEMS is not set
# CONFIG_BC_UNLIMITED is not set

# xen must be on
CONFIG_XEN=y
CONFIG_XEN_MAX_DOMAIN_MEMORY=32
CONFIG_XEN_SAVE_RESTORE=y
# CONFIG_XEN_DEBUG_FS is not set
CONFIG_KVM_CLOCK=y
CONFIG_KVM_GUEST=y
CONFIG_PARAVIRT=y
# CONFIG_PARAVIRT_SPINLOCKS is not set
CONFIG_PARAVIRT_CLOCK=y
# CONFIG_PARAVIRT_DEBUG is not set

CONFIG_BLK_DEV_THROTTLING=y

# they introduce new constants not available in sourcetree
# -       rw |= (1 << BIO_RW_SYNCIO) | (1 << BIO_RW_UNPLUG);
# +       rw |= REQ_SYNC | REQ_UNPLUG;
NILFS2_FS all=n
