#
# Linux Security Model configuration
#

CONFIG_SECURITY_CAPABILITIES=m
CONFIG_SECURITY_SELINUX=y
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_SELINUX_MLS=y
CONFIG_SECURITY_SELINUX_EXTSOCKET=y
CONFIG_SECURITY_SELINUX_NSID=y
CONFIG_SECURITY_SELINUX_SELOPT=m
CONFIG_SECURITY_OWLSM=m
CONFIG_OWLSM_RLIMIT_NPROC=y
CONFIG_OWLSM_LINK=y
CONFIG_OWLSM_FD=y
CONFIG_SECURITY_DTE=m
# CONFIG_LIDS is not set
