CONFIG_ABI=y
CONFIG_ABI_SVR4=m

#
# SVR3/SVR4 based syscall support for x86: (please check one or more)
#
CONFIG_ABI_IBCS=m
CONFIG_ABI_ISC=m
CONFIG_ABI_SCO=m
CONFIG_ABI_SOLARIS=m
CONFIG_ABI_UW7=m
CONFIG_ABI_WYSE=m

#
# SVR3/SVR4 related binary format support for x86:
#
CONFIG_BINFMT_COFF=m
CONFIG_BINFMT_XOUT=m
CONFIG_BINFMT_XOUT_X286=y
CONFIG_ABI_LATE_PROBING=y
CONFIG_ABI_TRACE=y
CONFIG_ABI_UTIL=m
CONFIG_ABI_SPX=y
CONFIG_ABI_XTI=y
CONFIG_ABI_TLI_OPTMGMT=y
# CONFIG_ABI_XTI_OPTMGMT is not set
# CONFIG_ABI_SYSCALL_STATICS is not set
CONFIG_ABI_SYSCALL_MODULES=y
CONFIG_ABI_LCALL7=m
