
#-
#- *** FILE: arch/sparc/Kconfig ***
#-
CONFIG_HIGHMEM=y
CONFIG_ZONE_DMA=y
CONFIG_GENERIC_ISA_DMA=y
#- file init/Kconfig goes here
CONFIG_NR_CPUS=32
CONFIG_SPARC=y
CONFIG_SPARC32=y
CONFIG_SBUS=y
CONFIG_SBUSCHAR=y
CONFIG_SERIAL_CONSOLE=y
CONFIG_SUN_AUXIO=y
CONFIG_SUN_IO=y
CONFIG_RWSEM_GENERIC_SPINLOCK=y
CONFIG_GENERIC_FIND_NEXT_BIT=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
# CONFIG_ARCH_HAS_ILOG2_U32 is not set
# CONFIG_ARCH_HAS_ILOG2_U64 is not set
CONFIG_EMULATED_CMPXCHG=y
CONFIG_SUN_PM=y
#- file drivers/pci/Kconfig goes here
CONFIG_SUN_OPENPROMFS=m
CONFIG_SPARC_LED=m
#- file fs/Kconfig.binfmt goes here
#- file mm/Kconfig goes here
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file drivers/sbus/char/Kconfig goes here
CONFIG_UNIX98_PTY_COUNT=256
#- file fs/Kconfig goes here
#- file arch/sparc/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file lib/Kconfig goes here

#-
#- *** FILE: arch/sparc/Kconfig.debug ***
#-
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
#- file lib/Kconfig.debug goes here
# CONFIG_DEBUG_STACK_USAGE is not set
