
#-
#- *** FILE: arch/arm64/Kconfig ***
#-
#- file arch/arm64/Kconfig.platforms goes here
ARM64_ERRATUM_826319 arm64=y
ARM64_ERRATUM_827319 arm64=y
ARM64_ERRATUM_824069 arm64=y
ARM64_ERRATUM_819472 arm64=y
ARM64_ERRATUM_832075 arm64=y
ARM64_ERRATUM_834220 arm64=y
ARM64_ERRATUM_845719 arm64=y
ARM64_ERRATUM_843419 arm64=y
ARM64_ERRATUM_1024718 arm64=y
ARM64_ERRATUM_1418040 arm64=y
ARM64_ERRATUM_1165522 arm64=y
ARM64_ERRATUM_1319367 arm64=y
ARM64_ERRATUM_1530923 arm64=y
ARM64_ERRATUM_1286807 arm64=y
ARM64_ERRATUM_1463225 arm64=y
ARM64_ERRATUM_1542419 arm64=y
ARM64_ERRATUM_1508412 arm64=y
CAVIUM_ERRATUM_22375 arm64=y
CAVIUM_ERRATUM_23154 arm64=y
CAVIUM_ERRATUM_27456 arm64=y
CAVIUM_ERRATUM_30115 arm64=y
CAVIUM_TX2_ERRATUM_219 arm64=y
FUJITSU_ERRATUM_010001 arm64=y
HISILICON_ERRATUM_161600802 arm64=y
QCOM_FALKOR_ERRATUM_1003 arm64=y
QCOM_FALKOR_ERRATUM_1009 arm64=y
QCOM_QDF2400_ERRATUM_0065 arm64=y
QCOM_FALKOR_ERRATUM_E1041 arm64=y
NVIDIA_CARMEL_CNP_ERRATUM arm64=y
SOCIONEXT_SYNQUACER_PREITS arm64=y
ARM64_4K_PAGES arm64=y
ARM64_16K_PAGES arm64=n
ARM64_64K_PAGES arm64=n
ARM64_VA_BITS_39 arm64=n
ARM64_VA_BITS_48 arm64=y
CPU_BIG_ENDIAN arm64=n
CPU_LITTLE_ENDIAN arm64=y
SCHED_MC arm64=y
SCHED_SMT arm64=y
NR_CPUS arm64=32
HOTPLUG_CPU arm64=y
NUMA arm64=n
#- file kernel/Kconfig.hz goes here
PARAVIRT arm64=y
PARAVIRT_TIME_ACCOUNTING arm64=y
KEXEC arm64=y
#- Support for PE file signature verification disabled
CRASH_DUMP arm64=n
XEN arm64=y
RODATA_FULL_DEFAULT_ENABLED arm64=y
ARM64_SW_TTBR0_PAN arm64=n
ARM64_TAGGED_ADDR_ABI arm64=y
COMPAT arm64=y
KUSER_HELPERS arm64=y
ARMV8_DEPRECATED arm64=y
SWP_EMULATION arm64=y
CP15_BARRIER_EMULATION arm64=y
SETEND_EMULATION arm64=y
ARM64_HW_AFDBM arm64=y
ARM64_PAN arm64=y
ARM64_USE_LSE_ATOMICS arm64=y
ARM64_PMEM arm64=n
ARM64_RAS_EXTN arm64=y
ARM64_CNP arm64=y
ARM64_PTR_AUTH arm64=y
ARM64_AMU_EXTN arm64=y
ARM64_TLB_RANGE arm64=y
ARM64_BTI arm64=y
ARM64_BTI_KERNEL arm64=y
ARM64_E0PD arm64=y
ARCH_RANDOM arm64=y
ARM64_MTE arm64=y
ARM64_EPAN arm64=y
ARM64_SVE arm64=y
ARM64_MODULE_PLTS arm64=y
ARM64_PSEUDO_NMI arm64=n
RANDOMIZE_BASE arm64=y
RANDOMIZE_MODULE_REGION_FULL arm64=y
ARM64_ACPI_PARKING_PROTOCOL arm64=y
CMDLINE arm64=""
EFI arm64=y
DMI arm64=y
#- file kernel/power/Kconfig goes here
#- file drivers/cpuidle/Kconfig goes here
#- file drivers/cpufreq/Kconfig goes here
#- file drivers/firmware/Kconfig goes here
#- file drivers/acpi/Kconfig goes here
#- file arch/arm64/kvm/Kconfig goes here
#- file arch/arm64/crypto/Kconfig goes here

#-
#- *** FILE: arch/arm64/Kconfig.platforms ***
#-
ARCH_ACTIONS arm64=n
ARCH_SUNXI arm64=n
ARCH_ALPINE arm64=n
ARCH_APPLE arm64=n
ARCH_BCM2835 arm64=n
ARCH_BCM4908 arm64=n
ARCH_BCM_IPROC arm64=n
ARCH_BERLIN arm64=n
ARCH_BITMAIN arm64=n
ARCH_BRCMSTB arm64=n
ARCH_EXYNOS arm64=n
ARCH_SPARX5 arm64=n
ARCH_K3 arm64=n
ARCH_LAYERSCAPE arm64=n
ARCH_LG1K arm64=n
ARCH_HISI arm64=n
ARCH_KEEMBAY arm64=n
ARCH_MEDIATEK arm64=n
ARCH_MESON arm64=n
ARCH_MVEBU arm64=n
ARCH_MXC arm64=n
ARCH_QCOM arm64=n
ARCH_REALTEK arm64=n
ARCH_RENESAS arm64=n
ARCH_ROCKCHIP arm64=y
ARCH_S32 arm64=n
ARCH_SEATTLE arm64=n
ARCH_INTEL_SOCFPGA arm64=n
ARCH_SYNQUACER arm64=n
ARCH_TEGRA arm64=n
ARCH_SPRD arm64=n
ARCH_THUNDER arm64=n
ARCH_THUNDER2 arm64=n
ARCH_UNIPHIER arm64=n
ARCH_VEXPRESS arm64=n
ARCH_VISCONTI arm64=n
ARCH_XGENE arm64=n
ARCH_ZYNQMP arm64=n

#-
#- *** FILE: arch/arm64/crypto/Kconfig ***
#-
ARM64_CRYPTO arm64=y
CRYPTO_SHA256_ARM64 arm64=m
CRYPTO_SHA512_ARM64 arm64=m
CRYPTO_SHA1_ARM64_CE arm64=m
CRYPTO_SHA2_ARM64_CE arm64=m
CRYPTO_SHA512_ARM64_CE arm64=m
CRYPTO_SHA3_ARM64 arm64=m
CRYPTO_SM3_ARM64_CE arm64=m
CRYPTO_SM4_ARM64_CE arm64=m
CRYPTO_GHASH_ARM64_CE arm64=m
CRYPTO_CRCT10DIF_ARM64_CE arm64=m
CRYPTO_AES_ARM64 arm64=m
CRYPTO_AES_ARM64_CE arm64=m
CRYPTO_AES_ARM64_CE_CCM arm64=m
CRYPTO_AES_ARM64_CE_BLK arm64=m
CRYPTO_AES_ARM64_NEON_BLK arm64=m
CRYPTO_CHACHA20_NEON arm64=m
CRYPTO_POLY1305_NEON arm64=m
CRYPTO_NHPOLY1305_NEON arm64=m
CRYPTO_AES_ARM64_BS arm64=m

#-
#- *** FILE: arch/arm64/kvm/Kconfig ***
#-
#- file virt/lib/Kconfig goes here
VIRTUALIZATION arm64=y
KVM arm64=y
#- file virt/kvm/Kconfig goes here

#-
#- *** FILE: drivers/cpufreq/Kconfig ***
#-
CPU_FREQ_GOV_PERFORMANCE arm64=y
#- CPU frequency scaling drivers
CPUFREQ_DT arm64=m
#- file drivers/cpufreq/Kconfig.x86 goes here
#- file drivers/cpufreq/Kconfig.arm goes here
#- file drivers/cpufreq/Kconfig.powerpc goes here
QORIQ_CPUFREQ arm64=m

#-
#- *** FILE: drivers/cpufreq/Kconfig.arm ***
#-
ACPI_CPPC_CPUFREQ arm64=m
ARM_SCPI_CPUFREQ arm64=m

#-
#- *** FILE: drivers/cpuidle/Kconfig.arm ***
#-
ARM_CPUIDLE arm64=y
ARM_PSCI_CPUIDLE arm64=y
ARM_PSCI_CPUIDLE_DOMAIN arm64=y

#-
#- *** FILE: drivers/firmware/Kconfig ***
#-
ARM_SCMI_PROTOCOL arm64=n
ARM_SDE_INTERFACE arm64=n
#- file drivers/firmware/broadcom/Kconfig goes here
#- file drivers/firmware/google/Kconfig goes here
#- file drivers/firmware/efi/Kconfig goes here
#- file drivers/firmware/imx/Kconfig goes here
#- file drivers/firmware/meson/Kconfig goes here
#- file drivers/firmware/psci/Kconfig goes here
#- file drivers/firmware/smccc/Kconfig goes here
#- file drivers/firmware/tegra/Kconfig goes here
#- file drivers/firmware/xilinx/Kconfig goes here

#-
#- *** FILE: drivers/firmware/efi/Kconfig ***
#-
EFI_ARMSTUB_DTB_LOADER arm64=y
EFI_GENERIC_STUB_INITRD_CMDLINE_LOADER arm64=y

#-
#- *** FILE: drivers/firmware/psci/Kconfig ***
#-
ARM_PSCI_CHECKER arm64=n

#-
#- *** FILE: drivers/firmware/smccc/Kconfig ***
#-
ARM_SMCCC_SOC_ID arm64=y

#-
#- *** PROBABLY REMOVED OPTIONS ***
#-
ADI_AXI_ADC arm64=m
AHCI_CEVA arm64=m
AHCI_QORIQ arm64=m
AHCI_XGENE arm64=m
AK8974 arm64=m
ALTERA_PR_IP_CORE_PLAT arm64=m
AL_FIC arm64=n
AMBA_PL08X arm64=n
ARCH_AGILEX arm64=n
ARCH_N5X arm64=n
ARCH_STRATIX10 arm64=n
ARCH_ZX arm64=n
ARCX_ANYBUS_CONTROLLER arm64=m
ARM64_ERRATUM_858921 arm64=y
ARM64_RANDOMIZE_TEXT_OFFSET arm64=n
ARM64_RELOC_TEST arm64=m
ARM64_UAO arm64=y
ARM64_VHE arm64=y
ARM_ARCH_TIMER_EVTSTREAM arm64=y
ARM_CCI400_PMU arm64=y
ARM_CCI5xx_PMU arm64=y
ARM_CCI_PMU arm64=m
ARM_CCN arm64=m
ARM_CMN arm64=m
ARM_DMC620_PMU arm64=m
ARM_DSU_PMU arm64=m
ARM_MHU arm64=m
ARM_MHU_V2 arm64=m
ARM_PL172_MPMC arm64=m
ARM_PMU arm64=y
ARM_RK3399_DMC_DEVFREQ arm64=m
ARM_SBSA_WATCHDOG arm64=m
ARM_SMC_WATCHDOG arm64=m
ARM_SMMU arm64=m
ARM_SMMU_DISABLE_BYPASS_BY_DEFAULT arm64=y
ARM_SMMU_V3 arm64=m
ARM_SMMU_V3_PMU arm64=m
ARM_SMMU_V3_SVA arm64=n
ARM_SP805_WATCHDOG arm64=m
ARM_SPE_PMU arm64=m
ATH10K_AHB arm64=n
ATH5K_PCI arm64=y
BACKLIGHT_LED arm64=m
BATTERY_ACT8945A arm64=m
BATTERY_CPCAP arm64=m
BATTERY_LEGO_EV3 arm64=m
BCM_SBA_RAID arm64=m
BRCMSTB_GISB_ARB arm64=n
CAN_FLEXCAN arm64=m
CAN_GRCAN arm64=m
CAN_XILINXCAN arm64=m
CHARGER_DETECTOR_MAX14656 arm64=m
CHARGER_MAX77650 arm64=m
CHARGER_UCS1002 arm64=m
CLK_HSDK arm64=n
CLK_PX30 arm64=y
CLK_QORIQ arm64=n
CLK_RK3036 arm64=y
CLK_RK312X arm64=y
CLK_RK3188 arm64=y
CLK_RK322X arm64=y
CLK_RK3308 arm64=y
CLK_RK3328 arm64=y
CLK_RK3368 arm64=y
CLK_RK3399 arm64=y
CLK_RK3568 arm64=m
CLK_RV110X arm64=y
CLK_SP810 arm64=y
CLK_VEXPRESS_OSC arm64=y
CM3605 arm64=m
COMEDI_AMPLC_DIO200_ISA arm64=m
COMEDI_AMPLC_PC236_ISA arm64=m
COMEDI_AMPLC_PC263_ISA arm64=m
COMEDI_DAS08_ISA arm64=m
COMEDI_ISA_DRIVERS arm64=y
COMMON_CLK arm64=y
COMMON_CLK_AXI_CLKGEN arm64=m
COMMON_CLK_CDCE925 arm64=m
COMMON_CLK_FIXED_MMIO arm64=n
COMMON_CLK_MAX77686 arm64=m
COMMON_CLK_RK808 arm64=m
COMMON_CLK_ROCKCHIP arm64=y
COMMON_CLK_SI514 arm64=m
COMMON_CLK_SI570 arm64=m
COMMON_CLK_VC5 arm64=m
COMMON_CLK_VERSATILE arm64=y
COMMON_CLK_XGENE arm64=y
COMMON_CLK_XLNX_CLKWZRD arm64=m
CORESIGHT arm64=n
CPCAP_ADC arm64=m
CPU_FREQ_THERMAL arm64=y
CPU_IDLE_THERMAL arm64=n
CROS_EC_RPMSG arm64=m
CROS_EC_VBC arm64=m
CRYPTO_AEGIS128_SIMD arm64=y
CRYPTO_DEV_CAVIUM_ZIP arm64=m
CRYPTO_DEV_CCREE arm64=m
CRYPTO_DEV_HISI_HPRE arm64=m
CRYPTO_DEV_HISI_SEC arm64=m
CRYPTO_DEV_HISI_SEC2 arm64=m
CRYPTO_DEV_HISI_TRNG arm64=m
CRYPTO_DEV_HISI_ZIP arm64=m
CRYPTO_DEV_ROCKCHIP arm64=m
DA9062_THERMAL arm64=m
DEBUG_ALIGN_RODATA arm64=n
DEBUG_EFI arm64=n
DEBUG_PER_CPU_MAPS arm64=n
DEBUG_STACK_USAGE arm64=n
DEVFREQ_EVENT_ROCKCHIP_DFI arm64=m
DMARD06 arm64=m
DPOT_DAC arm64=m
DRM_ANALOGIX_ANX6345 arm64=m
DRM_ANALOGIX_ANX7625 arm64=m
DRM_ARCPGU arm64=m
DRM_CDNS_DSI arm64=m
DRM_CDNS_MHDP8546 arm64=m
DRM_CHIPONE_ICN6211 arm64=m
DRM_CHRONTEL_CH7033 arm64=m
DRM_DISPLAY_CONNECTOR arm64=m
DRM_DUMB_VGA_DAC arm64=m
DRM_DW_HDMI_AHB_AUDIO arm64=m
DRM_DW_HDMI_CEC arm64=m
DRM_DW_HDMI_I2S_AUDIO arm64=m
DRM_HDLCD arm64=m
DRM_HDLCD_SHOW_UNDERRUN arm64=n
DRM_HISI_KIRIN arm64=m
DRM_I2C_ADV7511_AUDIO arm64=y
DRM_I2C_ADV7511_CEC arm64=y
DRM_I2C_ADV7533 arm64=y
DRM_KOMEDA arm64=m
DRM_LIMA arm64=m
DRM_LONTIUM_LT8912B arm64=m
DRM_LONTIUM_LT9611 arm64=m
DRM_LONTIUM_LT9611UXC arm64=m
DRM_LVDS_CODEC arm64=m
DRM_MALI_DISPLAY arm64=m
DRM_MEGACHIPS_STDPXXXX_GE_B850V3_FW arm64=m
DRM_MXSFB arm64=m
DRM_NWL_MIPI_DSI arm64=m
DRM_NXP_PTN3460 arm64=m
DRM_PANEL_ABT_Y030XX067A arm64=m
DRM_PANEL_ARM_VERSATILE arm64=m
DRM_PANEL_ASUS_Z00T_TM5P5_NT35596 arm64=m
DRM_PANEL_BOE_HIMAX8279D arm64=m
DRM_PANEL_BOE_TV101WUM_NL6 arm64=m
DRM_PANEL_DSI_CM arm64=m
DRM_PANEL_ELIDA_KD35T133 arm64=m
DRM_PANEL_FEIXIN_K101_IM2BA02 arm64=m
DRM_PANEL_FEIYANG_FY07024DI26A30D arm64=m
DRM_PANEL_ILITEK_IL9322 arm64=m
DRM_PANEL_ILITEK_ILI9881C arm64=m
DRM_PANEL_INNOLUX_P079ZCA arm64=m
DRM_PANEL_JDI_LT070ME05000 arm64=m
DRM_PANEL_KHADAS_TS050 arm64=m
DRM_PANEL_KINGDISPLAY_KD097D04 arm64=m
DRM_PANEL_LEADTEK_LTK050H3146W arm64=m
DRM_PANEL_LEADTEK_LTK500HD1829 arm64=m
DRM_PANEL_LG_LB035Q02 arm64=m
DRM_PANEL_LG_LG4573 arm64=m
DRM_PANEL_LVDS arm64=m
DRM_PANEL_MANTIX_MLAF057WE51 arm64=m
DRM_PANEL_NEC_NL8048HL11 arm64=m
DRM_PANEL_NOVATEK_NT35510 arm64=m
DRM_PANEL_NOVATEK_NT36672A arm64=m
DRM_PANEL_NOVATEK_NT39016 arm64=m
DRM_PANEL_OLIMEX_LCD_OLINUXINO arm64=m
DRM_PANEL_ORISETECH_OTM8009A arm64=m
DRM_PANEL_OSD_OSD101T2587_53TS arm64=m
DRM_PANEL_PANASONIC_VVX10F034N00 arm64=m
DRM_PANEL_RAYDIUM_RM67191 arm64=m
DRM_PANEL_RAYDIUM_RM68200 arm64=m
DRM_PANEL_ROCKTECH_JH057N00900 arm64=m
DRM_PANEL_RONBO_RB070D30 arm64=m
DRM_PANEL_SAMSUNG_LD9040 arm64=m
DRM_PANEL_SAMSUNG_S6D16D0 arm64=m
DRM_PANEL_SAMSUNG_S6E3HA2 arm64=m
DRM_PANEL_SAMSUNG_S6E63J0X03 arm64=m
DRM_PANEL_SAMSUNG_S6E63M0 arm64=m
DRM_PANEL_SAMSUNG_S6E63M0_DSI arm64=m
DRM_PANEL_SAMSUNG_S6E63M0_SPI arm64=m
DRM_PANEL_SAMSUNG_S6E88A0_AMS452EF01 arm64=m
DRM_PANEL_SAMSUNG_S6E8AA0 arm64=m
DRM_PANEL_SAMSUNG_SOFEF00 arm64=m
DRM_PANEL_SEIKO_43WVF1G arm64=m
DRM_PANEL_SHARP_LQ101R1SX01 arm64=m
DRM_PANEL_SHARP_LS037V7DW01 arm64=m
DRM_PANEL_SHARP_LS043T1LE01 arm64=m
DRM_PANEL_SIMPLE arm64=m
DRM_PANEL_SITRONIX_ST7701 arm64=m
DRM_PANEL_SITRONIX_ST7703 arm64=m
DRM_PANEL_SITRONIX_ST7789V arm64=m
DRM_PANEL_SONY_ACX424AKP arm64=m
DRM_PANEL_SONY_ACX565AKM arm64=m
DRM_PANEL_TDO_TL070WSH30 arm64=m
DRM_PANEL_TPO_TD028TTEC1 arm64=m
DRM_PANEL_TPO_TD043MTEA1 arm64=m
DRM_PANEL_TPO_TPG110 arm64=m
DRM_PANEL_TRULY_NT35597_WQXGA arm64=m
DRM_PANEL_VISIONOX_RM69299 arm64=m
DRM_PANEL_XINPENG_XPP055C272 arm64=m
DRM_PANFROST arm64=m
DRM_PARADE_PS8622 arm64=m
DRM_PARADE_PS8640 arm64=m
DRM_PL111 arm64=m
DRM_RCAR_DW_HDMI arm64=m
DRM_RCAR_LVDS arm64=m
DRM_ROCKCHIP arm64=m
DRM_SII902X arm64=m
DRM_SII9234 arm64=m
DRM_SIL_SII8620 arm64=m
DRM_SIMPLE_BRIDGE arm64=m
DRM_THINE_THC63LVD1024 arm64=m
DRM_TIDSS arm64=m
DRM_TI_SN65DSI86 arm64=m
DRM_TI_TFP410 arm64=m
DRM_TI_TPD12S015 arm64=m
DRM_TOSHIBA_TC358762 arm64=m
DRM_TOSHIBA_TC358764 arm64=m
DRM_TOSHIBA_TC358767 arm64=m
DRM_TOSHIBA_TC358768 arm64=m
DRM_TOSHIBA_TC358775 arm64=m
DW_AXI_DMAC arm64=m
EDAC_BLUEFIELD arm64=m
EDAC_DMC520 arm64=m
EDAC_THUNDERX arm64=m
EDAC_XGENE arm64=m
EMAC_ROCKCHIP arm64=m
ENVELOPE_DETECTOR arm64=m
ETHERNET arm64=y
EZCHIP_NPS_MANAGEMENT_ENET arm64=m
FB_ARMCLCD arm64=m
FB_SSD1307 arm64=m
FONT_6x10 arm64=n
FONT_6x8 arm64=n
FONT_TER16x32 arm64=n
FPGA_MGR_ICE40_SPI arm64=m
FSI_MASTER_ASPEED arm64=m
FSI_NEW_DEV_NODE arm64=n
FSI_OCC arm64=m
FSI_SBEFIFO arm64=m
FSL_EDMA arm64=m
FSL_ERRATUM_A008585 arm64=y
FSL_QDMA arm64=m
FSL_RCPM arm64=n
FTM_QUADDEC arm64=m
GEMINI_ETHERNET arm64=m
GPIO_74XX_MMIO arm64=m
GPIO_ADNP arm64=m
GPIO_ALTERA arm64=m
GPIO_CADENCE arm64=m
GPIO_FTGPIO010 arm64=n
GPIO_GRGPIO arm64=m
GPIO_GW_PLD arm64=m
GPIO_HISI arm64=m
GPIO_HLWD arm64=m
GPIO_LOGICVC arm64=m
GPIO_LP87565 arm64=m
GPIO_MAX77650 arm64=m
GPIO_MLXBF arm64=m
GPIO_MLXBF2 arm64=m
GPIO_MOXTET arm64=m
GPIO_PL061 arm64=y
GPIO_SAMA5D2_PIOBU arm64=m
GPIO_SIFIVE arm64=n
GPIO_SYSCON arm64=m
GPIO_WATCHDOG arm64=m
GPIO_WCD934X arm64=m
GPIO_XGENE arm64=y
HBMC_AM654 arm64=m
HI13X1_GMAC arm64=n
HIP04_ETH arm64=m
HISILICON_ERRATUM_161010101 arm64=y
HISI_DMA arm64=m
HISI_FEMAC arm64=m
HISI_HIKEY_USB arm64=m
HISI_PMU arm64=y
HIX5HD2_GMAC arm64=m
HMS_ANYBUSS_BUS arm64=m
HMS_PROFINET arm64=m
HNS arm64=m
HNS3 arm64=m
HNS3_DCB arm64=n
HNS3_ENET arm64=m
HNS3_HCLGE arm64=m
HNS3_HCLGEVF arm64=m
HNS_DSAF arm64=m
HNS_ENET arm64=m
HT16K33 arm64=m
HVC_DCC arm64=n
HW_RANDOM_CAVIUM arm64=m
HW_RANDOM_CCTRNG arm64=m
HW_RANDOM_HISI_V2 arm64=m
HW_RANDOM_OPTEE arm64=m
I2C_ARB_GPIO_CHALLENGE arm64=m
I2C_CADENCE arm64=m
I2C_DEMUX_PINCTRL arm64=m
I2C_FSI arm64=m
I2C_HID_OF arm64=m
I2C_HID_OF_GOODIX arm64=m
I2C_HISI arm64=m
I2C_MLXBF arm64=m
I2C_MUX_GPMUX arm64=m
I2C_NOMADIK arm64=m
I2C_RK3X arm64=m
I2C_THUNDERX arm64=m
IIO_MUX arm64=m
IIO_RESCALE arm64=m
INDIRECT_PIO arm64=n
INFINIBAND_HNS arm64=m
INFINIBAND_HNS_HIP06 arm64=n
INFINIBAND_HNS_HIP08 arm64=n
INPUT_ATMEL_CAPTOUCH arm64=m
INPUT_CPCAP_PWRBUTTON arm64=m
INPUT_MAX77650_ONKEY arm64=m
INPUT_RK805_PWRKEY arm64=m
IOMMU_IO_PGTABLE_ARMV7S arm64=y
IOMMU_IO_PGTABLE_ARMV7S_SELFTEST arm64=n
IOMMU_IO_PGTABLE_LPAE arm64=y
IOMMU_IO_PGTABLE_LPAE_SELFTEST arm64=n
IO_STRICT_DEVMEM arm64=y
IRQ_POLL arm64=y
IRQ_TIME_ACCOUNTING arm64=y
ISCSI_BOOT_SYSFS arm64=m
JUMP_LABEL arm64=y
KEYBOARD_BCM arm64=m
KEYBOARD_CAP11XX arm64=m
KHADAS_MCU_FAN_THERMAL arm64=m
KPROBES arm64=y
KVM_ARM_PMU arm64=y
LCD_ILI9320 arm64=m
LEDS_AAT1290 arm64=m
LEDS_AN30259A arm64=m
LEDS_AW2013 arm64=m
LEDS_BCM6328 arm64=m
LEDS_BCM6358 arm64=m
LEDS_BLINK_LGM arm64=m
LEDS_CPCAP arm64=m
LEDS_CR0014114 arm64=m
LEDS_EL15203000 arm64=m
LEDS_IS31FL319X arm64=m
LEDS_IS31FL32XX arm64=m
LEDS_KTD2692 arm64=m
LEDS_LM3692X arm64=m
LEDS_LM3697 arm64=m
LEDS_LP55XX_COMMON arm64=m
LEDS_MAX77650 arm64=m
LEDS_MAX77693 arm64=m
LEDS_RT4505 arm64=m
LEDS_SPI_BYTE arm64=m
LEDS_SYSCON arm64=y
LIBNVDIMM arm64=m
LITEX_SOC_CONTROLLER arm64=m
LITEX_SUBREG_SIZE arm64=4
MAILBOX_TEST arm64=m
MAX5821 arm64=m
MDIO_BUS_MUX_GPIO arm64=m
MDIO_BUS_MUX_MMIOREG arm64=m
MDIO_BUS_MUX_MULTIPLEXER arm64=m
MDIO_DEVICE arm64=y
MDIO_HISI_FEMAC arm64=m
MDIO_IPQ4019 arm64=m
MDIO_IPQ8064 arm64=m
MEMTEST arm64=n
MFD_ACT8945A arm64=m
MFD_ATMEL_FLEXCOM arm64=m
MFD_ATMEL_HLCDC arm64=m
MFD_CPCAP arm64=m
MFD_GATEWORKS_GSC arm64=m
MFD_HI6421_PMIC arm64=m
MFD_HI6421_SPMI arm64=m
MFD_KHADAS_MCU arm64=m
MFD_MAX77650 arm64=m
MFD_MAX77686 arm64=m
MFD_NTXEC arm64=m
MFD_RK808 arm64=m
MFD_STMFX arm64=m
MFD_TI_LP87565 arm64=m
MFD_VEXPRESS_SYSREG arm64=y
MICROCHIP_PIT64B arm64=n
MICROCHIP_TCB_CAPTURE arm64=m
MLXBF_BOOTCTL arm64=m
MLXBF_PMC arm64=m
MLXBF_TMFIFO arm64=m
MMC_ARMMMCI arm64=m
MMC_CQHCI arm64=m
MMC_DW arm64=m
MMC_DW_BLUEFIELD arm64=m
MMC_DW_EXYNOS arm64=m
MMC_DW_HI3798CV200 arm64=m
MMC_DW_K3 arm64=m
MMC_DW_PCI arm64=m
MMC_DW_PLTFM arm64=m
MMC_DW_ROCKCHIP arm64=m
MMC_SDHCI_AM654 arm64=m
MMC_SDHCI_CADENCE arm64=m
MMC_SDHCI_MILBEAUT arm64=m
MMC_SDHCI_OF_ARASAN arm64=m
MMC_SDHCI_OF_ASPEED arm64=m
MMC_SDHCI_OF_AT91 arm64=m
MMC_SDHCI_OF_DWCMSHC arm64=m
MMC_SDHCI_OMAP arm64=m
MMC_STM32_SDMMC arm64=y
MOXTET arm64=m
MTD_AFS_PARTS arm64=m
MTD_NAND_BRCMNAND arm64=m
MTD_NAND_CADENCE arm64=m
MTD_NAND_INTEL_LGM arm64=m
MTD_NAND_ROCKCHIP arm64=m
MTD_PHYSMAP_GEMINI arm64=n
MTD_PHYSMAP_VERSATILE arm64=n
MUX_MMIO arm64=m
MV_XOR_V2 arm64=y
NDC_DIS_DYNAMIC_CACHING arm64=n
NET_VENDOR_BROADCOM arm64=y
NET_VENDOR_CHELSIO arm64=y
NET_VENDOR_HISILICON arm64=y
NET_VENDOR_MELLANOX arm64=y
NVMEM_REBOOT_MODE arm64=m
OCTEONTX2_AF arm64=m
OCTEONTX2_PF arm64=m
OCTEONTX2_VF arm64=m
OF_FPGA_REGION arm64=m
OF_OVERLAY arm64=y
OF_PMEM arm64=m
OF_RECONFIG_NOTIFIER_ERROR_INJECT arm64=m
OF_UNITTEST arm64=n
OPTEE arm64=m
OPTEE_SHM_NUM_PRIV_PAGES arm64=1
PACKING arm64=y
PCIE_AL arm64=n
PCIE_ALTERA arm64=m
PCIE_ALTERA_MSI arm64=m
PCIE_CADENCE_PLAT_EP arm64=n
PCIE_CADENCE_PLAT_HOST arm64=n
PCIE_HISI_ERR arm64=n
PCIE_KIRIN arm64=n
PCIE_LAYERSCAPE_GEN4 arm64=n
PCIE_MICROCHIP_HOST arm64=n
PCIE_ROCKCHIP_EP arm64=n
PCIE_ROCKCHIP_HOST arm64=m
PCIE_XILINX arm64=n
PCI_FTPCI100 arm64=n
PCI_HISI arm64=y
PCI_HOST_GENERIC arm64=y
PCI_HOST_THUNDER_ECAM arm64=n
PCI_HOST_THUNDER_PEM arm64=n
PCI_J721E_EP arm64=n
PCI_J721E_HOST arm64=n
PCI_XGENE arm64=y
PCI_XGENE_MSI arm64=y
PHY_CADENCE_DP arm64=m
PHY_CADENCE_DPHY arm64=m
PHY_CADENCE_SALVO arm64=m
PHY_CADENCE_SIERRA arm64=m
PHY_CADENCE_TORRENT arm64=m
PHY_FSL_IMX8MQ_USB arm64=m
PHY_MAPPHONE_MDM6600 arm64=m
PHY_MIXEL_MIPI_DPHY arm64=m
PHY_OCELOT_SERDES arm64=m
PHY_ROCKCHIP_DP arm64=m
PHY_ROCKCHIP_DPHY_RX0 arm64=m
PHY_ROCKCHIP_EMMC arm64=m
PHY_ROCKCHIP_INNO_DSIDPHY arm64=m
PHY_ROCKCHIP_INNO_HDMI arm64=m
PHY_ROCKCHIP_INNO_USB2 arm64=m
PHY_ROCKCHIP_PCIE arm64=m
PHY_ROCKCHIP_TYPEC arm64=m
PHY_ROCKCHIP_USB arm64=m
PHY_XGENE arm64=m
PID_IN_CONTEXTIDR arm64=n
PINCTRL arm64=y
PINCTRL_AXP209 arm64=m
PINCTRL_EQUILIBRIUM arm64=m
PINCTRL_MICROCHIP_SGPIO arm64=n
PINCTRL_OCELOT arm64=n
PINCTRL_RK805 arm64=m
PINCTRL_ROCKCHIP arm64=m
PINCTRL_SINGLE arm64=m
PINCTRL_STMFX arm64=m
PL320_MBOX arm64=n
PL330_DMA arm64=m
PLATFORM_MHU arm64=m
POWER_RESET_BRCMSTB arm64=n
POWER_RESET_GPIO arm64=y
POWER_RESET_GPIO_RESTART arm64=y
POWER_RESET_LTC2952 arm64=n
POWER_RESET_REGULATOR arm64=n
POWER_RESET_SYSCON arm64=y
POWER_RESET_SYSCON_POWEROFF arm64=y
POWER_RESET_VEXPRESS arm64=y
POWER_RESET_XGENE arm64=y
PWM_ATMEL_HLCDC_PWM arm64=m
PWM_ATMEL_TCB arm64=m
PWM_FSL_FTM arm64=m
PWM_NTXEC arm64=m
PWM_ROCKCHIP arm64=m
PWM_STMPE arm64=n
PWRSEQ_EMMC arm64=m
PWRSEQ_SD8787 arm64=m
PWRSEQ_SIMPLE arm64=m
QCA7000_SPI arm64=m
QCA7000_UART arm64=m
QORIQ_THERMAL arm64=m
QUICC_ENGINE arm64=n
RAPIDIO arm64=m
REGULATOR_ACT8945A arm64=m
REGULATOR_CPCAP arm64=m
REGULATOR_CROS_EC arm64=m
REGULATOR_DA9121 arm64=m
REGULATOR_FAN53880 arm64=m
REGULATOR_HI6421 arm64=m
REGULATOR_HI6421V530 arm64=m
REGULATOR_HI6421V600 arm64=m
REGULATOR_LP873X arm64=m
REGULATOR_LP87565 arm64=m
REGULATOR_MAX77650 arm64=m
REGULATOR_MAX77686 arm64=m
REGULATOR_MAX77802 arm64=m
REGULATOR_MCP16502 arm64=m
REGULATOR_MP5416 arm64=m
REGULATOR_MP886X arm64=m
REGULATOR_MPQ7920 arm64=m
REGULATOR_PF8X00 arm64=m
REGULATOR_RK808 arm64=m
REGULATOR_SY8106A arm64=m
REGULATOR_SY8824X arm64=m
REGULATOR_SY8827N arm64=m
REGULATOR_TPS65218 arm64=m
REGULATOR_VCTRL arm64=m
REGULATOR_VEXPRESS arm64=m
RESET_INTEL_GW arm64=n
RN5T618_ADC arm64=m
RN5T618_POWER arm64=m
ROCKCHIP_ANALOGIX_DP arm64=y
ROCKCHIP_CDN_DP arm64=y
ROCKCHIP_DW_HDMI arm64=y
ROCKCHIP_DW_MIPI_DSI arm64=y
ROCKCHIP_EFUSE arm64=m
ROCKCHIP_INNO_HDMI arm64=y
ROCKCHIP_IODOMAIN arm64=m
ROCKCHIP_IOMMU arm64=y
ROCKCHIP_LVDS arm64=y
ROCKCHIP_MBOX arm64=y
ROCKCHIP_OTP arm64=m
ROCKCHIP_PM_DOMAINS arm64=y
ROCKCHIP_RGB arm64=y
ROCKCHIP_RK3066_HDMI arm64=n
ROCKCHIP_SARADC arm64=m
ROCKCHIP_THERMAL arm64=m
RTC_DRV_CADENCE arm64=m
RTC_DRV_CPCAP arm64=m
RTC_DRV_GOLDFISH arm64=m
RTC_DRV_HYM8563 arm64=m
RTC_DRV_ISL12026 arm64=m
RTC_DRV_MAX77686 arm64=m
RTC_DRV_NTXEC arm64=m
RTC_DRV_PL030 arm64=m
RTC_DRV_PL031 arm64=m
RTC_DRV_R7301 arm64=m
RTC_DRV_RC5T619 arm64=m
RTC_DRV_RK808 arm64=m
RTC_DRV_SNVS arm64=m
RTC_DRV_ZYNQMP arm64=m
SCSI_HISI_SAS arm64=m
SCSI_HISI_SAS_DEBUGFS_DEFAULT_ENABLE arm64=n
SCSI_HISI_SAS_PCI arm64=m
SD_ADC_MODULATOR arm64=m
SECCOMP arm64=y
SENSORS_GSC arm64=m
SENSORS_OCC_P9_SBE arm64=m
SENSORS_PWM_FAN arm64=m
SENSORS_VEXPRESS arm64=m
SERIAL_8250_ASPEED_VUART arm64=m
SERIAL_AMBA_PL010 arm64=m
SERIAL_AMBA_PL011 arm64=m
SERIAL_CONEXANT_DIGICOLOR arm64=m
SERIAL_EARLYCON_ARM_SEMIHOST arm64=y
SERIAL_LITEUART arm64=m
SERIAL_LITEUART_MAX_PORTS arm64=1
SERIAL_SIFIVE arm64=m
SERIO_AMBAKMI arm64=m
SERIO_APBPS2 arm64=m
SIMPLE_PM_BUS arm64=m
SMC91X arm64=m
SND_AUDIO_GRAPH_CARD arm64=m
SND_RPI_WM8804_SOUNDCARD arm64=m
SND_SOC_CPCAP arm64=m
SND_SOC_CX2072X arm64=m
SND_SOC_DA7213 arm64=m
SND_SOC_DMIC arm64=m
SND_SOC_ES8316 arm64=m
SND_SOC_INTEL_KEEMBAY arm64=m
SND_SOC_MAX98357A arm64=m
SND_SOC_MAX98373_I2C arm64=m
SND_SOC_MIKROE_PROTO arm64=m
SND_SOC_RK3288_HDMI_ANALOG arm64=m
SND_SOC_RK3399_GRU_SOUND arm64=m
SND_SOC_ROCKCHIP arm64=m
SND_SOC_ROCKCHIP_I2S arm64=m
SND_SOC_ROCKCHIP_MAX98090 arm64=m
SND_SOC_ROCKCHIP_PDM arm64=m
SND_SOC_ROCKCHIP_RT5645 arm64=m
SND_SOC_ROCKCHIP_SPDIF arm64=m
SND_SOC_RT1316_SDW arm64=m
SND_SOC_RT711_SDCA_SDW arm64=m
SND_SOC_RT715_SDCA_SDW arm64=m
SND_SOC_SOF_IMX_TOPLEVEL arm64=n
SND_SOC_SOF_OF arm64=m
SOC_BRCMSTB arm64=n
SPI_CADENCE_QUADSPI arm64=m
SPI_FSI arm64=m
SPI_FSL_SPI arm64=m
SPI_HISI_KUNPENG arm64=m
SPI_HISI_SFC_V3XX arm64=m
SPI_MEM arm64=y
SPI_PL022 arm64=m
SPI_THUNDERX arm64=m
STACKTRACE arm64=y
STAGING_BOARD arm64=n
STMPE_ADC arm64=m
STRICT_DEVMEM arm64=y
SYSCON_REBOOT_MODE arm64=m
TCG_FTPM_TEE arm64=m
THERMAL_GOV_STEP_WISE arm64=y
THERMAL_MMIO arm64=m
THERMAL_OF arm64=y
TI_ADS124S08 arm64=m
TI_ADS8344 arm64=m
TI_ADS8688 arm64=m
TOUCHSCREEN_AR1021_I2C arm64=m
TOUCHSCREEN_CHIPONE_ICN8318 arm64=m
TOUCHSCREEN_COLIBRI_VF50 arm64=m
TOUCHSCREEN_IMX6UL_TSC arm64=m
USB_DWC3_OF_SIMPLE arm64=m
USB_EHCI_HCD_PLATFORM arm64=m
USB_GADGET_XILINX arm64=m
USB_HCD_SSB arm64=m
USB_SNP_UDC_PLAT arm64=m
USB_ULPI arm64=y
USB_XHCI_PLATFORM arm64=m
VEXPRESS_CONFIG arm64=y
VEXPRESS_SYSCFG arm64=y
VF610_ADC arm64=m
VF610_DAC arm64=m
VFIO_AMBA arm64=m
VFIO_PLATFORM arm64=m
VFIO_PLATFORM_AMDXGBE_RESET arm64=m
VFIO_PLATFORM_CALXEDAXGMAC_RESET arm64=m
VIDEO_HANTRO arm64=m
VIDEO_HANTRO_ROCKCHIP arm64=y
VIDEO_IMX334 arm64=m
VIDEO_MT9V011 arm64=m
VIDEO_MUX arm64=m
VIDEO_OV5640 arm64=m
VIDEO_OV5645 arm64=m
VIDEO_OV7640 arm64=m
VIDEO_ROCKCHIP_ISP1 arm64=m
VIDEO_ROCKCHIP_RGA arm64=m
VIDEO_ROCKCHIP_VDEC arm64=m
VIDEO_XILINX arm64=m
VIDEO_XILINX_CSI2RXSS arm64=m
VIDEO_XILINX_TPG arm64=m
VIDEO_XILINX_VTC arm64=m
VIRTIO_IOMMU arm64=n
WLCORE arm64=m
XILINX_DMA arm64=m
XILINX_ZYNQMP_DMA arm64=m
XILLYBUS_OF arm64=m
XZ_DEC arm64=y
