
#-
#- *** FILE: arch/sparc64/Kconfig ***
#-
CONFIG_SPARC=y
CONFIG_SPARC64=y
CONFIG_GENERIC_TIME=y
CONFIG_GENERIC_CLOCKEVENTS=y
CONFIG_64BIT=y
CONFIG_QUICKLIST=y
CONFIG_STACKTRACE_SUPPORT=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
# CONFIG_ARCH_HAS_ILOG2_U32 is not set
# CONFIG_ARCH_HAS_ILOG2_U64 is not set
CONFIG_AUDIT_ARCH=y
CONFIG_SPARC64_PAGE_SIZE_8KB=y
# CONFIG_SPARC64_PAGE_SIZE_64KB is not set
# CONFIG_SPARC64_PAGE_SIZE_512KB is not set
# CONFIG_SPARC64_PAGE_SIZE_4MB is not set
CONFIG_SECCOMP=y
#- file kernel/Kconfig.hz goes here
CONFIG_HOTPLUG_CPU=y
#- file init/Kconfig goes here
CONFIG_GENERIC_HARDIRQS=y
#- file kernel/time/Kconfig goes here
CONFIG_NR_CPUS=64
#- file drivers/cpufreq/Kconfig goes here
CONFIG_US3_FREQ=m
CONFIG_US2E_FREQ=m
CONFIG_RWSEM_XCHGADD_ALGORITHM=y
CONFIG_GENERIC_FIND_NEXT_BIT=y
CONFIG_GENERIC_HWEIGHT=y
CONFIG_HUGETLB_PAGE_SIZE_4MB=y
# CONFIG_HUGETLB_PAGE_SIZE_512K is not set
# CONFIG_HUGETLB_PAGE_SIZE_64K is not set
CONFIG_NUMA=y
CONFIG_ARCH_SELECT_MEMORY_MODEL=y
CONFIG_ARCH_SPARSEMEM_ENABLE=y
CONFIG_ARCH_SPARSEMEM_DEFAULT=y
#- file mm/Kconfig goes here
CONFIG_SBUS=y
CONFIG_SBUSCHAR=y
CONFIG_SUN_AUXIO=y
CONFIG_SUN_IO=y
CONFIG_SUN_LDOMS=y
CONFIG_PCI_DOMAINS=y
#- file drivers/pci/Kconfig goes here
CONFIG_SUN_OPENPROMFS=m
#- file fs/Kconfig.binfmt goes here
CONFIG_COMPAT=y
CONFIG_SYSVIPC_COMPAT=y
CONFIG_SCHED_SMT=y
CONFIG_SCHED_MC=y
#- file kernel/Kconfig.preempt goes here
# CONFIG_CMDLINE_BOOL is not set
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file drivers/sbus/char/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/sparc64/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file lib/Kconfig goes here

#-
#- *** FILE: arch/sparc64/Kconfig.debug ***
#-
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
#- file lib/Kconfig.debug goes here
# CONFIG_DEBUG_STACK_USAGE is not set
# CONFIG_DEBUG_DCFLUSH is not set
# CONFIG_STACK_DEBUG is not set

#-
#- *** FILE: block/Kconfig ***
#-
CONFIG_LBD=y
CONFIG_LSF=y
#- file block/Kconfig.iosched goes here

#-
#- *** FILE: drivers/ata/Kconfig ***
#-
# CONFIG_ATA_NONSTANDARD is not set

#-
#- *** FILE: drivers/atm/Kconfig ***
#-
# CONFIG_ATM_ENI_DEBUG is not set
# CONFIG_ATM_ENI_TUNE_BURST is not set
# CONFIG_ATM_FIRESTREAM is not set
# CONFIG_ATM_ZATM is not set
# CONFIG_ATM_IDT77252_DEBUG is not set
# CONFIG_ATM_IDT77252_RCV_ALL is not set
CONFIG_ATM_IDT77252_USE_SUNI=y
# CONFIG_ATM_AMBASSADOR_DEBUG is not set
# CONFIG_ATM_HORIZON_DEBUG is not set
CONFIG_ATM_FORE200E_PCA_DEFAULT_FW=y
CONFIG_ATM_FORE200E_SBA=y
CONFIG_ATM_FORE200E_SBA_DEFAULT_FW=y
CONFIG_ATM_HE_USE_SUNI=y

#-
#- *** FILE: drivers/auxdisplay/Kconfig ***
#-
CONFIG_KS0108=m
CONFIG_KS0108_PORT=0x378
CONFIG_KS0108_DELAY=2

#-
#- *** FILE: drivers/block/Kconfig ***
#-
CONFIG_BLK_DEV_FD=m
CONFIG_PARIDE=m
#- file drivers/block/paride/Kconfig goes here
# CONFIG_BLK_CPQ_DA is not set
CONFIG_SUNVDC=m
#- file drivers/s390/block/Kconfig goes here

#-
#- *** FILE: drivers/block/paride/Kconfig ***
#-
#- Parallel IDE high-level drivers
CONFIG_PARIDE_PD=m
CONFIG_PARIDE_PCD=m
CONFIG_PARIDE_PF=m
CONFIG_PARIDE_PT=m
CONFIG_PARIDE_PG=m
#- Parallel IDE protocol modules
CONFIG_PARIDE_ATEN=m
CONFIG_PARIDE_BPCK=m
CONFIG_PARIDE_COMM=m
CONFIG_PARIDE_DSTR=m
CONFIG_PARIDE_FIT2=m
CONFIG_PARIDE_FIT3=m
CONFIG_PARIDE_EPAT=m
CONFIG_PARIDE_EPATC8=y
CONFIG_PARIDE_EPIA=m
CONFIG_PARIDE_FRIQ=m
CONFIG_PARIDE_FRPW=m
CONFIG_PARIDE_KBIC=m
CONFIG_PARIDE_KTTI=m
CONFIG_PARIDE_ON20=m
CONFIG_PARIDE_ON26=m

#-
#- *** FILE: drivers/bluetooth/Kconfig ***
#-
CONFIG_BT_HCIUSB=m
CONFIG_BT_HCIUSB_SCO=y
CONFIG_BT_HCIBCM203X=m
CONFIG_BT_HCIBPA10X=m
CONFIG_BT_HCIBFUSB=m

#-
#- *** FILE: drivers/char/Kconfig ***
#-
# CONFIG_SPECIALIX_RTSCTS is not set
# CONFIG_RIO_OLDPCI is not set
#- file drivers/serial/Kconfig goes here
#- file drivers/char/ipmi/Kconfig goes here
#- file drivers/char/hw_random/Kconfig goes here
CONFIG_RTC=m
#- file drivers/char/pcmcia/Kconfig goes here
#- file drivers/char/tpm/Kconfig goes here
#- file drivers/s390/char/Kconfig goes here

#-
#- *** FILE: drivers/char/drm/Kconfig ***
#-
CONFIG_DRM=m
CONFIG_DRM_TDFX=m
CONFIG_DRM_R128=m
CONFIG_DRM_RADEON=m
CONFIG_DRM_MGA=m
CONFIG_DRM_VIA=m
CONFIG_DRM_SAVAGE=m

#-
#- *** FILE: drivers/char/hw_random/Kconfig ***
#-
CONFIG_HW_RANDOM=y

#-
#- *** FILE: drivers/cpufreq/Kconfig ***
#-
CONFIG_CPU_FREQ=y
CONFIG_CPU_FREQ_TABLE=m
# CONFIG_CPU_FREQ_DEBUG is not set
CONFIG_CPU_FREQ_STAT=m
CONFIG_CPU_FREQ_STAT_DETAILS=y
CONFIG_CPU_FREQ_GOV_PERFORMANCE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=m
CONFIG_CPU_FREQ_GOV_USERSPACE=m
CONFIG_CPU_FREQ_GOV_ONDEMAND=m
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=m

#-
#- *** FILE: drivers/firewire/Kconfig ***
#-
#- A new alternative FireWire stack is available with EXPERIMENTAL=y
#- Enable only one of the two stacks, unless you know what you are doing
# CONFIG_FIREWIRE is not set

#-
#- *** FILE: drivers/hid/usbhid/Kconfig ***
#-
#- USB Input Devices
CONFIG_USB_HID=m
#- Input core support is needed for USB HID input layer or HIDBP support
CONFIG_USB_HIDINPUT_POWERBOOK=y
CONFIG_HID_FF=y
CONFIG_HID_PID=y
CONFIG_LOGITECH_FF=y
CONFIG_PANTHERLORD_FF=y
CONFIG_THRUSTMASTER_FF=y
CONFIG_ZEROPLUS_FF=y
CONFIG_USB_HIDDEV=y
CONFIG_USB_KBD=m
CONFIG_USB_MOUSE=m

#-
#- *** FILE: drivers/i2c/Kconfig ***
#-
CONFIG_I2C=m
CONFIG_I2C_BOARDINFO=y
#- file drivers/i2c/algos/Kconfig goes here
#- file drivers/i2c/busses/Kconfig goes here
#- file drivers/i2c/chips/Kconfig goes here

#-
#- *** FILE: drivers/i2c/busses/Kconfig ***
#-
CONFIG_I2C_SIMTEC=m
CONFIG_I2C_TINY_USB=m

#-
#- *** FILE: drivers/ide/Kconfig ***
#-
#- Please see Documentation/ide/ide.txt for help/info on IDE drives
# CONFIG_BLK_DEV_IDE_SATA is not set
CONFIG_BLK_DEV_IDEDISK=m
# CONFIG_IDEDISK_MULTI_MODE is not set
CONFIG_BLK_DEV_IDECD=m
CONFIG_BLK_DEV_IDETAPE=m
CONFIG_BLK_DEV_IDEFLOPPY=m
CONFIG_BLK_DEV_IDESCSI=m
CONFIG_IDE_TASK_IOCTL=y
CONFIG_IDE_PROC_FS=y
#- IDE chipset support/bugfixes
CONFIG_IDE_GENERIC=m
#- PCI IDE chipsets support
CONFIG_BLK_DEV_IDEPCI=y
# CONFIG_BLK_DEV_OFFBOARD is not set
CONFIG_BLK_DEV_GENERIC=m
CONFIG_BLK_DEV_OPTI621=m
CONFIG_BLK_DEV_IDEDMA_PCI=y
CONFIG_BLK_DEV_AEC62XX=m
CONFIG_BLK_DEV_ALI15X3=m
CONFIG_BLK_DEV_AMD74XX=m
CONFIG_BLK_DEV_CMD64X=m
CONFIG_BLK_DEV_TRIFLEX=m
CONFIG_BLK_DEV_CY82C693=m
CONFIG_BLK_DEV_CS5520=m
CONFIG_BLK_DEV_CS5530=m
CONFIG_BLK_DEV_HPT34X=m
# CONFIG_HPT34X_AUTODMA is not set
CONFIG_BLK_DEV_HPT366=m
# CONFIG_BLK_DEV_JMICRON is not set
CONFIG_BLK_DEV_SC1200=m
CONFIG_BLK_DEV_PIIX=m
CONFIG_BLK_DEV_IT8213=m
CONFIG_BLK_DEV_IT821X=m
CONFIG_BLK_DEV_NS87415=m
CONFIG_BLK_DEV_PDC202XX_OLD=m
CONFIG_BLK_DEV_PDC202XX_NEW=m
CONFIG_BLK_DEV_SVWKS=m
CONFIG_BLK_DEV_SIIMAGE=m
CONFIG_BLK_DEV_SLC90E66=m
CONFIG_BLK_DEV_TRM290=m
CONFIG_BLK_DEV_VIA82CXXX=m
CONFIG_BLK_DEV_TC86C001=m
#- Other IDE chipsets support
#- Note: most of these also require special kernel boot parameters
CONFIG_BLK_DEV_IDEDMA=y
# CONFIG_BLK_DEV_HD is not set

#-
#- *** FILE: drivers/infiniband/hw/ipath/Kconfig ***
#-
CONFIG_INFINIBAND_IPATH=m

#-
#- *** FILE: drivers/input/gameport/Kconfig ***
#-
# CONFIG_GAMEPORT_NS558 is not set
# CONFIG_GAMEPORT_L4 is not set
# CONFIG_GAMEPORT_EMU10K1 is not set
# CONFIG_GAMEPORT_FM801 is not set

#-
#- *** FILE: drivers/input/joystick/Kconfig ***
#-
#- file drivers/input/joystick/iforce/Kconfig goes here
CONFIG_JOYSTICK_XPAD=m
CONFIG_JOYSTICK_XPAD_FF=y
CONFIG_JOYSTICK_XPAD_LEDS=y

#-
#- *** FILE: drivers/input/joystick/iforce/Kconfig ***
#-
CONFIG_JOYSTICK_IFORCE_USB=y

#-
#- *** FILE: drivers/input/keyboard/Kconfig ***
#-
CONFIG_KEYBOARD_ATKBD=m
CONFIG_KEYBOARD_SUNKBD=y

#-
#- *** FILE: drivers/input/misc/Kconfig ***
#-
CONFIG_INPUT_SPARCSPKR=m
CONFIG_INPUT_ATI_REMOTE=m
CONFIG_INPUT_ATI_REMOTE2=m
CONFIG_INPUT_KEYSPAN_REMOTE=m
CONFIG_INPUT_POWERMATE=m
CONFIG_INPUT_YEALINK=m

#-
#- *** FILE: drivers/input/mouse/Kconfig ***
#-
CONFIG_MOUSE_PS2_ALPS=y
CONFIG_MOUSE_PS2_LOGIPS2PP=y
CONFIG_MOUSE_PS2_SYNAPTICS=y
CONFIG_MOUSE_PS2_LIFEBOOK=y
CONFIG_MOUSE_PS2_TRACKPOINT=y
CONFIG_MOUSE_PS2_TOUCHKIT=y
CONFIG_MOUSE_APPLETOUCH=m

#-
#- *** FILE: drivers/input/serio/Kconfig ***
#-
# CONFIG_SERIO_PARKBD is not set
CONFIG_SERIO_LIBPS2=m

#-
#- *** FILE: drivers/input/tablet/Kconfig ***
#-
CONFIG_INPUT_TABLET=y
CONFIG_TABLET_USB_ACECAD=m
CONFIG_TABLET_USB_AIPTEK=m
CONFIG_TABLET_USB_GTCO=m
CONFIG_TABLET_USB_KBTAB=m
CONFIG_TABLET_USB_WACOM=m

#-
#- *** FILE: drivers/input/touchscreen/Kconfig ***
#-
CONFIG_TOUCHSCREEN_ADS7846=m
CONFIG_TOUCHSCREEN_FUJITSU=m
CONFIG_TOUCHSCREEN_USB_COMPOSITE=m
CONFIG_TOUCHSCREEN_USB_EGALAX=y
CONFIG_TOUCHSCREEN_USB_PANJIT=y
CONFIG_TOUCHSCREEN_USB_3M=y
CONFIG_TOUCHSCREEN_USB_ITM=y
CONFIG_TOUCHSCREEN_USB_ETURBO=y
CONFIG_TOUCHSCREEN_USB_GUNZE=y
CONFIG_TOUCHSCREEN_USB_DMC_TSC10=y

#-
#- *** FILE: drivers/isdn/Kconfig ***
#-
CONFIG_ISDN=m
# CONFIG_ISDN_I4L is not set
#- file drivers/isdn/i4l/Kconfig goes here
CONFIG_ISDN_CAPI=m
#- file drivers/isdn/capi/Kconfig goes here
#- file drivers/isdn/hardware/Kconfig goes here

#-
#- *** FILE: drivers/isdn/capi/Kconfig ***
#-
# CONFIG_ISDN_DRV_AVMB1_VERBOSE_REASON is not set
CONFIG_CAPI_TRACE=y
CONFIG_ISDN_CAPI_MIDDLEWARE=y
CONFIG_ISDN_CAPI_CAPI20=m
CONFIG_ISDN_CAPI_CAPIFS_BOOL=y
CONFIG_ISDN_CAPI_CAPIFS=m

#-
#- *** FILE: drivers/isdn/hardware/avm/Kconfig ***
#-
CONFIG_CAPI_AVM=y
CONFIG_ISDN_DRV_AVMB1_B1PCI=m
CONFIG_ISDN_DRV_AVMB1_B1PCIV4=y
CONFIG_ISDN_DRV_AVMB1_B1PCMCIA=m
CONFIG_ISDN_DRV_AVMB1_T1PCI=m
CONFIG_ISDN_DRV_AVMB1_C4=m

#-
#- *** FILE: drivers/isdn/hardware/eicon/Kconfig ***
#-
CONFIG_CAPI_EICON=y
CONFIG_ISDN_DIVAS=m
CONFIG_ISDN_DIVAS_BRIPCI=y
CONFIG_ISDN_DIVAS_PRIPCI=y
CONFIG_ISDN_DIVAS_DIVACAPI=m
CONFIG_ISDN_DIVAS_USERIDI=m
CONFIG_ISDN_DIVAS_MAINT=m

#-
#- *** FILE: drivers/leds/Kconfig ***
#-
#- LED drivers
#- LED Triggers
CONFIG_LEDS_TRIGGER_IDE_DISK=y

#-
#- *** FILE: drivers/media/dvb/cinergyT2/Kconfig ***
#-
CONFIG_DVB_CINERGYT2=m
# CONFIG_DVB_CINERGYT2_TUNING is not set

#-
#- *** FILE: drivers/media/dvb/dvb-usb/Kconfig ***
#-
CONFIG_DVB_USB=m
# CONFIG_DVB_USB_DEBUG is not set
CONFIG_DVB_USB_A800=m
CONFIG_DVB_USB_DIBUSB_MB=m
# CONFIG_DVB_USB_DIBUSB_MB_FAULTY is not set
CONFIG_DVB_USB_DIBUSB_MC=m
CONFIG_DVB_USB_DIB0700=m
CONFIG_DVB_USB_UMT_010=m
CONFIG_DVB_USB_CXUSB=m
CONFIG_DVB_USB_M920X=m
CONFIG_DVB_USB_GL861=m
CONFIG_DVB_USB_AU6610=m
CONFIG_DVB_USB_DIGITV=m
CONFIG_DVB_USB_VP7045=m
CONFIG_DVB_USB_VP702X=m
CONFIG_DVB_USB_GP8PSK=m
CONFIG_DVB_USB_NOVA_T_USB2=m
CONFIG_DVB_USB_TTUSB2=m
CONFIG_DVB_USB_DTT200U=m
CONFIG_DVB_USB_OPERA1=m
CONFIG_DVB_USB_AF9005=m
CONFIG_DVB_USB_AF9005_REMOTE=m

#-
#- *** FILE: drivers/media/dvb/ttpci/Kconfig ***
#-
# CONFIG_DVB_AV7110_FIRMWARE is not set
CONFIG_DVB_AV7110_OSD=y
CONFIG_DVB_BUDGET_PATCH=m

#-
#- *** FILE: drivers/media/dvb/ttusb-budget/Kconfig ***
#-
CONFIG_DVB_TTUSB_BUDGET=m

#-
#- *** FILE: drivers/media/dvb/ttusb-dec/Kconfig ***
#-
CONFIG_DVB_TTUSB_DEC=m

#-
#- *** FILE: drivers/media/radio/Kconfig ***
#-
CONFIG_USB_DSBR=m

#-
#- *** FILE: drivers/media/video/Kconfig ***
#-
#- Audio decoders
#- Video decoders
CONFIG_VIDEO_OV7670=m
#- Video and audio decoders
#- file drivers/media/video/cx25840/Kconfig goes here
#- MPEG video encoders
CONFIG_VIDEO_CX2341X=m
#- Video encoders
#- Video improvement chips
#- file drivers/media/video/bt8xx/Kconfig goes here
CONFIG_VIDEO_SAA6588=m
CONFIG_VIDEO_PMS=m
CONFIG_VIDEO_W9966=m
CONFIG_VIDEO_CPIA_PP=m
CONFIG_VIDEO_CPIA_USB=m
#- file drivers/media/video/cpia2/Kconfig goes here
#- file drivers/media/video/saa7134/Kconfig goes here
#- file drivers/media/video/cx88/Kconfig goes here
#- file drivers/media/video/cx23885/Kconfig goes here
#- file drivers/media/video/au0828/Kconfig goes here
#- file drivers/media/video/ivtv/Kconfig goes here
#- file drivers/media/video/cx18/Kconfig goes here
#- file drivers/media/video/uvc/Kconfig goes here
#- file drivers/media/video/pvrusb2/Kconfig goes here
#- file drivers/media/video/em28xx/Kconfig goes here
#- file drivers/media/video/usbvision/Kconfig goes here
#- file drivers/media/video/usbvideo/Kconfig goes here
#- file drivers/media/video/et61x251/Kconfig goes here
CONFIG_VIDEO_OVCAMCHIP=m
CONFIG_USB_W9968CF=m
CONFIG_USB_OV511=m
CONFIG_USB_SE401=m
#- file drivers/media/video/sn9c102/Kconfig goes here
CONFIG_USB_STV680=m
#- file drivers/media/video/zc0301/Kconfig goes here
#- file drivers/media/video/pwc/Kconfig goes here
CONFIG_USB_ZR364XX=m

#-
#- *** FILE: drivers/media/video/bt8xx/Kconfig ***
#-
CONFIG_VIDEO_BT848_DVB=y

#-
#- *** FILE: drivers/media/video/cpia2/Kconfig ***
#-
CONFIG_VIDEO_CPIA2=m

#-
#- *** FILE: drivers/media/video/cx88/Kconfig ***
#-
CONFIG_VIDEO_CX88_ALSA=m
CONFIG_VIDEO_CX88_BLACKBIRD=m
# CONFIG_VIDEO_CX88_DVB is not set

#-
#- *** FILE: drivers/media/video/em28xx/Kconfig ***
#-
CONFIG_VIDEO_EM28XX=m

#-
#- *** FILE: drivers/media/video/et61x251/Kconfig ***
#-
CONFIG_USB_ET61X251=m

#-
#- *** FILE: drivers/media/video/pwc/Kconfig ***
#-
CONFIG_USB_PWC=m
# CONFIG_USB_PWC_DEBUG is not set

#-
#- *** FILE: drivers/media/video/saa7134/Kconfig ***
#-
CONFIG_VIDEO_SAA7134_ALSA=m
# CONFIG_VIDEO_SAA7134_DVB is not set

#-
#- *** FILE: drivers/media/video/sn9c102/Kconfig ***
#-
CONFIG_USB_SN9C102=m

#-
#- *** FILE: drivers/media/video/usbvideo/Kconfig ***
#-
CONFIG_USB_VICAM=m
CONFIG_USB_IBMCAM=m
CONFIG_USB_KONICAWC=m
CONFIG_USB_QUICKCAM_MESSENGER=m

#-
#- *** FILE: drivers/media/video/usbvision/Kconfig ***
#-
CONFIG_VIDEO_USBVISION=m

#-
#- *** FILE: drivers/media/video/zc0301/Kconfig ***
#-
CONFIG_USB_ZC0301=m

#-
#- *** FILE: drivers/message/i2o/Kconfig ***
#-
CONFIG_I2O_LCT_NOTIFY_ON_CHANGES=y
CONFIG_I2O_EXT_ADAPTEC=y
CONFIG_I2O_EXT_ADAPTEC_DMA64=y
# CONFIG_I2O_CONFIG is not set
CONFIG_I2O_BUS=m
CONFIG_I2O_BLOCK=m
CONFIG_I2O_SCSI=m
CONFIG_I2O_PROC=m

#-
#- *** FILE: drivers/misc/Kconfig ***
#-
CONFIG_MISC_DEVICES=y
CONFIG_PHANTOM=m
CONFIG_EEPROM_93CX6=m
CONFIG_SGI_IOC4=m

#-
#- *** FILE: drivers/mtd/devices/Kconfig ***
#-
CONFIG_MTD_PMC551_BUGFIX=y
# CONFIG_MTD_PMC551_DEBUG is not set
CONFIG_MTD_DATAFLASH=m
CONFIG_MTD_M25P80=m
#- Disk-On-Chip Device Drivers

#-
#- *** FILE: drivers/mtd/maps/Kconfig ***
#-
CONFIG_MTD_SUN_UFLASH=m

#-
#- *** FILE: drivers/mtd/nand/Kconfig ***
#-
CONFIG_MTD_NAND_CAFE=m
CONFIG_MTD_NAND_NANDSIM=m
CONFIG_MTD_NAND_PLATFORM=m

#-
#- *** FILE: drivers/mtd/onenand/Kconfig ***
#-
CONFIG_MTD_ONENAND_VERIFY_WRITE=y
# CONFIG_MTD_ONENAND_OTP is not set

#-
#- *** FILE: drivers/mtd/ubi/Kconfig ***
#-
CONFIG_MTD_UBI=m
CONFIG_MTD_UBI_WL_THRESHOLD=4096
CONFIG_MTD_UBI_BEB_RESERVE=1
# CONFIG_MTD_UBI_GLUEBI is not set
#- file drivers/mtd/ubi/Kconfig.debug goes here

#-
#- *** FILE: drivers/mtd/ubi/Kconfig.debug ***
#-
#- UBI debugging options
# CONFIG_MTD_UBI_DEBUG is not set

#-
#- *** FILE: drivers/net/Kconfig ***
#-
#- file drivers/net/arcnet/Kconfig goes here
#- file drivers/net/phy/Kconfig goes here
#- file drivers/net/arm/Kconfig goes here
CONFIG_SUNLANCE=m
CONFIG_SUNBMAC=m
CONFIG_SUNQE=m
CONFIG_SUNVNET=m
#- file drivers/net/tulip/Kconfig goes here
#- file drivers/net/ibm_emac/Kconfig goes here
#- file drivers/net/ibm_newemac/Kconfig goes here
CONFIG_ADAPTEC_STARFIRE_NAPI=y
CONFIG_8139TOO_TUNE_TWISTER=y
CONFIG_8139TOO_8129=y
# CONFIG_8139_OLD_RX_RESET is not set
CONFIG_SUNDANCE_MMIO=y
CONFIG_VIA_RHINE_MMIO=y
CONFIG_VIA_RHINE_NAPI=y
#- file drivers/net/fec_8xx/Kconfig goes here
#- file drivers/net/fs_enet/Kconfig goes here
# CONFIG_ACENIC_OMIT_TIGON_I is not set
CONFIG_E1000_NAPI=y
CONFIG_E1000_DISABLE_PACKET_SPLIT=y
#- file drivers/net/ixp2000/Kconfig goes here
CONFIG_MYRI_SBUS=m
CONFIG_R8169_NAPI=y
CONFIG_R8169_VLAN=y
CONFIG_CHELSIO_T1_1G=y
CONFIG_CHELSIO_T1_NAPI=y
CONFIG_IXGB_NAPI=y
CONFIG_S2IO_NAPI=y
CONFIG_MLX4_CORE=m
# CONFIG_MLX4_DEBUG is not set
#- file drivers/net/sfc/Kconfig goes here
#- file drivers/net/tokenring/Kconfig goes here
#- file drivers/net/wireless/Kconfig goes here
#- file drivers/net/usb/Kconfig goes here
#- file drivers/net/pcmcia/Kconfig goes here
#- file drivers/net/wan/Kconfig goes here
#- file drivers/atm/Kconfig goes here
#- file drivers/s390/net/Kconfig goes here

#-
#- *** FILE: drivers/net/arcnet/Kconfig ***
#-
CONFIG_ARCNET_1201=m
CONFIG_ARCNET_1051=m
CONFIG_ARCNET_RAW=m
CONFIG_ARCNET_CAP=m
CONFIG_ARCNET_COM90xx=m
CONFIG_ARCNET_COM90xxIO=m
CONFIG_ARCNET_RIM_I=m
CONFIG_ARCNET_COM20020=m
CONFIG_ARCNET_COM20020_PCI=m

#-
#- *** FILE: drivers/net/irda/Kconfig ***
#-
#- SIR device drivers
#- Dongle support
#- FIR device drivers
CONFIG_USB_IRDA=m
CONFIG_SIGMATEL_FIR=m
CONFIG_MCS_FIR=m

#-
#- *** FILE: drivers/net/usb/Kconfig ***
#-
#- Networking support is needed for USB Network Adapter support
CONFIG_USB_CATC=m
CONFIG_USB_KAWETH=m
CONFIG_USB_PEGASUS=m
CONFIG_USB_RTL8150=m
CONFIG_USB_USBNET=m
CONFIG_USB_NET_AX8817X=m
CONFIG_USB_NET_CDCETHER=m
CONFIG_USB_NET_DM9601=m
CONFIG_USB_NET_GL620A=m
CONFIG_USB_NET_NET1080=m
CONFIG_USB_NET_PLUSB=m
CONFIG_USB_NET_MCS7830=m
CONFIG_USB_NET_RNDIS_HOST=m
CONFIG_USB_NET_CDC_SUBSET=m
CONFIG_USB_ALI_M5632=y
CONFIG_USB_AN2720=y
CONFIG_USB_BELKIN=y
CONFIG_USB_ARMLINUX=y
CONFIG_USB_EPSON2888=y
CONFIG_USB_KC2190=y
CONFIG_USB_NET_ZAURUS=m

#-
#- *** FILE: drivers/net/wan/Kconfig ***
#-
CONFIG_LANMEDIA=m
#- X.25/LAPB support is disabled
CONFIG_PC300_MLPPP=y
#- Cyclades-PC300 MLPPP support is disabled.
#- Refer to the file README.mlppp, provided by PC300 package.
CONFIG_PC300TOO=m
CONFIG_DSCC4_PCISYNC=y
CONFIG_DSCC4_PCI_RST=y

#-
#- *** FILE: drivers/net/wireless/Kconfig ***
#-
CONFIG_WLAN_PRE80211=y
CONFIG_STRIP=m
CONFIG_WLAN_80211=y
CONFIG_USB_ZD1201=m
CONFIG_RTL8187=m
#- file drivers/net/wireless/p54/Kconfig goes here
#- file drivers/net/wireless/ath5k/Kconfig goes here
#- file drivers/net/wireless/iwlwifi/Kconfig goes here
#- file drivers/net/wireless/hostap/Kconfig goes here
#- file drivers/net/wireless/b43/Kconfig goes here
#- file drivers/net/wireless/b43legacy/Kconfig goes here
#- file drivers/net/wireless/zd1211rw/Kconfig goes here
#- file drivers/net/wireless/rt2x00/Kconfig goes here

#-
#- *** FILE: drivers/net/wireless/hostap/Kconfig ***
#-
CONFIG_HOSTAP_FIRMWARE=y
# CONFIG_HOSTAP_FIRMWARE_NVRAM is not set

#-
#- *** FILE: drivers/net/wireless/zd1211rw/Kconfig ***
#-
CONFIG_ZD1211RW=m
# CONFIG_ZD1211RW_DEBUG is not set

#-
#- *** FILE: drivers/parport/Kconfig ***
#-
CONFIG_PARPORT_PC=m
CONFIG_PARPORT_PC_FIFO=y
CONFIG_PARPORT_PC_SUPERIO=y
CONFIG_PARPORT_SUNBPP=m
CONFIG_PARPORT_1284=y

#-
#- *** FILE: drivers/pci/Kconfig ***
#-
CONFIG_ARCH_SUPPORTS_MSI=y
# CONFIG_PCI_MSI is not set

#-
#- *** FILE: drivers/rtc/Kconfig ***
#-
CONFIG_RTC_LIB=m
CONFIG_RTC_CLASS=m
#- RTC interfaces
CONFIG_RTC_INTF_SYSFS=y
CONFIG_RTC_INTF_PROC=y
CONFIG_RTC_INTF_DEV=y
# CONFIG_RTC_INTF_DEV_UIE_EMUL is not set
CONFIG_RTC_DRV_TEST=m
#- I2C RTC drivers
CONFIG_RTC_DRV_DS1307=m
CONFIG_RTC_DRV_DS1672=m
CONFIG_RTC_DRV_MAX6900=m
CONFIG_RTC_DRV_RS5C372=m
CONFIG_RTC_DRV_ISL1208=m
CONFIG_RTC_DRV_X1205=m
CONFIG_RTC_DRV_PCF8563=m
CONFIG_RTC_DRV_PCF8583=m
CONFIG_RTC_DRV_M41T80=m
# CONFIG_RTC_DRV_M41T80_WDT is not set
#- SPI RTC drivers
CONFIG_RTC_DRV_MAX6902=m
CONFIG_RTC_DRV_RS5C348=m
#- Platform RTC drivers
CONFIG_RTC_DRV_DS1553=m
CONFIG_RTC_DRV_DS1742=m
CONFIG_RTC_DRV_STK17TA8=m
CONFIG_RTC_DRV_M48T86=m
CONFIG_RTC_DRV_M48T59=m
CONFIG_RTC_DRV_V3020=m
#- on-CPU RTC drivers

#-
#- *** FILE: drivers/sbus/char/Kconfig ***
#-
CONFIG_SUN_OPENPROMIO=m
CONFIG_SUN_MOSTEK_RTC=m
CONFIG_OBP_FLASH=m
CONFIG_SUN_BPP=m
CONFIG_BBC_I2C=m
CONFIG_ENVCTRL=m
CONFIG_DISPLAY7SEG=m

#-
#- *** FILE: drivers/scsi/Kconfig ***
#-
#- SCSI support type (disk, tape, CD-ROM)
#- Some SCSI devices (e.g. CD jukebox) support multiple LUNs
#- file drivers/scsi/libsas/Kconfig goes here
#- file drivers/scsi/aic7xxx/Kconfig.aic7xxx goes here
#- file drivers/scsi/aic7xxx/Kconfig.aic79xx goes here
#- file drivers/scsi/aic94xx/Kconfig goes here
#- file drivers/scsi/megaraid/Kconfig.megaraid goes here
# CONFIG_SCSI_IPS is not set
CONFIG_SCSI_PPA=m
CONFIG_SCSI_IMM=m
# CONFIG_SCSI_IZIP_EPP16 is not set
# CONFIG_SCSI_IZIP_SLOW_CTR is not set
CONFIG_SCSI_SYM53C8XX_MAX_TAGS=64
CONFIG_SCSI_IPR_TRACE=y
CONFIG_SCSI_IPR_DUMP=y
CONFIG_SCSI_QLOGICPTI=m
#- file drivers/scsi/qla2xxx/Kconfig goes here
#- file drivers/scsi/qla4xxx/Kconfig goes here
#- file drivers/scsi/arm/Kconfig goes here
CONFIG_SCSI_SUNESP=m
#- file drivers/scsi/pcmcia/Kconfig goes here

#-
#- *** FILE: drivers/scsi/aic7xxx/Kconfig.aic79xx ***
#-
CONFIG_AIC79XX_CMDS_PER_DEVICE=32

#-
#- *** FILE: drivers/scsi/aic7xxx/Kconfig.aic7xxx ***
#-
CONFIG_AIC7XXX_CMDS_PER_DEVICE=32

#-
#- *** FILE: drivers/scsi/aic94xx/Kconfig ***
#-
# CONFIG_AIC94XX_DEBUG is not set

#-
#- *** FILE: drivers/serial/Kconfig ***
#-
#- Non-8250 serial port support
CONFIG_SERIAL_SUNCORE=y
CONFIG_SERIAL_SUNZILOG=y
CONFIG_SERIAL_SUNZILOG_CONSOLE=y
CONFIG_SERIAL_SUNSU=y
CONFIG_SERIAL_SUNSU_CONSOLE=y
CONFIG_SERIAL_SUNSAB=y
CONFIG_SERIAL_SUNSAB_CONSOLE=y
CONFIG_SERIAL_SUNHV=y

#-
#- *** FILE: drivers/usb/Kconfig ***
#-
#- file drivers/usb/core/Kconfig goes here
#- file drivers/usb/host/Kconfig goes here
#- file drivers/usb/class/Kconfig goes here
#- file drivers/usb/storage/Kconfig goes here
#- file drivers/usb/image/Kconfig goes here
#- file drivers/usb/mon/Kconfig goes here
#- USB port drivers
CONFIG_USB_USS720=m
#- file drivers/usb/serial/Kconfig goes here
#- file drivers/usb/misc/Kconfig goes here
#- file drivers/usb/atm/Kconfig goes here
#- file drivers/usb/gadget/Kconfig goes here

#-
#- *** FILE: drivers/usb/atm/Kconfig ***
#-
CONFIG_USB_ATM=m
CONFIG_USB_SPEEDTOUCH=m
CONFIG_USB_CXACRU=m
CONFIG_USB_UEAGLEATM=m
CONFIG_USB_XUSBATM=m

#-
#- *** FILE: drivers/usb/class/Kconfig ***
#-
#- USB Device Class drivers
CONFIG_USB_ACM=m
CONFIG_USB_PRINTER=m

#-
#- *** FILE: drivers/usb/core/Kconfig ***
#-
# CONFIG_USB_DEBUG is not set
#- Miscellaneous USB options
CONFIG_USB_DEVICEFS=y
# CONFIG_USB_DEVICE_CLASS is not set
# CONFIG_USB_DYNAMIC_MINORS is not set
# CONFIG_USB_OTG is not set

#-
#- *** FILE: drivers/usb/gadget/Kconfig ***
#-
CONFIG_USB_GADGET=m
# CONFIG_USB_GADGET_DEBUG is not set
# CONFIG_USB_GADGET_DEBUG_FILES is not set
CONFIG_USB_GADGET_SELECTED=y
CONFIG_USB_GADGET_AMD5536UDC=y
CONFIG_USB_AMD5536UDC=m
# CONFIG_USB_GADGET_ATMEL_USBA is not set
# CONFIG_USB_GADGET_FSL_USB2 is not set
# CONFIG_USB_GADGET_NET2280 is not set
# CONFIG_USB_GADGET_PXA2XX is not set
# CONFIG_USB_GADGET_M66592 is not set
# CONFIG_USB_GADGET_GOKU is not set
# CONFIG_USB_GADGET_LH7A40X is not set
# CONFIG_USB_GADGET_OMAP is not set
# CONFIG_USB_GADGET_S3C2410 is not set
# CONFIG_USB_GADGET_AT91 is not set
# CONFIG_USB_GADGET_DUMMY_HCD is not set
CONFIG_USB_GADGET_DUALSPEED=y
CONFIG_USB_ZERO=m
CONFIG_USB_ETH=m
CONFIG_USB_ETH_RNDIS=y
CONFIG_USB_GADGETFS=m
CONFIG_USB_FILE_STORAGE=m
# CONFIG_USB_FILE_STORAGE_TEST is not set
CONFIG_USB_G_SERIAL=m
CONFIG_USB_MIDI_GADGET=m

#-
#- *** FILE: drivers/usb/host/Kconfig ***
#-
#- USB Host Controller Drivers
CONFIG_USB_EHCI_HCD=m
# CONFIG_USB_EHCI_ROOT_HUB_TT is not set
CONFIG_USB_EHCI_TT_NEWSCHED=y
# CONFIG_USB_EHCI_BIG_ENDIAN_MMIO is not set
CONFIG_USB_ISP116X_HCD=m
CONFIG_USB_OHCI_HCD=m
# CONFIG_USB_OHCI_BIG_ENDIAN_DESC is not set
# CONFIG_USB_OHCI_BIG_ENDIAN_MMIO is not set
CONFIG_USB_OHCI_LITTLE_ENDIAN=y
CONFIG_USB_UHCI_HCD=m
CONFIG_USB_U132_HCD=m
CONFIG_USB_SL811_HCD=m
CONFIG_USB_R8A66597_HCD=m

#-
#- *** FILE: drivers/usb/image/Kconfig ***
#-
#- USB Imaging devices
CONFIG_USB_MDC800=m
CONFIG_USB_MICROTEK=m

#-
#- *** FILE: drivers/usb/misc/Kconfig ***
#-
#- USB Miscellaneous drivers
CONFIG_USB_EMI62=m
CONFIG_USB_EMI26=m
CONFIG_USB_ADUTUX=m
CONFIG_USB_AUERSWALD=m
CONFIG_USB_RIO500=m
CONFIG_USB_LEGOTOWER=m
CONFIG_USB_LCD=m
CONFIG_USB_BERRY_CHARGE=m
CONFIG_USB_LED=m
CONFIG_USB_CYPRESS_CY7C63=m
CONFIG_USB_CYTHERM=m
CONFIG_USB_PHIDGET=m
CONFIG_USB_PHIDGETKIT=m
CONFIG_USB_PHIDGETMOTORCONTROL=m
CONFIG_USB_PHIDGETSERVO=m
CONFIG_USB_IDMOUSE=m
CONFIG_USB_FTDI_ELAN=m
CONFIG_USB_APPLEDISPLAY=m
#- file drivers/usb/misc/sisusbvga/Kconfig goes here
CONFIG_USB_LD=m
CONFIG_USB_TRANCEVIBRATOR=m
CONFIG_USB_IOWARRIOR=m
CONFIG_USB_TEST=m

#-
#- *** FILE: drivers/usb/misc/sisusbvga/Kconfig ***
#-
CONFIG_USB_SISUSBVGA=m
CONFIG_USB_SISUSBVGA_CON=y

#-
#- *** FILE: drivers/usb/mon/Kconfig ***
#-
CONFIG_USB_MON=y

#-
#- *** FILE: drivers/usb/serial/Kconfig ***
#-
CONFIG_USB_SERIAL=m
CONFIG_USB_EZUSB=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_AIRCABLE=m
CONFIG_USB_SERIAL_AIRPRIME=m
CONFIG_USB_SERIAL_ARK3116=m
CONFIG_USB_SERIAL_BELKIN=m
CONFIG_USB_SERIAL_WHITEHEAT=m
CONFIG_USB_SERIAL_DIGI_ACCELEPORT=m
CONFIG_USB_SERIAL_CP2101=m
CONFIG_USB_SERIAL_CYPRESS_M8=m
CONFIG_USB_SERIAL_EMPEG=m
CONFIG_USB_SERIAL_FTDI_SIO=m
CONFIG_USB_SERIAL_FUNSOFT=m
CONFIG_USB_SERIAL_VISOR=m
CONFIG_USB_SERIAL_IPAQ=m
CONFIG_USB_SERIAL_IR=m
CONFIG_USB_SERIAL_EDGEPORT=m
CONFIG_USB_SERIAL_EDGEPORT_TI=m
CONFIG_USB_SERIAL_GARMIN=m
CONFIG_USB_SERIAL_IPW=m
CONFIG_USB_SERIAL_KEYSPAN_PDA=m
CONFIG_USB_SERIAL_KEYSPAN=m
CONFIG_USB_SERIAL_KEYSPAN_MPR=y
CONFIG_USB_SERIAL_KEYSPAN_USA28=y
CONFIG_USB_SERIAL_KEYSPAN_USA28X=y
CONFIG_USB_SERIAL_KEYSPAN_USA28XA=y
CONFIG_USB_SERIAL_KEYSPAN_USA28XB=y
CONFIG_USB_SERIAL_KEYSPAN_USA19=y
CONFIG_USB_SERIAL_KEYSPAN_USA18X=y
CONFIG_USB_SERIAL_KEYSPAN_USA19W=y
CONFIG_USB_SERIAL_KEYSPAN_USA19QW=y
CONFIG_USB_SERIAL_KEYSPAN_USA19QI=y
CONFIG_USB_SERIAL_KEYSPAN_USA49W=y
CONFIG_USB_SERIAL_KEYSPAN_USA49WLC=y
CONFIG_USB_SERIAL_KLSI=m
CONFIG_USB_SERIAL_KOBIL_SCT=m
CONFIG_USB_SERIAL_MCT_U232=m
CONFIG_USB_SERIAL_MOS7720=m
CONFIG_USB_SERIAL_MOS7840=m
CONFIG_USB_SERIAL_NAVMAN=m
CONFIG_USB_SERIAL_PL2303=m
CONFIG_USB_SERIAL_OTI6858=m
CONFIG_USB_SERIAL_HP4X=m
CONFIG_USB_SERIAL_SAFE=m
CONFIG_USB_SERIAL_SAFE_PADDED=y
CONFIG_USB_SERIAL_SIERRAWIRELESS=m
CONFIG_USB_SERIAL_TI=m
CONFIG_USB_SERIAL_CYBERJACK=m
CONFIG_USB_SERIAL_XIRCOM=m
CONFIG_USB_SERIAL_OPTION=m
CONFIG_USB_SERIAL_OMNINET=m
CONFIG_USB_SERIAL_DEBUG=m

#-
#- *** FILE: drivers/usb/storage/Kconfig ***
#-
#- NOTE: USB_STORAGE enables SCSI, and 'SCSI disk support'
#- may also be needed; see USB_STORAGE Help for more information
CONFIG_USB_STORAGE=m
# CONFIG_USB_STORAGE_DEBUG is not set
CONFIG_USB_STORAGE_DATAFAB=y
CONFIG_USB_STORAGE_FREECOM=y
CONFIG_USB_STORAGE_ISD200=y
CONFIG_USB_STORAGE_DPCM=y
CONFIG_USB_STORAGE_USBAT=y
CONFIG_USB_STORAGE_SDDR09=y
CONFIG_USB_STORAGE_SDDR55=y
CONFIG_USB_STORAGE_JUMPSHOT=y
CONFIG_USB_STORAGE_ALAUDA=y
CONFIG_USB_STORAGE_KARMA=y
CONFIG_USB_LIBUSUAL=y

#-
#- *** FILE: drivers/video/Kconfig ***
#-
#- file drivers/char/agp/Kconfig goes here
#- file drivers/char/drm/Kconfig goes here
CONFIG_VGASTATE=m
CONFIG_FB_CFB_FILLRECT=m
CONFIG_FB_CFB_COPYAREA=m
CONFIG_FB_CFB_IMAGEBLIT=m
CONFIG_FB_SYS_FILLRECT=m
CONFIG_FB_SYS_COPYAREA=m
CONFIG_FB_SYS_IMAGEBLIT=m
CONFIG_FB_SYS_FOPS=m
CONFIG_FB_DEFERRED_IO=y
# CONFIG_FB_MACMODES is not set
#- Frame buffer hardware drivers
# CONFIG_FB_PM2_FIFO_DISCONNECT is not set
# CONFIG_FB_ASILIANT is not set
# CONFIG_FB_IMSTT is not set
CONFIG_FB_SBUS=y
# CONFIG_FB_BW2 is not set
# CONFIG_FB_CG3 is not set
# CONFIG_FB_CG6 is not set
CONFIG_FB_FFB=y
# CONFIG_FB_TCX is not set
# CONFIG_FB_CG14 is not set
# CONFIG_FB_P9100 is not set
# CONFIG_FB_LEO is not set
CONFIG_FB_XVR500=y
CONFIG_FB_XVR2500=y
# CONFIG_FB_NVIDIA_I2C is not set
# CONFIG_FB_NVIDIA_DEBUG is not set
CONFIG_FB_NVIDIA_BACKLIGHT=y
# CONFIG_FB_RIVA_I2C is not set
# CONFIG_FB_RIVA_DEBUG is not set
CONFIG_FB_RIVA_BACKLIGHT=y
# CONFIG_FB_MATROX_MILLENIUM is not set
# CONFIG_FB_MATROX_MYSTIQUE is not set
# CONFIG_FB_MATROX_G is not set
CONFIG_FB_MATROX_I2C=m
# CONFIG_FB_MATROX_MULTIHEAD is not set
CONFIG_FB_RADEON=m
CONFIG_FB_RADEON_I2C=y
CONFIG_FB_RADEON_BACKLIGHT=y
# CONFIG_FB_RADEON_DEBUG is not set
CONFIG_FB_ATY128=m
CONFIG_FB_ATY=m
# CONFIG_FB_ATY_CT is not set
# CONFIG_FB_ATY_GX is not set
CONFIG_FB_ATY_BACKLIGHT=y
# CONFIG_FB_SAVAGE_I2C is not set
# CONFIG_FB_SAVAGE_ACCEL is not set
CONFIG_FB_SIS_300=y
CONFIG_FB_SIS_315=y
# CONFIG_FB_3DFX_ACCEL is not set
CONFIG_FB_VT8623=m
# CONFIG_FB_TRIDENT_ACCEL is not set
CONFIG_FB_ARK=m
CONFIG_FB_PM3=m
#- file drivers/video/geode/Kconfig goes here
#- file drivers/video/omap/Kconfig goes here
#- file drivers/video/backlight/Kconfig goes here
#- file drivers/video/display/Kconfig goes here
#- file drivers/video/console/Kconfig goes here
#- file drivers/video/logo/Kconfig goes here

#-
#- *** FILE: drivers/video/console/Kconfig ***
#-
CONFIG_PROM_CONSOLE=y
CONFIG_FONTS=y
CONFIG_FONT_6x11=y
# CONFIG_FONT_7x14 is not set
# CONFIG_FONT_PEARL_8x8 is not set
# CONFIG_FONT_ACORN_8x8 is not set
CONFIG_FONT_SUN8x16=y
CONFIG_FONT_SUN12x22=y
# CONFIG_FONT_10x18 is not set

#-
#- *** FILE: drivers/video/logo/Kconfig ***
#-
CONFIG_LOGO=y
# CONFIG_LOGO_LINUX_MONO is not set
# CONFIG_LOGO_LINUX_VGA16 is not set
# CONFIG_LOGO_LINUX_CLUT224 is not set
CONFIG_LOGO_SUN_CLUT224=y

#-
#- *** FILE: drivers/w1/masters/Kconfig ***
#-
CONFIG_W1_MASTER_DS2490=m

#-
#- *** FILE: drivers/watchdog/Kconfig ***
#-
#- Watchdog Device Drivers
CONFIG_WATCHDOG_CP1XXX=m
CONFIG_WATCHDOG_RIO=m
#- ISA-based Watchdog Cards
#- PCI-based Watchdog Cards
#- USB-based Watchdog Cards
CONFIG_USBPCWATCHDOG=m

#-
#- *** FILE: init/Kconfig ***
#-
#- file usr/Kconfig goes here
CONFIG_UID16=y
#- file arch/Kconfig goes here
CONFIG_SLABINFO=y
#- file block/Kconfig goes here

#-
#- *** FILE: kernel/Kconfig.hz ***
#-
# CONFIG_HZ_100 is not set
# CONFIG_HZ_250 is not set
CONFIG_HZ_300=y
# CONFIG_HZ_1000 is not set
CONFIG_HZ=300

#-
#- *** FILE: kernel/Kconfig.preempt ***
#-
CONFIG_PREEMPT_NONE=y
# CONFIG_PREEMPT_VOLUNTARY is not set
# CONFIG_PREEMPT is not set

#-
#- *** FILE: kernel/time/Kconfig ***
#-
CONFIG_TICK_ONESHOT=y

#-
#- *** FILE: lib/Kconfig.debug ***
#-
# CONFIG_DEBUG_SHIRQ is not set
CONFIG_DEBUG_PI_LIST=y
CONFIG_DEBUG_MUTEXES=y
# CONFIG_DEBUG_LOCK_ALLOC is not set
# CONFIG_PROVE_LOCKING is not set
# CONFIG_LOCK_STAT is not set
CONFIG_DEBUG_BUGVERBOSE=y
#- file samples/Kconfig goes here
#- file lib/Kconfig.kgdb goes here

#-
#- *** FILE: mm/Kconfig ***
#-
# CONFIG_FLATMEM_MANUAL is not set
# CONFIG_DISCONTIGMEM_MANUAL is not set
CONFIG_SPARSEMEM_MANUAL=y
CONFIG_SPARSEMEM=y
CONFIG_HAVE_MEMORY_PRESENT=y
CONFIG_SPARSEMEM_STATIC=y
CONFIG_SPARSEMEM_VMEMMAP=y
#- Memory hotplug is currently incompatible with Software Suspend
CONFIG_MIGRATION=y
CONFIG_RESOURCES_64BIT=y
CONFIG_ZONE_DMA_FLAG=0
CONFIG_NR_QUICK=1

#-
#- *** FILE: net/bluetooth/cmtp/Kconfig ***
#-
# CONFIG_BT_CMTP is not set

#-
#- *** FILE: net/mac80211/Kconfig ***
#-
#- Selecting 'y' for an algorithm will
#- build the algorithm into mac80211.
CONFIG_MAC80211_LEDS=y
# CONFIG_MAC80211_DEBUG is not set

#-
#- *** FILE: sound/sparc/Kconfig ***
#-
CONFIG_SND_SUN_AMD7930=m
CONFIG_SND_SUN_CS4231=m
CONFIG_SND_SUN_DBRI=m

#-
#- *** FILE: sound/usb/Kconfig ***
#-
CONFIG_SND_USB_AUDIO=m
CONFIG_SND_USB_CAIAQ=m
# CONFIG_SND_USB_CAIAQ_INPUT is not set
