#
# misc addons
#
CONFIG_JFS_FS=m
# CONFIG_JFS_DEBUG is not set
CONFIG_EXT3_FS=m
CONFIG_JBD=m
# CONFIG_JBD_DEBUG is not set
# CONFIG_BUFFER_DEBUG is not set
CONFIG_FS_POSIX_ACL=y
CONFIG_PAGE_BUF=m
CONFIG_XFS_FS=m
CONFIG_HAVE_ATTRCTL=y
CONFIG_XFS_RT=y
CONFIG_XFS_QUOTA=y
# CONFIG_XFS_DMAPI is not set

# CONFIG_KDB is not set
# CONFIG_KALLSYMS is not set
# CONFIG_KDB_OFF is not set
# CONFIG_FRAME_POINTER is not set

#
#  from 2.4.14 kernel - for all arch
#
CONFIG_I8K=m
CONFIG_I82092=y
# CONFIG_PARIDE_EPATC8 is not set
CONFIG_ATM_LANAI=m

#
# premptible patch
#
CONFIG_PREEMPT=y
# CONFIG_MULTIQUAD is not set
CONFIG_NET_RANDOM=y

# JFS filesystem
# CONFIG_JFS_STATISTICS is not set

# CONFIG_HFSPLUS_FS is not set
