
#-
#- *** FILE: arch/x86/Kconfig ***
#-
64BIT i386=n
X86_32 i386=y
X86_64 i386=n
X86 i386=y
GENERIC_TIME i386=y
GENERIC_CMOS_UPDATE i386=y
CLOCKSOURCE_WATCHDOG i386=y
GENERIC_CLOCKEVENTS i386=y
GENERIC_CLOCKEVENTS_BROADCAST i386=y
LOCKDEP_SUPPORT i386=y
STACKTRACE_SUPPORT i386=y
ZONE_DMA i386=y
GENERIC_ISA_DMA i386=y
GENERIC_IOMAP i386=y
GENERIC_BUG i386=y
GENERIC_HWEIGHT i386=y
ARCH_MAY_HAVE_PC_FDC i386=y
RWSEM_GENERIC_SPINLOCK i386=y
ARCH_HAS_ILOG2_U32 i386=n
ARCH_HAS_ILOG2_U64 i386=n
ARCH_POPULATES_NODE_MAP i386=y
GENERIC_HARDIRQS i386=y
GENERIC_IRQ_PROBE i386=y
GENERIC_PENDING_IRQ i386=y
X86_SMP i386=y
X86_HT i386=y
X86_BIOS_REBOOT i386=y
X86_TRAMPOLINE i386=y
KTIME_SCALAR i386=y
#- file init/Kconfig goes here
#- file kernel/time/Kconfig goes here
X86_PC i386=y
X86_ELAN i386=n
X86_VOYAGER i386=n
X86_NUMAQ i386=n
X86_SUMMIT i386=n
X86_BIGSMP i386=n
X86_VISWS i386=n
X86_GENERICARCH i386=n
X86_ES7000 i386=n
X86_RDC321X i386=n
#- file arch/x86/xen/Kconfig goes here
VMI i386=n
#- file arch/x86/lguest/Kconfig goes here
PARAVIRT i386=y
#- file arch/x86/Kconfig.cpu goes here
HPET_TIMER i386=y
HPET_EMULATE_RTC i386=y
DMI i386=y
NR_CPUS i386=16
SCHED_SMT i386=y
SCHED_MC i386=y
#- file kernel/Kconfig.preempt goes here
X86_UP_APIC i386=y
X86_UP_IOAPIC i386=y
X86_LOCAL_APIC i386=y
X86_IO_APIC i386=y
X86_MCE i386=y
X86_MCE_NONFATAL i386=m
X86_MCE_P4THERMAL i386=y
VM86 i386=y
TOSHIBA i386=m
I8K i386=m
X86_REBOOTFIXUPS i386=y
MICROCODE i386=m
MICROCODE_OLD_INTERFACE i386=y
X86_MSR i386=m
X86_CPUID i386=m
NOHIGHMEM i386=n
HIGHMEM4G i386=y
HIGHMEM64G i386=n
PAGE_OFFSET i386=0xC0000000
HIGHMEM i386=y
#- NUMA (Summit) requires SMP, 64GB highmem support, ACPI
ARCH_FLATMEM_ENABLE i386=y
ARCH_SPARSEMEM_ENABLE i386=y
ARCH_SELECT_MEMORY_MODEL i386=y
#- file mm/Kconfig goes here
HIGHPTE i386=n
MATH_EMULATION i386=y i686=n pentium3=n pentium4=n athlon=n
MTRR i386=y
EFI i386=y
IRQBALANCE i386=n
SECCOMP i386=y
#- file kernel/Kconfig.hz goes here
KEXEC i386=y
CRASH_DUMP i386=n
PHYSICAL_START i386=0x100000
RELOCATABLE i386=y
PHYSICAL_ALIGN i386=0x100000
HOTPLUG_CPU i386=y
COMPAT_VDSO i386=n
ARCH_ENABLE_MEMORY_HOTPLUG i386=y
#- file kernel/power/Kconfig goes here
#- file drivers/acpi/Kconfig goes here
APM i386=m
APM_IGNORE_USER_SUSPEND i386=n
APM_DO_ENABLE i386=n
APM_CPU_IDLE i386=y
APM_DISPLAY_BLANK i386=n
APM_ALLOW_INTS i386=n
APM_REAL_MODE_POWER_OFF i386=y
#- file arch/x86/kernel/cpu/cpufreq/Kconfig goes here
#- file drivers/cpuidle/Kconfig goes here
PCI_GOBIOS i386=n
PCI_GOMMCONFIG i386=n
PCI_GODIRECT i386=n
PCI_GOANY i386=y
PCI_BIOS i386=y
PCI_DIRECT i386=y
PCI_MMCONFIG i386=y
#- file drivers/pci/pcie/Kconfig goes here
#- file drivers/pci/Kconfig goes here
ISA_DMA_API i386=y
ISA i386=y
EISA i386=y
#- file drivers/eisa/Kconfig goes here
MCA i386=y
#- file drivers/mca/Kconfig goes here
SCx200 i386=m
SCx200HR_TIMER i386=m
OLPC i386=n
K8_NB i386=y
#- file drivers/pcmcia/Kconfig goes here
#- file drivers/pci/hotplug/Kconfig goes here
#- file fs/Kconfig.binfmt goes here
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file drivers/firmware/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/x86/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file arch/x86/kvm/Kconfig goes here
#- file lib/Kconfig goes here

#-
#- *** FILE: arch/x86/Kconfig.cpu ***
#-
M386 i386=y i486=n i586=n i686=n pentium3=n pentium4=n athlon=n
M486 i386=n i486=y
M586 i386=n i586=y
M586TSC i386=n
M586MMX i386=n
M686 i386=n i686=y
MPENTIUMII i386=n
MPENTIUMIII i386=n pentium3=y
MPENTIUMM i386=n
MPENTIUM4 i386=n pentium4=y
MK6 i386=n
MK7 i386=n athlon=y
MK8 i386=n
MCRUSOE i386=n
MEFFICEON i386=n
MWINCHIPC6 i386=n
MWINCHIP2 i386=n
MWINCHIP3D i386=n
MGEODEGX1 i386=n
MGEODE_LX i386=n
MCYRIXIII i386=n
MVIAC3_2 i386=n
MVIAC7 i386=n
MCORE2 i386=n
X86_GENERIC i386=y
X86_L1_CACHE_SHIFT i386=7
X86_PPRO_FENCE i386=y
X86_F00F_BUG i386=y
X86_INTEL_USERCOPY i386=y

#-
#- *** FILE: arch/x86/Kconfig.debug ***
#-
TRACE_IRQFLAGS_SUPPORT i386=y
#- file lib/Kconfig.debug goes here
DEBUG_STACKOVERFLOW i386=n
DEBUG_STACK_USAGE i386=n
DEBUG_RODATA i386=n
4KSTACKS i386=n
X86_FIND_SMP_CONFIG i386=y
X86_MPPARSE i386=y
DOUBLEFAULT i386=y

#-
#- *** FILE: arch/x86/kernel/cpu/cpufreq/Kconfig ***
#-
#- file drivers/cpufreq/Kconfig goes here
#- CPUFreq processor drivers
X86_ACPI_CPUFREQ i386=m
X86_POWERNOW_K6 i386=m
X86_POWERNOW_K7 i386=m
X86_POWERNOW_K7_ACPI i386=y
X86_POWERNOW_K8 i386=m
X86_POWERNOW_K8_ACPI i386=y
X86_GX_SUSPMOD i386=m
X86_SPEEDSTEP_CENTRINO i386=m
X86_SPEEDSTEP_CENTRINO_TABLE i386=y
X86_SPEEDSTEP_ICH i386=m
X86_SPEEDSTEP_SMI i386=m
X86_CPUFREQ_NFORCE2 i386=m
X86_LONGRUN i386=m
X86_LONGHAUL i386=m
X86_E_POWERSAVER i386=m
#- shared options
X86_ACPI_CPUFREQ_PROC_INTF i386=y
X86_SPEEDSTEP_LIB i386=m
X86_SPEEDSTEP_RELAXED_CAP_CHECK i386=y

#-
#- *** FILE: arch/x86/xen/Kconfig ***
#-
XEN i386=n
