
#-
#- *** FILE: arch/Kconfig ***
#-
OPROFILE ppc64=m
KPROBES ppc64=y

#-
#- *** FILE: arch/powerpc/Kconfig ***
#-
#- file arch/powerpc/platforms/Kconfig.cputype goes here
64BIT ppc64=y
PPC_MERGE ppc64=y
MMU ppc64=y
GENERIC_HARDIRQS ppc64=y
IRQ_PER_CPU ppc64=y
RWSEM_XCHGADD_ALGORITHM ppc64=y
ARCH_HAS_ILOG2_U32 ppc64=y
ARCH_HAS_ILOG2_U64 ppc64=y
GENERIC_HWEIGHT ppc64=y
GENERIC_CALIBRATE_DELAY ppc64=y
GENERIC_FIND_NEXT_BIT ppc64=y
PPC ppc64=y
EARLY_PRINTK ppc64=y
COMPAT ppc64=y
SYSVIPC_COMPAT ppc64=y
SCHED_NO_NO_OMIT_FRAME_POINTER ppc64=y
ARCH_MAY_HAVE_PC_FDC ppc64=y
PPC_OF ppc64=y
PPC_UDBG_16550 ppc64=y
GENERIC_TBSYNC ppc64=y
AUDIT_ARCH ppc64=y
GENERIC_BUG ppc64=y
DEFAULT_UIMAGE ppc64=n
PPC_DCR_NATIVE ppc64=n
PPC_DCR_MMIO ppc64=y
PPC_DCR ppc64=y
PPC_OF_PLATFORM_PCI ppc64=y
#- file init/Kconfig goes here
#- file arch/powerpc/sysdev/Kconfig goes here
#- file arch/powerpc/platforms/Kconfig goes here
#- file kernel/time/Kconfig goes here
#- file kernel/Kconfig.hz goes here
#- file kernel/Kconfig.preempt goes here
#- file fs/Kconfig.binfmt goes here
IOMMU_VMERGE ppc64=n
HOTPLUG_CPU ppc64=y
ARCH_ENABLE_MEMORY_HOTPLUG ppc64=y
KEXEC ppc64=y
CRASH_DUMP ppc64=n
PHYP_DUMP ppc64=n
IRQ_ALL_CPUS ppc64=y
NUMA ppc64=y
NODES_SHIFT ppc64=4
ARCH_SELECT_MEMORY_MODEL ppc64=y
ARCH_SPARSEMEM_ENABLE ppc64=y
ARCH_SPARSEMEM_DEFAULT ppc64=y
ARCH_POPULATES_NODE_MAP ppc64=y
#- file mm/Kconfig goes here
ARCH_MEMORY_PROBE ppc64=y
NODES_SPAN_OTHER_NODES ppc64=y
PPC_64K_PAGES ppc64=n
FORCE_MAX_ZONEORDER ppc64=13
SCHED_SMT ppc64=n
PROC_DEVICETREE ppc64=y
CMDLINE_BOOL ppc64=n
EXTRA_TARGETS ppc64=""
#- file kernel/power/Kconfig goes here
SECCOMP ppc64=y
ISA_DMA_API ppc64=y
ZONE_DMA ppc64=y
GENERIC_ISA_DMA ppc64=y
PPC_INDIRECT_PCI ppc64=n
PCI_DOMAINS ppc64=y
#- file drivers/pci/pcie/Kconfig goes here
#- file drivers/pci/Kconfig goes here
#- file drivers/pcmcia/Kconfig goes here
#- file drivers/pci/hotplug/Kconfig goes here
#- file drivers/rapidio/Kconfig goes here
#- Default settings for advanced configuration options are used
KERNEL_START ppc64=0xc000000000000000
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/powerpc/sysdev/qe_lib/Kconfig goes here
#- file lib/Kconfig goes here
#- file arch/powerpc/Kconfig.debug goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file arch/powerpc/kvm/Kconfig goes here

#-
#- *** FILE: arch/powerpc/Kconfig.debug ***
#-
#- file lib/Kconfig.debug goes here
DEBUG_STACKOVERFLOW ppc64=n
DEBUG_STACK_USAGE ppc64=n
DEBUG_PAGEALLOC ppc64=n
CODE_PATCHING_SELFTEST ppc64=n
FTR_FIXUP_SELFTEST ppc64=n
XMON ppc64=y
XMON_DEFAULT ppc64=n
XMON_DISASSEMBLY ppc64=y
DEBUGGER ppc64=y
IRQSTACKS ppc64=n
BOOTX_TEXT ppc64=y
PPC_EARLY_DEBUG ppc64=n

#-
#- *** FILE: arch/powerpc/kvm/Kconfig ***
#-
VIRTUALIZATION ppc64=y
#- file drivers/virtio/Kconfig goes here

#-
#- *** FILE: arch/powerpc/platforms/Kconfig ***
#-
PPC_MULTIPLATFORM ppc64=y
#- file arch/powerpc/platforms/pseries/Kconfig goes here
#- file arch/powerpc/platforms/iseries/Kconfig goes here
#- file arch/powerpc/platforms/chrp/Kconfig goes here
#- file arch/powerpc/platforms/512x/Kconfig goes here
#- file arch/powerpc/platforms/52xx/Kconfig goes here
#- file arch/powerpc/platforms/powermac/Kconfig goes here
#- file arch/powerpc/platforms/prep/Kconfig goes here
#- file arch/powerpc/platforms/maple/Kconfig goes here
#- file arch/powerpc/platforms/pasemi/Kconfig goes here
#- file arch/powerpc/platforms/ps3/Kconfig goes here
#- file arch/powerpc/platforms/cell/Kconfig goes here
#- file arch/powerpc/platforms/8xx/Kconfig goes here
#- file arch/powerpc/platforms/82xx/Kconfig goes here
#- file arch/powerpc/platforms/83xx/Kconfig goes here
#- file arch/powerpc/platforms/85xx/Kconfig goes here
#- file arch/powerpc/platforms/86xx/Kconfig goes here
#- file arch/powerpc/platforms/embedded6xx/Kconfig goes here
#- file arch/powerpc/platforms/44x/Kconfig goes here
#- file arch/powerpc/platforms/40x/Kconfig goes here
PPC_NATIVE ppc64=y
UDBG_RTAS_CONSOLE ppc64=y
PPC_UDBG_BEAT ppc64=y
XICS ppc64=y
MPIC ppc64=y
MPIC_WEIRD ppc64=n
PPC_I8259 ppc64=y
U3_DART ppc64=y
PPC_RTAS ppc64=y
RTAS_ERROR_LOGGING ppc64=y
RTAS_PROC ppc64=y
RTAS_FLASH ppc64=m
PPC_PMI ppc64=m
MMIO_NVRAM ppc64=y
IBMVIO ppc64=y
IBMEBUS ppc64=n
PPC_MPC106 ppc64=n
PPC_970_NAP ppc64=y
PPC_INDIRECT_IO ppc64=y
GENERIC_IOMAP ppc64=y
#- file drivers/cpufreq/Kconfig goes here
CPU_FREQ_PMAC64 ppc64=y
PPC_PASEMI_CPUFREQ ppc64=y
AXON_RAM ppc64=m
#- file arch/powerpc/sysdev/bestcomm/Kconfig goes here

#-
#- *** FILE: arch/powerpc/platforms/Kconfig.cputype ***
#-
PPC64 ppc64=y
POWER4_ONLY ppc64=n
POWER3 ppc64=y
POWER4 ppc64=y
TUNE_CELL ppc64=n
PPC_FPU ppc64=y
ALTIVEC ppc64=y
VSX ppc64=y
PPC_STD_MMU ppc64=y
VIRT_CPU_ACCOUNTING ppc64=y
SMP ppc64=y
NR_CPUS ppc64=32

#-
#- *** FILE: arch/powerpc/platforms/cell/Kconfig ***
#-
PPC_CELL ppc64=y
PPC_CELL_NATIVE ppc64=y
PPC_IBM_CELL_BLADE ppc64=y
PPC_CELLEB ppc64=y
SPU_FS ppc64=m
SPU_FS_64K_LS ppc64=y
SPU_BASE ppc64=y
CBE_RAS ppc64=y
PPC_IBM_CELL_RESETBUTTON ppc64=y
PPC_IBM_CELL_POWERBUTTON ppc64=m
CBE_THERM ppc64=m
CBE_CPUFREQ ppc64=m
CBE_CPUFREQ_PMI ppc64=m
CBE_CPUFREQ_SPU_GOVERNOR ppc64=m

#-
#- *** FILE: arch/powerpc/platforms/iseries/Kconfig ***
#-
PPC_ISERIES ppc64=y
VIODASD ppc64=n
VIOCD ppc64=n
VIOTAPE ppc64=n

#-
#- *** FILE: arch/powerpc/platforms/maple/Kconfig ***
#-
PPC_MAPLE ppc64=y

#-
#- *** FILE: arch/powerpc/platforms/pasemi/Kconfig ***
#-
PPC_PASEMI ppc64=y
PPC_PASEMI_IOMMU ppc64=n
PPC_PASEMI_MDIO ppc64=m

#-
#- *** FILE: arch/powerpc/platforms/powermac/Kconfig ***
#-
PPC_PMAC ppc64=y
PPC_PMAC64 ppc64=y

#-
#- *** FILE: arch/powerpc/platforms/ps3/Kconfig ***
#-
PPC_PS3 ppc64=y
PS3_ADVANCED ppc64=n
PS3_HTAB_SIZE ppc64=20
PS3_DYNAMIC_DMA ppc64=n
PS3_VUART ppc64=y
PS3_PS3AV ppc64=y
PS3_SYS_MANAGER ppc64=y
PS3_DISK ppc64=m
PS3_ROM ppc64=m
PS3_FLASH ppc64=m
PS3_LPM ppc64=m

#-
#- *** FILE: arch/powerpc/platforms/pseries/Kconfig ***
#-
PPC_PSERIES ppc64=y
PPC_SPLPAR ppc64=n
EEH ppc64=y
SCANLOG ppc64=n
LPARCFG ppc64=n
PPC_SMLPAR ppc64=y
CMM ppc64=m
