#
# Crypto options
#
CONFIG_CRYPTO=m
CONFIG_CRYPTOLOOP=m
CONFIG_CIPHERS=m
CONFIG_CIPHER_AES=m
CONFIG_CIPHER_DUMMY=m
# CONFIG_CIPHER_RIJNDAEL is not set
CONFIG_CIPHER_TWOFISH=m
CONFIG_CIPHER_MARS=m
CONFIG_CIPHER_RC6=m
CONFIG_CIPHER_SERPENT=m
CONFIG_CIPHER_DFC=m
CONFIG_CIPHER_CAST5=m
CONFIG_CIPHER_BLOWFISH=m
CONFIG_CIPHER_IDEA=m
CONFIG_CIPHER_RC5=m
CONFIG_CIPHER_BLOWFISH_OLD=m
CONFIG_CIPHER_DES_EDE3=m
CONFIG_CIPHER_DES=m
CONFIG_DIGEST=m
CONFIG_DIGESTS=m
CONFIG_DIGEST_MD5=m
CONFIG_DIGEST_SHA1=m
CONFIG_CRYPTODEV=m
