CONFIG_AIRO=m
CONFIG_AIRO_CS=m
CONFIG_USB_CATC=m
CONFIG_PARPORT_SERIAL=m
CONFIG_IP_NF_PERS=m
# CONFIG_BLK_DEV_AMD7409 is not set
CONFIG_BLK_DEV_OSB4=y
CONFIG_PCMCIA_NINJA_SCSI=m
# CONFIG_ARM_AM79C961A is not set
CONFIG_SUNGEM=m
CONFIG_TULIP_MWI=y
CONFIG_TULIP_MMIO=y
CONFIG_DL2K=m
CONFIG_ALI_FIR=m
CONFIG_ISDN_DRV_TPAM=m
CONFIG_W83877F_WDT=m
CONFIG_SONYPI=m
CONFIG_AGP_SWORKS=y
CONFIG_VIDEO_W9966=m
CONFIG_VIDEO_MEYE=m
CONFIG_JFS_FS=m
CONFIG_FB_PVR2=n
CONFIG_SOUND_CMPCI_FM=y
CONFIG_SOUND_CMPCI_MIDI=y
CONFIG_SOUND_CMPCI_MPUIO=330
CONFIG_SOUND_CMPCI_JOYSTICK=y
CONFIG_SOUND_CMPCI_CM8738=y
CONFIG_SOUND_CMPCI_SPDIFINVERSE=y
CONFIG_SOUND_CMPCI_SPEAKERS=2
CONFIG_MIDI_VIA82CXXX=y
CONFIG_USB_SE401=m
CONFIG_USB_SERIAL_PL2303=m
CONFIG_USB_SERIAL_CYBERJACK=m
CONFIG_FUSION=m
CONFIG_FUSION_ISENSE=m
CONFIG_FUSION_CTL=m
CONFIG_FUSION_LAN=m
CONFIG_IEEE1394_SBP2=m

