
#-
#- *** FILE: drivers/block/Kconfig ***
#-
#- file drivers/block/paride/Kconfig goes here
CONFIG_BLK_DEV_VROOT all=m
#- file drivers/s390/block/Kconfig goes here

#-
#- *** FILE: kernel/vserver/Kconfig ***
#-
CONFIG_VSERVER_AUTO_LBACK all=y
CONFIG_VSERVER_AUTO_SINGLE all=n
CONFIG_VSERVER_COWBL all=y
CONFIG_VSERVER_VTIME all=y
CONFIG_VSERVER_DEVICE all=y
CONFIG_VSERVER_PROC_SECURE all=y
CONFIG_VSERVER_HARDCPU all=y
CONFIG_VSERVER_IDLETIME all=y
CONFIG_VSERVER_IDLELIMIT all=y
CONFIG_TAGGING_NONE all=n
CONFIG_TAGGING_UID16 all=n
CONFIG_TAGGING_GID16 all=n
CONFIG_TAGGING_ID24 all=y
CONFIG_TAGGING_INTERN all=n
CONFIG_TAG_NFSD all=n
CONFIG_VSERVER_PRIVACY all=y
CONFIG_VSERVER_CONTEXTS all=256 alpha=768 ia64=768 ppc64=768 sparc64=768 x86_64=768
CONFIG_VSERVER_WARN all=y
CONFIG_VSERVER_WARN_DEVPTS all=y
CONFIG_VSERVER_DEBUG all=n
CONFIG_VSERVER all=y
CONFIG_VSERVER_SECURITY all=y
CONFIG_VSERVER_LEGACY_MEM all=y
CONFIG_QUOTES_ISO8859 all=y
CONFIG_QUOTES_UTF8 all=n
CONFIG_QUOTES_ASCII all=n
