CONFIG_LIDS=y
CONFIG_LIDS_MAX_INODE=1024
CONFIG_LIDS_MAX_SACL=1024
CONFIG_LIDS_MAX_OACL=1024
CONFIG_LIDS_MAX_PROTECTED_PID=1024
# CONFIG_LIDS_HANGUP is not set
CONFIG_LIDS_SA_EXEC_UP=y
# CONFIG_LIDS_NO_EXEC_UP is not set
CONFIG_LIDS_NO_FLOOD_LOG=y
CONFIG_LIDS_TIMEOUT_AFTER_FLOOD=60
CONFIG_LIDS_ALLOW_SWITCH=y
CONFIG_LIDS_MAX_TRY=3
CONFIG_LIDS_TTW_FAIL=3
# CONFIG_LIDS_REMOTE_SWITCH is not set
# CONFIG_LIDS_ALLOW_ANY_PROG_SWITCH is not set
CONFIG_LIDS_RELOAD_CONF=y
CONFIG_LIDS_PORT_SCAN_DETECTOR=y
CONFIG_LIDS_SA_THROUGH_NET=y
# CONFIG_LIDS_HIDE_KLIDS is not set
CONFIG_LIDS_NET_MAX_TRIES=3
CONFIG_LIDS_NET_TIMEOUT=30
CONFIG_LIDS_MSGQUEUE_SIZE=16
CONFIG_LIDS_MAIL_SCRIPT=y
CONFIG_LIDS_MAIL_SCRIPT=y
# CONFIG_LIDS_DEBUG is not set
