
#-
#- *** FILE: arch/powerpc/Kconfig ***
#-
#- file arch/powerpc/platforms/Kconfig.cputype goes here
CONFIG_PPC32=y
CONFIG_GENERIC_HARDIRQS=y
CONFIG_RWSEM_XCHGADD_ALGORITHM=y
CONFIG_ARCH_HAS_ILOG2_U32=y
# CONFIG_ARCH_HAS_ILOG2_U64 is not set
CONFIG_GENERIC_HWEIGHT=y
CONFIG_GENERIC_FIND_NEXT_BIT=y
CONFIG_PPC=y
CONFIG_GENERIC_NVRAM=y
CONFIG_ARCH_MAY_HAVE_PC_FDC=y
CONFIG_GENERIC_BUG=y
# CONFIG_PPC_DCR_NATIVE is not set
# CONFIG_PPC_DCR_MMIO is not set
#- file init/Kconfig goes here
#- file arch/powerpc/sysdev/Kconfig goes here
#- file arch/powerpc/platforms/Kconfig goes here
# CONFIG_HIGHMEM is not set
#- file kernel/time/Kconfig goes here
#- file kernel/Kconfig.hz goes here
#- file kernel/Kconfig.preempt goes here
#- file fs/Kconfig.binfmt goes here
CONFIG_KEXEC=y
CONFIG_PPCBUG_NVRAM=y
CONFIG_IRQ_ALL_CPUS=y
CONFIG_ARCH_POPULATES_NODE_MAP=y
#- file mm/Kconfig goes here
CONFIG_FORCE_MAX_ZONEORDER=11
CONFIG_PROC_DEVICETREE=y
# CONFIG_CMDLINE_BOOL is not set
#- file kernel/power/Kconfig goes here
CONFIG_SECCOMP=y
CONFIG_ISA_DMA_API=y
# CONFIG_ISA is not set
CONFIG_ZONE_DMA=y
CONFIG_GENERIC_ISA_DMA=y
CONFIG_PPC_INDIRECT_PCI=y
CONFIG_PCI_DOMAINS=y
#- file drivers/pci/pcie/Kconfig goes here
#- file drivers/pci/Kconfig goes here
#- file drivers/pcmcia/Kconfig goes here
#- file drivers/pci/hotplug/Kconfig goes here
#- file drivers/rapidio/Kconfig goes here
# CONFIG_ADVANCED_OPTIONS is not set
#- Default settings for advanced configuration options are used
CONFIG_LOWMEM_SIZE=0x30000000
CONFIG_KERNEL_START=0xc0000000
CONFIG_TASK_SIZE=0x80000000
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/powerpc/sysdev/qe_lib/Kconfig goes here
#- file lib/Kconfig goes here
#- file arch/powerpc/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file arch/powerpc/kvm/Kconfig goes here

#-
#- *** FILE: arch/powerpc/Kconfig.debug ***
#-
#- file lib/Kconfig.debug goes here
# CONFIG_DEBUG_STACKOVERFLOW is not set
# CONFIG_DEBUG_STACK_USAGE is not set
# CONFIG_DEBUGGER is not set
# CONFIG_XMON is not set
# CONFIG_BDI_SWITCH is not set
# CONFIG_BOOTX_TEXT is not set
# CONFIG_PPC_EARLY_DEBUG is not set

#-
#- *** FILE: arch/powerpc/platforms/512x/Kconfig ***
#-
CONFIG_MPC5121_ADS=y

#-
#- *** FILE: arch/powerpc/platforms/52xx/Kconfig ***
#-
CONFIG_PPC_MPC52xx=y
CONFIG_PPC_MPC5200_SIMPLE=y
CONFIG_PPC_EFIKA=y
CONFIG_PPC_LITE5200=y
CONFIG_PPC_MPC5200_BUGFIX=y
CONFIG_PPC_MPC5200_GPIO=y

#-
#- *** FILE: arch/powerpc/platforms/Kconfig ***
#-
CONFIG_PPC_MULTIPLATFORM=y
# CONFIG_PPC_82xx is not set
# CONFIG_PPC_83xx is not set
# CONFIG_PPC_86xx is not set
CONFIG_CLASSIC32=y
#- file arch/powerpc/platforms/pseries/Kconfig goes here
#- file arch/powerpc/platforms/iseries/Kconfig goes here
#- file arch/powerpc/platforms/chrp/Kconfig goes here
#- file arch/powerpc/platforms/512x/Kconfig goes here
#- file arch/powerpc/platforms/52xx/Kconfig goes here
#- file arch/powerpc/platforms/powermac/Kconfig goes here
#- file arch/powerpc/platforms/prep/Kconfig goes here
#- file arch/powerpc/platforms/maple/Kconfig goes here
#- file arch/powerpc/platforms/pasemi/Kconfig goes here
#- file arch/powerpc/platforms/ps3/Kconfig goes here
#- file arch/powerpc/platforms/cell/Kconfig goes here
#- file arch/powerpc/platforms/8xx/Kconfig goes here
#- file arch/powerpc/platforms/82xx/Kconfig goes here
#- file arch/powerpc/platforms/83xx/Kconfig goes here
#- file arch/powerpc/platforms/85xx/Kconfig goes here
#- file arch/powerpc/platforms/86xx/Kconfig goes here
#- file arch/powerpc/platforms/embedded6xx/Kconfig goes here
#- file arch/powerpc/platforms/44x/Kconfig goes here
#- file arch/powerpc/platforms/40x/Kconfig goes here
# CONFIG_UDBG_RTAS_CONSOLE is not set
CONFIG_PPC_I8259=y
CONFIG_RTAS_PROC=y
#- file drivers/cpufreq/Kconfig goes here
CONFIG_CPU_FREQ_PMAC=y
CONFIG_PPC601_SYNC_FIX=y
# CONFIG_TAU is not set
#- file arch/powerpc/sysdev/bestcomm/Kconfig goes here

#-
#- *** FILE: arch/powerpc/platforms/Kconfig.cputype ***
#-
# CONFIG_PPC64 is not set
CONFIG_6xx=y
# CONFIG_PPC_85xx is not set
# CONFIG_PPC_8xx is not set
# CONFIG_40x is not set
# CONFIG_44x is not set
# CONFIG_E200 is not set
# CONFIG_8xx is not set
# CONFIG_E500 is not set
CONFIG_PPC_FPU=y
CONFIG_ALTIVEC=y
CONFIG_PPC_STD_MMU=y
CONFIG_PPC_STD_MMU_32=y
CONFIG_NR_CPUS=32

#-
#- *** FILE: arch/powerpc/platforms/chrp/Kconfig ***
#-
CONFIG_PPC_CHRP=y

#-
#- *** FILE: arch/powerpc/platforms/embedded6xx/Kconfig ***
#-
# CONFIG_EMBEDDED6xx is not set

#-
#- *** FILE: arch/powerpc/platforms/powermac/Kconfig ***
#-
CONFIG_PPC_PMAC=y

#-
#- *** FILE: arch/powerpc/platforms/prep/Kconfig ***
#-
CONFIG_PPC_PREP=y
CONFIG_PREP_RESIDUAL=y
CONFIG_PROC_PREPRESIDUAL=y
