
#-
#- *** FILE: arch/x86/Kconfig ***
#-
64BIT x86_64=y
X86_32 x86_64=n
X86_64 x86_64=y
X86 x86_64=y
GENERIC_TIME x86_64=y
LOCKDEP_SUPPORT x86_64=y
STACKTRACE_SUPPORT x86_64=y
ZONE_DMA x86_64=y
GENERIC_ISA_DMA x86_64=y
GENERIC_IOMAP x86_64=y
GENERIC_BUG x86_64=y
GENERIC_HWEIGHT x86_64=y
ARCH_MAY_HAVE_PC_FDC x86_64=y
RWSEM_GENERIC_SPINLOCK x86_64=y
ARCH_HAS_ILOG2_U32 x86_64=n
ARCH_HAS_ILOG2_U64 x86_64=n
GENERIC_TIME_VSYSCALL x86_64=y
ZONE_DMA32 x86_64=y
ARCH_POPULATES_NODE_MAP x86_64=y
AUDIT_ARCH x86_64=y
GENERIC_HARDIRQS x86_64=y
GENERIC_IRQ_PROBE x86_64=y
GENERIC_PENDING_IRQ x86_64=y
X86_HT x86_64=y
#- file init/Kconfig goes here
#- file kernel/time/Kconfig goes here
X86_PC x86_64=y
X86_VSMP x86_64=n
#- file arch/x86/xen/Kconfig goes here
#- file arch/x86/lguest/Kconfig goes here
#- file arch/x86/Kconfig.cpu goes here
HPET_TIMER x86_64=y
HPET_EMULATE_RTC x86_64=y
DMI x86_64=y
CALGARY_IOMMU x86_64=y
CALGARY_IOMMU_ENABLED_BY_DEFAULT x86_64=y
SWIOTLB x86_64=y
NR_CPUS x86_64=16
SCHED_SMT x86_64=y
SCHED_MC x86_64=y
#- file kernel/Kconfig.preempt goes here
X86_LOCAL_APIC x86_64=y
X86_IO_APIC x86_64=y
X86_MCE x86_64=y
X86_MCE_INTEL x86_64=y
X86_MCE_AMD x86_64=y
I8K x86_64=m
MICROCODE x86_64=m
MICROCODE_OLD_INTERFACE x86_64=y
X86_MSR x86_64=m
X86_CPUID x86_64=m
NUMA x86_64=y
#- NUMA (Summit) requires SMP, 64GB highmem support, ACPI
K8_NUMA x86_64=n
X86_64_ACPI_NUMA x86_64=y
NUMA_EMU x86_64=n
NODES_SHIFT x86_64=6
ARCH_SPARSEMEM_ENABLE x86_64=y
ARCH_MEMORY_PROBE x86_64=y
#- file mm/Kconfig goes here
MTRR x86_64=y
EFI x86_64=y
SECCOMP x86_64=y
#- file kernel/Kconfig.hz goes here
KEXEC x86_64=y
CRASH_DUMP x86_64=n
PHYSICAL_START x86_64=0x200000
RELOCATABLE x86_64=n
HOTPLUG_CPU x86_64=y
COMPAT_VDSO x86_64=n
ARCH_ENABLE_MEMORY_HOTPLUG x86_64=y
HAVE_ARCH_EARLY_PFN_TO_NID x86_64=y
#- file kernel/power/Kconfig goes here
#- file drivers/acpi/Kconfig goes here
#- file arch/x86/kernel/cpu/cpufreq/Kconfig goes here
#- file drivers/cpuidle/Kconfig goes here
PCI_DIRECT x86_64=y
PCI_MMCONFIG x86_64=y
#- file drivers/pci/pcie/Kconfig goes here
#- file drivers/pci/Kconfig goes here
ISA_DMA_API x86_64=y
#- file drivers/eisa/Kconfig goes here
#- file drivers/mca/Kconfig goes here
K8_NB x86_64=y
#- file drivers/pcmcia/Kconfig goes here
#- file drivers/pci/hotplug/Kconfig goes here
#- file fs/Kconfig.binfmt goes here
IA32_EMULATION x86_64=y
IA32_AOUT x86_64=y
COMPAT x86_64=y
SYSVIPC_COMPAT x86_64=y
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file drivers/firmware/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/x86/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file arch/x86/kvm/Kconfig goes here
#- file lib/Kconfig goes here

#-
#- *** FILE: arch/x86/Kconfig.cpu ***
#-
MK8 x86_64=n
MPSC x86_64=n
MCORE2 x86_64=n
GENERIC_CPU x86_64=y
X86_L1_CACHE_BYTES x86_64=128
X86_INTERNODE_CACHE_BYTES x86_64=128
X86_CMPXCHG x86_64=y
X86_L1_CACHE_SHIFT x86_64=7
X86_GOOD_APIC x86_64=y
X86_TSC x86_64=y

#-
#- *** FILE: arch/x86/Kconfig.debug ***
#-
TRACE_IRQFLAGS_SUPPORT x86_64=y
#- file lib/Kconfig.debug goes here
DEBUG_STACKOVERFLOW x86_64=n
DEBUG_STACK_USAGE x86_64=n
DEBUG_RODATA x86_64=n
IOMMU_DEBUG x86_64=n

#-
#- *** FILE: arch/x86/kernel/cpu/cpufreq/Kconfig ***
#-
#- file drivers/cpufreq/Kconfig goes here
#- CPUFreq processor drivers
X86_ACPI_CPUFREQ x86_64=m
X86_POWERNOW_K8 x86_64=m
X86_POWERNOW_K8_ACPI x86_64=y
X86_SPEEDSTEP_CENTRINO x86_64=m
#- shared options
X86_ACPI_CPUFREQ_PROC_INTF x86_64=n
X86_SPEEDSTEP_LIB x86_64=m
