
#-
#- *** FILE: arch/arm64/Kconfig ***
#-
#- file arch/arm64/Kconfig.platforms goes here
AMPERE_ERRATUM_AC03_CPU_38 arm64=y
AMPERE_ERRATUM_AC04_CPU_23 arm64=y
ARM64_ERRATUM_826319 arm64=y
ARM64_ERRATUM_827319 arm64=y
ARM64_ERRATUM_824069 arm64=y
ARM64_ERRATUM_819472 arm64=y
ARM64_ERRATUM_832075 arm64=y
ARM64_ERRATUM_834220 arm64=y
ARM64_ERRATUM_1742098 arm64=y
ARM64_ERRATUM_845719 arm64=y
ARM64_ERRATUM_843419 arm64=y
ARM64_ERRATUM_1024718 arm64=y
ARM64_ERRATUM_1418040 arm64=y
ARM64_ERRATUM_1165522 arm64=y
ARM64_ERRATUM_1319367 arm64=y
ARM64_ERRATUM_1530923 arm64=y
ARM64_ERRATUM_2441007 arm64=y
ARM64_ERRATUM_1286807 arm64=y
ARM64_ERRATUM_1463225 arm64=y
ARM64_ERRATUM_1542419 arm64=y
ARM64_ERRATUM_1508412 arm64=y
ARM64_ERRATUM_2051678 arm64=y
ARM64_ERRATUM_2077057 arm64=y
ARM64_ERRATUM_2658417 arm64=y
ARM64_ERRATUM_2054223 arm64=y
ARM64_ERRATUM_2067961 arm64=y
ARM64_ERRATUM_2441009 arm64=y
ARM64_ERRATUM_2457168 arm64=y
ARM64_ERRATUM_2645198 arm64=y
ARM64_ERRATUM_2966298 arm64=y
ARM64_ERRATUM_3117295 arm64=y
ARM64_ERRATUM_3194386 arm64=y
CAVIUM_ERRATUM_22375 arm64=y
CAVIUM_ERRATUM_23154 arm64=y
CAVIUM_ERRATUM_27456 arm64=y
CAVIUM_ERRATUM_30115 arm64=y
CAVIUM_TX2_ERRATUM_219 arm64=y
FUJITSU_ERRATUM_010001 arm64=y
HISILICON_ERRATUM_161600802 arm64=y
HISILICON_ERRATUM_162100801 arm64=y
QCOM_FALKOR_ERRATUM_1003 arm64=y
QCOM_FALKOR_ERRATUM_1009 arm64=y
QCOM_QDF2400_ERRATUM_0065 arm64=y
QCOM_FALKOR_ERRATUM_E1041 arm64=y
NVIDIA_CARMEL_CNP_ERRATUM arm64=y
ROCKCHIP_ERRATUM_3568002 arm64=y
ROCKCHIP_ERRATUM_3588001 arm64=y
SOCIONEXT_SYNQUACER_PREITS arm64=y
ARM64_4K_PAGES arm64=y
ARM64_16K_PAGES arm64=n
ARM64_64K_PAGES arm64=n
ARM64_VA_BITS_39 arm64=n
ARM64_VA_BITS_48 arm64=y
ARM64_VA_BITS_52 arm64=n
ARM64_PA_BITS_48 arm64=y
CPU_BIG_ENDIAN arm64=n
CPU_LITTLE_ENDIAN arm64=y
NR_CPUS arm64=32
HOTPLUG_CPU arm64=y
NUMA arm64=n
#- file kernel/Kconfig.hz goes here
PARAVIRT arm64=y
PARAVIRT_TIME_ACCOUNTING arm64=y
XEN arm64=y
ARCH_FORCE_MAX_ORDER arm64=10
ARM64_SW_TTBR0_PAN arm64=n
ARM64_TAGGED_ADDR_ABI arm64=y
COMPAT arm64=y
KUSER_HELPERS arm64=y
COMPAT_ALIGNMENT_FIXUPS arm64=y
ARMV8_DEPRECATED arm64=y
SWP_EMULATION arm64=y
CP15_BARRIER_EMULATION arm64=y
SETEND_EMULATION arm64=y
ARM64_HW_AFDBM arm64=y
ARM64_PAN arm64=y
ARM64_USE_LSE_ATOMICS arm64=y
ARM64_PMEM arm64=y
ARM64_RAS_EXTN arm64=y
ARM64_CNP arm64=y
ARM64_PTR_AUTH arm64=y
ARM64_PTR_AUTH_KERNEL arm64=y
ARM64_AMU_EXTN arm64=y
ARM64_TLB_RANGE arm64=y
ARM64_MPAM arm64=n
ARM64_BTI arm64=y
ARM64_BTI_KERNEL arm64=y
ARM64_E0PD arm64=y
ARM64_MTE arm64=y
ARM64_EPAN arm64=y
ARM64_POE arm64=y
ARM64_HAFT arm64=y
ARM64_GCS arm64=y
ARM64_SVE arm64=y
ARM64_SME arm64=y
ARM64_PSEUDO_NMI arm64=n
RANDOMIZE_BASE arm64=y
RANDOMIZE_MODULE_REGION_FULL arm64=y
ARM64_ACPI_PARKING_PROTOCOL arm64=y
CMDLINE arm64=""
EFI arm64=y
COMPRESSED_INSTALL arm64=n
DMI arm64=y
#- file kernel/power/Kconfig goes here
#- file drivers/cpuidle/Kconfig goes here
#- file drivers/cpufreq/Kconfig goes here
#- file drivers/acpi/Kconfig goes here
#- file arch/arm64/kvm/Kconfig goes here
#- file kernel/livepatch/Kconfig goes here

#-
#- *** FILE: arch/arm64/Kconfig.platforms ***
#-
ARCH_ACTIONS arm64=n
ARCH_AIROHA arm64=n
ARCH_SUNXI arm64=n
ARCH_ALPINE arm64=n
ARCH_APPLE arm64=n
ARCH_AXIADO arm64=n
ARCH_BCM arm64=y
ARCH_BCM2835 arm64=y
ARCH_BCM_IPROC arm64=n
ARCH_BCMBCA arm64=n
ARCH_BRCMSTB arm64=n
ARCH_BERLIN arm64=n
ARCH_BITMAIN arm64=n
ARCH_BLAIZE arm64=n
ARCH_BST arm64=n
ARCH_CIX arm64=n
ARCH_EXYNOS arm64=n
ARCH_K3 arm64=n
ARCH_LG1K arm64=n
ARCH_HISI arm64=n
ARCH_KEEMBAY arm64=n
ARCH_MEDIATEK arm64=n
ARCH_MESON arm64=y
ARCH_LAN969X arm64=n
ARCH_SPARX5 arm64=n
ARCH_MMP arm64=n
ARCH_MVEBU arm64=n
ARCH_NXP arm64=n
ARCH_LAYERSCAPE arm64=n
ARCH_MXC arm64=n
ARCH_S32 arm64=n
ARCH_MA35 arm64=n
ARCH_NPCM arm64=n
ARCH_PENSANDO arm64=n
ARCH_QCOM arm64=n
ARCH_REALTEK arm64=n
ARCH_RENESAS arm64=n
ARCH_ROCKCHIP arm64=y
ARCH_SEATTLE arm64=n
ARCH_INTEL_SOCFPGA arm64=n
ARCH_SOPHGO arm64=n
ARCH_STM32 arm64=n
ARCH_SYNQUACER arm64=n
ARCH_TEGRA arm64=n
ARCH_SPRD arm64=n
ARCH_THUNDER arm64=n
ARCH_THUNDER2 arm64=n
ARCH_UNIPHIER arm64=n
ARCH_VEXPRESS arm64=n
ARCH_VISCONTI arm64=n
ARCH_XGENE arm64=n
ARCH_ZYNQMP arm64=n

#-
#- *** FILE: arch/arm64/kvm/Kconfig ***
#-
#- file virt/kvm/Kconfig goes here
VIRTUALIZATION arm64=y
KVM arm64=y
NVHE_EL2_DEBUG arm64=n
PTDUMP_STAGE2_DEBUGFS arm64=n

#-
#- *** FILE: drivers/acpi/Kconfig ***
#-
ACPI_FPDT arm64=y
ACPI_VIDEO arm64=m
#- file drivers/acpi/nfit/Kconfig goes here
#- file drivers/acpi/numa/Kconfig goes here
#- file drivers/acpi/apei/Kconfig goes here
#- file drivers/acpi/dptf/Kconfig goes here
#- file drivers/acpi/arm64/Kconfig goes here
#- file drivers/acpi/riscv/Kconfig goes here
#- file drivers/acpi/pmic/Kconfig goes here

#-
#- *** FILE: drivers/acpi/arm64/Kconfig ***
#-
ACPI_AGDI arm64=y

#-
#- *** FILE: drivers/cpufreq/Kconfig ***
#-
CPU_FREQ_GOV_PERFORMANCE arm64=y
#- CPU frequency scaling drivers
#- file drivers/cpufreq/Kconfig.x86 goes here
#- file drivers/cpufreq/Kconfig.arm goes here
#- file drivers/cpufreq/Kconfig.powerpc goes here
QORIQ_CPUFREQ arm64=m
ACPI_CPPC_CPUFREQ arm64=m
ACPI_CPPC_CPUFREQ_FIE arm64=y

#-
#- *** FILE: drivers/cpufreq/Kconfig.arm ***
#-
ARM_SCPI_CPUFREQ arm64=m
ARM_RASPBERRYPI_CPUFREQ arm64=m

#-
#- *** FILE: drivers/cpuidle/Kconfig.arm ***
#-
ARM_CPUIDLE arm64=y
ARM_PSCI_CPUIDLE arm64=y
ARM_PSCI_CPUIDLE_DOMAIN arm64=y

#-
#- *** PROBABLY REMOVED OPTIONS ***
#-
ATH_USER_REGD arm64=y
TYPEC_EXTCON arm64=m
