
#-
#- *** FILE: arch/Kconfig ***
#-
OPROFILE sparc64=m
OPROFILE_IBS sparc64=n
KPROBES sparc64=y

#-
#- *** FILE: arch/sparc64/Kconfig ***
#-
SPARC sparc64=y
SPARC64 sparc64=y
GENERIC_TIME sparc64=y
GENERIC_CLOCKEVENTS sparc64=y
64BIT sparc64=y
MMU sparc64=y
QUICKLIST sparc64=y
STACKTRACE_SUPPORT sparc64=y
LOCKDEP_SUPPORT sparc64=y
ARCH_MAY_HAVE_PC_FDC sparc64=y
ARCH_HAS_ILOG2_U32 sparc64=n
ARCH_HAS_ILOG2_U64 sparc64=n
AUDIT_ARCH sparc64=y
#- file init/Kconfig goes here
SPARC64_PAGE_SIZE_8KB sparc64=y
SPARC64_PAGE_SIZE_64KB sparc64=n
SECCOMP sparc64=y
#- file kernel/Kconfig.hz goes here
HOTPLUG_CPU sparc64=y
GENERIC_HARDIRQS sparc64=y
#- file kernel/time/Kconfig goes here
SMP sparc64=y
NR_CPUS sparc64=64
#- file drivers/cpufreq/Kconfig goes here
US3_FREQ sparc64=m
US2E_FREQ sparc64=m
RWSEM_XCHGADD_ALGORITHM sparc64=y
GENERIC_FIND_NEXT_BIT sparc64=y
GENERIC_HWEIGHT sparc64=y
GENERIC_CALIBRATE_DELAY sparc64=y
HUGETLB_PAGE_SIZE_4MB sparc64=y
HUGETLB_PAGE_SIZE_512K sparc64=n
HUGETLB_PAGE_SIZE_64K sparc64=n
NUMA sparc64=y
ARCH_SELECT_MEMORY_MODEL sparc64=y
ARCH_SPARSEMEM_ENABLE sparc64=y
ARCH_SPARSEMEM_DEFAULT sparc64=y
#- file mm/Kconfig goes here
SBUS sparc64=y
SBUSCHAR sparc64=y
SUN_AUXIO sparc64=y
SUN_IO sparc64=y
SUN_LDOMS sparc64=y
PCI_DOMAINS sparc64=y
#- file drivers/pci/Kconfig goes here
SUN_OPENPROMFS sparc64=m
#- file fs/Kconfig.binfmt goes here
COMPAT sparc64=y
SYSVIPC_COMPAT sparc64=y
SCHED_SMT sparc64=y
SCHED_MC sparc64=y
#- file kernel/Kconfig.preempt goes here
CMDLINE_BOOL sparc64=n
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file drivers/sbus/char/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/sparc64/Kconfig.debug goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file lib/Kconfig goes here

#-
#- *** FILE: arch/sparc64/Kconfig.debug ***
#-
TRACE_IRQFLAGS_SUPPORT sparc64=y
#- file lib/Kconfig.debug goes here
DEBUG_STACK_USAGE sparc64=n
DEBUG_DCFLUSH sparc64=n
STACK_DEBUG sparc64=n
DEBUG_PAGEALLOC sparc64=n
