AUFS_FS all=n
DEBUG_PREEMPT all=y
HWLAT_DETECTOR all=m
HZ_1000 all=y
HZ_100 all=n
HZ_250 all=n
HZ_300 all=n
HZ all=1000
MISSED_TIMER_OFFSETS_HIST all=y
PREEMPT all=y
PREEMPT_COUNT all=y
PREEMPT_LAZY all=y
PREEMPT__LL all=n
PREEMPT_NONE all=n
PREEMPT_NOTIFIERS all=y
PREEMPT_OFF_HIST all=y
PREEMPT_RCU all=y
PREEMPT_RTB all=n
PREEMPT_RT_BASE all=y
PREEMPT_RT_FULL all=y
PREEMPT_TRACER all=y
PREEMPT_VOLUNTARY all=n
TASKS_RCU all=y
TRACER_SNAPSHOT_PER_CPU_SWAP all=y
TRANSPARENT_HUGEPAGE_ALWAYS all=n
TREE_RCU all=n
WAKEUP_LATENCY_HIST all=y
