
#-
#- *** FILE: drivers/atm/Kconfig ***
#-
ATM_DD all=m

#-
#- *** FILE: drivers/net/wan/Kconfig ***
#-
TAHOE9XX all=m

#-
#- *** FILE: fs/Kconfig ***
#-
UNION_FS all=m
UNION_FS_XATTR all=y
UNION_FS_DEBUG all=n

SQUASHFS all=m
SQUASHFS_EMBEDDED all=n
SQUASHFS_FRAGMENT_CACHE_SIZE all=3

AUFS all=m
AUFS_BRANCH_MAX_127 all=n
AUFS_BRANCH_MAX_511 all=y
AUFS_BRANCH_MAX_1023 all=n
AUFS_BRANCH_MAX_32767 all=n
AUFS_STAT all=y
AUFS_HINOTIFY all=y
AUFS_EXPORT all=y
AUFS_ROBR all=y
AUFS_DLGT all=y
AUFS_SHWH all=y
AUFS_RR_SQUASHFS all=y
AUFS_BR_NFS all=y
AUFS_BR_NFS_V4 all=y
AUFS_BR_XFS all=y
AUFS_GETATTR all=y
AUFS_HIN_OR_DLGT all=y
AUFS_INO_T_64 all=y
AUFS_SEC_PERM_PATCH all=y
AUFS_SPLICE_PATCH all=y
AUFS_LHASH_PATCH all=y
AUFS_PUT_FILP_PATCH all=y
AUFS_FSYNC_SUPER_PATCH all=y
AUFS_DENY_WRITE_ACCESS_PATCH all=y
AUFS_WORKAROUND_FUSE all=n
AUFS_DEBUG all=n
AUFS_COMPAT all=n
AUFS_UNIONFS22_PATCH all=y
AUFS_UNIONFS23_PATCH all=y

#-
#- *** FILE: net/ring/Kconfig ***
#-
RING all=m

NET_SCH_ESFQ all=m
NET_SCH_ESFQ_NFCT all=y
