#
# Enterprise Volume Management System
#
CONFIG_EVMS=m
CONFIG_EVMS_LOCAL_DEV_MGR=m
CONFIG_EVMS_DOS_SEGMENT_MGR=m
CONFIG_EVMS_GPT_SEGMENT_MGR=m
CONFIG_EVMS_SNAPSHOT=m
CONFIG_EVMS_DRIVELINK=m
CONFIG_EVMS_BBR=m
CONFIG_EVMS_LVM=m
CONFIG_EVMS_MD=m
CONFIG_EVMS_MD_LINEAR=m
CONFIG_EVMS_MD_RAID0=m
CONFIG_EVMS_MD_RAID1=m
CONFIG_EVMS_MD_RAID5=m
CONFIG_EVMS_AIX=m
CONFIG_EVMS_OS2=m
# CONFIG_EVMS_INFO_CRITICAL is not set
# CONFIG_EVMS_INFO_SERIOUS is not set
# CONFIG_EVMS_INFO_ERROR is not set
# CONFIG_EVMS_INFO_WARNING is not set
CONFIG_EVMS_INFO_DEFAULT=y
# CONFIG_EVMS_INFO_DETAILS is not set
# CONFIG_EVMS_INFO_DEBUG is not set
# CONFIG_EVMS_INFO_EXTRA is not set
# CONFIG_EVMS_INFO_ENTRY_EXIT is not set
# CONFIG_EVMS_INFO_EVERYTHING is not set
