#
# Power management options (ACPI, APM)
#
CONFIG_TOI_CORE=m

#
# Image Storage (you need at least one allocator)
#
CONFIG_TOI_FILE=m
CONFIG_TOI_SWAP=m

#
# General Options
#
CONFIG_TOI_CRYPTO=m
CONFIG_TOI_USERUI=m
CONFIG_TOI_USERUI_DEFAULT_PATH=""
# CONFIG_TOI_KEEP_IMAGE is not set
# CONFIG_TOI_REPLACE_SWSUSP is not set
# CONFIG_TOI_CHECKSUM is not set
CONFIG_TOI_DEFAULT_WAIT=25
CONFIG_TOI_DEFAULT_EXTRA_PAGES_ALLOWANCE=500
CONFIG_TOI_DEFAULT_PRE_HIBERNATE=""
CONFIG_TOI_DEFAULT_POST_HIBERNATE=""
# CONFIG_TOI_CLUSTER is not set
CONFIG_TOI_PAGEFLAGS_TEST=m
CONFIG_TOI=y

# CONFIG_PRINTK_NOSAVE is not set
