#
# Networking
#
NET all=y

#
# Networking options
#
PACKET all=y
PACKET_MMAP all=y
UNIX all=y
XFRM all=y
XFRM_USER all=m
XFRM_SUB_POLICY all=y
XFRM_MIGRATE all=y
NET_KEY all=m
NET_KEY_MIGRATE all=y
RING all=m
INET all=y
IP_MULTICAST all=y
IP_ADVANCED_ROUTER all=y
ASK_IP_FIB_HASH all=y
IP_FIB_TRIE all=n
IP_FIB_HASH all=y
IP_MULTIPLE_TABLES all=y
IP_ROUTE_MULTIPATH all=y
IP_ROUTE_VERBOSE all=y
IP_PNP all=y
IP_PNP_DHCP all=y
IP_PNP_BOOTP all=y
IP_PNP_RARP all=y
NET_IPIP all=m
NET_IPGRE all=m
NET_IPGRE_BROADCAST all=y
IP_MROUTE all=y
IP_PIMSM_V1 all=y
IP_PIMSM_V2 all=y
ARPD all=n
SYN_COOKIES all=y
INET_AH all=m
INET_ESP all=m
INET_IPCOMP all=m
INET_XFRM_TUNNEL all=m
INET_TUNNEL all=m
INET_XFRM_MODE_TRANSPORT all=m
INET_XFRM_MODE_TUNNEL all=m
INET_XFRM_MODE_BEET all=m
INET_DIAG all=m
INET_TCP_DIAG all=m
TCP_CONG_ADVANCED all=y
TCP_CONG_BIC all=y
TCP_CONG_CUBIC all=m
TCP_CONG_WESTWOOD all=m
TCP_CONG_HTCP all=m
TCP_CONG_HSTCP all=m
TCP_CONG_HYBLA all=m
TCP_CONG_VEGAS all=m
TCP_CONG_SCALABLE all=m
TCP_CONG_LP all=m
TCP_CONG_VENO all=m
TCP_CONG_YEAH all=m
TCP_CONG_ILLINOIS all=m
DEFAULT_BIC all=y
DEFAULT_CUBIC all=n
DEFAULT_HTCP all=n
DEFAULT_VEGAS all=n
DEFAULT_WESTWOOD all=n
DEFAULT_RENO all=n
DEFAULT_TCP_CONG all="bic"
TCP_MD5SIG all=y

#
# IP: Virtual Server Configuration
#
IP_VS all=m
IP_VS_DEBUG all=n
IP_VS_TAB_BITS all=12

#
# IPVS transport protocol load balancing support
#
IP_VS_PROTO_TCP all=y
IP_VS_PROTO_UDP all=y
IP_VS_PROTO_ESP all=y
IP_VS_PROTO_AH all=y

#
# IPVS scheduler
#
IP_VS_RR all=m
IP_VS_WRR all=m
IP_VS_LC all=m
IP_VS_WLC all=m
IP_VS_LBLC all=m
IP_VS_LBLCR all=m
IP_VS_DH all=m
IP_VS_SH all=m
IP_VS_SED all=m
IP_VS_NQ all=m

#
# IPVS application helper
#
IP_VS_FTP all=m
IPV6 all=y
IPV6_PRIVACY all=y
IPV6_ROUTER_PREF all=y
IPV6_ROUTE_INFO all=y
IPV6_OPTIMISTIC_DAD all=y
INET6_AH all=m
INET6_ESP all=m
INET6_IPCOMP all=m
IPV6_MIP6 all=y
INET6_XFRM_TUNNEL all=m
INET6_TUNNEL all=m
INET6_XFRM_MODE_TRANSPORT all=m
INET6_XFRM_MODE_TUNNEL all=m
INET6_XFRM_MODE_BEET all=m
INET6_XFRM_MODE_ROUTEOPTIMIZATION all=m
IPV6_SIT all=m
IPV6_TUNNEL all=m
IPV6_MULTIPLE_TABLES all=y
IPV6_SUBTREES all=y
NETLABEL all=y
NETWORK_SECMARK all=y
NETFILTER all=y
NETFILTER_DEBUG all=n
BRIDGE_NETFILTER all=y

#
# Core Netfilter Configuration
#

#
# IP: Netfilter Configuration
#

#
# IPv6: Netfilter Configuration (EXPERIMENTAL)
#

#
# DECnet: Netfilter Configuration
#

#
# Bridge: Netfilter Configuration
#

#
# DCCP Configuration (EXPERIMENTAL)
#
IP_DCCP all=m
INET_DCCP_DIAG all=m
IP_DCCP_ACKVEC all=y

#
# DCCP CCIDs Configuration (EXPERIMENTAL)
#
IP_DCCP_CCID2 all=m
IP_DCCP_CCID2_DEBUG all=n
IP_DCCP_CCID3 all=m
IP_DCCP_TFRC_LIB all=m
IP_DCCP_CCID3_DEBUG all=n
IP_DCCP_CCID3_RTO all=100

#
# DCCP Kernel Hacking
#
IP_DCCP_DEBUG all=n

#
# SCTP Configuration (EXPERIMENTAL)
#
IP_SCTP all=m
SCTP_DBG_MSG all=n
SCTP_DBG_OBJCNT all=n
SCTP_HMAC_NONE all=n
SCTP_HMAC_SHA1 all=n
SCTP_HMAC_MD5 all=y

#
# TIPC Configuration (EXPERIMENTAL)
#
TIPC all=m
TIPC_ADVANCED all=n
TIPC_DEBUG all=n
ATM all=m
ATM_CLIP all=m
ATM_CLIP_NO_ICMP all=y
ATM_LANE all=m
ATM_MPOA all=m
ATM_BR2684 all=m
ATM_BR2684_IPFILTER all=n
BRIDGE all=m
VLAN_8021Q all=m
DECNET all=m
DECNET_ROUTER all=y
LLC all=y
LLC2 all=m
IPX all=m
IPX_INTERN all=n
ATALK all=m
DEV_APPLETALK all=m
LTPC alpha=m i386=m
COPS alpha=m i386=m
COPS_DAYNA alpha=y i386=y
COPS_TANGENT alpha=y i386=y
IPDDP all=m
IPDDP_ENCAP all=y
IPDDP_DECAP all=y
X25 all=m
LAPB all=m
ECONET all=m
ECONET_AUNUDP all=y
ECONET_NATIVE all=y
WAN_ROUTER all=m

#
# QoS and/or fair queueing
#
NET_SCHED all=y
NET_SCH_FIFO all=y

#
# Queueing/Scheduling
#
NET_SCH_CBQ all=m
NET_SCH_HTB all=m
NET_SCH_HFSC all=m
NET_SCH_ATM all=m
NET_SCH_PRIO all=m
NET_SCH_RR all=m
NET_SCH_RED all=m
NET_SCH_SFQ all=m
NET_SCH_ESFQ all=m
NET_SCH_ESFQ_NFCT all=y
NET_SCH_TEQL all=m
NET_SCH_TBF all=m
NET_SCH_GRED all=m
NET_SCH_DSMARK all=m
NET_SCH_NETEM all=m
NET_SCH_INGRESS all=m

#
# Classification
#
NET_CLS all=y
NET_CLS_BASIC all=m
NET_CLS_TCINDEX all=m
NET_CLS_ROUTE4 all=m
NET_CLS_ROUTE all=y
NET_CLS_FW all=m
NET_CLS_U32 all=m
CLS_U32_PERF all=y
CLS_U32_MARK all=y
NET_CLS_RSVP all=m
NET_CLS_RSVP6 all=m
NET_EMATCH all=y
NET_EMATCH_STACK all=32
NET_EMATCH_CMP all=m
NET_EMATCH_NBYTE all=m
NET_EMATCH_U32 all=m
NET_EMATCH_META all=m
NET_EMATCH_TEXT all=m
NET_CLS_ACT all=y
NET_ACT_POLICE all=m
NET_ACT_GACT all=m
GACT_PROB all=y
NET_ACT_MIRRED all=m
NET_ACT_IPT all=m
NET_ACT_PEDIT all=m
NET_ACT_SIMP all=m
NET_CLS_POLICE all=y
NET_CLS_IND all=y
NET_ESTIMATOR all=y
NET_9P all=m
NET_9P_FD all=m
NET_9P_VIRTIO all=m
NET_9P_DEBUG all=n

#
# Network testing
#
NET_PKTGEN all=m
HAMRADIO all=y

#
# Multi-device support (RAID and LVM)
#
MD all=y
BLK_DEV_MD all=m
MD_LINEAR all=m
MD_RAID0 all=m
MD_RAID1 all=m
MD_RAID10 all=m
MD_RAID456 all=m
MD_RAID5_RESHAPE all=y
MD_MULTIPATH all=m
MD_FAULTY all=m
BLK_DEV_DM all=m
DM_DEBUG all=n
DM_CRYPT all=m
DM_SNAPSHOT all=m
DM_MIRROR all=m
DM_ZERO all=m
DM_MULTIPATH all=m
DM_MULTIPATH_EMC all=m
DM_MULTIPATH_RDAC all=m
DM_DELAY all=m

#
# Fusion MPT device support
#
FUSION all=y sparc=n
FUSION_SPI all=m sparc=n
FUSION_FC all=m sparc=n
FUSION_SAS all=m sparc=n
FUSION_MAX_SGE all=40 sparc=
FUSION_CTL all=m sparc=
FUSION_LAN all=m sparc=
FUSION_LOGGING all=y sparc=

#
# Supported FlexCopII (B2C2) Adapters
#
DVB_B2C2_FLEXCOP all=m
DVB_B2C2_FLEXCOP_PCI all=m sparc=n
DVB_B2C2_FLEXCOP_USB alpha=m ia64=m i386=m ppc=m ppc64=m sparc64=m x86_64=m
DVB_B2C2_FLEXCOP_DEBUG all=n

#
# Supported BT878 Adapters
#
DVB_BT8XX all=m

#
# Supported Pluto2 Adapters
#
DVB_PLUTO2 all=m sparc=n

#
# Supported DVB Frontends
#

#
# Customise DVB Frontends
#
DVB_FE_CUSTOMISE all=n

#
# DVB-S (satellite) frontends
#
DVB_STV0299 all=m
DVB_CX24110 all=m
DVB_CX24123 all=m
DVB_TDA8083 all=m
DVB_MT312 all=m
DVB_VES1X93 all=m
DVB_S5H1420 all=m
DVB_TDA10086 all=m

#
# DVB-T (terrestrial) frontends
#
DVB_SP8870 all=m
DVB_SP887X all=m
DVB_CX22700 all=m
DVB_CX22702 all=m
DVB_L64781 all=m
DVB_TDA1004X all=m
DVB_NXT6000 all=m
DVB_MT352 all=m
DVB_ZL10353 all=m
DVB_DIB3000MB all=m
DVB_DIB3000MC all=m
DVB_DIB7000M all=m
DVB_DIB7000P all=m

#
# DVB-C (cable) frontends
#
DVB_VES1820 all=m
DVB_TDA10021 all=m
DVB_TDA10023 all=m
DVB_STV0297 all=m

#
# ATSC (North American/Korean Terrestrial/Cable DTV) frontends
#
DVB_NXT200X all=m
DVB_OR51211 all=m
DVB_OR51132 all=m
DVB_BCM3510 all=m
DVB_LGDT330X all=m

#
# Tuners/PLL support
#
DVB_PLL all=m
DVB_TDA826X all=m
DVB_TDA827X all=m
DVB_TUNER_QT1010 all=m
DVB_TUNER_MT2060 all=m

#
# Miscellaneous devices
#
DVB_LNBP21 all=m
DVB_ISL6421 all=m
DVB_TUA6100 all=m
VIDEO_SAA7146 all=m
VIDEO_SAA7146_VV all=m
VIDEO_TUNER alpha=m ia64=m i386=m ppc=m ppc64=m sparc64=m x86_64=m
VIDEO_BUF all=m
VIDEO_BUF_DVB alpha=m ia64=m i386=m ppc=m ppc64=m sparc64=m x86_64=m
VIDEO_BTCX alpha=m ia64=m i386=m ppc=m ppc64=m sparc64=m x86_64=m
VIDEO_IR alpha=m ia64=m i386=m ppc=m ppc64=m sparc64=m x86_64=m
VIDEO_TVEEPROM alpha=m ia64=m i386=m ppc=m ppc64=m sparc64=m x86_64=m
DAB all=y
USB_DABUSB alpha=m ia64=m i386=m ppc=m ppc64=m sparc64=m x86_64=m

#
# File systems
#
EXT2_FS all=m
EXT2_FS_XATTR all=y
EXT2_FS_POSIX_ACL all=y
EXT2_FS_SECURITY all=y
EXT2_FS_XIP all=y
FS_XIP all=y
EXT3_FS all=m
EXT3_FS_XATTR all=y
EXT3_FS_POSIX_ACL all=y
EXT3_FS_SECURITY all=y
EXT4DEV_FS all=m
EXT4DEV_FS_XATTR all=y
EXT4DEV_FS_POSIX_ACL all=y
EXT4DEV_FS_SECURITY all=y
JBD all=m
JBD_DEBUG all=n
JBD2 all=m
JBD2_DEBUG all=n
FS_MBCACHE all=m
REISERFS_FS all=m
REISERFS_CHECK all=n
REISERFS_PROC_INFO all=y
REISERFS_FS_XATTR all=y
REISERFS_FS_POSIX_ACL all=y
REISERFS_FS_SECURITY all=y
JFS_FS all=m
JFS_POSIX_ACL all=y
JFS_SECURITY all=y
JFS_DEBUG all=n
JFS_STATISTICS all=y
FS_POSIX_ACL all=y
XFS_FS all=m
XFS_QUOTA all=y
XFS_SECURITY all=y
XFS_POSIX_ACL all=y
XFS_RT all=n
GFS2_FS all=m
GFS2_FS_LOCKING_NOLOCK all=m
GFS2_FS_LOCKING_DLM all=m
OCFS2_FS all=m
OCFS2_DEBUG_MASKLOG all=y
OCFS2_DEBUG_FS all=n
MINIX_FS all=m
ROMFS_FS all=y
INOTIFY all=y
INOTIFY_USER all=y
QUOTA all=y
QFMT_V1 all=m
QFMT_V2 all=m
QUOTACTL all=y
DNOTIFY all=y
AUTOFS_FS all=m
AUTOFS4_FS all=m
FUSE_FS all=m
GENERIC_ACL all=y

#
# CD-ROM/DVD Filesystems
#
ISO9660_FS all=m
JOLIET all=y
ZISOFS all=y
UDF_FS all=m
UDF_NLS all=y

#
# DOS/FAT/NT Filesystems
#
FAT_FS all=m
MSDOS_FS all=m
VFAT_FS all=m
FAT_DEFAULT_CODEPAGE all=437
FAT_DEFAULT_IOCHARSET all="iso8859-1"
NTFS_FS all=m
NTFS_DEBUG all=n
NTFS_RW all=y

#
# Pseudo filesystems
#
PROC_FS all=y
PROC_KCORE all=y
PROC_SYSCTL all=y
SYSFS all=y
TMPFS all=y
TMPFS_POSIX_ACL all=y
HUGETLBFS all=y
HUGETLB_PAGE all=y
RAMFS all=y
CONFIGFS_FS all=m

#
# Layered filesystems
#
ECRYPT_FS all=m
UNION_FS all=m
UNION_FS_XATTR all=y
UNION_FS_DEBUG all=n

#
# Miscellaneous filesystems
#
ADFS_FS all=m
ADFS_FS_RW all=y
AFFS_FS all=m
HFS_FS all=m
HFSPLUS_FS all=m
BEFS_FS all=m
BEFS_DEBUG all=n
BFS_FS all=m
EFS_FS all=m
JFFS2_FS all=m
JFFS2_FS_DEBUG all=0
JFFS2_FS_WRITEBUFFER all=y
JFFS2_FS_WBUF_VERIFY all=n
JFFS2_SUMMARY all=y
JFFS2_FS_XATTR all=y
JFFS2_FS_POSIX_ACL all=y
JFFS2_FS_SECURITY all=y
JFFS2_COMPRESSION_OPTIONS all=y
JFFS2_ZLIB all=y
JFFS2_LZO all=y
JFFS2_RTIME all=y
JFFS2_RUBIN all=y
JFFS2_CMODE_NONE all=n
JFFS2_CMODE_PRIORITY all=y
JFFS2_CMODE_SIZE all=n
JFFS2_CMODE_FAVOURLZO all=n
CRAMFS all=m
VXFS_FS all=m
HPFS_FS all=m
QNX4FS_FS all=m
SYSV_FS all=m
UFS_FS all=m
UFS_FS_WRITE all=n
UFS_DEBUG all=n

#
# Network File Systems
#
NETWORK_FILESYSTEMS all=y
NFS_FS all=m
NFS_V3 all=y
NFS_V3_ACL all=y
NFS_V4 all=y
NFS_DIRECTIO all=y
NFSD all=m
NFSD_V2_ACL all=y
NFSD_V3 all=y
NFSD_V3_ACL all=y
NFSD_V4 all=y
NFSD_TCP all=y
LOCKD all=m
LOCKD_V4 all=y
EXPORTFS all=m
NFS_ACL_SUPPORT all=m
NFS_COMMON all=y
SUNRPC all=m
SUNRPC_GSS all=m
SUNRPC_BIND34 all=y
RPCSEC_GSS_KRB5 all=m
RPCSEC_GSS_SPKM3 all=m
SMB_FS all=m
SMB_NLS_DEFAULT all=y
SMB_NLS_REMOTE all="iso8859-2"
CIFS all=m
CIFS_STATS all=n
CIFS_WEAK_PW_HASH all=y
CIFS_XATTR all=y
CIFS_POSIX all=y
CIFS_DEBUG2 all=n
CIFS_EXPERIMENTAL all=y
CIFS_UPCALL all=y
NCP_FS all=m
NCPFS_PACKET_SIGNING all=y
NCPFS_IOCTL_LOCKING all=y
NCPFS_STRONG all=y
NCPFS_NFS_NS all=y
NCPFS_OS2_NS all=y
NCPFS_SMALLDOS all=y
NCPFS_NLS all=y
NCPFS_EXTRAS all=y
CODA_FS all=m
CODA_FS_OLD_API all=n
AFS_FS all=m
AFS_DEBUG all=n
9P_FS all=m

#
# Partition Types
#
PARTITION_ADVANCED all=y
ACORN_PARTITION all=y
ACORN_PARTITION_CUMANA all=n
ACORN_PARTITION_EESOX all=y
ACORN_PARTITION_ICS all=y
ACORN_PARTITION_ADFS all=n
ACORN_PARTITION_POWERTEC all=y
ACORN_PARTITION_RISCIX all=y
OSF_PARTITION all=y
AMIGA_PARTITION all=y
ATARI_PARTITION all=y
MAC_PARTITION all=y
MSDOS_PARTITION all=y
BSD_DISKLABEL all=y
MINIX_SUBPARTITION all=y
SOLARIS_X86_PARTITION all=y
UNIXWARE_DISKLABEL all=y
LDM_PARTITION all=y
LDM_DEBUG all=n
SGI_PARTITION all=y
ULTRIX_PARTITION all=y
SUN_PARTITION all=y
KARMA_PARTITION all=y
EFI_PARTITION all=y
SYSV68_PARTITION all=y

#
# Native Language Support
#
NLS all=y
NLS_DEFAULT all="utf8"
NLS_CODEPAGE_437 all=m
NLS_CODEPAGE_737 all=m
NLS_CODEPAGE_775 all=m
NLS_CODEPAGE_850 all=m
NLS_CODEPAGE_852 all=m
NLS_CODEPAGE_855 all=m
NLS_CODEPAGE_857 all=m
NLS_CODEPAGE_860 all=m
NLS_CODEPAGE_861 all=m
NLS_CODEPAGE_862 all=m
NLS_CODEPAGE_863 all=m
NLS_CODEPAGE_864 all=m
NLS_CODEPAGE_865 all=m
NLS_CODEPAGE_866 all=m
NLS_CODEPAGE_869 all=m
NLS_CODEPAGE_936 all=m
NLS_CODEPAGE_950 all=m
NLS_CODEPAGE_932 all=m
NLS_CODEPAGE_949 all=m
NLS_CODEPAGE_874 all=m
NLS_ISO8859_8 all=m
NLS_CODEPAGE_1250 all=m
NLS_CODEPAGE_1251 all=m
NLS_ASCII all=m
NLS_ISO8859_1 all=m
NLS_ISO8859_2 all=m
NLS_ISO8859_3 all=m
NLS_ISO8859_4 all=m
NLS_ISO8859_5 all=m
NLS_ISO8859_6 all=m
NLS_ISO8859_7 all=m
NLS_ISO8859_9 all=m
NLS_ISO8859_13 all=m
NLS_ISO8859_14 all=m
NLS_ISO8859_15 all=m
NLS_KOI8_R all=m
NLS_KOI8_U all=m
NLS_UTF8 all=m
DLM all=m
DLM_DEBUG all=n
INSTRUMENTATION all=y
PROFILING all=y
OPROFILE all=m
KPROBES all=n
MARKERS all=n

#
# Security options
#

#
# Miscellaneous hardening features
#
KEYS all=y
KEYS_DEBUG_PROC_KEYS all=n
SECURITY all=y
SECURITY_NETWORK all=y
SECURITY_NETWORK_XFRM all=y
SECURITY_CAPABILITIES all=y
SECURITY_FILE_CAPABILITIES all=y
SECURITY_ROOTPLUG all=n
SECURITY_SELINUX all=y
SECURITY_SELINUX_BOOTPARAM all=y
SECURITY_SELINUX_BOOTPARAM_VALUE all=0
SECURITY_SELINUX_DISABLE all=n
SECURITY_SELINUX_DEVELOP all=y
SECURITY_SELINUX_AVC_STATS all=n
SECURITY_SELINUX_CHECKREQPROT_VALUE all=1
SECURITY_SELINUX_ENABLE_SECMARK_DEFAULT all=y
SECURITY_SELINUX_POLICYDB_VERSION_MAX all=n
SECURITY_APPARMOR all=m

#
# Cryptographic options
#
CRYPTO all=y
CRYPTO_ALGAPI all=y
CRYPTO_ABLKCIPHER all=m
CRYPTO_AEAD all=m
CRYPTO_BLKCIPHER all=m
CRYPTO_HASH all=y
CRYPTO_MANAGER all=y
CRYPTO_HMAC all=y
CRYPTO_XCBC all=m
CRYPTO_NULL all=m
CRYPTO_MD4 all=m
CRYPTO_MD5 all=y
CRYPTO_SHA1 all=m
CRYPTO_SHA256 all=y
CRYPTO_SHA512 all=m
CRYPTO_WP512 all=m
CRYPTO_TGR192 all=m
CRYPTO_GF128MUL all=m
CRYPTO_ECB all=m
CRYPTO_CBC all=m
CRYPTO_PCBC all=m
CRYPTO_LRW all=m
CRYPTO_XTS all=m
CRYPTO_CRYPTD all=m
CRYPTO_DES all=m
CRYPTO_FCRYPT all=m
CRYPTO_BLOWFISH all=m
CRYPTO_TWOFISH all=m
CRYPTO_TWOFISH_COMMON all=m
CRYPTO_TWOFISH_586 i386=m
CRYPTO_TWOFISH_X86_64 x86_64=m
CRYPTO_SERPENT all=m
CRYPTO_AES all=m
CRYPTO_AES_586 i386=m
CRYPTO_AES_X86_64 x86_64=m
CRYPTO_CAST5 all=m
CRYPTO_CAST6 all=m
CRYPTO_TEA all=m
CRYPTO_ARC4 all=m
CRYPTO_KHAZAD all=m
CRYPTO_ANUBIS all=m
CRYPTO_SEED all=m
CRYPTO_DEFLATE all=m
CRYPTO_LZF all=m
CRYPTO_MICHAEL_MIC all=m
CRYPTO_CRC32C all=m
CRYPTO_CAMELLIA all=m
CRYPTO_TEST all=m
CRYPTO_AUTHENC all=m
CRYPTO_HW all=y

#
# LED drivers
#
LEDS_NET48XX i386=m
LEDS_WRAP i386=m

#
# Virtualization
#
VIRTUALIZATION i386=y x86_64=y
KVM i386=m x86_64=m
KVM_INTEL i386=m x86_64=m
KVM_AMD i386=m x86_64=m

PID_NS all=y

CGROUPS all=y
CGROUP_DEBUG all=n
CGROUP_NS all=y
FAIR_GROUP_SCHED all=y
FAIR_USER_SCHED all=y
FAIR_CGROUP_SCHED all=n
CGROUP_CPUACCT all=y
PROC_PID_CPUSET all=n

NO_HZ all=y
HIGH_RES_TIMERS all=y
ACPI_PROCFS_POWER all=y
ACPI_SYSFS_POWER all=y

CPU_FREQ_DEFAULT_GOV_PERFORMANCE all=y
CPU_FREQ_DEFAULT_GOV_USERSPACE all=n
CPU_FREQ_DEFAULT_GOV_ONDEMAND all=n
CPU_FREQ_DEFAULT_GOV_CONSERVATIVE all=n

X86_P4_CLOCKMOD i386=m
CPU_IDLE all=n
DMAR all=n

PCI_LEGACY all=y
INET_LRO all=m
NETFILTER_XT_MATCH_TIME all=m
NET_ACT_NAT all=m
KSDAZZLE_DONGLE all=m
KS959_DONGLE all=m
BT_HCIBTSDIO all=m
BT_HCIUART_LL all=y
NL80211 all=y


UEVENT_HELPER_PATH all="/sbin/hotplug"

MTD_OOPS all=m
MTD_INTEL_VR_NOR all=m
MTD_ALAUDA all=m
MTD_ONENAND_2X_PROGRAM all=y
MTD_ONENAND_SIM all=m
FUJITSU_LAPTOP all=m
BLK_DEV_PLATFORM all=m

SCSI_FC_TGT_ATTRS all=y
SCSI_SRP_TGT_ATTRS all=y

SCSI_ADVANSYS all=m
SCSI_ARCMSR_AER all=y

PATA_ACPI i386=m ia64=m
PATA_NS87415 all=m

DM_MULTIPATH_HP all=m
DM_UEVENT all=y

VETH all=m

FIXED_MII_1000_FDX all=y
FIXED_MII_AMNT all=1

MDIO_BITBANG all=m

E1000E all=m
IP1000 all=m
IXGBE all=m
NIU all=m
TEHUTI all=m

LIBERTAS_CS all=m
LIBERTAS_SDIO all=m

ADM8211 all=m
P54_COMMON all=m
P54_USB all=m
P54_PCI all=m
IWLWIFI all=y
IWLWIFI_DEBUG all=n
IWLWIFI_SENSITIVITY all=y
IWLWIFI_SPECTRUM_MEASUREMENT all=y
IWLWIFI_QOS all=y
IWL4965 all=m
IWL3945 all=m
B43 all=m
B43_PCMCIA all=y
B43_DEBUG all=n
B43LEGACY all=m
B43LEGACY_DEBUG all=n
B43_DMA_AND_PIO_MODE all=y
B43_DMA_MODE all=n
B43_PIO_MODE all=n
B43LEGACY_DMA_AND_PIO_MODE all=y
B43LEGACY_DMA_MODE all=n
B43LEGACY_PIO_MODE all=n
RT2X00 all=m
RT2400PCI all=m
RT2400PCI_RFKILL all=y
RT2500PCI all=m
RT2500PCI_RFKILL all=y
RT61PCI all=m
RT61PCI_RFKILL all=y
RT2500USB all=m
RT73USB all=m
RT2X00_DEBUG all=n
NETCONSOLE_DYNAMIC all=y
SENSORS_ADT7470 all=m
SENSORS_I5K_AMB all=m
SENSORS_F71882FG all=m
SENSORS_F75375S all=m
SENSORS_FSCHMD all=m
SENSORS_IBMPEX all=m
IT8712F_WDT all=m

SSB all=m
SSB_DEBUG all=n
VIDEO_CX23885 all=m
VIDEO_FB_IVTV all=m

VIDEO_TUNER_CUSTOMIZE all=y
TUNER_MT20XX all=m
TUNER_TDA8290 all=m
TUNER_TEA5767 all=m
TUNER_SIMPLE all=m
FB_UVESA all=m
FB_EFI all=y
LCD_LTV350QV all=m
BACKLIGHT_CORGI all=m
SND_HDA_HWDEP all=y
SND_HDA_CODEC_REALTEK all=y
SND_HDA_CODEC_ANALOG all=y
SND_HDA_CODEC_SIGMATEL all=y
SND_HDA_CODEC_VIA all=y
SND_HDA_CODEC_ATIHDMI all=y
SND_HDA_CODEC_CONEXANT all=y
SND_HDA_CODEC_CMEDIA all=y
SND_HDA_CODEC_SI3054 all=y
SND_HDA_GENERIC all=y
SND_HDA_POWER_SAVE all=n
SND_AC97_POWER_SAVE_DEFAULT all=0

HIDRAW all=y

USB_OHCI_HCD_SSB all=y
USB_SERIAL_CH341 all=m

SDIO_UART all=m
MMC_RICOH_MMC all=m
MMC_SPI all=m

RTC_DRV_DS1374 all=m

DMADEVICES all=y

QUOTA_NETLINK_INTERFACE all=y
PRINT_QUOTA_WARNING all=y

SUNRPC_XPRT_RDMA all=m
PPC_BESTCOMM ppc=m
PPC_BESTCOMM_ATA ppc=m
PPC_BESTCOMM_FEC ppc=m
PPC_BESTCOMM_GEN_BD ppc=m

FEC_MPC52xx ppc=m
FEC_MPC52xx_MDIO ppc=y

SERIAL_PMACZILOG_TTYS all=n

ENABLE_WARN_DEPRECATED all=y
DEBUG_SG all=n
BOOT_PRINTK_DELAY all=n
SAMPLES all=n

SCHED_NO_NO_OMIT_FRAME_POINTER all=y

PARAVIRT_GUEST i386=n

PATA_CS5536 all=m

SBC7240_WDT all=m

SND_SC6000 all=m
