
#-
#- *** FILE: arch/powerpc/Kconfig ***
#-
#- file arch/powerpc/platforms/Kconfig.cputype goes here
#- file arch/powerpc/sysdev/Kconfig goes here
#- file arch/powerpc/platforms/Kconfig goes here
HIGHMEM ppc=n
#- file kernel/Kconfig.hz goes here
HOTPLUG_CPU powerpc=y
IRQ_ALL_CPUS powerpc=y
NUMA ppc64=y
PPC_4K_PAGES ppc=y ppc64=y
PPC_64K_PAGES ppc64=n
FORCE_MAX_ZONEORDER ppc=11 ppc64=13
EXTRA_TARGETS powerpc=""
#- file kernel/power/Kconfig goes here
ISA ppc=n
ADVANCED_OPTIONS ppc=n
#- Default settings for advanced configuration options are used
KERNEL_START ppc=0xc0000000
#- file arch/powerpc/kvm/Kconfig goes here
#- file kernel/livepatch/Kconfig goes here

#-
#- *** FILE: arch/powerpc/kvm/Kconfig ***
#-
#- file virt/kvm/Kconfig goes here
VIRTUALIZATION powerpc=y
KVM ppc=y

#-
#- *** FILE: arch/powerpc/platforms/512x/Kconfig ***
#-
MPC5121_ADS ppc=n

#-
#- *** FILE: arch/powerpc/platforms/52xx/Kconfig ***
#-
PPC_MPC52xx ppc=y
PPC_MPC5200_SIMPLE ppc=y
PPC_EFIKA ppc=y
PPC_LITE5200 ppc=y
PPC_MEDIA5200 ppc=y
PPC_MPC5200_BUGFIX ppc=y

#-
#- *** FILE: arch/powerpc/platforms/82xx/Kconfig ***
#-
PPC_82xx ppc=n

#-
#- *** FILE: arch/powerpc/platforms/83xx/Kconfig ***
#-
PPC_83xx ppc=n

#-
#- *** FILE: arch/powerpc/platforms/86xx/Kconfig ***
#-
PPC_86xx ppc=n

#-
#- *** FILE: arch/powerpc/platforms/Kconfig ***
#-
#- file arch/powerpc/platforms/powernv/Kconfig goes here
#- file arch/powerpc/platforms/pseries/Kconfig goes here
#- file arch/powerpc/platforms/chrp/Kconfig goes here
#- file arch/powerpc/platforms/512x/Kconfig goes here
#- file arch/powerpc/platforms/52xx/Kconfig goes here
#- file arch/powerpc/platforms/powermac/Kconfig goes here
#- file arch/powerpc/platforms/maple/Kconfig goes here
#- file arch/powerpc/platforms/pasemi/Kconfig goes here
#- file arch/powerpc/platforms/ps3/Kconfig goes here
#- file arch/powerpc/platforms/cell/Kconfig goes here
#- file arch/powerpc/platforms/8xx/Kconfig goes here
#- file arch/powerpc/platforms/82xx/Kconfig goes here
#- file arch/powerpc/platforms/83xx/Kconfig goes here
#- file arch/powerpc/platforms/85xx/Kconfig goes here
#- file arch/powerpc/platforms/86xx/Kconfig goes here
#- file arch/powerpc/platforms/embedded6xx/Kconfig goes here
#- file arch/powerpc/platforms/44x/Kconfig goes here
#- file arch/powerpc/platforms/40x/Kconfig goes here
#- file arch/powerpc/platforms/amigaone/Kconfig goes here
#- file arch/powerpc/platforms/book3s/Kconfig goes here
#- file arch/powerpc/platforms/microwatt/Kconfig goes here
PPC_OF_BOOT_TRAMPOLINE powerpc=y
UDBG_RTAS_CONSOLE ppc=n ppc64=y
RTAS_PROC powerpc=y
RTAS_FLASH ppc64=m
#- file drivers/cpufreq/Kconfig goes here
#- file drivers/cpuidle/Kconfig goes here
TAU ppc=n
GEN_RTC all=n

#-
#- *** FILE: arch/powerpc/platforms/Kconfig.cputype ***
#-
PPC64 ppc=n ppc64=y
PPC_BOOK3S_32 ppc=y
PPC_85xx ppc=n
PPC_8xx ppc=n
40x ppc=n
44x ppc=n
PPC_BOOK3S_64 ppc64=y
PPC_BOOK3E_64 ppc64=n
ALTIVEC powerpc=y
VSX ppc64=y
SMP powerpc=y
NR_CPUS ppc=4 ppc64=32

#-
#- *** FILE: arch/powerpc/platforms/cell/Kconfig ***
#-
PPC_IBM_CELL_BLADE ppc64=y
SPU_FS ppc64=m
CBE_RAS ppc64=y
PPC_IBM_CELL_RESETBUTTON ppc64=y
PPC_IBM_CELL_POWERBUTTON ppc64=m
CBE_THERM ppc64=m
PPC_PMI ppc64=m
CBE_CPUFREQ_SPU_GOVERNOR ppc64=m

#-
#- *** FILE: arch/powerpc/platforms/chrp/Kconfig ***
#-
PPC_CHRP ppc=y

#-
#- *** FILE: arch/powerpc/platforms/embedded6xx/Kconfig ***
#-
EMBEDDED6xx ppc=n

#-
#- *** FILE: arch/powerpc/platforms/maple/Kconfig ***
#-
PPC_MAPLE ppc64=y

#-
#- *** FILE: arch/powerpc/platforms/pasemi/Kconfig ***
#-
PPC_PASEMI ppc64=y
PPC_PASEMI_IOMMU ppc64=y
PPC_PASEMI_IOMMU_DMA_FORCE ppc64=n
PPC_PASEMI_MDIO ppc64=m

#-
#- *** FILE: arch/powerpc/platforms/powermac/Kconfig ***
#-
PPC_PMAC powerpc=y
PPC_PMAC64 ppc64=y

#-
#- *** FILE: arch/powerpc/platforms/ps3/Kconfig ***
#-
PPC_PS3 ppc64=y
PS3_ADVANCED ppc64=n
PS3_DYNAMIC_DMA ppc64=n
PS3_VUART ppc64=y
PS3_DISK ppc64=m
PS3_ROM ppc64=m
PS3_FLASH ppc64=m
PS3_VRAM ppc64=m
PS3_LPM ppc64=m

#-
#- *** FILE: arch/powerpc/platforms/pseries/Kconfig ***
#-
PPC_PSERIES ppc64=y
PPC_SPLPAR ppc64=n
PPC_SMLPAR ppc64=y
CMM ppc64=m
IBMEBUS ppc64=n

#-
#- *** FILE: drivers/cpufreq/Kconfig.powerpc ***
#-
CPU_FREQ_PMAC ppc=y
CPU_FREQ_PMAC64 ppc64=y
PPC_PASEMI_CPUFREQ ppc64=y

#-
#- *** PROBABLY REMOVED OPTIONS ***
#-
6xx ppc=y
AXON_RAM ppc64=m
BDI_SWITCH ppc=n
BOOTX_TEXT powerpc=n
CBE_CPUFREQ ppc64=m
CBE_CPUFREQ_PMI ppc64=m
CBE_CPUFREQ_PMI_ENABLE ppc64=y
CMDLINE_BOOL powerpc=n
CODE_PATCHING_SELFTEST powerpc=n
DEBUG_STACKOVERFLOW powerpc=n
DEBUG_STACK_USAGE powerpc=n
E200 ppc=n
EDAC_CPC925 ppc64=m
FTR_FIXUP_SELFTEST powerpc=n
HCALL_STATS ppc64=n
IOMMU_VMERGE ppc64=n
IRQSTACKS powerpc=n
KPROBES powerpc=y
MPC5121_GENERIC ppc=n
MSI_BITMAP_SELFTEST powerpc=n
OPROFILE powerpc=m
OPROFILE_IBS powerpc=n
PHYP_DUMP ppc64=n
POWER4_ONLY ppc64=n
PPC601_SYNC_FIX ppc=y
PPC_BESTCOMM ppc=m
PPC_BESTCOMM_ATA ppc=m
PPC_BESTCOMM_FEC ppc=m
PPC_BESTCOMM_GEN_BD ppc=m
PPC_CELLEB ppc64=y
PPC_CELL_QPACE ppc64=y
PPC_DISABLE_WERROR powerpc=y
PPC_EARLY_DEBUG powerpc=n
PPC_EMULATED_STATS powerpc=n
PPC_ISERIES ppc64=y
PPC_MPC5200_GPIO ppc=y
PPC_PREP ppc=y
PPC_UDBG_BEAT ppc64=y
PREP_RESIDUAL ppc=y
PRINT_STACK_DEPTH powerpc=64
PROC_DEVICETREE powerpc=y
PROC_PREPRESIDUAL ppc=y
SCANLOG ppc64=n
SECCOMP powerpc=y
SIMPLE_GPIO powerpc=y
SPU_FS_64K_LS ppc64=y
SWIOTLB powerpc=n
TUNE_CELL ppc64=n
VIOCD ppc64=n
VIODASD ppc64=n
VIOTAPE ppc64=n
VIRQ_DEBUG powerpc=n
VIRT_CPU_ACCOUNTING ppc64=y
XMON powerpc=n
