
#-
#- *** FILE: arch/powerpc/Kconfig ***
#-
#- file arch/powerpc/platforms/Kconfig.cputype goes here
PPC32 ppc=y
GENERIC_HARDIRQS ppc=y
RWSEM_XCHGADD_ALGORITHM ppc=y
ARCH_HAS_ILOG2_U32 ppc=y
ARCH_HAS_ILOG2_U64 ppc=n
GENERIC_HWEIGHT ppc=y
GENERIC_FIND_NEXT_BIT ppc=y
PPC ppc=y
GENERIC_NVRAM ppc=y
ARCH_MAY_HAVE_PC_FDC ppc=y
GENERIC_BUG ppc=y
PPC_DCR_NATIVE ppc=n
PPC_DCR_MMIO ppc=n
#- file init/Kconfig goes here
#- file arch/powerpc/sysdev/Kconfig goes here
#- file arch/powerpc/platforms/Kconfig goes here
HIGHMEM ppc=n
#- file kernel/time/Kconfig goes here
#- file kernel/Kconfig.hz goes here
#- file kernel/Kconfig.preempt goes here
#- file fs/Kconfig.binfmt goes here
KEXEC ppc=y
PPCBUG_NVRAM ppc=y
IRQ_ALL_CPUS ppc=y
ARCH_POPULATES_NODE_MAP ppc=y
#- file mm/Kconfig goes here
FORCE_MAX_ZONEORDER ppc=11
PROC_DEVICETREE ppc=y
CMDLINE_BOOL ppc=n
#- file kernel/power/Kconfig goes here
SECCOMP ppc=y
ISA_DMA_API ppc=y
ISA ppc=n
ZONE_DMA ppc=y
GENERIC_ISA_DMA ppc=y
PPC_INDIRECT_PCI ppc=y
PCI_DOMAINS ppc=y
#- file drivers/pci/pcie/Kconfig goes here
#- file drivers/pci/Kconfig goes here
#- file drivers/pcmcia/Kconfig goes here
#- file drivers/pci/hotplug/Kconfig goes here
#- file drivers/rapidio/Kconfig goes here
ADVANCED_OPTIONS ppc=n
#- Default settings for advanced configuration options are used
LOWMEM_SIZE ppc=0x30000000
KERNEL_START ppc=0xc0000000
TASK_SIZE ppc=0x80000000
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/powerpc/sysdev/qe_lib/Kconfig goes here
#- file lib/Kconfig goes here
#- file arch/powerpc/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file arch/powerpc/kvm/Kconfig goes here

#-
#- *** FILE: arch/powerpc/Kconfig.debug ***
#-
#- file lib/Kconfig.debug goes here
DEBUG_STACKOVERFLOW ppc=n
DEBUG_STACK_USAGE ppc=n
DEBUGGER ppc=n
XMON ppc=n
BDI_SWITCH ppc=n
BOOTX_TEXT ppc=n
PPC_EARLY_DEBUG ppc=n

#-
#- *** FILE: arch/powerpc/platforms/512x/Kconfig ***
#-
MPC5121_ADS ppc=y

#-
#- *** FILE: arch/powerpc/platforms/52xx/Kconfig ***
#-
PPC_MPC52xx ppc=y
PPC_MPC5200_SIMPLE ppc=y
PPC_EFIKA ppc=y
PPC_LITE5200 ppc=y
PPC_MPC5200_BUGFIX ppc=y
PPC_MPC5200_GPIO ppc=y

#-
#- *** FILE: arch/powerpc/platforms/Kconfig ***
#-
PPC_MULTIPLATFORM ppc=y
PPC_82xx ppc=n
PPC_83xx ppc=n
PPC_86xx ppc=n
CLASSIC32 ppc=y
#- file arch/powerpc/platforms/pseries/Kconfig goes here
#- file arch/powerpc/platforms/iseries/Kconfig goes here
#- file arch/powerpc/platforms/chrp/Kconfig goes here
#- file arch/powerpc/platforms/512x/Kconfig goes here
#- file arch/powerpc/platforms/52xx/Kconfig goes here
#- file arch/powerpc/platforms/powermac/Kconfig goes here
#- file arch/powerpc/platforms/prep/Kconfig goes here
#- file arch/powerpc/platforms/maple/Kconfig goes here
#- file arch/powerpc/platforms/pasemi/Kconfig goes here
#- file arch/powerpc/platforms/ps3/Kconfig goes here
#- file arch/powerpc/platforms/cell/Kconfig goes here
#- file arch/powerpc/platforms/8xx/Kconfig goes here
#- file arch/powerpc/platforms/82xx/Kconfig goes here
#- file arch/powerpc/platforms/83xx/Kconfig goes here
#- file arch/powerpc/platforms/85xx/Kconfig goes here
#- file arch/powerpc/platforms/86xx/Kconfig goes here
#- file arch/powerpc/platforms/embedded6xx/Kconfig goes here
#- file arch/powerpc/platforms/44x/Kconfig goes here
#- file arch/powerpc/platforms/40x/Kconfig goes here
UDBG_RTAS_CONSOLE ppc=n
PPC_I8259 ppc=y
RTAS_PROC ppc=y
#- file drivers/cpufreq/Kconfig goes here
CPU_FREQ_PMAC ppc=y
PPC601_SYNC_FIX ppc=y
TAU ppc=n
#- file arch/powerpc/sysdev/bestcomm/Kconfig goes here

#-
#- *** FILE: arch/powerpc/platforms/Kconfig.cputype ***
#-
PPC64 ppc=n
6xx ppc=y
PPC_85xx ppc=n
PPC_8xx ppc=n
40x ppc=n
44x ppc=n
E200 ppc=n
8xx ppc=n
E500 ppc=n
PPC_FPU ppc=y
ALTIVEC ppc=y
PPC_STD_MMU ppc=y
PPC_STD_MMU_32 ppc=y
NR_CPUS ppc=32

#-
#- *** FILE: arch/powerpc/platforms/chrp/Kconfig ***
#-
PPC_CHRP ppc=y

#-
#- *** FILE: arch/powerpc/platforms/embedded6xx/Kconfig ***
#-
EMBEDDED6xx ppc=n

#-
#- *** FILE: arch/powerpc/platforms/powermac/Kconfig ***
#-
PPC_PMAC ppc=y

#-
#- *** FILE: arch/powerpc/platforms/prep/Kconfig ***
#-
PPC_PREP ppc=y
PREP_RESIDUAL ppc=y
PROC_PREPRESIDUAL ppc=y
