
#-
#- *** FILE: arch/Kconfig ***
#-
OPROFILE powerpc=m
OPROFILE_IBS powerpc=n
KPROBES powerpc=y

#-
#- *** FILE: arch/powerpc/Kconfig ***
#-
#- file arch/powerpc/platforms/Kconfig.cputype goes here
#- file init/Kconfig goes here
#- file arch/powerpc/sysdev/Kconfig goes here
#- file arch/powerpc/platforms/Kconfig goes here
HIGHMEM ppc=n
SIMPLE_GPIO powerpc=y
#- file kernel/time/Kconfig goes here
#- file kernel/Kconfig.hz goes here
#- file kernel/Kconfig.preempt goes here
#- file fs/Kconfig.binfmt goes here
IOMMU_VMERGE ppc64=n
HOTPLUG_CPU ppc64=y
KEXEC powerpc=y
CRASH_DUMP powerpc=y ppc64=y
PROC_VMCORE powerpc=y
PHYP_DUMP ppc64=n
IRQ_ALL_CPUS powerpc=y
NUMA ppc64=y
#- file mm/Kconfig goes here
PPC_64K_PAGES ppc64=n
FORCE_MAX_ZONEORDER ppc=11 ppc64=13
SCHED_SMT ppc64=n
PROC_DEVICETREE powerpc=y
CMDLINE_BOOL powerpc=n
EXTRA_TARGETS powerpc=""
#- file kernel/power/Kconfig goes here
SECCOMP powerpc=y
ISA ppc=n
#- file drivers/pci/pcie/Kconfig goes here
#- file drivers/pci/Kconfig goes here
#- file drivers/pcmcia/Kconfig goes here
#- file drivers/pci/hotplug/Kconfig goes here
#- file drivers/rapidio/Kconfig goes here
ADVANCED_OPTIONS ppc=n
#- Default settings for advanced configuration options are used
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
#- file fs/Kconfig goes here
#- file arch/powerpc/sysdev/qe_lib/Kconfig goes here
#- file lib/Kconfig goes here
#- file arch/powerpc/Kconfig.debug goes here
PRINT_STACK_DEPTH powerpc=64
VIRQ_DEBUG powerpc=no
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here
#- file arch/powerpc/kvm/Kconfig goes here

#-
#- *** FILE: arch/powerpc/Kconfig.debug ***
#-
#- file lib/Kconfig.debug goes here
DEBUG_STACKOVERFLOW powerpc=n
DEBUG_STACK_USAGE powerpc=n
DEBUG_PAGEALLOC powerpc=n
CODE_PATCHING_SELFTEST powerpc=n
FTR_FIXUP_SELFTEST powerpc=n
XMON powerpc=n
IRQSTACKS powerpc=n
BDI_SWITCH ppc=n
BOOTX_TEXT powerpc=n
PPC_EARLY_DEBUG powerpc=n

#-
#- *** FILE: arch/powerpc/kvm/Kconfig ***
#-
VIRTUALIZATION powerpc=y
KVM ppc=y
#- file drivers/virtio/Kconfig goes here

#-
#- *** FILE: arch/powerpc/platforms/512x/Kconfig ***
#-
MPC5121_ADS ppc=n
MPC5121_GENERIC ppc=n

#-
#- *** FILE: arch/powerpc/platforms/52xx/Kconfig ***
#-
PPC_MPC52xx ppc=y
PPC_MPC5200_SIMPLE ppc=y
PPC_EFIKA ppc=y
PPC_LITE5200 ppc=y
PPC_MPC5200_BUGFIX ppc=y
PPC_MPC5200_GPIO ppc=y

#-
#- *** FILE: arch/powerpc/platforms/82xx/Kconfig ***
#-
PPC_82xx ppc=n

#-
#- *** FILE: arch/powerpc/platforms/83xx/Kconfig ***
#-
PPC_83xx ppc=n

#-
#- *** FILE: arch/powerpc/platforms/86xx/Kconfig ***
#-
PPC_86xx ppc=n

#-
#- *** FILE: arch/powerpc/platforms/Kconfig ***
#-
#- file arch/powerpc/platforms/pseries/Kconfig goes here
#- file arch/powerpc/platforms/iseries/Kconfig goes here
#- file arch/powerpc/platforms/chrp/Kconfig goes here
#- file arch/powerpc/platforms/512x/Kconfig goes here
#- file arch/powerpc/platforms/52xx/Kconfig goes here
#- file arch/powerpc/platforms/powermac/Kconfig goes here
#- file arch/powerpc/platforms/prep/Kconfig goes here
#- file arch/powerpc/platforms/maple/Kconfig goes here
#- file arch/powerpc/platforms/pasemi/Kconfig goes here
#- file arch/powerpc/platforms/ps3/Kconfig goes here
#- file arch/powerpc/platforms/cell/Kconfig goes here
#- file arch/powerpc/platforms/8xx/Kconfig goes here
#- file arch/powerpc/platforms/82xx/Kconfig goes here
#- file arch/powerpc/platforms/83xx/Kconfig goes here
#- file arch/powerpc/platforms/85xx/Kconfig goes here
#- file arch/powerpc/platforms/86xx/Kconfig goes here
#- file arch/powerpc/platforms/embedded6xx/Kconfig goes here
#- file arch/powerpc/platforms/44x/Kconfig goes here
#- file arch/powerpc/platforms/40x/Kconfig goes here
UDBG_RTAS_CONSOLE ppc=n ppc64=y
PPC_UDBG_BEAT ppc64=y
RTAS_PROC powerpc=y
RTAS_FLASH ppc64=m
PPC_PMI ppc64=m
IBMEBUS ppc64=n
#- file drivers/cpufreq/Kconfig goes here
CPU_FREQ_PMAC ppc=y
CPU_FREQ_PMAC64 ppc64=y
PPC_PASEMI_CPUFREQ ppc64=y
PPC601_SYNC_FIX ppc=y
TAU ppc=n
AXON_RAM ppc64=m
#- file arch/powerpc/sysdev/bestcomm/Kconfig goes here

#-
#- *** FILE: arch/powerpc/platforms/Kconfig.cputype ***
#-
PPC64 ppc=n ppc64=y
6xx ppc=y
PPC_85xx ppc=n
PPC_8xx ppc=n
40x ppc=n
44x ppc=n
E200 ppc=n
POWER4_ONLY ppc64=n
TUNE_CELL ppc64=n
ALTIVEC powerpc=y
VSX ppc64=y
VIRT_CPU_ACCOUNTING ppc64=y
SMP powerpc=y
NR_CPUS ppc=4 ppc64=32

#-
#- *** FILE: arch/powerpc/platforms/cell/Kconfig ***
#-
PPC_IBM_CELL_BLADE ppc64=y
PPC_CELLEB ppc64=y
SPU_FS ppc64=m
SPU_FS_64K_LS ppc64=y
CBE_RAS ppc64=y
PPC_IBM_CELL_RESETBUTTON ppc64=y
PPC_IBM_CELL_POWERBUTTON ppc64=m
CBE_THERM ppc64=m
CBE_CPUFREQ ppc64=m
CBE_CPUFREQ_PMI ppc64=m
CBE_CPUFREQ_SPU_GOVERNOR ppc64=m

#-
#- *** FILE: arch/powerpc/platforms/chrp/Kconfig ***
#-
PPC_CHRP ppc=y

#-
#- *** FILE: arch/powerpc/platforms/embedded6xx/Kconfig ***
#-
EMBEDDED6xx ppc=n

#-
#- *** FILE: arch/powerpc/platforms/iseries/Kconfig ***
#-
PPC_ISERIES ppc64=y
VIODASD ppc64=n
VIOCD ppc64=n
VIOTAPE ppc64=n

#-
#- *** FILE: arch/powerpc/platforms/maple/Kconfig ***
#-
PPC_MAPLE ppc64=y

#-
#- *** FILE: arch/powerpc/platforms/pasemi/Kconfig ***
#-
PPC_PASEMI ppc64=y
PPC_PASEMI_IOMMU ppc64=y
PPC_PASEMI_IOMMU_DMA_FORCE ppc64=n
PPC_PASEMI_MDIO ppc64=m

#-
#- *** FILE: arch/powerpc/platforms/powermac/Kconfig ***
#-
PPC_PMAC powerpc=y
PPC_PMAC64 ppc64=y

#-
#- *** FILE: arch/powerpc/platforms/prep/Kconfig ***
#-
PPC_PREP ppc=y
PREP_RESIDUAL ppc=y
PROC_PREPRESIDUAL ppc=y

#-
#- *** FILE: arch/powerpc/platforms/ps3/Kconfig ***
#-
PPC_PS3 ppc64=y
PS3_ADVANCED ppc64=n
PS3_DYNAMIC_DMA ppc64=n
PS3_VUART ppc64=y
PS3_DISK ppc64=m
PS3_ROM ppc64=m
PS3_FLASH ppc64=m
PS3_LPM ppc64=m

#-
#- *** FILE: arch/powerpc/platforms/pseries/Kconfig ***
#-
PPC_PSERIES ppc64=y
PPC_SPLPAR ppc64=n
SCANLOG ppc64=n
PPC_SMLPAR ppc64=y
CMM ppc64=m

#-
#- *** FILE: arch/powerpc/sysdev/bestcomm/Kconfig ***
#-
PPC_BESTCOMM ppc=m
PPC_BESTCOMM_ATA ppc=m
PPC_BESTCOMM_FEC ppc=m
PPC_BESTCOMM_GEN_BD ppc=m
