
#-
#- *** FILE: drivers/atm/Kconfig ***
#-
ATM_DD all=m

#-
#- *** FILE: fs/Kconfig ***
#-
UNION_FS all=m
UNION_FS_XATTR all=y
UNION_FS_DEBUG all=n

#-
#- *** FILE: fs/aufs/Kconfig ***
#-
AUFS_FS all=m
AUFS_BRANCH_MAX_127 all=n
AUFS_BRANCH_MAX_511 all=y
AUFS_BRANCH_MAX_1023 all=n
AUFS_BRANCH_MAX_32767 all=n
AUFS_HNOTIFY all=y
AUFS_HFSNOTIFY all=y
AUFS_EXPORT all=y
AUFS_RDU all=y
AUFS_PROC_MAP all=n
AUFS_SP_IATTR all=y
AUFS_SHWH all=y
AUFS_BR_RAMFS all=y
AUFS_BR_FUSE all=y
AUFS_BR_HFSPLUS all=y
AUFS_DEBUG all=n

#-
#- *** FILE: net/sched/Kconfig ***
#-
NET_SCH_ESFQ all=m
NET_SCH_ESFQ_NFCT all=y

#-
#- *** FILE: drivers/gpu/misc/Kconfig ***
#-
VIRTIOGL=m

#-
#- *** FILE: net/ipv4/netfilter/Kconfig ***
#-
IP_NF_TARGET_IPV4OPTSSTRIP all=m
NF_NAT_MMS all=m
NF_CONNTRACK_RSH all=m
IP_NF_MATCH_RPC all=m
NF_NAT_RTSP all=m

#-
#- *** FILE: net/netfilter/Kconfig ***
#-
NF_CONNTRACK_MMS all=m
NETFILTER_XT_MATCH_LAYER7=m
# NETFILTER_XT_MATCH_LAYER7_DEBUG is not set
