# CONFIG_SOFTWARE_SUSPEND is not set
# CONFIG_SUSPEND_DEBUG_PAGEALLOC is not set
CONFIG_SUSPEND2_CRYPTO=y
CONFIG_SUSPEND2=y
CONFIG_SUSPEND2_FILEWRITER=y
CONFIG_SUSPEND2_SWAPWRITER=y
CONFIG_SUSPEND2_DEFAULT_RESUME2=""
CONFIG_SUSPEND2_KEEP_IMAGE=n
CONFIG_CRYPTO_LZF=m
# CONFIG_SOFTWARE_REPLACE_SLEEP is not set
