# vserver

CONFIG_VSERVER_LEGACY=y
CONFIG_VSERVER_PROC_SECURE=y
CONFIG_VSERVER_HARDCPU=y
# CONFIG_VSERVER_HARDCPU_IDLE is not set
CONFIG_INOXID_NONE=y
# CONFIG_INOXID_UID16 is not set
# CONFIG_INOXID_GID16 is not set
# CONFIG_INOXID_UGID24 is not set
# CONFIG_INOXID_INTERN is not set
# CONFIG_INOXID_RUNTIME is not set
# CONFIG_VSERVER_DEBUG is not set
# CONFIG_VSERVER_HISTORY is not set
# CONFIG_VSERVER_HISTORY_SIZE is not set

# (x86-specific)

CONFIG_KERNEL_HZ=1000
CONFIG_SPLIT_3GB=y
# CONFIG_SPLIT_25GB is not set
# CONFIG_SPLIT_2GB is not set
# CONFIG_SPLIT_15GB is not set
# CONFIG_SPLIT_1GB is not set
