# ABI support
CONFIG_ABI=y

CONFIG_ABI_SVR4=m
CONFIG_ABI_IBCS=m
CONFIG_ABI_ISC=m
CONFIG_ABI_SCO=m
CONFIG_ABI_SOLARIS=m
CONFIG_ABI_UW7=m
CONFIG_ABI_WYSE=m

# CONFIG_BINFMT_COFF is not set
# CONFIG_BINFMT_XOUT is not set
# CONFIG_BINFMT_XOUT_X286 is not set

CONFIG_ABI_LATE_PROBING=y
CONFIG_ABI_TRACE=y

