
#-
#- *** FILE: crypto/Kconfig ***
#-
CRYPTO_LZF all=m

#-
#- *** FILE: kernel/power/Kconfig ***
#-
PRINTK_NOSAVE all=n
TOI_CORE all=m
#- Image Storage (you need at least one allocator)
TOI_FILE all=m
TOI_SWAP all=m
#- General Options
TOI_DEFAULT_PRE_HIBERNATE all=""
TOI_DEFAULT_POST_HIBERNATE all=""
TOI_CRYPTO all=m
#- No compression support available without Cryptoapi support.
TOI_USERUI all=m
TOI_USERUI_DEFAULT_PATH all=""
TOI_KEEP_IMAGE all=n
TOI_REPLACE_SWSUSP all=n
TOI_IGNORE_LATE_INITCALL all=y
TOI_DEFAULT_WAIT all=25
TOI_DEFAULT_EXTRA_PAGES_ALLOWANCE all=500
TOI_CHECKSUM all=n
TOI_PAGEFLAGS_TEST all=m
TOI all=y
