#
MMU all=y
GENERIC_CALIBRATE_DELAY all=y
DEFCONFIG_LIST all="/lib/modules/$UNAME_RELEASE/.config"
EXPERIMENTAL all=y
LOCALVERSION all=""
LOCALVERSION_AUTO all=y
LOCK_KERNEL all=y
INIT_ENV_ARG_LIMIT all=32
SWAP all=y
SYSVIPC all=y
SYSVIPC_SYSCTL all=y
POSIX_MQUEUE all=y
BSD_PROCESS_ACCT all=y
BSD_PROCESS_ACCT_V3 all=y
TASKSTATS all=y
TASK_DELAY_ACCT all=y
TASK_XACCT all=y
TASK_IO_ACCOUNTING all=y
AUDIT all=y
AUDITSYSCALL all=y
IKCONFIG all=m
IKCONFIG_PROC all=y
LOG_BUF_SHIFT all=16
CGROUPS all=y
CGROUP_DEBUG all=n
CGROUP_NS all=y
CGROUP_DEVICE all=y
CPUSETS all=y
GROUP_SCHED all=y
RT_GROUP_SCHED all=n
USER_SCHED all=n
CGROUP_SCHED all=y
CGROUP_CPUACCT all=y
RESOURCE_COUNTERS all=y
CGROUP_MEM_RES_CTLR all=y
SYSFS_DEPRECATED all=y
SYSFS_DEPRECATED_V2 all=y
RELAY all=y
NAMESPACES all=y
UTS_NS all=y
IPC_NS all=y
USER_NS all=y
PID_NS all=y
BLK_DEV_INITRD all=y
INITRAMFS_SOURCE all=""
CC_OPTIMIZE_FOR_SIZE all=n
SYSCTL all=y
EMBEDDED all=n
SYSCTL_SYSCALL all=y
KALLSYMS all=y
KALLSYMS_ALL all=y
KALLSYMS_EXTRA_PASS all=y
HOTPLUG all=y
PRINTK all=y
BUG all=y
ELF_CORE all=y
COMPAT_BRK all=y
BASE_FULL all=y
FUTEX all=y
ANON_INODES all=y
EPOLL all=y
SIGNALFD all=y
TIMERFD all=y
EVENTFD all=y
SHMEM all=y
VM_EVENT_COUNTERS all=y
SLAB all=y
SLUB all=n
SLOB all=n
PROFILING all=y
MARKERS all=n
OPROFILE all=m
KPROBES i386=y ia64=y ppc=y ppc64=y sparc64=y x86_64=y
RT_MUTEXES all=y
TINY_SHMEM all=n
BASE_SMALL all=0
MODULES all=y
MODULE_UNLOAD all=y
MODULE_FORCE_UNLOAD all=y
MODULE_FORCE_LOAD all=y
MODVERSIONS all=n
MODULE_SRCVERSION_ALL all=n
KMOD all=y
STOP_MACHINE all=y
BLOCK all=y
BLK_DEV_IO_TRACE all=n
BLK_DEV_BSG all=y

#
# IO Schedulers
#
IOSCHED_NOOP all=y
IOSCHED_AS all=y
IOSCHED_DEADLINE all=y
IOSCHED_CFQ all=y
DEFAULT_AS all=n
DEFAULT_DEADLINE all=n
DEFAULT_CFQ all=y
DEFAULT_NOOP all=n
DEFAULT_IOSCHED all="cfq"

NO_HZ all=y alpha= ia64=
HIGH_RES_TIMERS all=y alpha= ia64=
SMP all=y
MEMTEST_BOOTPARAM all=y
MEMTEST_BOOTPARAM_VALUE all=0
SCHED_NO_NO_OMIT_FRAME_POINTER i386=y ia64=y ppc=y ppc64=y
PARAVIRT_GUEST i386=n x86_64=n
SELECT_MEMORY_MODEL all=y
SPLIT_PTLOCK_CPUS all=4
ACPI_PROCFS_POWER i386=y ia64=y x86_64=y
ACPI_SYSFS_POWER i386=y ia64=y x86_64=y
ACPI_WMI all=m
ACPI_CUSTOM_DSDT_FILE all=""

#
# Bus options (PCI etc.)
#
PCI all=y
PCI_LEGACY all=y
PCI_DEBUG all=n

#
# PC-card bridges
#

#
# Executable file formats / Emulations
#
BINFMT_ELF all=y
BINFMT_MISC all=m

#
# Networking
#
NET all=y

#
# Networking options
#
PACKET all=y
PACKET_MMAP all=y
UNIX all=y
XFRM all=y
XFRM_USER all=m
XFRM_SUB_POLICY all=y
XFRM_MIGRATE all=y
XFRM_STATISTICS all=y
NET_KEY all=m
NET_KEY_MIGRATE all=y
RING all=m
INET all=y
IP_MULTICAST all=y
IP_ADVANCED_ROUTER all=y
ASK_IP_FIB_HASH all=y
IP_FIB_TRIE all=n
IP_FIB_HASH all=y
IP_MULTIPLE_TABLES all=y
IP_ROUTE_MULTIPATH all=y
IP_ROUTE_VERBOSE all=y
IP_PNP all=y
IP_PNP_DHCP all=y
IP_PNP_BOOTP all=y
IP_PNP_RARP all=y
NET_IPIP all=m
NET_IPGRE all=m
NET_IPGRE_BROADCAST all=y
IP_MROUTE all=y
IP_PIMSM_V1 all=y
IP_PIMSM_V2 all=y
ARPD all=n
SYN_COOKIES all=y
INET_AH all=m
INET_ESP all=m
INET_IPCOMP all=m
INET_XFRM_TUNNEL all=m
INET_TUNNEL all=m
INET_XFRM_MODE_TRANSPORT all=m
INET_XFRM_MODE_TUNNEL all=m
INET_XFRM_MODE_BEET all=m
INET_LRO all=m
INET_DIAG all=m
INET_TCP_DIAG all=m
TCP_CONG_ADVANCED all=y
TCP_CONG_BIC all=y
TCP_CONG_CUBIC all=m
TCP_CONG_WESTWOOD all=m
TCP_CONG_HTCP all=m
TCP_CONG_HSTCP all=m
TCP_CONG_HYBLA all=m
TCP_CONG_VEGAS all=m
TCP_CONG_SCALABLE all=m
TCP_CONG_LP all=m
TCP_CONG_VENO all=m
TCP_CONG_YEAH all=m
TCP_CONG_ILLINOIS all=m
DEFAULT_BIC all=y
DEFAULT_CUBIC all=n
DEFAULT_HTCP all=n
DEFAULT_VEGAS all=n
DEFAULT_WESTWOOD all=n
DEFAULT_RENO all=n
DEFAULT_TCP_CONG all="bic"
TCP_MD5SIG all=y
IP_VS all=m
IP_VS_DEBUG all=n
IP_VS_TAB_BITS all=12

#
# IPVS transport protocol load balancing support
#
IP_VS_PROTO_TCP all=y
IP_VS_PROTO_UDP all=y
IP_VS_PROTO_ESP all=y
IP_VS_PROTO_AH all=y

#
# IPVS scheduler
#
IP_VS_RR all=m
IP_VS_WRR all=m
IP_VS_LC all=m
IP_VS_WLC all=m
IP_VS_LBLC all=m
IP_VS_LBLCR all=m
IP_VS_DH all=m
IP_VS_SH all=m
IP_VS_SED all=m
IP_VS_NQ all=m

#
# IPVS application helper
#
IP_VS_FTP all=m
IPV6 all=y
IPV6_PRIVACY all=y
IPV6_ROUTER_PREF all=y
IPV6_ROUTE_INFO all=y
IPV6_OPTIMISTIC_DAD all=y
INET6_AH all=m
INET6_ESP all=m
INET6_IPCOMP all=m
IPV6_MIP6 all=y
INET6_XFRM_TUNNEL all=m
INET6_TUNNEL all=m
INET6_XFRM_MODE_TRANSPORT all=m
INET6_XFRM_MODE_TUNNEL all=m
INET6_XFRM_MODE_BEET all=m
INET6_XFRM_MODE_ROUTEOPTIMIZATION all=m
IPV6_SIT all=m
IPV6_TUNNEL all=m
IPV6_MULTIPLE_TABLES all=y
IPV6_SUBTREES all=y
IPV6_MROUTE all=y
IPV6_PIMSM_V2 all=y
NETLABEL all=y
NETWORK_SECMARK all=y
NETFILTER all=y
NETFILTER_DEBUG all=n
NETFILTER_ADVANCED all=y
BRIDGE_NETFILTER all=y

#
# Core Netfilter Configuration
#
NETFILTER_XT_TARGET_RATEEST all=m
NETFILTER_XT_TARGET_TCPOPTSTRIP all=m
NETFILTER_XT_MATCH_IPRANGE all=m
NETFILTER_XT_MATCH_OWNER all=m
NETFILTER_XT_MATCH_RATEEST all=m

#
# IP: Netfilter Configuration
#

#
# DECnet: Netfilter Configuration
#

#
# Bridge: Netfilter Configuration
#
IP_DCCP all=m
INET_DCCP_DIAG all=m
IP_DCCP_ACKVEC all=y

#
# DCCP CCIDs Configuration (EXPERIMENTAL)
#
IP_DCCP_CCID2 all=m
IP_DCCP_CCID2_DEBUG all=n
IP_DCCP_CCID3 all=m
IP_DCCP_CCID3_DEBUG all=n
IP_DCCP_CCID3_RTO all=100
IP_DCCP_TFRC_LIB all=m

#
# DCCP Kernel Hacking
#
IP_DCCP_DEBUG all=n
NET_DCCPPROBE all=m
IP_SCTP all=m
SCTP_DBG_MSG all=n
SCTP_DBG_OBJCNT all=n
SCTP_HMAC_NONE all=n
SCTP_HMAC_SHA1 all=n
SCTP_HMAC_MD5 all=y
TIPC all=m
TIPC_ADVANCED all=n
TIPC_DEBUG all=n
ATM all=m
ATM_CLIP all=m
ATM_CLIP_NO_ICMP all=y
ATM_LANE all=m
ATM_MPOA all=m
ATM_BR2684 all=m
ATM_BR2684_IPFILTER all=n
BRIDGE all=m
VLAN_8021Q all=m
DECNET all=m
DECNET_ROUTER all=y
LLC all=y
LLC2 all=m
IPX all=m
IPX_INTERN all=n
ATALK all=m
DEV_APPLETALK all=m
LTPC alpha=m i386=m
COPS alpha=m i386=m
COPS_DAYNA alpha=y i386=y
COPS_TANGENT alpha=y i386=y
IPDDP all=m
IPDDP_ENCAP all=y
IPDDP_DECAP all=y
X25 all=m
LAPB all=m
ECONET all=m
ECONET_AUNUDP all=y
ECONET_NATIVE all=y
WAN_ROUTER all=m
NET_SCHED all=y

#
# Queueing/Scheduling
#
NET_SCH_CBQ all=m
NET_SCH_HTB all=m
NET_SCH_HFSC all=m
NET_SCH_ATM all=m
NET_SCH_PRIO all=m
NET_SCH_RR all=m
NET_SCH_RED all=m
NET_SCH_SFQ all=m
NET_SCH_ESFQ all=m
NET_SCH_ESFQ_NFCT all=y
NET_SCH_TEQL all=m
NET_SCH_TBF all=m
NET_SCH_GRED all=m
NET_SCH_DSMARK all=m
NET_SCH_NETEM all=m
NET_SCH_INGRESS all=m

#
# Classification
#
NET_CLS all=y
NET_CLS_BASIC all=m
NET_CLS_TCINDEX all=m
NET_CLS_ROUTE4 all=m
NET_CLS_ROUTE all=y
NET_CLS_FW all=m
NET_CLS_U32 all=m
CLS_U32_PERF all=y
CLS_U32_MARK all=y
NET_CLS_RSVP all=m
NET_CLS_RSVP6 all=m
NET_CLS_FLOW all=m
NET_EMATCH all=y
NET_EMATCH_STACK all=32
NET_EMATCH_CMP all=m
NET_EMATCH_NBYTE all=m
NET_EMATCH_U32 all=m
NET_EMATCH_META all=m
NET_EMATCH_TEXT all=m
NET_CLS_ACT all=y
NET_ACT_POLICE all=m
NET_ACT_GACT all=m
GACT_PROB all=y
NET_ACT_MIRRED all=m
NET_ACT_IPT all=m
NET_ACT_NAT all=m
NET_ACT_PEDIT all=m
NET_ACT_SIMP all=m
NET_CLS_IND all=y
NET_SCH_FIFO all=y

#
# Network testing
#
NET_PKTGEN all=m
NET_TCPPROBE all=m
HAMRADIO all=y

#
# Packet Radio protocols
#
AX25 all=m
AX25_DAMA_SLAVE all=y
NETROM all=m
ROSE all=m

#
# AX.25 network device drivers
#
MKISS all=m
6PACK all=m
BPQETHER all=m
BAYCOM_SER_FDX all=m
BAYCOM_SER_HDX all=m
BAYCOM_PAR all=m
YAM all=m
CAN all=m
CAN_RAW all=m
CAN_BCM all=m

#
# CAN Device Drivers
#
CAN_VCAN all=m
CAN_DEBUG_DEVICES all=n
IRDA all=m

#
# IrDA protocols
#
IRLAN all=m
IRNET all=m
IRCOMM all=m
IRDA_ULTRA all=y

#
# IrDA options
#
IRDA_CACHE_LAST_LSAP all=y
IRDA_FAST_RR all=y
IRDA_DEBUG all=n

#
# Infrared-port device drivers
#

#
# SIR device drivers
#
IRTTY_SIR all=m

#
# Dongle support
#
DONGLE all=y
ESI_DONGLE all=m
ACTISYS_DONGLE all=m
TEKRAM_DONGLE all=m
TOIM3232_DONGLE all=m
LITELINK_DONGLE all=m
MA600_DONGLE all=m
GIRBIL_DONGLE all=m
MCP2120_DONGLE all=m
OLD_BELKIN_DONGLE all=m
ACT200L_DONGLE all=m
KINGSUN_DONGLE all=m
KSDAZZLE_DONGLE all=m
KS959_DONGLE all=m

#
# FIR device drivers
#
VLSI_FIR all=m sparc=n
BT all=m
BT_L2CAP all=m
BT_SCO all=m
BT_RFCOMM all=m
BT_RFCOMM_TTY all=y
BT_BNEP all=m
BT_BNEP_MC_FILTER all=y
BT_BNEP_PROTO_FILTER all=y
BT_HIDP all=m
#
# Bluetooth device drivers
#
BT_HCIBTSDIO all=m
BT_HCIUART all=m
BT_HCIUART_H4 all=y
BT_HCIUART_BCSP all=y
BT_HCIUART_LL all=y
BT_HCIVHCI all=m
AF_RXRPC all=m
AF_RXRPC_DEBUG all=n
RXKAD all=m sparc=n
FIB_RULES all=y

#
# Wireless
#
CFG80211 all=m sparc=n
NL80211 all=y
WIRELESS_EXT all=y
MAC80211 all=m sparc=n
MAC80211_MESH all=y

#
# Rate control algorithm selection
#
MAC80211_RC_DEFAULT_PID all=y
MAC80211_RC_DEFAULT_SIMPLE all=n

#
# Selecting 'y' for an algorithm will
#

#
# build the algorithm into mac80211.
#
MAC80211_RC_SIMPLE all=m
MAC80211_DEBUG_PACKET_ALIGNMENT all=n
IEEE80211 all=m
IEEE80211_DEBUG all=n
IEEE80211_CRYPT_WEP all=m
IEEE80211_CRYPT_CCMP all=m
IEEE80211_CRYPT_TKIP all=m
IEEE80211_SOFTMAC all=m
IEEE80211_SOFTMAC_DEBUG all=n
RFKILL all=m sparc=n
RFKILL_INPUT all=m sparc=
NET_9P all=m
NET_9P_FD all=m
NET_9P_VIRTIO i386=m x86_64=m ppc=m
NET_9P_DEBUG all=n

#
# Device Drivers
#

#
# Generic Driver Options
#
UEVENT_HELPER_PATH all="/sbin/hotplug"
STANDALONE all=n
PREVENT_FIRMWARE_BUILD all=y
FW_LOADER all=m
DEBUG_DRIVER all=n
DEBUG_DEVRES all=n
SYS_HYPERVISOR all=n
CONNECTOR all=m
PROC_EVENTS all=y
MTD all=m
MTD_DEBUG all=n
MTD_CONCAT all=m
MTD_PARTITIONS all=y
MTD_REDBOOT_PARTS all=m
MTD_REDBOOT_DIRECTORY_BLOCK all=-1
MTD_REDBOOT_PARTS_UNALLOCATED all=y
MTD_REDBOOT_PARTS_READONLY all=y
MTD_AR7_PARTS all=m

#
# User Modules And Translation Layers
#
MTD_CHAR all=m
MTD_BLKDEVS all=m
MTD_BLOCK all=m
MTD_BLOCK_RO all=m
FTL all=m
NFTL all=m
NFTL_RW all=y
INFTL all=m
RFD_FTL all=m
SSFDC all=m
MTD_OOPS all=m

#
# RAM/ROM/Flash chip drivers
#
MTD_CFI all=m
MTD_JEDECPROBE all=m
MTD_GEN_PROBE all=m
MTD_CFI_ADV_OPTIONS all=y
MTD_CFI_NOSWAP all=y
MTD_CFI_BE_BYTE_SWAP all=n
MTD_CFI_LE_BYTE_SWAP all=n
MTD_CFI_GEOMETRY all=n
MTD_MAP_BANK_WIDTH_1 all=y
MTD_MAP_BANK_WIDTH_2 all=y
MTD_MAP_BANK_WIDTH_4 all=y
MTD_MAP_BANK_WIDTH_8 all=n
MTD_MAP_BANK_WIDTH_16 all=n
MTD_MAP_BANK_WIDTH_32 all=n
MTD_CFI_I1 all=y
MTD_CFI_I2 all=y
MTD_CFI_I4 all=n
MTD_CFI_I8 all=n
MTD_OTP all=y
MTD_CFI_INTELEXT all=m
MTD_CFI_AMDSTD all=m
MTD_CFI_STAA all=m
MTD_CFI_UTIL all=m
MTD_RAM all=m
MTD_ROM all=m
MTD_ABSENT all=m

#
# Mapping drivers for chip access
#
MTD_COMPLEX_MAPPINGS all=y
MTD_PHYSMAP all=m
MTD_PHYSMAP_START all=0x8000000
MTD_PHYSMAP_LEN all=0x4000000
MTD_PHYSMAP_BANKWIDTH all=2
MTD_PCI all=m
MTD_INTEL_VR_NOR all=m
MTD_PLATRAM all=m

#
# Self-contained MTD device drivers
#
MTD_PMC551 all=m sparc=n
MTD_SLRAM all=m
MTD_PHRAM all=m
MTD_MTDRAM all=m
MTDRAM_TOTAL_SIZE all=4096
MTDRAM_ERASE_SIZE all=128
MTD_BLOCK2MTD all=m

#
# Disk-On-Chip Device Drivers
#
MTD_DOC2000 all=m
MTD_DOC2001 all=m
MTD_DOC2001PLUS all=m
MTD_DOCPROBE all=m
MTD_DOCECC all=m
MTD_DOCPROBE_ADVANCED all=n
MTD_DOCPROBE_ADDRESS all=0
MTD_NAND all=m
MTD_NAND_VERIFY_WRITE all=y
MTD_NAND_ECC_SMC all=y
MTD_NAND_MUSEUM_IDS all=y sparc=n
MTD_NAND_IDS all=m
MTD_NAND_DISKONCHIP all=m
MTD_NAND_DISKONCHIP_PROBE_ADVANCED all=n
MTD_NAND_DISKONCHIP_PROBE_ADDRESS all=0
MTD_NAND_DISKONCHIP_BBTWRITE all=y
MTD_ALAUDA all=m
MTD_ONENAND all=m
MTD_ONENAND_2X_PROGRAM all=y
MTD_ONENAND_SIM all=m
#
M25PXX_USE_FAST_READ all=y
#
# UBI - Unsorted block images
#
#
# UBI debugging options
#
PARPORT all=m
PARPORT_GSC all=n
PARPORT_AX88796 all=m
PARPORT_NOT_PC all=y
#
# Protocols
#
BLK_DEV all=y
BLK_CPQ_CISS_DA all=m sparc=n
CISS_SCSI_TAPE all=y
BLK_DEV_DAC960 all=m
BLK_DEV_UMEM all=m
BLK_DEV_COW_COMMON all=n
BLK_DEV_LOOP all=m
BLK_DEV_CRYPTOLOOP all=n
BLK_DEV_NBD all=m
BLK_DEV_SX8 all=m
BLK_DEV_UB all=n
BLK_DEV_RAM all=y
BLK_DEV_RAM_COUNT all=16
BLK_DEV_RAM_SIZE all=4096
BLK_DEV_XIP all=y
BLK_DEV_HD_ONLY all=n
CDROM_PKTCDVD all=m
CDROM_PKTCDVD_BUFFERS all=8
CDROM_PKTCDVD_WCACHE all=y
ATA_OVER_ETH all=m
VIRTIO_BLK i386=m x86_64=m ppc=m
TIFM_CORE all=m
TIFM_7XX1 all=m
ACER_WMI all=m
TC1100_WMI all=m
THINKPAD_ACPI_VIDEO all=y
THINKPAD_ACPI_HOTKEY_POLL all=y
INTEL_MENLOW all=m
EEEPC_LAPTOP all=m
ENCLOSURE_SERVICES all=m

#
# IDE chipset support/bugfixes
#
BLK_DEV_PLATFORM all=n
IDE all=m ppc=y
BLK_DEV_IDE all=m ppc=y

#
# PCI IDE chipsets support
#
IDEPCI_PCIBUS_ORDER all=n
BLK_DEV_IDE_PMAC ppc=y
BLK_DEV_IDE_PMAC_ATA100FIRST ppc=y
BLK_DEV_IDEDMA_PMAC ppc=y
BLK_DEV_IDEDMA ppc=y

#
# Other IDE chipsets support
#

#
# Note: most of these also require special kernel boot parameters
#

#
# SCSI device support
#
RAID_ATTRS all=m
SCSI all=m
SCSI_DMA all=y
SCSI_TGT all=m
SCSI_NETLINK all=y
SCSI_PROC_FS all=y

#
# SCSI support type (disk, tape, CD-ROM)
#
BLK_DEV_SD all=m
CHR_DEV_ST all=m
CHR_DEV_OSST all=m
BLK_DEV_SR all=m
BLK_DEV_SR_VENDOR all=y
CHR_DEV_SG all=m
CHR_DEV_SCH all=m
SCSI_ENCLOSURE all=m

#
# Some SCSI devices (e.g. CD jukebox) support multiple LUNs
#
SCSI_MULTI_LUN all=y
SCSI_CONSTANTS all=n
SCSI_LOGGING all=y
SCSI_SCAN_ASYNC all=y
SCSI_WAIT_SCAN all=m

#
# SCSI Transports
#
SCSI_SPI_ATTRS all=m
SCSI_FC_ATTRS all=m
SCSI_FC_TGT_ATTRS all=y
SCSI_ISCSI_ATTRS all=m
SCSI_SAS_ATTRS all=m
SCSI_SAS_LIBSAS all=m
SCSI_SAS_ATA all=y
SCSI_SAS_HOST_SMP all=y
SCSI_SAS_LIBSAS_DEBUG all=n
SCSI_SRP_ATTRS all=m
SCSI_SRP_TGT_ATTRS all=y
SCSI_LOWLEVEL all=y
ISCSI_TCP all=m
BLK_DEV_3W_XXXX_RAID all=m
SCSI_3W_9XXX all=m
SCSI_ACARD all=m
SCSI_AACRAID all=m
SCSI_AIC7XXX all=m
AIC7XXX_RESET_DELAY_MS all=15000
AIC7XXX_DEBUG_ENABLE all=n
AIC7XXX_DEBUG_MASK all=0
AIC7XXX_REG_PRETTY_PRINT all=y
SCSI_AIC7XXX_OLD all=m
SCSI_AIC79XX all=m
AIC79XX_RESET_DELAY_MS all=15000
AIC79XX_DEBUG_ENABLE all=n
AIC79XX_DEBUG_MASK all=0
AIC79XX_REG_PRETTY_PRINT all=y
SCSI_AIC94XX all=m sparc=n
SCSI_DPT_I2O all=m
SCSI_ADVANSYS all=m
SCSI_ARCMSR all=m sparc=n
SCSI_ARCMSR_AER all=y
MEGARAID_NEWGEN all=y
MEGARAID_MM all=m
MEGARAID_MAILBOX all=m
MEGARAID_LEGACY all=m
MEGARAID_SAS all=m
SCSI_HPTIOP all=m sparc=n
SCSI_DMX3191D all=m
SCSI_FUTURE_DOMAIN all=m
SCSI_INITIO all=m
SCSI_INIA100 all=m
SCSI_MVSAS all=m
SCSI_STEX all=m sparc=n
SCSI_SYM53C8XX_2 all=m
SCSI_SYM53C8XX_DMA_ADDRESSING_MODE all=1
SCSI_SYM53C8XX_DEFAULT_TAGS all=16
SCSI_SYM53C8XX_MMIO all=y
SCSI_IPR all=m sparc=n
SCSI_QLOGIC_1280 all=m
SCSI_QLA_FC all=m sparc=n
SCSI_QLA_ISCSI all=m sparc=n
SCSI_LPFC all=m sparc=n
SCSI_DC395x all=m
SCSI_DC390T all=m
SCSI_DEBUG all=m
SCSI_SRP all=m sparc=n
ATA all=m
SATA_AHCI all=m sparc=n
SATA_SVW all=m sparc=n
ATA_PIIX all=m sparc=n
SATA_PMP all=y sparc=n
ATA_SFF all=y sparc=n
SATA_MV all=m sparc=n
SATA_NV all=m sparc=n
PDC_ADMA all=m sparc=n
SATA_QSTOR all=m sparc=n
SATA_PROMISE all=m sparc=n
SATA_SX4 all=m sparc=n
SATA_SIL all=m sparc=n
SATA_SIL24 all=m sparc=n
SATA_SIS all=m sparc=n
SATA_ULI all=m sparc=n
SATA_VIA all=m sparc=n
SATA_VITESSE all=m sparc=n
SATA_INIC162X all=m
PATA_ACPI i386=m ia64=m x86_64=m
PATA_ALI all=m sparc=n
PATA_AMD all=m sparc=n
PATA_ARTOP all=m sparc=n
PATA_ATIIXP all=m sparc=n
PATA_CMD640_PCI all=m sparc=n
PATA_CMD64X all=m sparc=n
PATA_CS5520 all=m sparc=n
PATA_CS5530 all=m sparc=n
PATA_CS5535 i386=m
PATA_CS5536 i386=m
PATA_CYPRESS all=m sparc=n
PATA_EFAR all=m sparc=n
ATA_GENERIC all=m sparc=n
PATA_HPT366 all=m sparc=n
PATA_HPT37X all=m sparc=n
PATA_HPT3X2N all=m sparc=n
PATA_HPT3X3 all=m sparc=n
PATA_HPT3X3_DMA all=y sparc=
PATA_IT821X all=m sparc=n
PATA_IT8213 all=m
PATA_JMICRON all=m sparc=n
PATA_TRIFLEX all=m sparc=n
PATA_MARVELL all=m sparc=n
PATA_MPIIX all=m sparc=n
PATA_OLDPIIX all=m sparc=n
PATA_NETCELL all=m sparc=n
PATA_NINJA32 all=m
PATA_NS87410 all=m sparc=n
PATA_NS87415 all=m
PATA_OPTI all=m sparc=n
PATA_OPTIDMA all=m sparc=n
PATA_PDC_OLD all=m sparc=n
PATA_RADISYS all=m sparc=n
PATA_RZ1000 all=m sparc=n
PATA_SC1200 all=m sparc=n
PATA_SERVERWORKS all=m sparc=n
PATA_PDC2027X all=m sparc=n
PATA_SIL680 all=m sparc=n
PATA_SIS all=m sparc=n
PATA_VIA all=m sparc=n
PATA_WINBOND all=m sparc=n
PATA_WINBOND_VLB all=m sparc=n
PATA_SCH all=m sparc=n
MD all=y
BLK_DEV_MD all=m
MD_LINEAR all=m
MD_RAID0 all=m
MD_RAID1 all=m
MD_RAID10 all=m
MD_RAID456 all=m
MD_RAID5_RESHAPE all=y
MD_MULTIPATH all=m
MD_FAULTY all=m
BLK_DEV_DM all=m
DM_DEBUG all=n
DM_CRYPT all=m
DM_SNAPSHOT all=m
DM_MIRROR all=m
DM_ZERO all=m
DM_MULTIPATH all=m
DM_MULTIPATH_EMC all=m
DM_MULTIPATH_RDAC all=m
DM_MULTIPATH_HP all=m
DM_DELAY all=m
DM_UEVENT all=y
FUSION all=y sparc=n
FUSION_SPI all=m sparc=n
FUSION_FC all=m sparc=n
FUSION_SAS all=m sparc=n
FUSION_MAX_SGE all=40 sparc=n
FUSION_CTL all=m sparc=n
FUSION_LAN all=m sparc=n
FUSION_LOGGING all=y sparc=n

#
# IEEE 1394 (FireWire) support
#
IEEE1394 all=m sparc=n

#
# Subsystem Options
#
IEEE1394_VERBOSEDEBUG all=n sparc=

#
# Controllers
#
IEEE1394_PCILYNX all=m sparc=
IEEE1394_OHCI1394 all=m sparc=

#
# Protocols
#
IEEE1394_VIDEO1394 all=m sparc=
IEEE1394_SBP2_PHYS_DMA all=n
IEEE1394_SBP2 all=m sparc=
IEEE1394_ETH1394_ROM_ENTRY all=y sparc=
IEEE1394_ETH1394 all=m sparc=
IEEE1394_DV1394 all=m sparc=
IEEE1394_RAWIO all=m sparc=
I2O all=m sparc=n
NETDEVICES all=y
NETDEVICES_MULTIQUEUE all=y
IFB all=m
DUMMY all=m
BONDING all=m
MACVLAN all=m
EQUALIZER all=m
TUN all=m
VETH all=m
ARCNET all=m sparc=n
PHYLIB all=m

#
# MII PHY device drivers
#
MARVELL_PHY all=m
DAVICOM_PHY all=m
QSEMI_PHY all=m
LXT_PHY all=m
CICADA_PHY all=m
VITESSE_PHY all=m
SMSC_PHY all=m
BROADCOM_PHY all=m
ICPLUS_PHY all=m
REALTEK_PHY all=m
MDIO_BITBANG all=m
NET_ETHERNET all=y
MII all=m
HAPPYMEAL all=m
SUNGEM all=m
CASSINI all=m sparc=n
NET_VENDOR_3COM all=y
VORTEX all=m
TYPHOON all=m
ENC28J60 all=m
ENC28J60_WRITEVERIFY all=n
NET_TULIP all=y
DE2104X all=m
TULIP all=m
TULIP_MWI all=n
TULIP_MMIO all=n
TULIP_NAPI all=y
TULIP_NAPI_HW_MITIGATION all=y
DE4X5 all=m
WINBOND_840 all=m
DM9102 all=m
ULI526X all=m
HP100 all=m
NET_PCI all=y
PCNET32 all=m
PCNET32_NAPI all=y
AMD8111_ETH all=m
AMD8111E_NAPI all=y
ADAPTEC_STARFIRE all=m
B44 all=m
FORCEDETH all=m
FORCEDETH_NAPI all=y
EEPRO100 all=m
E100 all=m
FEALNX all=m
NATSEMI all=m
NE2K_PCI all=m
8139CP all=m
8139TOO all=m
8139TOO_PIO all=n
R6040 all=m
SIS900 all=m
EPIC100 all=m
SUNDANCE all=m
VIA_RHINE all=m
SC92031 all=m
NET_POCKET all=y
DE600 all=m
DE620 all=m
NETDEV_1000 all=y
ACENIC all=m sparc=n
DL2K all=m
E1000 all=m sparc=n
E1000E all=m
IP1000 all=m
IGB all=m
NS83820 all=m
HAMACHI all=m
YELLOWFIN all=m
R8169 all=m sparc=n
SIS190 all=m sparc=n
SKGE all=m
SKY2 all=m sparc=n
SK98LIN all=m sparc=n
VIA_VELOCITY all=m
TIGON3 all=m
BNX2 all=m sparc=n
SFC all=m sparc=n
QLA3XXX all=m sparc=n
ATL1 all=m sparc=n
NETDEV_10000 all=y
CHELSIO_T1 all=m sparc=n
CHELSIO_T3 all=m
IXGBE all=m
IXGB all=m sparc=n
S2IO all=m sparc=n
MYRI10GE all=m sparc=n
NETXEN_NIC all=m sparc=n
NIU all=m
TEHUTI all=m
BNX2X all=m
TR all=y sparc=n
IBMOL all=m sparc=
3C359 all=m sparc=
TMS380TR all=m sparc=
TMSPCI all=m sparc=
ABYSS all=m sparc=

#
# Wireless LAN
#
IPW2100 all=m
IPW2100_MONITOR all=y
IPW2100_DEBUG all=n
IPW2200 all=m
IPW2200_MONITOR all=y
IPW2200_RADIOTAP all=y
IPW2200_PROMISCUOUS all=y
IPW2200_QOS all=y
IPW2200_DEBUG all=n
LIBERTAS all=m
LIBERTAS_USB all=m sparc=
LIBERTAS_CS all=m
LIBERTAS_SDIO all=m
LIBERTAS_DEBUG all=n
HERMES all=m
PLX_HERMES all=m
TMD_HERMES all=m
NORTEL_HERMES all=m
PCI_HERMES all=m
ATMEL all=m
PCI_ATMEL all=m
PRISM54 all=m
USB_NET_RNDIS_WLAN all=m
RTL8180 all=m
ADM8211 all=m
P54_COMMON all=m
P54_USB all=m
P54_PCI all=m
ATH5K all=m
ATH5K_DEBUG all=n
IWLWIFI_RFKILL all=y
IWLWIFI_DEBUG all=n
IWL4965 all=m
IWL4965_QOS all=y
IWL4965_HT all=y
IWL4965_LEDS all=y
IWL4965_SPECTRUM_MEASUREMENT all=y
IWL4965_SENSITIVITY all=y
IWL4965_DEBUG all=n
IWL3945 all=m
IWL3945_QOS all=y
IWL3945_SPECTRUM_MEASUREMENT all=y
IWL3945_LEDS all=y
IWL3945_DEBUG all=n
HOSTAP all=m
HOSTAP_PLX all=m sparc=n
HOSTAP_PCI all=m sparc=n
B43 all=m
B43_PCMCIA all=y
B43_DEBUG all=n
B43LEGACY all=m
B43LEGACY_DEBUG all=n
B43LEGACY_DMA_AND_PIO_MODE all=y
B43LEGACY_DMA_MODE all=n
B43LEGACY_PIO_MODE all=n
RT2X00 all=m
RT2400PCI all=m
RT2400PCI_RFKILL all=y
RT2400PCI_LEDS all=y
RT2500PCI all=m
RT2500PCI_RFKILL all=y
RT2500PCI_LEDS all=y
RT61PCI all=m
RT61PCI_RFKILL all=y
RT61PCI_LEDS all=y
RT2500USB all=m
RT2500USB_LEDS all=y
RT73USB all=m
RT73USB_LEDS all=y
RT2X00_DEBUG all=n

#
# USB Network Adapters
#
WAN all=y
HDLC all=m
HDLC_RAW all=m
HDLC_RAW_ETH all=m
HDLC_CISCO all=m
HDLC_FR all=m
HDLC_PPP all=m
HDLC_X25 all=m
TAHOE9XX all=m
PCI200SYN all=m
WANXL all=m
PC300 all=m sparc=n

#
# Cyclades-PC300 MLPPP support is disabled.
#

#
# Refer to the file README.mlppp, provided by PC300 package.
#
FARSYNC all=m
DSCC4 all=m sparc=n
DLCI all=m
DLCI_MAX all=8
WAN_ROUTER_DRIVERS all=m
CYCLADES_SYNC all=m
CYCLOMX_X25 all=y
LAPBETHER all=m
X25_ASY all=m
ATM_DRIVERS all=y
ATM_DD all=m
ATM_DUMMY all=m
ATM_TCP all=m
ATM_LANAI all=m sparc=n
ATM_ENI all=m sparc=n
ATM_IDT77252 all=m sparc=n
ATM_AMBASSADOR all=m sparc=n
ATM_HORIZON all=m sparc=n
ATM_FORE200E_MAYBE all=m
ATM_FORE200E_PCA all=y sparc=n
ATM_FORE200E_USE_TASKLET all=y
ATM_FORE200E_TX_RETRY all=16
ATM_FORE200E_DEBUG all=0
ATM_HE all=m sparc=n
FDDI all=y
DEFXX all=m
DEFXX_MMIO all=n
SKFP all=m
HIPPI all=y
ROADRUNNER all=m
ROADRUNNER_LARGE_RINGS all=n
PLIP all=m
PPP all=m
PPP_MULTILINK all=y
PPP_FILTER all=y
PPP_ASYNC all=m
PPP_SYNC_TTY all=m
PPP_DEFLATE all=m
PPP_BSDCOMP all=m
PPP_MPPE all=m
PPPOE all=m
PPPOATM all=m
PPPOL2TP all=m
SLIP all=m
SLIP_COMPRESSED all=y
SLHC all=m
SLIP_SMART all=y
SLIP_MODE_SLIP6 all=y
NET_FC all=y
NETCONSOLE all=m
NETCONSOLE_DYNAMIC all=y
NETPOLL all=y
NETPOLL_TRAP all=y
NET_POLL_CONTROLLER all=y
VIRTIO_NET i386=m x86_64=m ppc=m

#
# CAPI hardware drivers
#
PHONE all=m
PHONE_IXJ all=m

#
# Input device support
#
INPUT all=y
INPUT_FF_MEMLESS all=m
INPUT_POLLDEV all=m sparc=n

#
# Userland interfaces
#
INPUT_MOUSEDEV all=y
INPUT_MOUSEDEV_PSAUX all=y
INPUT_MOUSEDEV_SCREEN_X all=1024
INPUT_MOUSEDEV_SCREEN_Y all=768
INPUT_JOYDEV all=m
INPUT_EVDEV all=m
INPUT_EVBUG all=n

#
# Input Device Drivers
#
INPUT_KEYBOARD all=y
KEYBOARD_LKKBD all=m
KEYBOARD_XTKBD all=m
KEYBOARD_NEWTON all=m
KEYBOARD_STOWAWAY all=m
INPUT_MOUSE all=y
MOUSE_PS2 all=m
MOUSE_SERIAL all=m
MOUSE_VSXXXAA all=m
INPUT_JOYSTICK all=y
JOYSTICK_ANALOG all=m
JOYSTICK_A3D all=m
JOYSTICK_ADI all=m
JOYSTICK_COBRA all=m
JOYSTICK_GF2K all=m
JOYSTICK_GRIP all=m
JOYSTICK_GRIP_MP all=m
JOYSTICK_GUILLEMOT all=m
JOYSTICK_INTERACT all=m
JOYSTICK_SIDEWINDER all=m
JOYSTICK_TMDC all=m
JOYSTICK_IFORCE all=m
JOYSTICK_IFORCE_232 all=y
JOYSTICK_WARRIOR all=m
JOYSTICK_MAGELLAN all=m
JOYSTICK_SPACEORB all=m
JOYSTICK_SPACEBALL all=m
JOYSTICK_STINGER all=m
JOYSTICK_TWIDJOY all=m
JOYSTICK_ZHENHUA all=m
JOYSTICK_DB9 all=m
JOYSTICK_GAMECON all=m
JOYSTICK_TURBOGRAFX all=m
JOYSTICK_JOYDUMP all=m
INPUT_TOUCHSCREEN all=y
TOUCHSCREEN_GUNZE all=m
TOUCHSCREEN_ELO all=m
TOUCHSCREEN_MTOUCH all=m
TOUCHSCREEN_MK712 all=m sparc=n
TOUCHSCREEN_PENMOUNT all=m
TOUCHSCREEN_TOUCHRIGHT all=m
TOUCHSCREEN_TOUCHWIN all=m
TOUCHSCREEN_UCB1400 all=m sparc=n
TOUCHSCREEN_WM97XX all=m
TOUCHSCREEN_WM9705 all=y
TOUCHSCREEN_WM9712 all=y
TOUCHSCREEN_WM9713 all=y
INPUT_MISC all=y
INPUT_APANEL all=m
INPUT_UINPUT all=m sparc=n

#
# Hardware I/O ports
#
SERIO all=y
SERIO_I8042 all=y
SERIO_SERPORT all=m
SERIO_PCIPS2 all=m
SERIO_RAW all=m
GAMEPORT all=m

#
# Character devices
#
VT all=y
VT_CONSOLE all=y
HW_CONSOLE all=y
VT_HW_CONSOLE_BINDING all=y
DEVKMEM all=y
SERIAL_NONSTANDARD all=y
COMPUTONE all=m
ROCKETPORT all=m
CYCLADES all=m
CYZ_INTR all=n
DIGIEPCA all=m
MOXA_INTELLIO all=m
MOXA_SMARTIO all=m
ISI all=m
SYNCLINKMP all=m
SYNCLINK_GT all=m
N_HDLC all=m
RISCOM8 all=m
SPECIALIX all=m
SX all=m
RIO all=m
STALDRV all=y
NOZOMI all=m

SERIAL_CORE all=y
SERIAL_CORE_CONSOLE all=y
SERIAL_JSM all=m sparc=n
UNIX98_PTYS all=y
LEGACY_PTYS all=y
LEGACY_PTY_COUNT all=256
PRINTER all=m
LP_CONSOLE all=n
PPDEV all=m
IPMI_HANDLER all=m
IPMI_PANIC_EVENT all=n
IPMI_DEVICE_INTERFACE all=m
IPMI_SI all=m
IPMI_WATCHDOG all=m
IPMI_POWEROFF all=m
R3964 all=m
APPLICOM all=m
IPWIRELESS all=m
RAW_DRIVER all=m
MAX_RAW_DEVS all=1024
TCG_TPM all=m
TCG_ATMEL all=m
DEVPORT all=y
I2C_CHARDEV all=m
I2C_HELPER_AUTO all=y

#
# I2C Algorithms
#
I2C_ALGOBIT all=m
I2C_ALGOPCF all=m
I2C_ALGOPCA all=m

#
# I2C Hardware Bus support
#
I2C_ALI1535 all=m
I2C_ALI1563 all=m
I2C_ALI15X3 all=m
I2C_AMD756 all=m sparc=n
I2C_AMD756_S4882 all=m sparc=
I2C_AMD8111 all=m
I2C_I801 all=m
I2C_I810 all=m
I2C_PIIX4 all=m sparc=n
I2C_NFORCE2 all=m
I2C_OCORES all=m
I2C_PARPORT all=m
I2C_PARPORT_LIGHT all=m
I2C_PROSAVAGE all=m
I2C_SAVAGE4 all=m
I2C_SIS5595 all=m
I2C_SIS630 all=m
I2C_SIS96X all=m
I2C_TAOS_EVM all=m
I2C_STUB all=m
I2C_VIA all=m sparc=n
I2C_VIAPRO all=m
I2C_VOODOO3 all=m
I2C_PCA_PLATFORM all=m

#
# Miscellaneous I2C Chip support
#
DS1682 all=m
SENSORS_EEPROM all=m
SENSORS_PCF8574 all=m
PCF8575 all=m
SENSORS_PCF8591 all=m
TPS65010 all=m
SENSORS_MAX6875 all=m
SENSORS_TSL2550 all=m
I2C_DEBUG_CORE all=n
I2C_DEBUG_ALGO all=n
I2C_DEBUG_BUS all=n
I2C_DEBUG_CHIP all=n

#
# SPI support
#
SPI all=y
SPI_DEBUG all=n
SPI_MASTER all=y

#
# SPI Master Controller Drivers
#
SPI_BITBANG all=m
SPI_BUTTERFLY all=m
SPI_LM70_LLP all=m

#
# SPI Protocol Masters
#
SPI_AT25 all=m
SPI_SPIDEV all=m sparc=n
SPI_TLE62X0 all=m
W1 all=m
W1_CON all=y

#
# 1-wire Bus Masters
#
W1_MASTER_MATROX all=m sparc=n
W1_MASTER_DS2482 all=m

#
# 1-wire Slaves
#
W1_SLAVE_THERM all=m
W1_SLAVE_SMEM all=m
W1_SLAVE_DS2433 all=m
W1_SLAVE_DS2433_CRC all=y sparc=n
POWER_SUPPLY all=m
POWER_SUPPLY_DEBUG all=n
PDA_POWER all=m
BATTERY_DS2760 all=m
HWMON all=m
HWMON_VID all=m
SENSORS_ABITUGURU all=m
SENSORS_ABITUGURU3 all=m
SENSORS_AD7418 all=m
SENSORS_ADM1021 all=m
SENSORS_ADM1025 all=m
SENSORS_ADM1026 all=m
SENSORS_ADM1029 all=m
SENSORS_ADM1031 all=m
SENSORS_ADM9240 all=m
SENSORS_ADT7470 all=m
SENSORS_ADT7473 all=m
SENSORS_K8TEMP all=m
SENSORS_ASB100 all=m
SENSORS_ATXP1 all=m
SENSORS_DS1621 all=m
SENSORS_I5K_AMB all=m
SENSORS_F71805F all=m
SENSORS_F71882FG all=m
SENSORS_F75375S all=m
SENSORS_FSCHER all=m
SENSORS_FSCPOS all=m
SENSORS_FSCHMD all=m
SENSORS_GL518SM all=m
SENSORS_GL520SM all=m
SENSORS_CORETEMP all=m
SENSORS_IBMAEM all=m
SENSORS_IBMPEX all=m
SENSORS_IT87 all=m
SENSORS_LM63 all=m
SENSORS_LM70 all=m
SENSORS_LM75 all=m
SENSORS_LM77 all=m
SENSORS_LM78 all=m
SENSORS_LM80 all=m
SENSORS_LM83 all=m
SENSORS_LM85 all=m
SENSORS_LM87 all=m
SENSORS_LM90 all=m
SENSORS_LM92 all=m
SENSORS_LM93 all=m
SENSORS_MAX1619 all=m
SENSORS_MAX6650 all=m
SENSORS_PC87360 all=m
SENSORS_PC87427 all=m
SENSORS_SIS5595 all=m
SENSORS_DME1737 all=m
SENSORS_SMSC47M1 all=m
SENSORS_SMSC47M192 all=m
SENSORS_SMSC47B397 all=m
SENSORS_ADS7828 all=m
SENSORS_THMC50 all=m
SENSORS_VIA686A all=m
SENSORS_VT1211 all=m
SENSORS_VT8231 all=m
SENSORS_W83781D all=m
SENSORS_W83791D all=m
SENSORS_W83792D all=m
SENSORS_W83793 all=m
SENSORS_W83L785TS all=m
SENSORS_W83L786NG all=m
SENSORS_W83627HF all=m
SENSORS_W83627EHF all=m
SENSORS_HDAPS all=m
SENSORS_APPLESMC all=m
HWMON_DEBUG_CHIP all=n
THERMAL all=y
WATCHDOG all=y
WATCHDOG_NOWAYOUT all=n

#
# Watchdog Device Drivers
#
SOFT_WATCHDOG all=m
IT8712F_WDT all=m
HP_WATCHDOG all=m
SBC7240_WDT all=m

#
# ISA-based Watchdog Cards
#

#
# PCI-based Watchdog Cards
#
PCIPCWATCHDOG all=m
WDTPCI all=m
WDT_501_PCI all=y

#
# USB-based Watchdog Cards
#

#
# Sonics Silicon Backplane
#
SSB all=m
SSB_PCMCIAHOST all=y
SSB_DEBUG all=n

#
# Multifunction device drivers
#
MFD_SM501 all=m
HTC_PASIC3 all=m

#
# Multimedia devices
#
VIDEO_DEV all=m
VIDEO_ALLOW_V4L1 all=y
VIDEO_V4L2_COMMON all=m
VIDEO_V4L1 all=y
VIDEO_V4L1_COMPAT all=y
VIDEO_V4L2 all=y
VIDEO_CAPTURE_DRIVERS all=y
VIDEO_ADV_DEBUG all=n
VIDEO_HELPER_CHIPS_AUTO all=y
VIDEO_BT848 all=m sparc=n
VIDEO_BWQCAM all=m
VIDEO_CQCAM all=m
VIDEO_CPIA all=m sparc=n
VIDEO_SAA5246A all=m
VIDEO_SAA5249 all=m
TUNER_3036 all=m
VIDEO_SAA7134 all=m sparc=n
VIDEO_MXB all=m sparc=n
VIDEO_DPC all=m sparc=n
VIDEO_HEXIUM_ORION all=m
VIDEO_HEXIUM_GEMINI all=m
VIDEO_CX88 all=m sparc=n
VIDEO_CX23885 all=m sparc=n
VIDEO_AU0828 all=m sparc=n
VIDEO_IVTV all=m sparc=n
VIDEO_FB_IVTV all=m sparc=n
VIDEO_CX18 all=m sparc=n
VIDEO_CAFE_CCIC all=m sparc=n
V4L_USB_DRIVERS all=y sparc=n
USB_VIDEO_CLASS all=m sparc=n
USB_VIDEO_CLASS_INPUT_EVDEV all=y sparc=n
VIDEO_PVRUSB2 all=m sparc=n
VIDEO_PVRUSB2_DVB all=y sparc=n
VIDEO_PVRUSB2_ONAIR_CREATOR all=y sparc=
VIDEO_PVRUSB2_ONAIR_USB2 all=y sparc=
VIDEO_PVRUSB2_SYSFS all=y sparc=n
VIDEO_PVRUSB2_DEBUGIFC all=n
VIDEO_EM28XX_ALSA all=m sparc=n
VIDEO_EM28XX_DVB all=m sparc=n
USB_STKWEBCAM all=m
SOC_CAMERA all=m
SOC_CAMERA_MT9M001 all=m
SOC_CAMERA_MT9V022 all=m
RADIO_ADAPTERS all=y
RADIO_GEMTEK_PCI all=m
RADIO_MAXIRADIO all=m
RADIO_MAESTRO all=m
USB_SI470X all=m
DVB_CORE all=m
DVB_CORE_ATTACH all=y
DVB_CAPTURE_DRIVERS all=y

#
# Multimedia devices
#
MEDIA_ATTACH all=y

MEDIA_TUNER_CUSTOMIZE all=n

#
# Supported SAA7146 based PCI Adapters
#
DVB_AV7110 all=m sparc=n
DVB_BUDGET_CORE all=m
DVB_BUDGET all=m sparc=n
DVB_BUDGET_CI all=m sparc=n
DVB_BUDGET_AV all=m sparc=n

#
# Supported USB Adapters
#

#
# Supported FlexCopII (B2C2) Adapters
#
DVB_B2C2_FLEXCOP all=m
DVB_B2C2_FLEXCOP_PCI all=m sparc=n
DVB_B2C2_FLEXCOP_USB alpha=m ia64=m i386=m ppc=m ppc64=m sparc64=m x86_64=m
DVB_B2C2_FLEXCOP_DEBUG all=n

#
# Supported BT878 Adapters
#
DVB_BT8XX all=m

#
# Supported Pluto2 Adapters
#
DVB_PLUTO2 all=m sparc=n

#
# Supported DVB Frontends
#

#
# Customise DVB Frontends
#
DVB_FE_CUSTOMISE all=n

#
# DVB-S (satellite) frontends
#
DVB_STV0299 all=m
DVB_CX24110 all=m
DVB_CX24123 all=m
DVB_TDA8083 all=m
DVB_MT312 all=m
DVB_VES1X93 all=m
DVB_S5H1420 all=m
DVB_AU8522 all=m
DVB_TDA10086 all=m

#
# DVB-T (terrestrial) frontends
#
DVB_SP8870 all=m
DVB_SP887X all=m
DVB_CX22700 all=m
DVB_CX22702 all=m
DVB_L64781 all=m
DVB_ISL6405 all=m
DVB_TDA1004X all=m
DVB_NXT6000 all=m
DVB_MT352 all=m
DVB_ZL10353 all=m
DVB_DIB3000MB all=m
DVB_DIB3000MC all=m
DVB_DIB7000M all=m
DVB_DIB7000P all=m

#
# DVB-C (cable) frontends
#
DVB_VES1820 all=m
DVB_TDA10021 all=m
DVB_TDA10023 all=m
DVB_STV0297 all=m

#
# ATSC (North American/Korean Terrestrial/Cable DTV) frontends
#
DVB_NXT200X all=m
DVB_OR51211 all=m
DVB_OR51132 all=m
DVB_BCM3510 all=m
DVB_LGDT330X all=m
DVB_S5H1409 all=m

#
# Tuners/PLL support
#
DVB_PLL all=m
DVB_TDA826X all=m
DVB_TDA827X all=m
DVB_TDA18271 all=m
DVB_TUNER_QT1010 all=m
DVB_TUNER_MT2060 all=m
DVB_TUNER_MT2266 all=m
DVB_TUNER_MT2131 all=m
DVB_TUNER_DIB0070 all=m
DVB_TUNER_XC5000 all=m

#
# Miscellaneous devices
#
DVB_LNBP21 all=m
DVB_ISL6421 all=m
DVB_TUA6100 all=m
VIDEO_SAA7146 all=m
VIDEO_SAA7146_VV all=m
VIDEO_TUNER all=m sparc=
VIDEO_TUNER_CUSTOMIZE all=y
TUNER_XC2028 all=m
TUNER_MT20XX all=m
TUNER_TDA8290 all=m
TUNER_TEA5761 all=m
TUNER_TEA5767 all=m
TUNER_SIMPLE all=m
VIDEO_BTCX all=m sparc=
VIDEO_IR all=m sparc=
VIDEO_TVEEPROM all=m
DAB all=y
USB_DABUSB all=m sparc=

#
# Graphics support
#
VIDEO_OUTPUT_CONTROL all=m
FB all=y
FIRMWARE_EDID all=y
FB_DDC all=m sparc=n
FB_SVGALIB all=m
FB_BACKLIGHT all=y
FB_MODE_HELPERS all=y
FB_TILEBLITTING all=y

#
# Frame buffer hardware drivers
#
FB_CIRRUS all=m
FB_PM2 all=m sparc=n
FB_UVESA all=m
FB_VESA i386=n x86_64=n
FB_EFI all=y
FB_IMAC all=y
FB_N411 all=m
FB_S1D13XXX all=m sparc=n
FB_NVIDIA all=m sparc=n
FB_RIVA all=m sparc=n
FB_MATROX all=m sparc=n
FB_ATY128_BACKLIGHT all=y
FB_S3 all=m
FB_SAVAGE all=m sparc=n
FB_SIS all=m sparc=n
FB_NEOMAGIC all=m
FB_KYRO all=m
FB_3DFX all=m sparc=n
FB_VOODOO1 all=m
FB_TRIDENT all=m sparc=n
FB_SM501 all=m
FB_VIRTUAL all=m
BACKLIGHT_LCD_SUPPORT all=y
LCD_CLASS_DEVICE all=m
LCD_LTV350QV all=m
BACKLIGHT_CLASS_DEVICE all=y
BACKLIGHT_CORGI all=m

#
# Display device support
#
DISPLAY_SUPPORT all=m

#
# Display hardware drivers
#

#
# Console display driver support
#
DUMMY_CONSOLE all=y
FRAMEBUFFER_CONSOLE all=y
FRAMEBUFFER_CONSOLE_DETECT_PRIMARY all=n
FRAMEBUFFER_CONSOLE_ROTATION all=y
FONT_8x8 all=y
FONT_8x16 all=y

#
# Bootsplash configuration
#

#
# Sound
#
SOUND all=m

#
# Advanced Linux Sound Architecture
#
SND all=m
SND_TIMER all=m
SND_PCM all=m
SND_HWDEP all=m
SND_RAWMIDI all=m
SND_SEQUENCER all=m
SND_SEQ_DUMMY all=m
SND_OSSEMUL all=y
SND_MIXER_OSS all=m
SND_PCM_OSS all=m
SND_PCM_OSS_PLUGINS all=y
SND_SEQUENCER_OSS all=y
SND_RTCTIMER alpha=m i386=m ia64=m x86_64=m
SND_SEQ_RTCTIMER_DEFAULT alpha=y i386=y ia64=y x86_64=y
SND_DYNAMIC_MINORS all=n
SND_SUPPORT_OLD_API all=y
SND_VERBOSE_PROCFS all=y
SND_VERBOSE_PRINTK all=n
SND_DEBUG all=n

#
# Generic devices
#
SND_PCSP all=n
SND_MPU401_UART all=m
SND_OPL3_LIB all=m
SND_OPL4_LIB alpha=m i386=m
SND_VX_LIB all=m
SND_AC97_CODEC all=m
SND_DUMMY all=m
SND_VIRMIDI all=m
SND_MTPAV all=m
SND_MTS64 all=m
SND_SERIAL_U16550 all=m
SND_MPU401 all=m
SND_PORTMAN2X4 all=m
SND_AD1848_LIB alpha=m i386=m
SND_CS4231_LIB alpha=m i386=m
SND_SB_COMMON alpha=m i386=m ppc=m x86_64=m
SND_SB8_DSP alpha=m i386=m
SND_SB16_DSP alpha=m i386=m ppc=m x86_64=m

#
# ISA devices
#
SND_ADLIB alpha=m i386=m
SND_AD1816A alpha=m i386=m
SND_AD1848 alpha=m i386=m
SND_ALS100 alpha=m i386=m
SND_AZT2320 alpha=m i386=m
SND_CMI8330 alpha=m i386=m
SND_CS4231 alpha=m i386=m
SND_CS4232 alpha=m i386=m
SND_CS4236 alpha=m i386=m
SND_DT019X alpha=m i386=m
SND_ES968 alpha=m i386=m
SND_ES1688 alpha=m i386=m
SND_ES18XX alpha=m i386=m
SND_SC6000 alpha=m i386=m
SND_GUS_SYNTH alpha=m i386=m
SND_GUSCLASSIC alpha=m i386=m
SND_GUSEXTREME alpha=m i386=m
SND_GUSMAX alpha=m i386=m
SND_INTERWAVE alpha=m i386=m
SND_INTERWAVE_STB alpha=m i386=m
SND_OPL3SA2 alpha=m i386=m
SND_OPTI92X_AD1848 alpha=m i386=m
SND_OPTI92X_CS4231 alpha=m i386=m
SND_OPTI93X alpha=m i386=m
SND_MIRO alpha=m i386=m
SND_SB8 alpha=m i386=m
SND_SB16 alpha=m i386=m
SND_SBAWE alpha=m i386=m
SND_SB16_CSP alpha=y i386=y
SND_SB16_CSP_FIRMWARE_IN_KERNEL alpha=y i386=y
SND_SGALAXY alpha=m i386=m
SND_SSCAPE alpha=m i386=m
SND_WAVEFRONT alpha=m i386=m
SND_WAVEFRONT_FIRMWARE_IN_KERNEL alpha=y i386=y

#
# PCI devices
#
SND_AD1889 all=m
SND_ALS300 all=m
SND_ALS4000 alpha=m i386=m ppc=m ppc64=m x86_64=m
SND_ALI5451 all=m
SND_ATIIXP all=m
SND_ATIIXP_MODEM all=m
SND_AU8810 all=m
SND_AU8820 all=m
SND_AU8830 all=m
SND_AW2 all=m
SND_AZT3328 all=m
SND_BT87X all=m
SND_BT87X_OVERCLOCK all=y
SND_CA0106 all=m
SND_CMIPCI all=m
SND_OXYGEN all=m
SND_CS4281 all=m
SND_CS46XX all=m
SND_CS46XX_NEW_DSP all=y
SND_CS5530 alpha=m i386=m ppc=m ppc64=m x86_64=m
SND_CS5535AUDIO i386=m
SND_DARLA20 all=m
SND_GINA20 all=m
SND_LAYLA20 all=m
SND_DARLA24 all=m
SND_GINA24 all=m
SND_LAYLA24 all=m
SND_MONA all=m
SND_MIA all=m
SND_ECHO3G all=m
SND_INDIGO all=m
SND_INDIGOIO all=m
SND_INDIGODJ all=m
SND_EMU10K1 all=m
SND_EMU10K1X all=m
SND_ENS1370 all=m
SND_ENS1371 all=m
SND_ES1938 all=m
SND_ES1968 all=m
SND_FM801 all=m
SND_FM801_TEA575X_BOOL all=y
SND_FM801_TEA575X all=m
SND_HDA_INTEL all=m sparc=
SND_HDA_HWDEP all=y
SND_HDA_CODEC_REALTEK all=y
SND_HDA_CODEC_ANALOG all=y
SND_HDA_CODEC_SIGMATEL all=y
SND_HDA_CODEC_VIA all=y
SND_HDA_CODEC_ATIHDMI all=y
SND_HDA_CODEC_CONEXANT all=y
SND_HDA_CODEC_CMEDIA all=y
SND_HDA_CODEC_SI3054 all=y
SND_HDA_GENERIC all=y
SND_HDA_POWER_SAVE all=n
SND_HDSP all=m sparc=
SND_HDSPM all=m sparc=
SND_HIFIER all=m sparc=n
SND_ICE1712 all=m sparc=
SND_ICE1724 all=m sparc=
SND_INTEL8X0 all=m sparc=
SND_INTEL8X0M all=m sparc=
SND_KORG1212 all=m sparc=
SND_KORG1212_FIRMWARE_IN_KERNEL all=y sparc= sparc64=n
SND_MAESTRO3 all=m sparc=
SND_MAESTRO3_FIRMWARE_IN_KERNEL all=y sparc= sparc64=n
SND_MIXART all=m sparc=
SND_NM256 all=m sparc=
SND_PCXHR all=m sparc=
SND_RIPTIDE all=m sparc=
SND_RME32 all=m sparc=
SND_RME96 all=m sparc=
SND_RME9652 all=m sparc=
SND_SIS7019 all=m sparc=
SND_SONICVIBES all=m sparc=
SND_TRIDENT all=m sparc=
SND_VIA82XX all=m sparc=
SND_VIA82XX_MODEM all=m sparc=
SND_VIRTUOSO all=m sparc=n
SND_VX222 all=m sparc=
SND_YMFPCI all=m sparc=
SND_YMFPCI_FIRMWARE_IN_KERNEL all=y sparc= sparc64=n
SND_AC97_POWER_SAVE all=y sparc=
SND_AC97_POWER_SAVE_DEFAULT all=0
SND_SOC all=m
SOUND_PRIME all=m
SOUND_TRIDENT all=m
SOUND_MSNDCLAS all=n
SOUND_MSNDPIN all=n
AC97_BUS all=m
HID_SUPPORT all=y
HID all=m
HID_DEBUG all=n
HIDRAW all=y

#
# USB Input Devices
#

#
# USB HID Boot Protocol drivers
#
USB_SUPPORT all=y sparc=n
USB_ARCH_HAS_HCD all=y
USB_ARCH_HAS_OHCI all=y
USB_ARCH_HAS_EHCI all=y
USB all=m sparc=n
USB_ANNOUNCE_NEW_DEVICES all=y

#
# Miscellaneous USB options
#

#
# USB Host Controller Drivers
#
USB_OHCI_HCD_SSB all=y
USB_C67X00_HCD all=m
USB_ISP1760_HCD all=m
USB_ISP1760_PCI all=y
USB_ISP1760_OF ppc=y

#
# USB Device Class drivers
#
USB_WDM all=m

#
# NOTE: USB_STORAGE enables SCSI, and 'SCSI disk support'
#

#
# may also be needed; see USB_STORAGE Help for more information
#

USB_STORAGE_ONETOUCH all=y
USB_STORAGE_CYPRESS_ATACB all=y

#
# USB Imaging devices
#
USB_SERIAL_CH341 all=m
USB_SERIAL_IUU all=m
USB_G_PRINTER all=m
MMC all=m
MMC_DEBUG all=n
MMC_UNSAFE_RESUME all=n

#
# MMC/SD Card Drivers
#
MMC_BLOCK all=m
MMC_BLOCK_BOUNCE all=y
SDIO_UART all=m
MMC_TEST all=n

#
# MMC/SD Host Controller Drivers
#
MMC_SDHCI all=m sparc=n
MMC_RICOH_MMC all=m
MMC_TIFM_SD all=m
MEMSTICK all=m
MEMSTICK_DEBUG all=n

#
# MemoryStick drivers
#
MEMSTICK_UNSAFE_RESUME all=n
MSPRO_BLOCK all=m

#
# MemoryStick Host Controller Drivers
#
MEMSTICK_TIFM_MS all=m
MEMSTICK_JMICRON_38X all=m
NEW_LEDS all=y
LEDS_CLASS all=m

#
# LED drivers
#
LEDS_NET48XX i386=m
LEDS_WRAP i386=m
LEDS_CLEVO_MAIL all=m

#
# LED Triggers
#
LEDS_TRIGGERS all=y
LEDS_TRIGGER_TIMER all=m
LEDS_TRIGGER_HEARTBEAT all=m
LEDS_TRIGGER_DEFAULT_ON all=m
INFINIBAND all=m sparc=n
INFINIBAND_USER_MAD all=m sparc=
INFINIBAND_USER_ACCESS all=m sparc=
INFINIBAND_USER_MEM all=y sparc=
INFINIBAND_ADDR_TRANS all=y sparc=
INFINIBAND_MTHCA all=m sparc=
INFINIBAND_MTHCA_DEBUG all=n sparc=
INFINIBAND_AMSO1100 all=m sparc=
INFINIBAND_AMSO1100_DEBUG all=n sparc=
INFINIBAND_CXGB3 all=m sparc=
INFINIBAND_CXGB3_DEBUG all=n sparc=
MLX4_INFINIBAND all=m sparc=
INFINIBAND_NES all=m sparc=
INFINIBAND_NES_DEBUG all=n
INFINIBAND_IPOIB all=m sparc=
INFINIBAND_IPOIB_CM all=n sparc=
INFINIBAND_IPOIB_DEBUG all=y sparc=
INFINIBAND_IPOIB_DEBUG_DATA all=n sparc=
INFINIBAND_SRP all=m sparc=
INFINIBAND_ISER all=m sparc=

#
# Accessibility support
#

ACCESSIBILITY=y

A11Y_BRAILLE_CONSOLE=y


#
# Reporting subsystems
#

#
# Conflicting RTC option has been selected, check GEN_RTC and RTC
#

#
# RTC interfaces
#

#
# I2C RTC drivers
#
RTC_DRV_DS1374 all=m
RTC_DRV_S35390A all=m
RTC_DRV_FM3130 all=m

#
# SPI RTC drivers
#
RTC_DRV_R9701 all=m

#
# Platform RTC drivers
#
RTC_DRV_DS1511 all=m

#
# on-CPU RTC drivers
#
DMADEVICES all=y

#
# DMA Devices
#
INTEL_IOATDMA i386=m x86_64=m
DMA_ENGINE all=y

#
# DMA Clients
#
NET_DMA all=y
AUXDISPLAY all=y

#
# Userspace I/O
#
UIO all=m
UIO_CIF all=m
UIO_SMX all=m

#
# Firmware Drivers
#

ISCSI_IBFT_FIND all=y
ISCSI_IBFT all=m

#
# File systems
#
EXT2_FS all=m
EXT2_FS_XATTR all=y
EXT2_FS_POSIX_ACL all=y
EXT2_FS_SECURITY all=y
EXT2_FS_XIP all=y
FS_XIP all=y
EXT3_FS all=m
EXT3_FS_XATTR all=y
EXT3_FS_POSIX_ACL all=y
EXT3_FS_SECURITY all=y
EXT4DEV_FS all=m
EXT4DEV_FS_XATTR all=y
EXT4DEV_FS_POSIX_ACL all=y
EXT4DEV_FS_SECURITY all=y
JBD all=m
JBD2 all=m
FS_MBCACHE all=m
REISERFS_FS all=m
REISERFS_CHECK all=n
REISERFS_PROC_INFO all=y
REISERFS_FS_XATTR all=y
REISERFS_FS_POSIX_ACL all=y
REISERFS_FS_SECURITY all=y
JFS_FS all=m
JFS_POSIX_ACL all=y
JFS_SECURITY all=y
JFS_DEBUG all=n
JFS_STATISTICS all=y
FS_POSIX_ACL all=y
XFS_FS all=m
XFS_QUOTA all=y
XFS_SECURITY all=y
XFS_POSIX_ACL all=y
XFS_RT all=n
XFS_DEBUG all=n
GFS2_FS all=m
GFS2_FS_LOCKING_NOLOCK all=m
GFS2_FS_LOCKING_DLM all=m
OCFS2_FS all=m
OCFS2_DEBUG_MASKLOG all=y
OCFS2_DEBUG_FS all=n
OCFS2_FS_O2CB all=m
OCFS2_FS_USERSPACE_CLUSTER all=m
DNOTIFY all=y
INOTIFY all=y
INOTIFY_USER all=y
QUOTA all=y
QUOTA_NETLINK_INTERFACE all=y
PRINT_QUOTA_WARNING all=y
QFMT_V1 all=m
QFMT_V2 all=m
QUOTACTL all=y
AUTOFS_FS all=m
AUTOFS4_FS all=m
FUSE_FS all=m
GENERIC_ACL all=y

#
# CD-ROM/DVD Filesystems
#
ISO9660_FS all=m
JOLIET all=y
ZISOFS all=y
UDF_FS all=m
UDF_NLS all=y

#
# DOS/FAT/NT Filesystems
#
FAT_FS all=m
MSDOS_FS all=m
VFAT_FS all=m
FAT_DEFAULT_CODEPAGE all=437
FAT_DEFAULT_IOCHARSET all="iso8859-1"
NTFS_FS all=m
NTFS_DEBUG all=n
NTFS_RW all=y

#
# Pseudo filesystems
#
PROC_FS all=y
PROC_KCORE all=y
PROC_SYSCTL all=y
SYSFS all=y
TMPFS all=y
TMPFS_POSIX_ACL all=y
HUGETLBFS all=y alpha= sparc=
HUGETLB_PAGE all=y alpha= sparc=
CONFIGFS_FS all=m

#
# Layered filesystems
#
ECRYPT_FS all=m
UNION_FS all=m
UNION_FS_XATTR all=y
UNION_FS_DEBUG all=n

#
# Miscellaneous filesystems
#
ADFS_FS all=m
ADFS_FS_RW all=y
AFFS_FS all=m
HFS_FS all=m
HFSPLUS_FS all=m
BEFS_FS all=m
BEFS_DEBUG all=n
BFS_FS all=m
EFS_FS all=m
JFFS2_FS all=m
JFFS2_FS_DEBUG all=0
JFFS2_FS_WRITEBUFFER all=y
JFFS2_FS_WBUF_VERIFY all=n
JFFS2_SUMMARY all=y
JFFS2_FS_XATTR all=y
JFFS2_FS_POSIX_ACL all=y
JFFS2_FS_SECURITY all=y
JFFS2_COMPRESSION_OPTIONS all=y
JFFS2_ZLIB all=y
JFFS2_LZO all=y
JFFS2_RTIME all=y
JFFS2_RUBIN all=y
JFFS2_CMODE_NONE all=n
JFFS2_CMODE_PRIORITY all=y
JFFS2_CMODE_SIZE all=n
JFFS2_CMODE_FAVOURLZO all=n
CRAMFS all=m
VXFS_FS all=m
MINIX_FS all=m
HPFS_FS all=m
QNX4FS_FS all=m
ROMFS_FS all=y
SYSV_FS all=m
UFS_FS all=m
UFS_FS_WRITE all=n
UFS_DEBUG all=n
NETWORK_FILESYSTEMS all=y
NFS_FS all=m
NFS_V3 all=y
NFS_V3_ACL all=y
NFS_V4 all=y
NFS_DIRECTIO all=y
NFSD all=m
NFSD_V2_ACL all=y
NFSD_V3 all=y
NFSD_V3_ACL all=y
NFSD_V4 all=y
NFSD_TCP all=y
LOCKD all=m
LOCKD_V4 all=y
EXPORTFS all=m
NFS_ACL_SUPPORT all=m
NFS_COMMON all=y
SUNRPC all=m
SUNRPC_GSS all=m
SUNRPC_XPRT_RDMA all=m
SUNRPC_BIND34 all=y
RPCSEC_GSS_KRB5 all=m
RPCSEC_GSS_SPKM3 all=m
SMB_FS all=m
SMB_NLS_DEFAULT all=y
SMB_NLS_REMOTE all="iso8859-2"
CIFS all=m
CIFS_STATS all=n
CIFS_WEAK_PW_HASH all=y
CIFS_XATTR all=y
CIFS_POSIX all=y
CIFS_DEBUG2 all=n
CIFS_EXPERIMENTAL all=y
CIFS_UPCALL all=y
CIFS_DFS_UPCALL all=n
NCP_FS all=m
NCPFS_PACKET_SIGNING all=y
NCPFS_IOCTL_LOCKING all=y
NCPFS_STRONG all=y
NCPFS_NFS_NS all=y
NCPFS_OS2_NS all=y
NCPFS_SMALLDOS all=y
NCPFS_NLS all=y
NCPFS_EXTRAS all=y
CODA_FS all=m
CODA_FS_OLD_API all=n
AFS_FS all=m
AFS_DEBUG all=n
9P_FS all=m

#
# Partition Types
#
PARTITION_ADVANCED all=y
ACORN_PARTITION all=y
ACORN_PARTITION_CUMANA all=y
ACORN_PARTITION_EESOX all=y
ACORN_PARTITION_ICS all=y
ACORN_PARTITION_ADFS all=y
ACORN_PARTITION_POWERTEC all=y
ACORN_PARTITION_RISCIX all=y
OSF_PARTITION all=y
AMIGA_PARTITION all=y
ATARI_PARTITION all=y
MAC_PARTITION all=y
MSDOS_PARTITION all=y
BSD_DISKLABEL all=y
MINIX_SUBPARTITION all=y
SOLARIS_X86_PARTITION all=y
UNIXWARE_DISKLABEL all=y
LDM_PARTITION all=y
LDM_DEBUG all=n
SGI_PARTITION all=y
ULTRIX_PARTITION all=y
SUN_PARTITION all=y
KARMA_PARTITION all=y
EFI_PARTITION all=y
SYSV68_PARTITION all=y
NLS all=y
NLS_DEFAULT all="utf8"
NLS_CODEPAGE_437 all=m
NLS_CODEPAGE_737 all=m
NLS_CODEPAGE_775 all=m
NLS_CODEPAGE_850 all=m
NLS_CODEPAGE_852 all=m
NLS_CODEPAGE_855 all=m
NLS_CODEPAGE_857 all=m
NLS_CODEPAGE_860 all=m
NLS_CODEPAGE_861 all=m
NLS_CODEPAGE_862 all=m
NLS_CODEPAGE_863 all=m
NLS_CODEPAGE_864 all=m
NLS_CODEPAGE_865 all=m
NLS_CODEPAGE_866 all=m
NLS_CODEPAGE_869 all=m
NLS_CODEPAGE_936 all=m
NLS_CODEPAGE_950 all=m
NLS_CODEPAGE_932 all=m
NLS_CODEPAGE_949 all=m
NLS_CODEPAGE_874 all=m
NLS_ISO8859_8 all=m
NLS_CODEPAGE_1250 all=m
NLS_CODEPAGE_1251 all=m
NLS_ASCII all=m
NLS_ISO8859_1 all=m
NLS_ISO8859_2 all=m
NLS_ISO8859_3 all=m
NLS_ISO8859_4 all=m
NLS_ISO8859_5 all=m
NLS_ISO8859_6 all=m
NLS_ISO8859_7 all=m
NLS_ISO8859_9 all=m
NLS_ISO8859_13 all=m
NLS_ISO8859_14 all=m
NLS_ISO8859_15 all=m
NLS_KOI8_R all=m
NLS_KOI8_U all=m
NLS_UTF8 all=m
DLM all=m
DLM_DEBUG all=n

#
# Kernel hacking
#
PRINTK_TIME all=y
ENABLE_WARN_DEPRECATED all=y
ENABLE_MUST_CHECK all=y
FRAME_WARN all=2048
MAGIC_SYSRQ all=y
UNUSED_SYMBOLS all=y
DEBUG_FS all=n
HEADERS_CHECK all=y
DEBUG_KERNEL all=y
DETECT_SOFTLOCKUP all=n
SCHED_DEBUG all=n
SCHEDSTATS all=n
TIMER_STATS all=y
DEBUG_OBJECTS all=n
DEBUG_SLAB all=n
DEBUG_RT_MUTEXES all=y
RT_MUTEX_TESTER all=n
DEBUG_SPINLOCK all=n
DEBUG_SPINLOCK_SLEEP all=n
DEBUG_LOCKING_API_SELFTESTS all=n
DEBUG_KOBJECT all=n
DEBUG_INFO all=n
DEBUG_VM all=n
DEBUG_WRITECOUNT all=n
DEBUG_LIST all=n
DEBUG_SG all=n
FRAME_POINTER i386=n x86_64=n
BOOT_PRINTK_DELAY all=n
RCU_TORTURE_TEST all=m
KPROBES_SANITY_TEST all=n
BACKTRACE_SELF_TEST all=m
LKDTM all=m
FAULT_INJECTION all=n
LATENCYTOP all=n
PROVIDE_OHCI1394_DMA_INIT all=n
FIREWIRE_OHCI_REMOTE_DMA all=n
SAMPLES all=n
EARLY_PRINTK all=y
DEBUG_PAGEALLOC all=n
DEBUG_PER_CPU_MAPS all=n
DEBUG_NX_TEST all=m
IO_DELAY_0X80 all=y
IO_DELAY_0XED all=n
IO_DELAY_UDELAY all=n
IO_DELAY_NONE all=n
CPA_DEBUG i386=n x86_64=n
KGDB all=n
NONPROMISC_DEVMEM all=y
X86_PTDUMP all=n
DIRECT_GBPAGES all=n

#
# Security options
#

KEYS all=y
KEYS_DEBUG_PROC_KEYS all=n
SECURITY all=y
SECURITY_NETWORK all=y
SECURITY_NETWORK_XFRM all=y
SECURITY_CAPABILITIES all=y
SECURITY_FILE_CAPABILITIES all=y
SECURITY_DEFAULT_MMAP_MIN_ADDR all=0
SECURITY_SELINUX all=y
SECURITY_SELINUX_BOOTPARAM all=y
SECURITY_SELINUX_BOOTPARAM_VALUE all=0
SECURITY_SELINUX_DISABLE all=n
SECURITY_SELINUX_DEVELOP all=y
SECURITY_SELINUX_AVC_STATS all=n
SECURITY_SELINUX_CHECKREQPROT_VALUE all=1
SECURITY_SELINUX_ENABLE_SECMARK_DEFAULT all=y
SECURITY_SELINUX_POLICYDB_VERSION_MAX all=n
SECURITY_SMACK all=y
CRYPTO all=y
CRYPTO_ALGAPI all=y
CRYPTO_AEAD all=m
CRYPTO_BLKCIPHER all=m
CRYPTO_SEQIV all=m
CRYPTO_HASH all=y
CRYPTO_MANAGER all=y
CRYPTO_HMAC all=y
CRYPTO_XCBC all=m
CRYPTO_NULL all=m
CRYPTO_MD4 all=m
CRYPTO_MD5 all=y
CRYPTO_SHA1 all=m
CRYPTO_SHA256 all=y
CRYPTO_SHA512 all=m
CRYPTO_WP512 all=m
CRYPTO_TGR192 all=m
CRYPTO_GF128MUL all=m
CRYPTO_ECB all=m
CRYPTO_CBC all=m
CRYPTO_PCBC all=m
CRYPTO_LRW all=m
CRYPTO_XTS all=m
CRYPTO_CTR all=m
CRYPTO_CTS all=m
CRYPTO_GCM all=m
CRYPTO_CCM all=m
CRYPTO_CRYPTD all=m
CRYPTO_DES all=m
CRYPTO_FCRYPT all=m
CRYPTO_BLOWFISH all=m
CRYPTO_TWOFISH all=m
CRYPTO_TWOFISH_COMMON all=m
CRYPTO_TWOFISH_586 i386=m
CRYPTO_TWOFISH_X86_64 x86_64=m
CRYPTO_SERPENT all=m
CRYPTO_AES all=m
CRYPTO_AES_586 i386=m
CRYPTO_AES_X86_64 x86_64=m
CRYPTO_CAST5 all=m
CRYPTO_CAST6 all=m
CRYPTO_TEA all=m
CRYPTO_ARC4 all=m
CRYPTO_KHAZAD all=m
CRYPTO_ANUBIS all=m
CRYPTO_SEED all=m
CRYPTO_SALSA20 all=m
CRYPTO_SALSA20_586 all=m
CRYPTO_SALSA20_X86_64 x86_64=m
CRYPTO_DEFLATE all=m
CRYPTO_LZF all=m
CRYPTO_MICHAEL_MIC all=m
CRYPTO_CRC32C all=m
CRYPTO_CAMELLIA all=m
CRYPTO_TEST all=m
CRYPTO_AUTHENC all=m
CRYPTO_LZO all=m
CRYPTO_HW all=y
CRYPTO_DEV_PADLOCK i386=m
CRYPTO_DEV_PADLOCK_AES i386=m
CRYPTO_DEV_PADLOCK_SHA i386=m
CRYPTO_DEV_GEODE i386=m
CRYPTO_DEV_HIFN_795X all=m
CRYPTO_DEV_HIFN_795X_RNG all=y
HAVE_KVM i386=y x86_64=y
VIRTUALIZATION i386=y x86_64=y ppc=y
KVM i386=m x86_64=m
KVM_INTEL i386=m x86_64=m
KVM_AMD i386=m x86_64=m
LGUEST i386=m
VIRTIO i386=m x86_64=m
VIRTIO_RING i386=m x86_64=m
VIRTIO_PCI i386=m x86_64=m ppc=m
VIRTIO_BALLOON i386=m x86_64=m ppc=m

#
# Library routines
#
BITREVERSE all=y
CRC_CCITT all=m
CRC16 all=m
CRC_ITU_T all=m
CRC32 all=y
CRC7 all=m
LIBCRC32C all=m
AUDIT_GENERIC alpha=y i386=y
ZLIB_INFLATE all=m
ZLIB_DEFLATE all=m
LZO_COMPRESS all=m
LZO_DECOMPRESS all=m
GENERIC_ALLOCATOR all=y
REED_SOLOMON all=m
REED_SOLOMON_DEC16 all=y
TEXTSEARCH all=y
TEXTSEARCH_KMP all=m
TEXTSEARCH_BM all=m
TEXTSEARCH_FSM all=m
PLIST all=y
HAS_IOMEM all=y
HAS_IOPORT all=y
HAS_DMA all=y
CHECK_SIGNATURE all=y
###

FAIR_GROUP_SCHED all=y
PROC_PID_CPUSET all=n

CPU_FREQ_DEFAULT_GOV_PERFORMANCE all=y alpha=
CPU_FREQ_DEFAULT_GOV_USERSPACE all=n alpha=
CPU_FREQ_DEFAULT_GOV_ONDEMAND all=n alpha=
CPU_FREQ_DEFAULT_GOV_CONSERVATIVE all=n alpha=

X86_P4_CLOCKMOD i386=m x86_64=m
CPU_IDLE i386=n sparc64=n x86_64=n
DMAR i386=n x86_64=n

NETFILTER_XT_MATCH_TIME all=m

FUJITSU_LAPTOP all=m

MMC_SPI all=m

PPC_BESTCOMM ppc=m
PPC_BESTCOMM_ATA ppc=m
PPC_BESTCOMM_FEC ppc=m
PPC_BESTCOMM_GEN_BD ppc=m

FEC_MPC52xx ppc=m
FEC_MPC52xx_MDIO ppc=y

SERIAL_PMACZILOG_TTYS all=n

X86_PAT all=y

# experimental
PCIEASPM all=n

NF_CT_PROTO_DCCP=m

BRIDGE_EBT_NFLOG=m

HW_RANDOM_VIRTIO=m

FB_FOREIGN_ENDIAN all=n

LOGIRUMBLEPAD2_FF all=y

USB_SERIAL_MOTOROLA all=m
USB_SERIAL_SPCP8X5 all=m

USB_ISIGHTFW all=m

EDD_OFF all=n
