
#-
#- *** FILE: arch/Kconfig ***
#-
OPROFILE ia64=m
OPROFILE_IBS ia64=n
KPROBES ia64=y

#-
#- *** FILE: arch/ia64/Kconfig ***
#-
#- file init/Kconfig goes here
IA64 ia64=y
64BIT ia64=y
ZONE_DMA ia64=y
MMU ia64=y
SWIOTLB ia64=y
RWSEM_XCHGADD_ALGORITHM ia64=y
ARCH_HAS_ILOG2_U32 ia64=n
ARCH_HAS_ILOG2_U64 ia64=n
GENERIC_FIND_NEXT_BIT ia64=y
GENERIC_CALIBRATE_DELAY ia64=y
DMI ia64=y
EFI ia64=y
GENERIC_IOMAP ia64=y
SCHED_NO_NO_OMIT_FRAME_POINTER ia64=y
IA64_UNCACHED_ALLOCATOR ia64=y
AUDIT_ARCH ia64=y
IA64_GENERIC ia64=y
IA64_DIG ia64=n
IA64_HP_ZX1 ia64=n
IA64_HP_ZX1_SWIOTLB ia64=n
IA64_SGI_SN2 ia64=n
IA64_SGI_UV ia64=n
IA64_HP_SIM ia64=n
ITANIUM ia64=y
MCKINLEY ia64=n
IA64_PAGE_SIZE_4KB ia64=n
IA64_PAGE_SIZE_8KB ia64=n
IA64_PAGE_SIZE_16KB ia64=y
IA64_PAGE_SIZE_64KB ia64=n
PGTABLE_3 ia64=y
PGTABLE_4 ia64=n
#- file kernel/Kconfig.hz goes here
IA64_BRL_EMU ia64=y
IA64_L1_CACHE_SHIFT ia64=6
IA64_CYCLONE ia64=y
IOSAPIC ia64=y
FORCE_MAX_ZONEORDER ia64=17
VIRT_CPU_ACCOUNTING ia64=y
SMP ia64=y
NR_CPUS ia64=64
HOTPLUG_CPU ia64=y
ARCH_ENABLE_MEMORY_HOTPLUG ia64=y
SCHED_SMT ia64=n
PERMIT_BSP_REMOVE ia64=n
#- file kernel/Kconfig.preempt goes here
#- file mm/Kconfig goes here
ARCH_SELECT_MEMORY_MODEL ia64=y
ARCH_DISCONTIGMEM_ENABLE ia64=y
ARCH_FLATMEM_ENABLE ia64=y
ARCH_SPARSEMEM_ENABLE ia64=y
ARCH_DISCONTIGMEM_DEFAULT ia64=y
NUMA ia64=y
NODES_SHIFT ia64=10
ARCH_POPULATES_NODE_MAP ia64=y
VIRTUAL_MEM_MAP ia64=y
HOLES_IN_ZONE ia64=y
HAVE_ARCH_EARLY_PFN_TO_NID ia64=y
HAVE_ARCH_NODEDATA_EXTENSION ia64=y
IA32_SUPPORT ia64=y
COMPAT ia64=y
IA64_MCA_RECOVERY ia64=m
PERFMON ia64=y
IA64_PALINFO ia64=m
IA64_MC_ERR_INJECT ia64=m
SGI_SN ia64=y
IA64_ESI ia64=n
IA64_HP_AML_NFW ia64=n
#- file drivers/sn/Kconfig goes here
KEXEC ia64=y
CRASH_DUMP ia64=n
#- file drivers/firmware/Kconfig goes here
#- file fs/Kconfig.binfmt goes here
#- file kernel/power/Kconfig goes here
#- file drivers/acpi/Kconfig goes here
#- file arch/ia64/kernel/cpufreq/Kconfig goes here
PCI_DOMAINS ia64=y
#- file drivers/pci/pcie/Kconfig goes here
#- file drivers/pci/Kconfig goes here
#- file drivers/pci/hotplug/Kconfig goes here
#- file drivers/pcmcia/Kconfig goes here
#- file net/Kconfig goes here
#- file drivers/Kconfig goes here
MSPEC ia64=m
#- file fs/Kconfig goes here
#- file arch/ia64/kvm/Kconfig goes here
#- file lib/Kconfig goes here
GENERIC_HARDIRQS ia64=y
GENERIC_IRQ_PROBE ia64=y
GENERIC_PENDING_IRQ ia64=y
IRQ_PER_CPU ia64=y
#- file arch/ia64/hp/sim/Kconfig goes here
#- file arch/ia64/Kconfig.debug goes here
#- file kernel/vserver/Kconfig goes here
#- file security/Kconfig goes here
#- file crypto/Kconfig goes here

#-
#- *** FILE: arch/ia64/Kconfig.debug ***
#-
#- file lib/Kconfig.debug goes here
IA64_GRANULE_16MB ia64=y
IA64_GRANULE_64MB ia64=n
IA64_PRINT_HAZARDS ia64=y
DISABLE_VHPT ia64=n
IA64_DEBUG_CMPXCHG ia64=n
IA64_DEBUG_IRQ ia64=n
SYSVIPC_COMPAT ia64=y

#-
#- *** FILE: arch/ia64/hp/sim/Kconfig ***
#-
HP_SIMETH ia64=y
HP_SIMSERIAL ia64=y
HP_SIMSERIAL_CONSOLE ia64=y

#-
#- *** FILE: arch/ia64/kernel/cpufreq/Kconfig ***
#-
#- file drivers/cpufreq/Kconfig goes here
#- CPUFreq processor drivers
IA64_ACPI_CPUFREQ ia64=m

#-
#- *** FILE: arch/ia64/kvm/Kconfig ***
#-
VIRTUALIZATION ia64=y
KVM ia64=m
KVM_INTEL ia64=m
