#
# Enterprise Volume Management System
#
CONFIG_EVMS=m
CONFIG_EVMS_LOCAL_DEV_MGR_PLUGIN=m
CONFIG_EVMS_DOS_PARTITION_PLUGIN=m
CONFIG_EVMS_SNAPSHOT_PLUGIN=m
CONFIG_EVMS_DRIVELINK_PLUGIN=m
CONFIG_EVMS_BBR_PLUGIN=m
CONFIG_EVMS_LVM_PLUGIN=m
CONFIG_EVMS_MD_PLUGIN=m
CONFIG_EVMS_MD_LINEAR_PERS=m
CONFIG_EVMS_MD_RAID0_PERS=m
CONFIG_EVMS_MD_RAID1_PERS=m
CONFIG_EVMS_MD_RAID5_PERS=m
CONFIG_EVMS_AIX_PLUGIN=m
CONFIG_EVMS_OS2_PLUGIN=m
CONFIG_EVMS_ECR_PLUGIN=m
# CONFIG_EVMS_INFO_CRITICAL is not set
# CONFIG_EVMS_INFO_SERIOUS is not set
# CONFIG_EVMS_INFO_ERROR is not set
# CONFIG_EVMS_INFO_WARNING is not set
CONFIG_EVMS_INFO_DEFAULT=y
# CONFIG_EVMS_INFO_DETAILS is not set
# CONFIG_EVMS_INFO_DEBUG is not set
# CONFIG_EVMS_INFO_EXTRA is not set
# CONFIG_EVMS_INFO_ENTRY_EXIT is not set
# CONFIG_EVMS_INFO_EVERYTHING is not set

